[2015-11-20 01:29] pipitone commented on #337
Looking good. Closing.

[2015-11-20 01:29] #337 closed

[2015-11-20 01:31] pipitone commented on #307
Just a heads up, that I've added connections on `eth1` and `eth2`, but haven't configured any machine to mount over them. We could still look into getting a second SAS bro.

[2015-11-20 03:04] pipitone commented on #241
Well, I've looked into this `environment-modules` madness some more. For reference, check out [this](https://kb.brightcomputing.com/faq/index.php?action=artikel&cat=2&id=239&artlang=en) and [this](http://stackoverflow.com/questions/10496758/unexpected-end-of-file-and-error-importing-function-definition-error-running).

It looks like the simplest fix I can find is to:

1. Edit `/usr/share/modules/i

[2015-11-20 03:30] pipitone commented on #338
Think I found it. I had turned on `h_vmem` (the hard memory limit SGE imposes on running jobs) to stop Arash's jobs from overwhelming the workstations, but I hadn't changed the default. This wasn't a problem for Arash since he was requesting a specific value, but was causing jobs that didn't request `h_vmem` to fail.

I've set `h_vmem` default to `4G` (via `qconf -mc`).

[2015-11-20 03:30] #338 closed

[2015-11-20 16:19] pipitone commented on #222
Check out the [`cleanup` branch](https://github.com/tigrlab/ansible-playbooks/tree/cleanup). I've made some significant changes which you can see in `inventory` and `site.yml`.

[2015-11-20 16:27] pipitone commented on #241
Er... not quite. Looks like SGE doesn't like `/bin/bash -l` as a login shell.  So... Either people start their scripts with `#!/bin/bash -l` or:

    source /etc/profile.d/modules.sh
    source /etc/profile.d/quarantine.sh

[2015-11-21 21:29] pipitone opened #339 "What is /projects/spins?"
Can it be removed?

[2015-11-21 21:32] pipitone opened #340 "Clean up and archive recent alumni data :-("
Specifically:
- [ ] `/projects/anne`
- [x] `/projects/julie`
- [x] `/projects/tinab`

I suggest we sort through what is there, document the important stuff, and move it to `tigrsrv:/mnt/alumni`

[2015-11-21 22:11] pipitone commented on #222
Done. Here is a summary of the important changes:
- Moved the playbooks into `/projects/admin/ansible-playbooks`
- Simpler to call ansible now. Check the `README`, as you'll need to run the `init.yml` playbook once, but then afterwards you can just run: `ansible-playbook site.yml` from now on.
- The `common` role is now bare bones, the real work is in `quarantine` and `workstation` plus `nfs-*`, `

[2015-11-21 22:11] #222 closed

[2015-11-21 22:13] pipitone commented on #261
See #241. I think we have a fix for this (and it looks like you're using the `source /etc/profile.d/...` trick anyhow. I'm going to close this.

[2015-11-21 22:13] #261 closed

[2015-11-21 22:13] #241 closed

[2015-11-24 21:45] pipitone opened #341 "non-sudo users can't mount USBs?"
@arash-n says he's not able to mount USB drives, and he thinks this is because he isn't a `sudoer`.

[2015-11-27 18:55] pipitone opened #342 "Install virtualgl so that GL applications can be run remotely"
Currently if you attempt to run certain programs remotely over x2go (I'm looking at you `Display` from `minc-toolkit`), you get something like this:

[code]

But, if you install `virtualgl`, like so:
[code]

Then, check these kicks out:
[code]

[2015-11-30 14:41] nikhil153 opened #343 "Hopper is down / not reachable via ssh"
Noticed this since last night (29th Nov).

[code]

[2015-11-30 15:13] pipitone commented on #343
Confirmed. The machine is running happily, and the network looks to be up. Can I reboot?

[2015-11-30 15:26] pipitone opened #344 "functional steps in data-2.0 run.sh scripts should not block"
Via @edickie. Currently the `dm-proc-imob.py` (and maybe also the `ea` and `rest` steps) will submit some jobs and wait until those jobs are completed before letting the `run.sh` script complete. This is especially a problem when, as has been happening recently, the submitted jobs error out, but the `run.sh` still blocks.

[2015-11-30 15:29] nikhil153 commented on #343
Yup go for it!

[2015-11-30 15:40] josephdviviano commented on #344
Yes this is very bad. I'll sync with you now but put it on my todo (I have to do some other things first).

[2015-11-30 15:46] josephdviviano commented on #336
Update: the `epi-fft` idea didn't pan out, I feel like these signals aren't integral within the length of the run reliably. However ICA picks up on these pretty well, so I have been running MELODIC on all of the runs (all data here `/scratch/jdv/spiral-oscillation`). The oscillation tends to be picked up in the top 5 ish components.

Nancy + Sofia are coordinating with Gary Glover to see if this i

[2015-11-30 16:16] josephdviviano commented on #342
I've added this to the workstation role via commit `master e5352a8`.

[2015-11-30 16:16] #342 closed

[2015-11-30 16:16] josephdviviano commented on #339
Yes, I'm pretty sure it is obsolete at this point. Let me give it a once-over...

[2015-11-30 17:02] pipitone commented on #344
Keeping notes here. Looks like these scripts all call `datman.utils.run_dummy_q` which calls `echo sleep 30 | qsub -sync y -hold_jid <list of job names>` which holds until *all* the jobs in the list *complete*.

What does "complete" mean? From the `qsub` man page for `-hold_jid`:

So: only jobs that fail to start should cause a dependent job to block.

[2015-11-30 17:18] pipitone commented on #344
[Here](http://comments.gmane.org/gmane.comp.clustering.gridengine.users/18327) is a discussion on ways of dealing with jobs that depend on jobs that are in an error state.

I think in the case of the `dm-proc-*` scripts, if the jobs being waited on go into an error state, the script should bail at that point. To make that happen we'll probably need to rewrite `run_dummy_q` to do some busy waiting:

[2015-11-30 17:19] pipitone commented on #344
(Not to mention, figuring out why the preprocessing stages are erroring out.) :8ball:

[2015-11-30 17:41] josephdviviano commented on #339
![pachapetelogo](https://cloud.githubusercontent.com/assets/4142570/11479380/b0e212fe-975f-11e5-9a1d-2c10084bb1eb.png)

[2015-11-30 17:41] #339 closed

[2015-11-30 18:34] pipitone commented on #343
Restarted. @nikhil153 can you check the system logs to see what happened?

[2015-11-30 18:54] pipitone opened #345 "Move /data from the backup array to somewhere on tigrsrv's array"
Because we don't need to be backing it up nightly :-)

[2015-11-30 19:52] nikhil153 commented on #343
Couldn't find anything specific in the syslogs. Also now we are having problem with nvidia / cuda as the terminal hangs every time you query with nvidia-smi.. This has happened before - which I thought was fixed with cuda update + reboot. Doesn't seem like that quite worked.

[2015-11-30 20:37] josephdviviano commented on #343
Looks like it was getting stuck at the GRUB screen for some reason, it was waiting there for manual input. I edited `/etc/defaults/grub` to auto-select Ubuntu and then ran `sudo update-grub`.

It now reboots cleanly. We've left the monitor and keyboard plugged in so the next time hopper acts up we can have a look at what the computer is doing.

[2015-11-30 21:06] nikhil153 commented on #343
So far things are working well. Closing the issue. Thanks!

[2015-11-30 21:06] #343 closed

[2015-12-01 17:46] pipitone opened #346 "Install freesurfer 5.3.0-HCP"
What @arash-n wants, @arash-n gets. And @arash-n wants this:
http://ftp.nmr.mgh.harvard.edu/pub/dist/freesurfer/5.3.0-HCP/

The trick is that it depends on netcdf v6 so we'll need to find the ubuntu builds somewhere and unpack them into the quarantine (or build from scratch).

[2015-12-01 17:57] arash-n commented on #346
:dancer:
Thanks!!!

[2015-12-01 20:26] pipitone commented on #340
Updation: I'm not sure about moving anne's stuff just yet, but I've moved `julie` and `tinab`'s data.

[2015-12-01 21:14] josephdviviano opened #347 "Have xnat send mail via a proper mail server :)"
B/C right now we're basically spamming the internets.

[2015-12-01 21:58] pipitone commented on #346
Done. According to the README that comes with the HCP freesurfer, only `mris_make_surfaces` has changed. Therefore, what I've done is made the `freesurfer/5.3.0-HCP` module only contain this file and the `netcdf-4.1.1` library and it *depends* on `freesurfer/5.3.0` being loaded for all of the other freesurfer goodness.

Actually if you load `freesurfer/5.3.0-HCP` it automatically loads `freesurfer

[2015-12-01 22:09] #346 closed

[2015-12-01 23:25] pipitone commented on #344
Debugging this is taking some time. In the interim I've disabled functional pipelines in all of the `run.sh` that have them. I'm also triggering a full run now, so we should get an update email by morning. :-)

[2015-12-02 00:08] arash-n commented on #346
:dancers:

Awesome!!!

[2015-12-02 03:28] arash-n opened #348 "#!/bin/bash -l no longer works"
Hi guys,

I am trying to run HCP pipeline scripts. I have changed the scripts so that they start with #!/bin/bash.

I have added:
module load freesurfer/5.3.0-HCP

To the script. Here is the error that I get:
/scratch/arash/HCP/Pipelines-3.4.0/FreeSurfer/FreeSurferPipeline.sh: line 4: module: command not found

BTW, when I run "module load freesurfer/5.3.0-HCP", freesurfer/5.3.0 is also loaded.

C

[2015-12-02 14:55] pipitone commented on #348
Okay I'll take another look at this.

This is expected. The HCP module only contains mris_make_surfaces.

Jon.

[2015-12-02 15:07] josephdviviano commented on #348
Hey Jon, does this have to do with 'module' being exported? I don't thing we ever documented the cause of this error when I ran into it a few weeks back.

[2015-12-02 18:13] pipitone commented on #348
@josephdviviano No, #338 was a memory thing and has been resolved (see my last comment for the cause).

@arash-n, how are you submitting your script? Can you reply with your submit command?

[2015-12-02 18:51] arash-n opened #349 "_nrrdEncodingRaw_read error"
The error I am getting in MATLAB is:

_nrrdEncodingRaw_read: WARNING: finished reading raw data, but file not at EOF

I am trying to open new.nhdr files in /projects/arash/RBF/diff/bvec2/ subfolders. Except for the first folder (214790), others that I have tried give me this warning when I am running the submit_script.sh (which in turn calls submission.m command) inside folders.

Cheers,
Arash

[2015-12-02 23:07] josephdviviano opened #350 "RIC connectivity issue"
Interestingly, I can ssh **in** to kimsrv from MARS...

[2015-12-02 23:31] pipitone commented on #350
U of T has blocked outgoing traffic due to suspicious activity (a windows Trojan virus). This may take some time to resolve. :-)

[2015-12-02 23:48] josephdviviano commented on #350
For all of U of T! Wow

[2015-12-02 23:55] pipitone commented on #350
No just the pet centre. Yay!

[2015-12-03 15:02] pipitone commented on #349
I don't recognize the error. EOF stands for end of file, so it like the warning is that the file is longer than expected. Could be a problem with a header with an incorrect file length. Might be something to talk with the Boston folk about.

[2015-12-03 15:04] arash-n commented on #349
Oh that makes sense. I'll take a look.
#WordsOfWisdom

Thanks,
Arash

[2015-12-03 18:25] #349 closed

[2015-12-03 18:50] pipitone commented on #349
What was the resolution?

[2015-12-03 18:55] arash-n commented on #349
There was an error in making the new nhdr files. It basically has two parts the upper part has image dimensions and other header information and could change slightly between subjects. The lower part is DWMRI_gradients that should be the same. I was using wrong upper parts of the nhdr.

[2015-12-04 15:55] #350 closed

[2015-12-06 01:11] sabashahab opened #351 "XIO: fatal IO error 11 (Resource temporarily unavailable)"
Hi,

I am running wm_cluster_atlas.py from the whitematteranalysis module and this error message showed up:

XIO:  fatal IO error 11 (Resource temporarily unavailable) on X server ":0.0"
      after 59 requests (59 known processed) with 5 events remaining.

I'm not sure how to fix this. Can I get some help?

[2015-12-06 01:30] josephdviviano commented on #351
Hi Saba,

Are you shelled into another machine, or are you doing this on your local machine?

[2015-12-06 01:31] josephdviviano commented on #351
(by that I mean, are you running SSH).

[2015-12-06 01:47] sabashahab commented on #351
I'm not running SSH. I'm using Cajal at the lab.

[2015-12-06 04:13] pipitone commented on #351
Check wm_cluster_atlas.py --help. You probably want to run
wm_cluster_atlas.py with the -norender option if you're using it in jobs
you are submitting, or if you are using over a X forwarded ssh
connection.  Without it, wm_cluster_atlas.py attempts to pop-up display
windows as it works.

[2015-12-06 13:13] sabashahab commented on #351
Thanks Jon and Joe. I ran the same code again and it ran to completion. I was just running it on my machine, not submitting jobs so I suppose the pop-up displays weren't a problem this time. I'll keep the -norender option in mind in case I run the job on SCC or remote access next time.

[2015-12-07 16:37] josephdviviano opened #352 "Recent upload to SPINS was the MRS data from STOPPD_CMH_460004_01_01"
Have a look:

http://da55.pet.utoronto.ca:5004/app/action/DisplayItemAction/search_element/xnat%3AmrSessionData/search_field/xnat%3AmrSessionData.ID/search_value/TIGRlab_E00135/popup/false/project/SPINS

I'm guessing the wrong file was placed into the SPINS folder downstairs somehow. I'm mostly posting this to confirm it isn't a problem with @pipitone 's scripts running downstairs, otherwise we ca

[2015-12-07 21:01] pipitone commented on #352
Looks like it to me. Worth an email to Nancy I think.

[2015-12-07 21:57] pipitone commented on #347
Also, generally our outbound mail has been shutdown by the RIC. I'm working to get us accounts on the RIC network we can use to send mail from.

In the meantime, check `tigrsrv:/tmp/data-2.0-run.log` for the nightly run.sh logs.

[2015-12-07 21:59] pipitone commented on #352
Actually, just looking at the nightly logs and *lots* of bogus looking zip files were downloaded. Go to `tigrsrv` and run `grep MRSROI /tmp/data-2.0-run.log`.

[2015-12-08 16:10] josephdviviano opened #353 "finish setting up tapas"

[2015-12-09 14:48] #351 closed

[2015-12-09 19:11] edickie opened #354 "STOPPD MAS scans haven't been exporting from XNAT"
We haven't downloaded a STOPPD MAS scan to our system since Oct 1...(when we upgraded XNAT??)

There are 7 subjects in XNAT who are not in data-2.0...Any idea what could be causing this?

[2015-12-09 19:35] josephdviviano commented on #354
Are their exports defined in run.sh and are they named correctly in xnat at
both the subject and session level?

On 14:11, Wed, 2015-12-09 edickie <notifications@github.com> wrote:

[2015-12-09 19:40] edickie commented on #354
The file naming looks right to me...

On Wed, Dec 9, 2015 at 2:35 PM, Joseph Viviano <notifications@github.com>
wrote:

[2015-12-09 19:44] josephdviviano commented on #354
Are they explicitly being exported in run.sh? Can you run it at clevis and
see what it says?

On 14:40, Wed, 2015-12-09 edickie <notifications@github.com> wrote:

[2015-12-09 20:05] pipitone commented on #354
I'm looking at `/tmp/data-2.0-run.log` and there's an exception being thrown during export. That would do it. ;-)

[code]

Looks like there may be some wackiness in one of the subject's DICOM description field. I'll check it out.

[2015-12-09 20:09] pipitone commented on #354
Can reproduce with `xnat-extract.py -nv /mnt/xnat/spred/archive/STOPPD02/arc001/STOPPD_MAS_210036_01_01/`.

[2015-12-09 20:22] pipitone commented on #354
Turns out it's series 0 causing the problems. Folder: `/mnt/xnat/spred/archive/STOPPD02/arc001/STOPPD_MAS_210036_01_01/SCANS/0/DICOM/`

The issue is that the dicom file picked to get headers representing this series, doesn't have a `SeriesDescription` field, which is causing the mangle code to b0rk.

[2015-12-09 20:23] edickie opened #355 "STOPPD and SPINS external site header mismatched"
Looking over the mismatches in a more systematic way..the only one's that look a little scary is actually ZHH and MRC from SPINS...

made little csv summaries of all scanner mismatched (excluding for the PDT2 scans) for all sites in my scratch...
/scratch/edickie/checkheaders_test/STOPPD/headermismatches_CMH.csv
/scratch/edickie/checkheaders_test/STOPPD/headermismatches_MAS.csv
/scratch/edickie/ch

[2015-12-09 20:30] pipitone commented on #354
I've made a fix to `utils.mangle()` to handle this case. Generally our code doesn't do a great job of checking the fields coming from the dicom headers to make sure they are sensible (or even, as in this case, strings). I've filed tigrlab/datman#44 to go back over the code and this sort of stuff up.

[2015-12-09 20:33] pipitone commented on #354
I've updated the datman code in `/archive` and I've verified that `xnat-extract.py` runs cleanly (with the `--dry-run` option on), so things should be good to go for tomorrow morning's run.

[2015-12-09 20:33] #354 closed

[2015-12-09 20:51] josephdviviano commented on #355
I'll send emails now.

[2015-12-09 21:02] josephdviviano commented on #355
Hi @edickie ;

OK, you likely saw the emails, but for the gitrecord, I've reviewed the files and agree that the SPINS mismatches are the scariest.

I've sent emails for these logs:

    /scratch/edickie/checkheaders_test/SPINS/MRC/headermismatches_MRC.csv
    /scratch/edickie/checkheaders_test/SPINS/ZHH/headermismatches_ZHH.csv

And I'm not sure whether it is worth worrying about these logs:

[2015-12-09 21:04] josephdviviano commented on #354
jon thanks so much for looking into this and fixing it! :-D

[2015-12-09 22:27] josephdviviano commented on #355
Looks like MRC does not think their mismatches are an issue. I'm waiting for confirmation from them.

This is what I got back from ZHH:

RE: fieldmaps (I think no issue)

RE: EPI

Looks like we need to blacklist:

RE: FLAIR (nothing needs to be done)

[2015-12-10 15:27] josephdviviano opened #356 "Make reoriented SPIRAL data available in data-2.0"
from colin hawco:

[2015-12-10 15:32] colinhawco commented on #356
Here is the code for reorienting spriral images. Tested on several cases where we could determine L/R laterality ked placement in MRI, asymetic brains), using the T1 as a guide for L/R.

fslorient -deleteorient sprl.nii
fslswapdim sprl.nii -x -y  z sprl_swap.nii
fslorient -setqformcode 1 sprl_swap.nii.gz

[2015-12-10 15:35] josephdviviano commented on #356
@colinhawco thanks, could you also point us towards the already-reoriented files you mentioned during lab meeting?

[2015-12-10 15:41] colinhawco commented on #356
Sorry hit enter to soon!

/projects/colin/archive/resting/

Files are labeled sprl_reorient.nii.gz, within the study and subject folders.

There is a file in that folder called **Resting_state_batabase.xls** which includes a column indicating which files need reorinting. As this file was created after the reorientation issue was resolved, it should include reference to all cases where this was an

[2015-12-10 16:00] arash-n commented on #356
Just make sure that you make a copy of the raw files before running it on the files as the first command delete orientation of the very file it is given without creating a new output.

[2015-12-10 20:59] arash-n opened #357 "data-2.0: multiple repeats for T1 files and inconsistent uppercase/losercase"
Hi guys,

In some instances the T1 images have been repeated due to patient motion. Generally speaking the first T1-BRAVO image has an issue. I was wondering if you could rename/move the repeat with motion artifact and keep the correct one as is.

Here are the directories with multiple repeats of T1 repeats along with the image name with less motion artifacts that should be kept as is:

#DTI Sampl

[2015-12-10 21:02] josephdviviano commented on #357
Hi Arash, we can remove

     DTI_CMH_H037_02_01_T1_18_Sag-T1-BRAVO.nii.gz
     DTI_CMH_S142_01_01_T1_11_Sag-T1-BRAVO.nii.gz

If they have artefacts, but what is the problem with having two good T1 scans? You could average them, for example. Also the inconsistent naming is actually from the DICOM header and won't be fixed. You can easily script around this.

[2015-12-10 21:05] arash-n commented on #357
These two are fine:
 DTI_CMH_H037_02_01_T1_18_Sag-T1-BRAVO.nii.gz
 DTI_CMH_S142_01_01_T1_11_Sag-T1-BRAVO.nii.gz

These two have problems:
DTI_CMH_H037_02_01_T1_02_Sag-T1-BRAVO.nii.gz
DTI_CMH_S142_01_01_T1_04_Sag-T1-BRAVO.nii.gz

Nothing is wrong about either of those. I thought it will make copy/pasting easier. That's all.

[2015-12-10 21:06] josephdviviano commented on #357
OK we will blacklist

    DTI_CMH_H037_02_01_T1_02_Sag-T1-BRAVO.nii.gz
    DTI_CMH_S142_01_01_T1_04_Sag-T1-BRAVO.nii.gz

but leave the rest as-is. If you see other corrupted scans that should be blacklisted, please let us know.

[2015-12-10 21:08] arash-n commented on #357
Sure! ;)

[2015-12-11 03:48] josephdviviano opened #358 "Contact WASHU about fieldmap 'coeff' and 'grad' files."
See email:

Nancy J. Lobaugh, PhD <nancy.lobaugh@camhpet.ca>	Thu, Dec 10, 2015 at 10:42 PM
Reply-To: nancy.lobaugh@camhpet.ca
To: Joseph Viviano <joseph@viviano.ca>
Cc: "sofia.chavez@camhpet.ca" <sofia.chavez@camhpet.ca>, Colin Hawco <Colin.Hawco@camh.ca>, "Erin W. E. Dickie" <erin.w.dickie@gmail.com>, Arash Nazeri <arashnazeri@gmail.com>, Jon Pipitone <jon@pipitone.ca>
I suspect these may be file

[2015-12-11 15:53] pipitone commented on #357
@arash-n wrt the inconsistent naming, we take the description directly from the DICOM headers as it is, so this inconsistency is coming from the scanner/scan techs. We could try to normalise the description field, but I think we'd be in for a world of pain because of how unpredictable it is. Instead, we *always* have a `_T1_` in the name of the file if it's a T1, and a `_DTI` if it's a DTI, etc..

[2015-12-11 15:56] pipitone commented on #348
I'm going to close this for now, because `bash -l` does actually work. Reopen this if you are still finding this an issue and can give me a specific example.

[2015-12-11 15:56] #348 closed

[2015-12-11 15:56] pipitone commented on #347
I've moved the logs to `/archive/data-2.0/logs/` to make them easier to get access to.

[2015-12-11 15:58] pipitone commented on #344
I've fixed the `qsub` use in `dm-proc-{imob,ea,rest}.py` scripts, and I'm working to enable the functional steps in all of the `run.sh` scripts now.

[2015-12-11 15:58] #344 closed

[2015-12-11 16:24] arash-n commented on #357
You are right, that makes sense. I was thinking of running a simple code like this:

`<addr>`for f in * ; do mv -- "$f" "$(tr [:lower:] [:upper:] <<< "$f")" ; done

[2015-12-11 16:34] arash-n opened #359 "Old folder: Moving to Archive"
Hi guys,
I was wondering if you can move this to an archive folder that we keep a record of this and also free some space of the projects folder.
/projects/arash/current/SWM

[2015-12-11 17:08] pipitone commented on #357
Sure, you're welcome to do it on your own copies/links of the files. ;-)
I don't think it's the right way for us to go since soon enough someone
will ask, "can you make the 'SAG-T1-BRAVO' and 'SAGT1-BRAVO' and
'BRAVO-SAG-T1' files all say 'SAG-T1-BRAVO'?"

That is, unless there's a strong reason you need to have the description
normalized.

[2015-12-14 17:34] pipitone opened #360 "Bogus series 0 in several STOPPD scans"
There are several scans from `MAS` that have a series 0 that contains a handful of dicoms with a `SeriesDescription` of `MPRAGE`, so it looks like a T1 but `dcm2nii` fails on it. I'm not exactly sure what series 0 is, but it ain't an image.

I suggest we delete this series from XNAT. If that's not acceptable, then I propose we add a hack to deal with this in `xnat-extract.py` via an extract comman

[2015-12-14 17:36] pipitone commented on #360
For reference, here are the wonky exams:
- STOPPD_MAS_210033_03_01
- STOPPD_MAS_260002_01_01
- STOPPD_MAS_260004_01_01
- STOPPD_MAS_260006_01_01
- STOPPD_MAS_260007_01_01
- STOPPD_MAS_260011_01_01
- STOPPD_MAS_260012_01_01
- STOPPD_MAS_260013_01_01

[2015-12-14 18:32] pipitone opened #361 "MRSROI.zip files from the CAMH MR unit"
As of Dec 4, old scans with MRS volumes have had masks applied and the data uploaded to the MR FTP server with zip file names ending with `_MRSROI.zip`. We'll need to deal with these, and I suggest we add them as session `00` for whatever time point they apply to.

[2015-12-14 18:57] pipitone commented on #361
I've updated STOPPD's `metadata/scans.csv` to map the MRSROI zip files to session `00`. Y'all good with this?

[2015-12-14 20:28] arash-n commented on #359
Hey guys,

I was wondering if my SWM folder is archived so that I can delete it from my projects folder?

Cheers,
Arash

[2015-12-15 02:21] pipitone commented on #359
I haven't yet archived it. I'll try to get to this tomorrow.

[2015-12-15 14:38] edickie commented on #361
This works as a first step...but eventually I think we need to put them
beside their corresponding MRS scans in the appropriate data-2.0 folder...

On Mon, Dec 14, 2015 at 1:57 PM, Jon Pipitone <notifications@github.com>
wrote:

[2015-12-15 15:14] pipitone commented on #361
What do you mean by "beside"? These scans can now be exported with an appropriate tag. Will that do?

[2015-12-15 19:08] josephdviviano commented on #359
@pipitone I have some time now, moving the files. I'll close this issue after I've|

+ rsynced data to `/archive/data-2.0/SWM`.
+ removed data from Arash's projects.
+ removed old Arash's ZFS snapshots (henceforth called Aarshots).

[2015-12-15 19:29] josephdviviano commented on #358
I've written WASHU on the matter, cced JP, ED, and SC.

[2015-12-15 19:39] josephdviviano commented on #357
RE:

    DTI_CMH_H037_02_01_T1_02_Sag-T1-BRAVO.nii.gz
    DTI_CMH_S142_01_01_T1_04_Sag-T1-BRAVO.nii.gz

I've removed the aformentioned exported niftis, freesurfer runs, and their nifti exports, as well as adding them to he blacklist.csv file. I'm also deleting the functional runs, as they depend on the anatomical data. Everything should regenerate tonight.

[2015-12-15 19:39] #357 closed

[2015-12-15 20:31] josephdviviano commented on #353
OK, TAPAS 2.2.0.0 is now available in the quarantine.

[2015-12-15 20:31] #353 closed

[2015-12-15 20:32] josephdviviano commented on #341
This does not ring true to me. Closing.

[2015-12-15 20:32] #341 closed

[2015-12-15 20:33] josephdviviano commented on #336
Well, good news. This oscillation is only present in between 12-20% of the data, so I'm not sure that it is caused by the scanner. Rather, it might be caused by the participant. We should keep an eye out, but I would hesitate to train any omnibus FIX classifiers to deal with this artifact.

[2015-12-15 20:33] #336 closed

[2015-12-15 20:51] josephdviviano commented on #302
OK -- this thread died but I know for a fact from the folks downstairs that these double-sized images are collected at the **correct** resolution during scanning, they are simply **reconstructed** to the wrong size. They also tell me that this is bound to happen intermittently, for a reason I don't fully understand.

But the key is, the SNR of the data isn't compromised, so we can just reslice thi

[2015-12-15 21:09] josephdviviano commented on #361
Hi Jon, that approach looks fine to me. (Thanks for doing that by the by).

[2015-12-15 21:09] #361 closed

[2015-12-15 21:09] josephdviviano commented on #360
I like deleting them from XNAT -- no point in them polluting our database. Removing them now.

[2015-12-15 21:36] josephdviviano commented on #360
OK -- they should be removed!

[2015-12-15 21:36] #360 closed

[2015-12-15 21:57] josephdviviano commented on #301
Sorry, I'll elaborate:

All studies prior to 3rd July 2015 were using a 'faulty' fieldmap sequence. So all of the fieldmaps collected here prior to that date won't give us anything meaningful.

Specifically, either the real or imaginary volume (3rd or 4th, I forget) are all roughly positive. this shouldn't be the case (see here: http://www.allaboutcircuits.com/textbook/alternating-current/chpt-2/p

[2015-12-15 22:07] josephdviviano commented on #313
Update:
+ SPN01_ZHH_0031_01 behavioural data is in visit 2, not 1.
+ SPN01_ZHH_0032_01 -- should have re-uploaded functional data (true?)

[2015-12-15 22:14] josephdviviano commented on #313
Still missing:

+ SPN01_ZHH_0031_01_01: BEHAV
+ SPN01_ZHH_0030_01_01: BEHAV (someone uploaded 54846 files...)

[2015-12-16 00:03] pipitone commented on #302
+1

[2015-12-16 02:05] edickie commented on #302
Auto reslice

On Tue, Dec 15, 2015 at 7:15 PM, Jon Pipitone <notifications@github.com>
wrote:

[2015-12-16 04:16] josephdviviano commented on #302
OK, I'll come up with a little `bro` that will auto-reslice the data. It will:

+ Change the name of the 'super resolution' version to ${FILENAME}_WRONG-RESOLUTION.nii.gz
+ Used AFNI's `3dResample` program to set the grid to the 'correct' size (as determined by a gold standard)
+ Place the resampled file in the `nii` folder with the original filename.

That way, all of our downstream scripts will

[2015-12-16 12:18] pipitone commented on #302
+1 thanks broseph!

[2015-12-16 16:48] josephdviviano commented on #359
Hi Arash,

The data is now in /archive/data-2.0/SWM

Could you add a README in there explaining, as best as possible, what this data is, for people who want to use it in the future?

[2015-12-16 20:41] josephdviviano commented on #359
Everything except the README is done.

[2015-12-16 20:41] #359 closed

[2015-12-20 15:54] pipitone opened #362 "DTIPrep QC of SPINS/DTI DTI60 images finds some issues"
I've just run `DTIPrep` on all of the non-phantom 60 direction DTI scans, and looking at the QC reports for these finds the following issues:
[code]

I see two issues:
- [ ] All of the problems with the human phantoms are because the images aren't DTI, but are FA maps tagged as DTI60 images. These should either be excluded or tagged differently.
- [ ] There are some legitimate scans deemed poor by

[2015-12-23 13:43] josephdviviano commented on #358
Hi Joseph,

I've checked with some scanner experts that are part of the Human Connectome Project, and it seems that your best bet is to talk to your GE and Siemens representatives and tell them that you need access to the gradient coefficients files for each of the scanners.

It was also suggested that I should point out to you that the gradunwarp program and FSL's FUGUE are intended for dealing w

[2015-12-26 12:49] sabashahab opened #363 "Issues with the concatenated files for the DTI 1.5T data "
Hi,

The concatenated files in /archive/data-2.0/DTI/TGH/data/nrrd/ have less than 75 directions - I have created new concatenated files and have checked that they all have 75 directions. I also averaged the concatenated files and all of the averaged files have 24 directions, as expected. The exceptions are noted below.

Can one of the sudoers please transfer the concatenated files from /scratch/s

[2015-12-26 14:19] pipitone commented on #363
Thanks Saba, this is great and a really well written up issue.  Do you have the script you used to concatenation the files also?

[2015-12-26 15:20] sabashahab commented on #363
After copying and pasting all the files that were larger than 40 MB into another folder, I ran this code:

for directory in ./*; do COMMAND=gtractConcatDwi; for file in $directory/*; do COMMAND+=" --inputVolume $file"; done; echo `$COMMAND --outputVolume "$directory/concatenated.nrrd"`; done

[2015-12-28 17:55] josephdviviano commented on #356
Moar deets:

From `Vincent Man`:

    /projects/vincent/COGBD-project/Resting_state_database.xls

    /projects/vincent/COGBD-project/Data/HC/H010_02/Raw

[2015-12-29 12:35] pipitone commented on #363
I've added these files to `/archive/data-2.0/DTI/CMH/data/nrrd` and updated the `README` with your notes.

Thanks!

[2015-12-29 12:36] pipitone commented on #363
Oh, one more thing @sabashahab: what command did you use to create the averages?

[2015-12-29 15:41] sabashahab commented on #363
Thanks Jon. This is how I created the averages:

<pre><code>for directory in ./*; do gtractAverageBvalues --inputVolume $directory/*concatenated.nrrd --outputVolume $directory/averaged.nrrd; done > /projects/saba/SCZsubtype_classification_project/file13</code></pre>

[2015-12-29 17:14] pipitone commented on #363
Kewl. Thanks.

[2015-12-29 17:14] #363 closed

[2015-12-30 18:51] pipitone opened #364 "ENIGMA ROI labels are incorrect for the IFO and UNC tracts"
via http://enigma.ini.usc.edu/protocols/dti-protocols/:

If groups choose to use these measures for their own analysis, please be advised that this should be uncinate according to the current atlas. To avoid confusion, we will NOT switch the labels back, but we will keep this warning so you can carefully examine your data.

This shows up in the file `ENIGMA_look_up_table.txt` as:
[code]

whereas i

[2015-12-31 16:41] pipitone commented on #347
Update on email via the RIC server. I've updated the email configuration so far on the [XNAT wiki page](https://github.com/TIGRLab/admin/wiki/XNAT#mailserver-settings).

I've sorted out settings that let XNAT connect and authenticate with the server. I *think* things may be set up reasonably correctly, except I'm getting the following error in `xdat.log` when sending is attempted:

    com.sun.mai

[2015-12-31 20:21] pipitone commented on #347
Fixed. All it took was setting the administrator email address in the Configuration panel. I also changed the administrator email in `InstanceSettings.xml` as well.

Note, I suspect that most of this will be preserved if/when xnat is rebuilt, because I've updated `build.properties` with the appropriate settings.

[2015-12-31 20:21] #347 closed

[2016-01-05 16:01] pipitone opened #365 "Add new email settings to ansible"
As of #347, we now ought to use the RIC mail server to route mail out to the internet. We should create a ansible role to configure postfix. This would involve:

1. installing postfix
2. Configuring `/etc/postfix/main.cf` with:

        myhostname = <machine hostname>
        mydestination = <machine hostname>, localhost
        relayhost = [<mail server>]:587
        mynetworks = 127.0.0.0/8 [::f

[2016-01-05 19:44] josephdviviano opened #366 "DTI_CMH_H157_02 flip angle == 77, should == 90"
Email sent to MRI center.

[2016-01-05 19:54] josephdviviano opened #367 "qc.py is not QCing SPRL scans"
It should.

[2016-01-05 19:59] josephdviviano opened #368 "STOPPD_MAS gold standard files for fMRI don't appear to be correct"
This is the standard output for each fMRI scan:

[code]

But if I look more closely at these fields across sites, the found values seem to be generally correct. I think we've chosen a bad gold standard for this site.

[2016-01-11 20:41] edickie opened #369 "run script error for STOPPD"
Many of the scans for one subject (STOPPD_CMH_420039_02) never got converted to nitfy (even though the dicoms are there)

When I look at the run script we see:
[xnat-upload.py] ERROR: ERROR uploading file 20160105_Ex04815_STOP1MR_STSK065/Ex04815_Se00006_MRS-sgACC-Bilat/LCModelExam#4815-6.txt
[xnat-upload.py] ERROR: Error communicating with XNAT
Traceback (most recent call last):
  File "/archive/d

[2016-01-15 16:41] pipitone commented on #324
Hi Steph, I'm closing this issue since I don't think it's a problem any longer (given that your `tbss` jobs were running fine yesterday).  Feel free to reopen this if it's still a problem.

[2016-01-15 16:41] #324 closed

[2016-01-15 18:51] josephdviviano opened #370 "add bioread to python-extras"

[2016-01-15 19:35] josephdviviano commented on #370
Installed into python-extras-2.7.9

[2016-01-15 19:35] #370 closed

[2016-01-15 19:38] josephdviviano commented on #366
This is an error on our part. The gold standard came from DTI1MR, which used a 90 degree flip angle.

DTI3MR and SPINS use a flip angle of 77. There isn't a massive difference in SNR between these two options, so these data can be safely combined with DTI1/2MR.

I vote we just continue to ignore these. Alternatively, we could replace the gold standards with a set of dicoms from DTI3MR.

[2016-01-15 19:38] #366 closed

[2016-01-15 19:50] josephdviviano commented on #369
Hey Erin,

Not sure what this was about. I deleted the nifti folder for this participant and re-ran, and the data exported OK.

However this run.sh script was in pretty bad shape! I'm not sure why. At a certain point, when some modules were unloaded, so was datman, which means that the majority of the run script was never run.

I converted all of the module loads/unloads into loads that happen in

[2016-01-15 19:50] #369 closed

[2016-01-15 19:58] josephdviviano commented on #368
I replaced `/archive/data-2.0/STOPPD/metadata/gold_standards/MAS/RST/STOPPD_MAS_210012_01_01_RST_701_RestState.dcm` with  `/archive/data-2.0/STOPPD/metadata/gold_standards/MAS/RST/STOPPD_MAS_260009_01_01_RST_701_RestingState.dcm`

[2016-01-15 19:58] #368 closed

[2016-01-15 20:02] josephdviviano commented on #358
From Michael Harms,

Yes, the HCP pipelines *do* correct for susceptibility distortions in the EPI scans, via either a traditional dual-echo gradient echo fieldmap, or the preferred approach using a pair of phase-encoding reversed spin echo EPI scans (what we can "SpinEchoFieldMap" scans).   In fact, the functional pipelines won't run without one of those inputs to correct the BOLD EPI scans for s

[2016-01-15 20:07] josephdviviano commented on #358
I'm not sure where this dual-echo gradient echo fieldmap part of the code is...

[2016-01-15 20:14] josephdviviano commented on #358
Ah, here we are:

# WITH FIELDMAP
    echo "Registering fieldmap to structural"
    if [ $fmapreg = yes ] ; then
        # register fmap to structural image
	$FSLDIR/bin/flirt -in ${fmapmagbrain} -ref ${vrefbrain} -dof ${dof} -omat ${vout}_fieldmap2str_init.mat
	$FSLDIR/bin/flirt -in ${fmapmaghead} -ref ${vrefhead} -dof ${dof} -init ${vout}_fieldmap2str_init.mat -omat ${vout}_fieldmap2str.mat -out

[2016-01-15 20:19] #358 closed

[2016-01-15 20:40] josephdviviano commented on #367
Is this still a problem? It looks like the tag 'SPRL' is being passed to `rest_qc` on line 806 of `qc.py`.

[2016-01-15 20:40] #367 closed

[2016-01-15 20:40] #321 closed

[2016-01-15 21:17] josephdviviano commented on #355
OK, I've blacklisted the above files and deleted any downstream outputs from them.

[2016-01-15 21:17] #355 closed

[2016-01-15 21:21] josephdviviano commented on #313
Everything is in our database now.

[2016-01-15 21:21] #313 closed

[2016-01-15 21:26] josephdviviano commented on #282
I'm deleting these `bros` now.

[2016-01-18 21:16] josephdviviano commented on #64
I'm going to close this because I'm not convinced this is a problem.

[2016-01-18 21:16] #64 closed

[2016-01-19 18:46] josephdviviano commented on #365
I TOOK IT

[2016-01-19 21:31] pipitone opened #371 "Set up whitematteranalysis on the SCC"
Apparently it uses a lot of memory. :-)  The SCC is good for that.

[2016-01-20 16:03] josephdviviano commented on #365
+ Followed the above and this guide to get mail sending through `servers.tigrlab@camhpet.ca`:

https://www.linode.com/docs/email/postfix/postfix-smtp-debian7

+ Set up mail forwarding for `hal` using this guide:

http://www.binarytides.com/postfix-mail-forwarding-debian/

[2016-01-20 20:50] josephdviviano commented on #365
This issue isn't actually done because we haven't added this configuration to ansible. Oops.

[2016-01-20 20:57] josephdviviano commented on #365
This looks like a useful starting point: https://github.com/petemcw/ansible-role-postfix

[2016-01-20 22:43] colinhawco opened #372 "MATLAB shared object missing for matlab_concurrent_all/MATLAB_R2013b"
code in:

/scratch/colin/epitome/tmsfmri_study1/

e.g.
bash /scratch/colin/epitome/tmsfmri_study1/P102/cmd_160115_124421_tms_part1.sh
(rubn on tesla after epi-setup)
Error:

colin@tesla:/scratch/colin/epitome/tmsfmri_study1$ bash /scratch/colin/epitome/tmsfmri_study1/P102/cmd_160115_124421_tms_part1.sh
*** MODULE: init_basic. Reorients, phys regression, removes init TRs. ***
++ 3dcalc: AFNI versio

[2016-01-20 23:01] josephdviviano commented on #372
Just to clarify, this bug isn't `epitome` specific but relates to the `libmwmclmcrrt.so.7.15` shared object... I think it is a known MATLAB + JAVA library thing ...

http://ubuntuforums.org/showthread.php?t=1515334

[2016-01-20 23:05] josephdviviano commented on #282
Correction... just did it now.

FYI, don't try to delete a lot of data through the web GUI. It is much faster to `ssh` into `srv-web` and then `rm` the `.dcm`s from `arc001` in a given project folder, and THEN use the GUI to clear out the associated entries in the database. Otherwise it is very likely your session will timeout during the deletion.

I'm guessing the run script will re-upload everyt

[2016-01-21 15:35] josephdviviano commented on #282
Looks like the files are being uploaded. @pipitone @edickie , the run script is going to take a long time this morning because RTMSWM is re-uploading the entire project. I'll close this issue after the upload completes.

[2016-01-21 15:52] josephdviviano commented on #352
I don't think these files are bogus per se, but I'm not sure how to handle these files gracefully as they are DICOM data from the same session... I guess we could manually enter them all into `scans.csv` as a second (or third) repeat scan for the associated MRI data, but that seems both tedious, time consuming, and non-urgent.

I've sent an email to Nancy to see what these files are. We could ask

[2016-01-21 15:53] pipitone commented on #282
Thanks broseph. You're on a roll!

[2016-01-21 15:54] josephdviviano commented on #364
@edickie, could you make sure the new labels are correct in ENIGMA going forward, and if required, delete all old enigma runs so that they will be re-computed correctly?

[2016-01-21 15:58] pipitone commented on #352
Ah, sorry. I actually asked Nancy this but forgot to update this ticket. IIRC these are preproccessed MRS data (which if we use we are supposed to cite someone else's work). I'll dig up the email from Nancy but in the future these additional series will be included in the scan zips.

[2016-01-21 16:01] pipitone commented on #352
Actually Nancy cc'd you both, Joe and Erin, on the reply about the MRS zips. Check it for more info.

[2016-01-21 17:42] josephdviviano commented on #352
Nancy's reply:

See #1 below

[2016-01-21 17:49] edickie opened #373 "RST data not showing up in QC docs for PRELASPE IWA"
The files are present in data/nii..but nothing in the QC doc..

[2016-01-21 18:02] josephdviviano commented on #373
Hi Erin, good eye.

Can you:

+ Ensure the resting-state data is of sensible dimensions.
+ Ensure the things tagged RST are actually resting-state data.
+ Ensure the tags are right (`qc.py` only works on RST and SPRL at the moment).

[2016-01-21 18:06] edickie commented on #373
Hey Joe,

1) Dimensions are 2.5x2.5x3 with TR-2.0
2) It is tagged with RST
3) If is resting state data (looks fine in fslview)

[2016-01-21 18:07] edickie opened #374 "PRELASPE MAS T2 images not being exported"
exportinfo.csv looks fine...but no T2 files in data-2.0...

I'm stumped

[2016-01-21 18:14] josephdviviano commented on #373
OK, I'd delete one of the IWA QC docs and re-run `qc.py` to see if the RST page is omitted again. It might have been generated during a nearlier export that did not have resting-state data available.

[2016-01-21 18:37] josephdviviano commented on #185
We need an SFP for the Dell Powerconnect 5524 for $275: http://accessories.dell.com/sna/productdetail.aspx?c=us&l=en&orig_s=corp&sku=310-7225&s=bsd

Dell Networking Transciever SFP 1000BASE-T
Manufacturer Part# : PF911 | Dell Part# : 310-7225

I'm going to try our luck with this knockoff for $21.75 from fiberstore.com: http://www.fs.com/-p-13277.html?currency=CAD&paid=google_shopping&gclid=CIvi_8v

[2016-01-21 18:59] josephdviviano commented on #185
Order placed, see tigrlab@camh.ca for details. Order # FS160121022576

[2016-01-21 21:12] josephdviviano opened #375 "Organize the T drive"
**deep breath**

I think something needs to be done about the `T:` drive. I know this is going to be not good (very bad), but something needs to be done to get it under control. If the unexpected happens to DL during her next vacation in the jungle, all will be lost.

I propose doing the following in order:
- [ ] Collect intel on where useful things are here: https://github.com/TIGRLab/admin/wiki/

[2016-01-21 21:16] josephdviviano commented on #374
Hi @edickie ,

Will need your help with this one. Can you get any clue of what is happening with these files from the logs?

[2016-01-21 21:19] josephdviviano commented on #322
This is a non-system, non-urgent issue, so I'm moving it to my personal to-do list: https://github.com/josephdviviano/admin/issues/17

[2016-01-21 21:19] #322 closed

[2016-01-21 21:20] pipitone commented on #375
You're a bold and brave man, Sir Viviano. An explorer, an adventurer.

Should you choose to continue this foray into the heart of darkness, I'd suggest you a) get clear on what the scope of the reorg is (is it just kimel lab stuff, k-lab plus related studies, or are you talking about the entire slaight centre T drive), and b) get some buy-in/let people know (like DL and Aneet) about what you'd lik

[2016-01-21 21:29] josephdviviano commented on #293
@pipitone:

`/external/PNC/data/rsfc-awheel`contains a lot of intermediate data. I'm going to clear some of it out.

[2016-01-21 21:55] josephdviviano commented on #237
I believe this is done. I'm going to reopen it if I'm proven otherwise.

[2016-01-21 21:55] #237 closed

[2016-01-21 22:01] josephdviviano commented on #55
Is this still an actual issue? It's 1.5 year old, and now seems irrelevant (and expensive) given how our storage capacity is going to work going forward. I'm closing, @pipitone reopen if you disagree.

[2016-01-21 22:01] #55 closed

[2016-01-21 22:02] josephdviviano commented on #293
OK, I removed all of the intermediate functional files (the only files used for analysis were the `func_volsmooth* data).

[2016-01-21 22:04] josephdviviano commented on #293
I've removed the PNC folder from data-2.0.

I've also added some notes to the RSFC component of the PNC data.

[2016-01-21 22:04] #293 closed

[2016-01-21 22:12] josephdviviano opened #376 "New email policy: let's use tigrlab@camh.ca"
When I set up the postfix server for `HAL` to contact us about hardrive troubles, I thought it would be best if it all ended up in a centralized email address that Navona set up: `tigrlab@camh.ca`.

This email is currently configured to forward all incoming mail to @pipitone @edickie Navona and `JDV` at the @camh address. It will also make is easier to transition with personnel changes.

I'd like

[2016-01-21 22:21] camh commented on #376
Sounds good to me.

[2016-01-21 22:24] josephdviviano commented on #376
:D

[2016-01-21 22:25] pipitone commented on #376
I :heart: @camh

[2016-01-22 16:39] josephdviviano commented on #184
Email sent to Royston Appu [roysapp@cdw.com] asking for a fresh quote for:

+ Cisco Catalyst 3750X-48T-S - switch - 48 ports - managed - rack-mountable [Mfg. Part#: WS-C3750X-48T-S]
+ Cisco - expansion module - 4 ports [Mfg. Part#: C3KX-NM-1G=]

I've asked the total to be under our CFI budget of $9943, with an in-kind discount of 25%.

[2016-01-22 17:37] josephdviviano commented on #282
OK, looks like everything is done.

I'm not updating the README because that is just going to be confusing to people in the future, the data versions are all identical (with more of the left-out stuff now available).

[2016-01-22 17:37] #282 closed

[2016-01-22 17:47] josephdviviano commented on #374
In `exportinfo.csv`, the REGEX for the T2 images were `3D_T2`. I've changed this to `3D.T2`, which matches any character between `3D` and `T2`, and now it works.

[2016-01-22 17:47] #374 closed

[2016-01-22 17:48] josephdviviano commented on #373
@edickie, I'm not sure if you did anything because you didn't post here, but I can see that the QC docs now have resting state pages, so I'm considering this closed (I assume my last post worked).

[2016-01-22 17:48] #373 closed

[2016-01-22 17:56] josephdviviano commented on #372
According to the above link, the MATLAB module needs an extra line:

On tigrsrv, I added the line `prepend-path  LD_LIBRARY_PATH  ${basepath}/runtime/glnxa64`

to `/export/quarantine-nouveau/matlab/matlab_concurrent_all/MATLAB_R2013b/module`:

[2016-01-22 17:59] josephdviviano commented on #372
I've also linked the requested older library to to new one...

sudo ln -s libmwmclmcrrt.so.8.2 libmwmclmcrrt.so.7.15

[2016-01-22 18:19] josephdviviano opened #377 "Alumni isn't mounted anywhere"
@pipitone:

Julie (and I imagine others) may need access to `alumni`.

I need you to:

+ Add `/mnt/alumni /export/alumni none bind 0 0` to `fstab` on `tigrsrv`
+ Add `/export/alumni` to the `/etc/exports` on tigrsrv
+ make a directory `/alumni` on all machines.
+ Add `tigrsrv:/export/alumni /alumni nfs rw,bg,auto  0  0` (or similar) to all machines.

Thanks,

[2016-01-22 18:23] josephdviviano commented on #340
@pipitone where are we at with this? Looks like we have a lot of stuff in `/alumni`.

[2016-01-22 18:40] josephdviviano commented on #372
Hi Colin.

I've got it working. Looks like the AFNI code I'm using needs to use the matlab compiler runtime instead of the matlabs in our quarantine.

Because of this I had to remove any reference to MATLAB_2013B in your bashrc or epi-setup script. They now point to an install of matlab compiler runtime in `/scratch/colin/MCR`.

Please don't load any matlab modules when you are trying to use epito

[2016-01-22 18:40] #372 closed

[2016-01-22 18:42] josephdviviano opened #378 "Make a matlab compiler runtime module for epitome"
make a module that contains this code.
module should add the `bin` folder to the path.
[code]

[2016-01-22 18:45] josephdviviano commented on #133
This is such a low priority I'm nuking the issue. I don't think this has ever caused a problem.

[2016-01-22 18:45] #133 closed

[2016-01-22 19:39] pipitone commented on #377
Yeah, I'm going to remove the mount under /archive, since that will get pulled into our nightly backups.

[2016-01-22 19:39] josephdviviano commented on #377
Sure, can you also make sure it is available on all machines for the users though?

[2016-01-22 19:41] josephdviviano commented on #378
The module is available under `matlab/MCR715`. It will only really be of use to people who want to use physio noise regression in `epitome`.

[2016-01-22 19:41] #378 closed

[2016-01-22 19:45] pipitone opened #379 "Backup alumni, external data"
ATM, we don't enough space on our backup server to store our alumni or external datasets, and CAMH storage isn't yet available.

Some options:

1. Backup to the SCC. I've asked David about this, and he's working to make space for us, but it sounds like it will take a while.
2. Backup to the USB drives. We likely have enough space to make a shitty backup on these guys. It's better than nothing.
3.

[2016-01-23 17:45] josephdviviano opened #380 ""How to Kimel" Binder"
@pipitone suggested we compile a small 'how to kimel' binder. Crucially, it would contain all of the stuff we can't put online, as well as other things like purchases etc in hard-copy (bureaucracy hates trees).

This would also involve organising stuff that currently sits in `/projects/admin` and on the [admin wiki](https://github.com/tigrlab/admin/wiki)

Topics:
- [x] ESXi configuration and brief

[2016-01-23 18:02] Navona-Calarco commented on #380
great idea! i have same stuff we can add.

[2016-01-24 15:27] josephdviviano opened #381 "HAL is in trouble"
We might have had a drive failure on HAL:
[code]
The spare drive should take care of this, but we should investigate ASAP tomorrow morning.

[2016-01-24 16:21] pipitone commented on #381
Good catch.

[2016-01-25 01:02] josephdviviano commented on #381
More...

[code]

[2016-01-25 13:50] josephdviviano commented on #381
This morning...
[code]

[2016-01-25 14:16] pipitone commented on #381
Definitely sounds like a failed drive

[2016-01-25 16:09] josephdviviano commented on #380
Hi @Navona-Calarco , great.

I've started a document at `/projects/admin/manuals/how-to-kimel.doc` that we can add to as we learn things.

[2016-01-25 16:10] josephdviviano commented on #381
@pipitone ordered a new drive with IBM.

[2016-01-25 16:17] pipitone opened #382 "Rebuild laplace, milner, and mrsdti"
Currently we have three machines out of commission that need ubuntu installed and configured on them:

- [ ] `milner` had a drive failure so needs to have diagnostics on its drives to find the failure, RMA, and replacement first.
- [x] `laplace` has ubuntu reinstalled (attempted this distractedly on Friday) but won't boot.
- [x] `mrsdti` only needs a reinstall

[2016-01-25 18:17] colinhawco commented on #380
Can you grant me write access to the admin folder?

[2016-01-25 18:19] Navona-Calarco commented on #380
Sorry, was on Colin's computer and commented via his account. Can you please grant me write access to the admin folder?

[2016-01-25 19:48] josephdviviano opened #383 "Investigate high frequency spiral artifacts in STOPPD and RTMSWM"
Nancy mentioned the possible presence of a high spatial-frequency artifact in our spiral data in one quadrant of the brain. I've never seen it in our own data, but it would be good to keep an eye out.

Aside from remaining vigilant, I'll ask the members of the lab to look through their own data and report back (on this issue) if they find anything.

[2016-01-25 21:23] josephdviviano commented on #381
Drive is installed and is resilvering now. I'm filling out the return form.

[2016-01-25 21:50] josephdviviano commented on #381
Pickup for drive is scheduled tomorrow at 1PM. The pickup confirmation number is: 64845013 .

[2016-01-25 21:53] josephdviviano commented on #380
Hey, can you try now?

[2016-01-25 22:58] josephdviviano opened #384 "MRS scan order change (right after T1, before any fMRI)"
-------- Forwarded Message --------
Subject: 	Reorder your MRS scan
Date: 	Sat, 23 Jan 2016 14:06:23 -0500

Colleagues,

Reviewing the metabolite editing results, we noticed there are number of scans with incomplete subtraction (artifacts) more so for software version DV24 than the previous DV23 which was upgraded late last year. Complete subtraction is the absolute requirement for GSH, GABA semi

[2016-01-26 00:51] pipitone commented on #384
Redacted email to remove email addresses and names.

[2016-01-26 13:33] josephdviviano opened #385 "Fix postfix alias loop on tigrsrv"
I think I made a mistake setting up postfix on tigrsrv.

[code]

[2016-01-26 15:17] edickie opened #386 "STOPPD_CMH_410040_02 is missing scans in /archive-2.0"
The T2/PD and SPRL scans are missing from the /archive/data-2.0 folder for subject STOPPD_CMH_410040_02. The tech notes claim they were aquired fine.

The T2/PD scan is in xnat for this subject - so I don't know what that was.
The SPRL i can't tell... (Is there a way to verify that the SPRL scan is there in the xnat web interface?)

[2016-01-26 15:23] edickie opened #387 "ASDD2MR_CMH_EF026_02_01 not named according to datman policy"
Is there any (legit) reason why we would keep it this way?

[2016-01-26 15:54] josephdviviano commented on #387
Hi Erin,

No, we should rename it properly using scans.csv. You might need to delete the scans in xnat to do this properly. Can you take care of this?

[2016-01-26 16:02] josephdviviano commented on #386
Hi Erin,

The T2/PD regex is likely not matching. Can you check the exportinfo file?

The SPIRAL scans are going to be in the resources folder. I can show you where those are.

[2016-01-26 16:09] josephdviviano commented on #381
I've left the failed drive with the mailroom, should be back at IBM today.

[2016-01-26 16:09] #381 closed

[2016-01-26 16:18] josephdviviano commented on #377
I'm taking over. ʕ•ᴥ•ʔ

[2016-01-26 17:04] josephdviviano opened #388 "/var/localadmin/.ssh/known_hosts is owned by root on all machines"
How could this have happened?

I've fixed it, but I suspect `ansible` is to blame.

I'm going to ask @pipitone for some insight.

[2016-01-26 17:18] josephdviviano commented on #388
Actually, this isn't consistent across machines, but it was true for more than 1 machine. I doubt it was Ansible for this reason. I'm going to chalk this up to fluke for now but it it happens again we should worry.

[2016-01-26 17:18] #388 closed

[2016-01-26 17:57] pipitone opened #389 "Upgrade ansible-playbooks to Ansible 2.0"
Because why not.

[2016-01-26 18:01] josephdviviano commented on #389
:D

[2016-01-26 18:01] pipitone commented on #389
Because future proof. Incidentally, that's my DJ name.

[2016-01-26 18:06] josephdviviano commented on #389
Well That was easy. Everything just works.

I think the only thing I should do is create a virtual environment containing the currently installed version of ansible on `tigrsrv` in the ansible-playbooks folder so we can avoid future version-related trouble with ansible.

[2016-01-26 18:46] edickie commented on #387
done

[2016-01-26 18:46] #387 closed

[2016-01-26 20:26] josephdviviano commented on #389
I'm building a virutal environment using `python/2.7.9-anaconda-2.1.0-150119` and `conda`.

[2016-01-26 22:31] josephdviviano commented on #389
OK, to use `ansible`, one should
[code]

I've updated the README.md and wiki here (https://github.com/TIGRLab/admin/wiki/Ansible).

[2016-01-26 22:31] #389 closed

[2016-01-26 22:44] Navona-Calarco commented on #380
Works. Thanks!

[2016-01-26 22:45] josephdviviano commented on #377
This is done (new mounts etc added to ansible).

[2016-01-26 22:45] #377 closed

[2016-01-27 14:49] edickie commented on #386
So yesterday we deleted the folder from xnat to try to get the spiral scan to re-upload...
This morning...still no sprial scan :-(
The run script gave this error

[xnat-upload.py] ERROR: ERROR uploading file 20160121_Ex04896_STOP1MR_STMA067/Ex04896_Se00006_MRS-sgACC-Bilat/LCModelExam#4896-6.pdf
[xnat-upload.py] ERROR: Error communicating with XNAT
Traceback (most recent call last):
  File "/archiv

[2016-01-27 15:48] josephdviviano commented on #386
Hi Erin great detective work. I'll try to figure out what's causing the client errors. My bet is XNAT does not like a character in one of the file names.

[2016-01-27 15:51] josephdviviano opened #390 "STOPPD needs to have resting state scans run."
Needs to be added to the run script.

[2016-01-27 16:48] josephdviviano opened #391 "PRELAPSE TXS DTI scans for 08 and 09 are not converting to NIFTI, MNC, or NRRD"
The converters complain that 'multiple dicom files have the same index'. We've recieved the correct number of DICOMs for all scans (4026), but since some of these are alleged duplicates (they aren't actually, the 'duplicates' clearly represent different parts of the brain), the converter isn't using all of the data and we end up with a malformed NIFTI.

@edickie will contact Vips at the TXS site t

[2016-01-27 16:51] josephdviviano commented on #390
I've added them.

[2016-01-27 16:51] #390 closed

[2016-01-27 16:52] josephdviviano commented on #386
According to this: http://stackoverflow.com/questions/19671317/400-bad-request-http-error-code-meaning a 400 error means the REST command at upload is somehow malformed. I think a special character might be interfering with this upload command.

[2016-01-27 17:07] josephdviviano commented on #385
Ah, I see. In `/etc/aliases`, the files was configured as so:

[code]

Therefore, root --> admins -->root forever. I've removed this and mail works again.

[2016-01-27 17:07] #385 closed

[2016-01-27 17:20] josephdviviano commented on #391
There might also be some clues here: http://nipy.org/nibabel/dicom/dcm2nii_algorithms.html

[2016-01-27 18:12] josephdviviano commented on #379
@pipitone I know you were investigating a few options. Come up with anything?

[2016-01-27 19:27] josephdviviano opened #392 "Find and wrap Ted's DTI QC pipeline into data-2.0"

[2016-01-27 19:27] josephdviviano opened #393 "Create images of SPN_CMH_0041 :D"

[2016-01-27 22:27] josephdviviano commented on #393
I did it

![rebecca-black-new-single-lo__opt](https://cloud.githubusercontent.com/assets/4142570/12630603/48bc6546-c51b-11e5-96c9-c29b8092f4f0.jpg)

[2016-01-27 22:27] #393 closed

[2016-01-27 22:28] josephdviviano commented on #384
We've decided to do nothing. :D

[2016-01-27 22:28] #384 closed

[2016-01-28 14:43] edickie opened #394 "Naming convention in the STOPPD folder doesn't look quite right...."
There are no STOPPD_CMH_*_00_?? scans in the STOPPD folder,
There are 6 STOPPD_*_*_03 scans...
There is one STOPPD_MAS_*_00_?? scan...
( I don't think I remember the other sites saying they had one...right?

[2016-01-28 14:54] josephdviviano commented on #394
Hi Erin,

This would make sense... we don't seem to have enough acute phase scans according to the naming convention alone. We might have to clean up after them.

The good news is an acute scan is very easy to identify, as it is only a resting-state scan and T1 (if I remember correctly). I can look at this when I get in.

[2016-01-28 15:42] navonacalarco opened #395 "Reprogram Presentation license"
We need to reprogram the Presentation key to reflect the changed start and end date for the license (new Start Date: 2016/08/01 | End Date: 2017/08/01).

[](http://www.neurobs.com/menu_licensing/menu_instructions/key_instr/auto_reprogram)

[2016-01-28 18:07] navonacalarco opened #396 "VIPR1 MRI (Foussias)"

[2016-01-28 18:08] Navona-Calarco commented on #396
Can we please pull the MRI data for Dr. Foussia's study (VIPR1MR) into ric?

[2016-01-28 19:53] josephdviviano commented on #396
Hi Navona,

We're currently storing the VIPR1MR study into 'VRMD' `data-2.0`:

    /archive/data-2.0/VRMD/data/nii

Have a look here -- does it appear like we have all of the subjects?

[2016-01-28 21:09] josephdviviano commented on #394
Actually Erin can you take care of this?

[2016-01-28 21:09] josephdviviano commented on #382
I finished what @pipitone started and `laplace` is good to go.

[2016-01-28 21:51] Navona-Calarco commented on #396
@josephdviviano wrong one :'((((

[2016-01-28 21:57] josephdviviano commented on #396
Hey @Navona-Calarco  you should be able to assign etc. now.

[2016-01-28 22:03] josephdviviano commented on #396
More clearly: @pipitone @edickie,

We've been asked to monitor an additional study: VIPR1MR. This means we need to:

- [ ] Set up passwordless access to the MR server for VIPR1MR
- [ ] Make the appropriate folders and files for this in `/archive/data-2.0`
- [ ] Set up a `run.sh` script for this study
- [ ] Reference this script in the master `run.sh` script so it is run nightly.

I'm going to assi

[2016-01-28 22:10] Navona-Calarco commented on #396
Thanks all!

[2016-01-29 17:05] pipitone commented on #379
We should have CAMH storage available by next week....

[2016-01-29 22:56] josephdviviano commented on #382
OK today I:

+ Reinstalled and (mostly) set up `mrsdti`. She sits in 108. Might need to reconfigure `sge` and `nis`, will investigate Monday.
+ Set up `milner` in 102.
+ Purchased mice for these machines, sourced monitors (stolen from other machines).

[2016-01-30 18:25] pipitone commented on #396
@edickie, let me know when you're getting started on this. I'll need to install `clevis`'s ssh key on the MR FTP server.

Actually, this is something we should discuss further at some point, since it's not absolutely necessary and cumbersome since it relies on me having admin access to the server (or getting Nancy et al. to do it for us). We could just store the user/pass in a file, like we do wit

[2016-01-30 18:26] pipitone opened #397 "Look into storing user/pass for the MR ftp server in a file, rather than ssh passwordless access"
See [this comment](https://github.com/TIGRLab/admin/issues/396#issuecomment-177267929) on #396:

[2016-01-30 18:49] pipitone commented on #380
I have a suggestion. Perhaps for information that's mostly okay to be shared publicly, we can continue to use the `admin` repo's wiki. There are several ways we could then go about converting the markdown to html/PDF for printing if needs be. We can use the T drive documents for stuff that absolutely can't be made public. I think this distinction might help us keep track of where our info is as we

[2016-01-30 19:22] josephdviviano commented on #380
@pipitone , why would we want to move to the tdrive?

[2016-01-30 19:30] pipitone commented on #380
@josephdviviano Right, I didn't explain that bit. In fact, I'm not strongly opinionated on where we put our private documentation, but I do think we it would help us to stay organized if we pick one place. I was using T drive in my last comment because I had meant to talk also about the documentation we already have there, and that perhaps the advantage to using the T drive is that others on the a

[2016-01-30 20:57] josephdviviano commented on #380
@pipitone gotcha. I could use a tour of that private stuff we have no the tdrive since I've never actually ventured there. I'd like to record all of that as part of #375.

[2016-01-30 21:12] pipitone commented on #380
You and me both. Since the Slaight centre start up, I haven't been able
to access our lab's so-called "shared" folder. And even before that, I
only used it to access the expense log.

[2016-01-30 21:19] josephdviviano commented on #380
OK I can do some fact finding on the

# 7th floor

┻━┻ ︵ヽ(`Д´)ﾉ︵ ┻━┻

[2016-01-30 21:20] josephdviviano commented on #375
Note to self: go to 7th floor to learn about our `shared` folder on the `tdrive`.

[2016-01-30 21:21] pipitone commented on #380
____  _   _ _   _     ____  _   _ _   _
    |  _ \| | | | \ | |   |  _ \| | | | \ | |
    | | | | | | |  \| |   | | | | | | |  \| |
    | |_| | |_| | |\  |   | |_| | |_| | |\  |
    |____/ \___/|_| \_|   |____/ \___/|_| \_|

[2016-01-30 21:27] pipitone commented on #397
I really hate saying we shouldn't use passwordless access. :-)  But, here'r a few ways to do it:

    sshpass -f /path/to/password/file.txt scp -r username@remote:/files /here/
    rsync --password-file /path/to/password/file.txt username@remote:/files/ /here/

[2016-01-30 21:38] pipitone opened #398 "Explore using XNAT to do header comparisons and other QC"
@edickie and I spoke briefly about how much stuff there is in XNAT to do quality control and analysis that we don't use. We have avoided binding ourselves too much to XNAT because of how gross it is, but at the same time, there may be some benefit of using some well-baked pipelines in XNAT because a) we don't have to maintain that stuff ourselves, and b) it makes it easy to share the results of th

[2016-01-30 22:17] Navona-Calarco commented on #380
I have access to the 'Kimel lab shared folders' folder. There's a number of MRI-related logs and tracking sheets for AV's studies (this data should also exist in a database somewhere), as well as old copies of the presceening database for Slaight that Jon and I worked on. There's also a 'Kimel Study folders' folder that is nearly empty. It seems like the expense log may have moved to 'Slaight-Kime

[2016-01-31 21:15] pipitone opened #399 "Some printer toners are low, submit help desk issue"
Filing this so we don't forget. The printer outside 101 is reporting that it low on black and yellow toner, we'll need to call help desk and let them know the issue and the printer OPS number (on the sticker on far right corner of the scanner bed).

[2016-02-01 14:27] navonacalarco opened #400 "Fix internet on 3660-MJ17YEM"
Filing this so we don't forget to follow up with IMG.

[2016-02-01 15:09] pipitone commented on #400
Thanks. I spoke to someone from IMG in person on Friday. They had no real ideas as to what is up so I'll follow up with a ticket. Navona, it's a long shot but you could try using the second IP address in the email I forwarded to you.

[2016-02-01 18:43] josephdviviano commented on #383
It has been a week and all is quiet. I'm closing this issue for now.

[2016-02-01 19:50] josephdviviano commented on #319
I'm not sure if this is still an issue. We have the following scans linked properly:

    /archive/data-2.0/COGBDY/data/nii/COGBDY_CMH_27B037_01/COGBDY_CMH_27B037_01_01_SPRL_00_20150709-093855-2015-0428-AC027-Restingstate-sprl.nii
    /archive/data-2.0/COGBDY/data/nii/COGBDY_CMH_27B038_01/COGBDY_CMH_27B038_01_01_SPRL_00_20150710-170738-2015-0707-PR031-Restingstate-sprl.nii

I'm going to go ahead a

[2016-02-01 19:50] #319 closed

[2016-02-01 19:55] josephdviviano commented on #386
I've fixed this bug (it was a url formatting issue ... didn't like the `#` sign) in this commit:

    https://github.com/TIGRLab/datman/commit/84665ff38ab29e70fba844084fd7f86d0374f21e

[2016-02-01 19:55] #386 closed

[2016-02-01 20:13] 7jw9 opened #401 "Tickety ticket"
@josephdviviano  Good luck closing this ticket.

![screen shot 2016-02-01 at 3 12 04 pm](https://cloud.githubusercontent.com/assets/8701034/12729774/56fc6654-c8f6-11e5-824e-41fe5b7a5a40.png)

[2016-02-01 20:27] josephdviviano commented on #399
order placed: reference number 14953529

[2016-02-01 20:28] #399 closed

[2016-02-01 22:17] josephdviviano commented on #401
![56fc6654-c8f6-11e5-824e-41fe5b7a5a40wwww](https://cloud.githubusercontent.com/assets/4142570/12733243/b64bbb8a-c907-11e5-874a-343a963a2ce8.png)

[2016-02-01 22:17] #401 closed

[2016-02-01 22:42] pipitone commented on #401
![b64bbb8a-c907-11e5-874a-343a963a2ce8](https://cloud.githubusercontent.com/assets/509382/12733852/21c141c0-c90b-11e5-8b6f-f574e0823774.png)

[2016-02-01 23:41] Navona-Calarco commented on #401
![default](https://cloud.githubusercontent.com/assets/13733654/12735138/57122eb8-c913-11e5-8326-80f4883ddaa8.png)

[2016-02-02 12:38] pipitone commented on #401
Well would you look at that. Just look at it.

        o
       /|\
       \|/
        |
       / \

[2016-02-02 14:50] edickie opened #402 "Fix the run_enigmadti.sh scripts so they run again"
All the engima dti has stopped running since we changed the qsub settings...

Need to nuke, rename or edit the run_engimadti.sh for each project to restart them..
Old /archive/data-2.0/ANDT/data/enigmaDTI/bin/run_engimadti.sh doesn't match parameters of this run....Exiting
#############################################################

# Found differences in /archive/data-2.0/ANDT/data/enigmaDTI/bi

[2016-02-02 16:25] josephdviviano commented on #184
Due to the current exchange rate, the 48 port option we were quoted for was too much. I've followed up asking for a 24 port quote.

[2016-02-02 16:37] josephdviviano commented on #391
From Vips RE: conversion software:

[2016-02-02 16:55] josephdviviano opened #403 "investigate RSFC of PACTMD_CMH_3060029_02"
Nancy L is all worried about some high frequency artifact. I've found a working example of said artifact in our data (PACTMD_CMH_3060029_02) and will use seed-based correlations to figure out if it has any meaningful impact on our analysis.

To do this, I'm going to:

- [x] turn on freesurfer analysis pipeline for PACTMD
- [x] turn on the resting state analysis pipeline for PACTMD
- [x] use AFNI's

[2016-02-02 18:25] josephdviviano commented on #382
I've finished setting up `mrsdti`.

[2016-02-02 18:30] josephdviviano opened #404 "add module commands to /etc/bash.bashrc in ansible"
The following lines need to be added to `/etc/bash.bashrc` in `ansible` for all work stations and compute nodes:

    source /etc/profile.d/modules.sh
    source /etc/profile.d/quarantine.sh

[2016-02-02 19:21] 7jw9 opened #405 "No module system on Laplace"
Wahhhh.

[2016-02-02 19:50] pipitone commented on #404
They shouldn't need to be. They get loaded in /etc/profile

[2016-02-02 20:13] navonacalarco opened #406 "shared files for SPN_01_CMH_0046 / VIPR_AA2101"
This is related to the _VIPR1 MRI (Foussias)_ ticket, but I thought different enough for a new issue.

Tomorrow, there's a participant being scanned for both SPINS and VIPR. Because there are shared acquisitions between studies, T2 Flair and DTI will be dropped from the ViPR scan.

However, the T2 Flair and DTI files will need to be added to the `/archive/data-2.0` folder that will be set up for V

[2016-02-02 20:40] edickie commented on #402
Deleted
ANDT/data/enigmaDTI/bin/run_engimadti.sh    PRELAPSE/data/enigmaDTI/bin/run_engimadti.sh
ASDD/data/enigmaDTI/bin/run_engimadti.sh    RTMSWM/data/enigmaDTI/bin/run_engimadti.sh
COGBDO/data/enigmaDTI/bin/run_engimadti.sh  SPINS/data/enigmaDTI/bin/run_engimadti.sh
COGBDY/data/enigmaDTI/bin/run_engimadti.sh  STOPPD/data/enigmaDTI/bin/run_engimadti.sh
PACTMD/data/enigmaDTI/bin/run_engimadti.sh

[2016-02-02 20:40] #402 closed

[2016-02-03 02:09] josephdviviano commented on #404
You're right... but strangely they weren't getting loaded before on `mrsdti`. However, now they are (I've commented out my additions to `/etc/bash.bashrc`. Strange. I'm going to chalk this up to Joseph brain.

[2016-02-03 02:09] #404 closed

[2016-02-03 02:10] josephdviviano commented on #405
Hi Julie,

Is this still a problem? I can see module through `ssh`, but I **was** having trouble with module before on `mrsdti`. It seems to be working now (again, through `ssh`).

[2016-02-03 02:13] josephdviviano commented on #406
Do we really need to do this? We can just maintain a file somewhere that records that these participants are the same person. @pipitone @edickie  what do you think?

[2016-02-03 14:45] edickie commented on #406
I think we need to do both...

1) copy (or link?) the files between the two projects so that processing
pipelines can access all the files it needs easily
2) create a file somewhere that keeps track of shared subjects

On Tue, Feb 2, 2016 at 9:13 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-02-03 14:58] josephdviviano commented on #406
@edickie , the reason I'm sceptical about the linking is because we'd essentially be processing the same data twice, and storing the outputs twice. We could also link the outputs, but that could get complicated. Also, if we do this and people aren't careful, they might think these linked copies of the data are novel scans (i.e., two different DTI scans on the same person) or even worse, two differ

[2016-02-03 14:58] josephdviviano commented on #405
@7jw9 :D

[2016-02-03 15:10] edickie commented on #406
@jdv,
1) I think we should link only the raw files (not the outputs) because
different projects might have versions of analysis software run on them...
2) Your concern these being interpreted as two different poeple is already
happenning. We create a more systematic to keep track of shared
participants to deal with this...

On Wed, Feb 3, 2016 at 9:58 AM, Joseph Viviano <notifications@github.com>

[2016-02-03 15:23] josephdviviano commented on #406
@edickie

1) is a good point.
2) Agreed about a systematic method.

@pipitone and I talked about maintaining a tracking file (like `scans.csv`, but for all projects at once), in which each line represents a single unique human, and each column represents a session for that person (something like this ... we could flip columns and rows if you would prefer):
[code]

On second thought, we could also

[2016-02-03 15:59] edickie commented on #406
I like option 2. Separate files in each project's metadata folder because:
1) there's an obvious place for us (as clevis) to look for the file
2) easier for version control
3) when somebody is combining data across multiple projects they can
concatenate each projects' external-links.csv files together (instead of
parsing the big file from option 1)

On Wed, Feb 3, 2016 at 10:23 AM, Joseph Viviano

[2016-02-03 16:09] pipitone commented on #400
It is done. I've also labeled the drops with the IP and GW/SM settings.

[2016-02-03 16:09] #400 closed

[2016-02-03 16:46] pipitone commented on #397
I've updated our [wiki page on creating a data-2.0 project]https://github.com/TIGRLab/admin/wiki/Creating-a-project-in-data-2.0) with the password file option described above. I've also included a way of using `sftp` directly without using `dm-sftp-sync.sh`. :-)

[2016-02-03 17:49] 7jw9 commented on #405
Yeah, @josephdviviano, still not working. Also, Amy's using that computer right now, and she can't load modules either.

[2016-02-03 18:05] josephdviviano commented on #405
@7jw9 confirmed. module works for my user `jdv`, but not `julie`. So profile.d isn't being sourced by all users.

[2016-02-03 18:07] 7jw9 commented on #405
Kewl

[2016-02-03 18:12] josephdviviano commented on #405
@pipitone , I'm pretty sure we need to tell machines to look at `profile.d` for non-login shells. On most of the machines I'm looking at, they have

[code]

in `/etc/bash.bashrc`.

According to [this](http://askubuntu.com/questions/438150/scripts-in-etc-profile-d-being-ignored), `profile.d` will only be sourced in login shells unless it is referenced in `bash.bashrc`, `~/.bashrc`, or similar.

[2016-02-03 18:14] josephdviviano commented on #405
ps @7jw9 and Amy:

As an interm fix, just put these lines in your ~/.bashrc:

[code]

[2016-02-03 20:47] pipitone commented on #405
@josephdviviano Yeah, it looks like you're right about `/etc/bash.bashrc` being necessary for X11 terminals. I had thought `/etc/profile` was read when `lightdm` starts up, but apparently not. I suspect `gdm` and other display managers might read `/etc/profile` (since it's supposed to be for login shells...).

In any case, I added the `source` lines to `/etc/bash.bashrc` in our 'quarantine' role i

[2016-02-03 20:47] #405 closed

[2016-02-03 23:15] navonacalarco commented on #383
@josephdviviano @pipitone @edickie

Nancy stopped by the ViPR scan and noticed that the spiral artifact is present, especially in inferior parietal areas. This is likely also the case for the former (i.e., first) ViPR scan.

[2016-02-03 23:25] josephdviviano commented on #383
Thanks @navonacalarco

[2016-02-03 23:27] josephdviviano commented on #383
This issue (#403) is how I plan to evaluate if this artefact is meaningful or not. I haven't seen any evidence yet that it actually effects the data after pre-processing. In fact, no one has (according to Nancy). I don't think trying to visually identify 'bad scans' by eye with the raw data is very useful until we can determine that it effects the pre-processed data.

[2016-02-03 23:28] josephdviviano commented on #396
@edickie probing you to see how this is going -- due to the 'spiral artefact' débâcle, it would be good to run these resting-state data through datman.

[2016-02-04 01:24] navonacalarco commented on #383
Thanks @josephdviviano

[2016-02-04 15:31] josephdviviano opened #407 "Move XNAT to CAMH network"
We have a static CAMH IP that we can host XNAT on ... should make it easier for outside folks (#186 for more info).

[2016-02-04 16:33] josephdviviano commented on #302
@pipitone @edickie behold dm-reslice.py : https://github.com/TIGRLab/datman/commit/36f7b9141abf266445a5c04dedcb7e7391b3cbd6

Example usage here: `/archive/data-2.0/DTI/CMH/bin/run.sh`

I've fixed this in DTI/CMH and PACTMD. We should add this to any other run script that needs it going forward (might also want to re-run enigma  etc for these experiments).

[2016-02-04 16:35] #302 closed

[2016-02-04 17:05] edickie opened #408 "http://imaging-genetics.camh.ca/ is dead jim"
I cannot get there from my machine..

[2016-02-04 17:20] edickie opened #409 "Matlab license not loading..."
We get there errors in the run script logs...

License checkout failed.
License Manager Error -18

[2016-02-04 18:10] josephdviviano commented on #184
Quote received and is in our budget. However we are moving to the CAMH network, so we need to make sure the switch can be managed by CAMH IT. I'm going to try to figure out which management interface we're used to using, and then buy a 24 port item of that kind.

[2016-02-04 18:37] josephdviviano commented on #409
Hi Erin,

Which version of MATLAB? Can you module load this version manually?

[2016-02-04 18:54] navonacalarco commented on #255
Can someone add the login info to Passpack for this?

[2016-02-04 19:02] josephdviviano commented on #375
[code]

[2016-02-04 19:05] edickie commented on #409
I tried this manually

We get a licensing error for all of our versions of matlab

On Thu, Feb 4, 2016 at 1:37 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-02-04 19:07] josephdviviano commented on #409
Hi Erin, can you ensure the license server is active? I believe it runs on Kimsrv though I would have to check for myself.

[2016-02-04 19:08] josephdviviano commented on #184
Jon is going to take this over since we need to find more money to buy a new CAMH compatible switch. We're going to migrate off of the PET network.

[2016-02-04 19:10] josephdviviano commented on #340
Alumni partition is full, waiting for Anne and Julie to finish working so we can finally remove their projects folders. This will need to wait until we have the storage solution in place with CAMH, since we're low on space.

[2016-02-04 19:11] pipitone commented on #408
I've just written to Alan about this issue.

[2016-02-04 19:12] josephdviviano commented on #408
#（╯°□°）╯︵(\ .o.)\

[2016-02-04 19:33] pipitone opened #410 "Replace UPS battery for tesla"
Currently @colinhawco is running matlab on `tesla`, but after that's done we can replace the battery on the UPS. I've put the replacement battery on the desk above `tesla`

@colinhawco, please let us know when you're done with `tesla` and can shut it down.

[2016-02-04 20:13] josephdviviano commented on #408
We've fixed access within the RIC network. Jon has sent out a missive to Alan Tang RE: the infinite redirect when attempting to access the site from within CAMH's network.

Since this redirect problem is a long-standing issue, I'm going to close this ticket. It might be unresolvable.

[2016-02-04 20:13] #408 closed

[2016-02-04 20:15] pipitone commented on #307
I'm going to close this. It doesn't seem like it's urgent or anything.

[2016-02-04 20:15] #307 closed

[2016-02-04 20:18] pipitone commented on #379
Okay, access to the CAMH storage is partially working -- user IDs are still a little wacky. I've got mount information in a separate playbook `camh-storage.yml`, and I've added a few of the relevant hosts into `roles/common/templates/hosts.j2`, but none of this is committed yet.

[2016-02-04 20:39] edickie commented on #409
Sooo...Do you think all of Colin's Matlab jobs are just exhausting the license???

[2016-02-04 20:48] josephdviviano commented on #409
It could be. Is the license server active?

[2016-02-04 20:53] josephdviviano commented on #255
Hi Navona, sure. I'm looking at this now, and it seems like the owner of the project is

# Pipitone

@pipitone , I've made a zotero account for the lab (username `tigrlab`, password in passpack). Could you make this user the owner of the tigrlab group?

[2016-02-04 20:57] pipitone commented on #410
Done.

[2016-02-04 20:57] #410 closed

[2016-02-04 20:58] edickie commented on #406
@navonacalarco just setting this up... Can you clarify which are to be linked?
We have a scan for AN2101...but this subject has T2 and DTI scans already.

Also, is there supposed to be Spiral scans in this protocol?? We didn't get any from AN201

[2016-02-04 21:07] edickie commented on #406
wait sorry - there's a ton of spirals...I see them now

[2016-02-04 22:55] josephdviviano commented on #409
Hi @edickie, @pipitone, looks like this problem is larger than I originally thought.

What I know:

+ on `kimsrv`, the `/etc/rc2.d/S98lmgrd`file AND folder don't exist.
+ on `kimsrv`, we get the following error when attempting to start the license server:

[code]

+ Note that this is very strange because the file specified by the license server start script, `/opt/quarantine/matlab/matlab_concurre

[2016-02-05 00:13] navonacalarco commented on #406
@edickie The DTI and T2 flair acquisitions for SPN_01_CMH_0046 need to be copied into VIPR_AA2101 (same participant, scanned same day for both SPINS and ViPR; the DTI and T2 were dropped from ViPR as they were already done for SPINS).

If there's already DTI and T2 scans there, perhaps that was something that the Imaging Centre (tech: Gary) did for us? He didn't mention doing so, though, so could

[2016-02-05 03:01] pipitone commented on #409
I haven't touched kimsrv in a while, but let me know if you'd like a second set of eyes on any of this. I'm not that familiar with MATLAB license servers -- and certainly not with the mess in quarantine. I have only done this once before.

[2016-02-05 14:50] edickie opened #411 "last two MRC DTI scans looks like crap"
They both has a huge zebra print like distortion..don't know if this is worth an email or leaving to the next conference call??

[2016-02-05 14:52] josephdviviano commented on #411
Hi @edickie , good catch. We should send out some emails ASAP and then follow up on the call. I'll be in soon and we can look at it.

[2016-02-05 14:52] #411 closed

[2016-02-05 14:54] josephdviviano commented on #409
HI @pipitone , thanks for the offer.
![wanted-someone-to-go-back-in-time-with-me-this-is-not-a-joke-youll-get-paid-after-we-get-back-must-bring-your-own-weapons-i-have-only-done-this-once-before-safety-not-guaranteed-a1](https://cloud.githubusercontent.com/assets/4142570/12849567/4b96117a-cbee-11e5-85b2-d8db02ba9e99.png)

I wouldn't mind a full rebuild of matlab so we A) actually know wtf is going

[2016-02-05 15:01] edickie commented on #409
Hi guys. Is Colin's bazinga still running? If so we might want to hold off
on this issue until it finishes...

On Fri, Feb 5, 2016 at 9:54 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-02-05 15:03] josephdviviano commented on #409
@edickie  I'll look into it, but I'm pretty sure he's running PLS on the SCC.

[2016-02-05 15:37] pipitone commented on #409
@josephdviviano what's funny is that appended that same image to my message, but apparently github doesn't transfer images over email to issue comments.

Another thought, if you want to go down this route, is to find out from David/Andy about how to have matlab authenticate with the SCC license server...

[2016-02-05 15:39] pipitone commented on #379
Despite user id's not being handled correctly, I am going ahead with syncing `/alumni` to `tigrsrv:/mnt/tigrlab` (which is our 100T CAMH storage blob). After that's done, I'll sync `/external`.

[2016-02-05 15:40] pipitone commented on #365
I'm going to wait on this because in ~month we'll have to revisit email again since we'll be under the CAMH network...

[2016-02-05 20:50] josephdviviano commented on #185
I ordered the wrong thing. @pipitone will take care of this.

[2016-02-05 21:01] edickie commented on #398
So we turned on the QC pipeline for some test cases but I don't see any outputs anywhere...lolz

[2016-02-05 21:03] edickie commented on #396
This is mostly set up.. Scans for the first subject are in all transfered. I'm going to check this again after talking to navona about some protocol stuff than set up the gold standards on Monday

[2016-02-05 21:25] josephdviviano commented on #185
+ SFP downstairs is single mode (fyi: yellow cable == single mode, orange cable == multimode).

I believe we need this SFP: Dell Networking Transceiver SFP 1000BASE-LX 1310nm Wavelength 10km Reach
http://accessories.us.dell.com/sna/productdetail.aspx?c=us&l=en&s=fed&cs=16&sku=331-5309

@pipitone you might want to double check all of this ;)

Dell Part# : 331-5309 <-- suggests this alternative...:

[2016-02-08 15:50] arash-n opened #412 "COGBDY/COGBDO"
Hi Guys,

Does anyone know if there is an uptodate log file including the basic demographics of COGBDY/COGBDO subjects (age, sex, and handedness)?

Cheers,
Arash

[2016-02-08 15:52] edickie opened #413 "New tag for VIPR fMRI task??"
Hi guys,

The VIPR study has 6-runs for a virtual navigation task that are being collected using spiral BOLD imaging. Should we leave these are a SPRL tag or change things up to give them a new tag?? I'm acutally in favor of the later so that they are not confused with spiral rest, but maybe with something in the tag to remind us that they are spirals??

VN-SPRL?

[2016-02-08 16:21] josephdviviano commented on #403
![dmn_pactmd_cmh_2060029_02](https://cloud.githubusercontent.com/assets/4142570/12891453/0d8b93cc-ce56-11e5-997d-be7b4ef87bfd.png)

Instacor results for PACTMD_CMH_3060029_02 look good. Follow up spiral in vs out vs combined analysis is next up.

[2016-02-08 16:23] josephdviviano commented on #412
Hey @navonacalarco  ... would you know how to check this?

@arash-n -- if there aren't demographic data in data-2.0 (did you check?) I'm at a loss.

[2016-02-08 16:24] josephdviviano commented on #413
@edickie do they also have resting-state scans?

[2016-02-08 16:34] edickie commented on #413
No, I'm more concerned with down the line (i.e. if someone wants to pool SPRL scans across multiple studies) that they are not confused with the resting SPRL scans in the system..

[2016-02-08 16:35] josephdviviano commented on #409
I've contacted Mathworks for instructions... here they are:

Hello Aristotle,

From your license file it appears that you have already configured a network license server.  Is that correct?  If so I should mention that this is our normal configuration and the only one for which we have instructions.  If you're looking for a way to have MATLAB available without actually installing it locally on eac

[2016-02-08 16:43] josephdviviano opened #414 "Figures for SA"
Produce these t-maps for Friday:

Easiest are following...exactly same tmapping as done before:

1. new figure for the  positive association between adaptive functioning and FA. The correct tstat file is in(only file in there GAFAC_5000):
/projects/stephanie/home/AllDx_mnN_01.16/stats/ForIMAGES/

2. new figure for differences found between
ASD <controls and ADHD < controls
files found in:
/project

[2016-02-08 16:48] arash-n commented on #412
There are  excel sheets that was relatively out of date at:
/archive/data-2.0/COGBDY/metadata/raw/

/archive/data-2.0/COGBDO/metadata/raw/

[2016-02-08 16:50] josephdviviano commented on #409
todo:

- [ ] Contact Chris Finley with MAC address of `tigrsrv` to get license file.
- [ ] Install FLEXNET on `tigrsrv`.
- [ ] Convert MATLAB licenses over to new configuration using [this guide](http://www.mathworks.com/matlabcentral/answers/95190) / Install MATLAB over network with [this guide](http://www.mathworks.com/matlabcentral/answers/106003)

[2016-02-08 17:45] josephdviviano commented on #413
@edickie that's a good point. the tag could even be something as generic as 'TASK'. To be fair, I don't think that 'SPRL' should ever imply resting state either, but that does not mean we need to rename all of those files across all of the studies.

@pipitone , thoughts?

[2016-02-08 17:49] pipitone commented on #413
+1

[2016-02-08 18:33] arash-n commented on #412
I basically need the age/sex of these subjects:

B036, B039, B040, B041, B042, B044

[2016-02-08 18:35] navonacalarco commented on #412
@arash-n

I'm at QS right now; I asked the COGBD RA and she's pulling it.

[2016-02-08 18:46] navonacalarco commented on #412
@arash-n I set you an email with the data! :)

For next time, I was told to tell you we have to fill out a Data Request form (I'll try to find a copy) and email it to the GMHP manager, Lillian. This is the case because this study is being managed by Geriatrics, not Kimel/ Slaight.

I believe Melissa and Laura have done this before, so they could tell us more about how that works and what the timel

[2016-02-08 18:57] #412 closed

[2016-02-08 20:36] josephdviviano commented on #403
The 4 candidate files to test (spiral in, out) are at `/projects/jdv/data/spiral-hf-artifact`

[2016-02-08 20:38] josephdviviano commented on #409
I just renewed the 3 concurrent licenses with Chris Finley (he can be found in Robarts Library, ground floor). These 3 concurrent licenses work with the TAH licenses.

[2016-02-08 21:11] navonacalarco commented on #413
+2

[2016-02-08 21:40] josephdviviano commented on #413
doooooooo it

[2016-02-09 15:24] josephdviviano commented on #376
Scan completed emails are now administered via tigrlab@camh.ca. I've added the login info to passpack.

[2016-02-09 15:47] josephdviviano commented on #376
tigrlab@camh.ca is also on all of the google groups mailing lists. however because it isn't a Google account, it cannot manage the group. Joseph and Erin's emails are now owners of all groups.

[2016-02-09 15:57] josephdviviano commented on #376
I'm forwarding all 1657 'scan completed' or xnat related emails to tigrlab.ca so we have a shared copy of these files somewhere.

[2016-02-09 18:55] josephdviviano commented on #376
I've made a tigrlab@camh.ca account for xnat -- all emails will now only be sent to this address.

[2016-02-09 19:02] #376 closed

[2016-02-09 19:03] josephdviviano commented on #396
@edickie where are we at with this?

[2016-02-09 20:46] edickie commented on #406
links added to VIPR/data/nii/VIPR_CMH_AA2102_01
lrwxrwxrwx 1 clevis clevis      111 Feb  9 15:30 VIPR_CMH_AA2102_01_01_DTI60-1000_16_Ax-DTI-60plus5-20iso.bval -> /archive/data-2.0/SPINS/data/nii/SPN01_CMH_0046_01/SPN01_CMH_0046_01_01_DTI60-1000_16_Ax-DTI-60plus5-20iso.bval
lrwxrwxrwx 1 clevis clevis      111 Feb  9 15:30 VIPR_CMH_AA2102_01_01_DTI60-1000_16_Ax-DTI-60plus5-20iso.bvec -> /archive/dat

[2016-02-09 20:46] #406 closed

[2016-02-09 20:47] edickie commented on #413
Done - as a hack I created dm-link-vm-sprl.sh which links with a new tag... Looks like it is working fine.

[2016-02-09 20:47] #413 closed

[2016-02-09 20:54] edickie commented on #397
Reopening - this is working when I copy the commands into a terminal but not when I bash run.sh :(

Therefore - nightly downloads from VIPR aren't working yet...but I can do them manually from time to time...

[2016-02-09 21:07] navonacalarco commented on #397
Until this is working, I can can cc you on the scan completed email (which I think you already see via tigrlab@camh.ca?). There will only be 2 MRIs per month.

:)

[2016-02-09 21:20] edickie commented on #396
Pretty much done.. All the task-spirals are transfered if @josephdviviano wants to activate a pipeline for them...

We have two issues:
1) the connection to the PET is not working inside the run script (I re-opened issue #397)
2) the PDT2 file is not splitting...(dm-proc-split-pdt2.py keeps exiting with errors)

[2016-02-09 22:03] edickie commented on #396
PDT2 issue is solved..closing this..

[2016-02-09 22:34] josephdviviano opened #415 "Blacklist and remove all data for PACTMD_CMH_3060030_01_01 from data-2.0"
All data compromised by incidental finding.

[2016-02-10 18:09] josephdviviano opened #416 "Install minc-toolkit (?)"
If there is a need, or @pipitone wants.

[2016-02-10 18:15] edickie commented on #415
Just to check...were we explicitly told to blacklist this subject?? The email chain about the IF still looks inconclusive..

[2016-02-10 18:21] josephdviviano commented on #415
I'm not sure. Sounds like they suggested fMRI signal dropout and FA dropout in that quadrant of the brain, which means ppl wouldn't want to use this participant in their analysis, but maybe it makes sense to hold off. What do you think?

[2016-02-10 18:22] edickie opened #417 "weird spiral SNR dropout for PACTMD_CMH_3060034_01"
There's a diagonal line of lower SNR going through the spirals...only for this participant as far as I can tell...

P.S. check out the results on my kewl new beta qc pages
firefox /scratch/edickie/qc_pactmd/PACTMD_CMH_3060034_01/qc_PACTMD_CMH_3060034_01.html

[2016-02-10 18:25] josephdviviano commented on #417
Hey @edickie : this new QC interface is really awesome!

Good catch. This SNR plot can really be useful. The SNR dropout is totally invisible in the raw data. I'd email Nancy about this one and attach the image.

PS -- can we look into changing the .jpeg encoding of the images to be higher quality? The images look pretty grainy.

[2016-02-10 18:58] edickie commented on #417
@josephdviviano the images are .png by default...the grainyness might be either bad scan quality...or maybe matplotlib is doing something funny??

[2016-02-10 19:01] josephdviviano commented on #417
@edickie it really looks like a compression artifact to me ... Ill take a look at it! Feel free to close this ticket after emailing Nancy.

[2016-02-10 19:02] josephdviviano opened #418 "Look into .png compression for the qc.py datman module (matplotlib)"
qc.py is producing some funny compression artifacts in Erin's QC webpages. Likely due to a rendering stage (I suspect there are multiple stages, any of which could produce the artifact).

[2016-02-10 19:15] edickie commented on #418
actually the .png are created by  qc-html.py (I created a new file so that it wouldn't mess with qc.py functionality while I built stuff up..)

[2016-02-10 22:20] josephdviviano commented on #409
OK -- I've got it all working.

License server now live on `tigrsrv`. It can be launched on `tigrsrv` using the command:

    /opt/quarantine/matlab/license-manager/matlab-license-manager start

Hopefully I've left enough `README.md`s around that if we ever need to do this again in the future, the process will be straightforward.

[2016-02-10 22:20] #409 closed

[2016-02-10 22:55] josephdviviano opened #419 "Upload TXS 38005, 38008, 38009 DICOM data for DTI scans to XNAT"
`/projects/jdv/prelapse\ data`

[2016-02-10 22:57] josephdviviano commented on #383
I'm going to deal with this via #403

[2016-02-10 22:57] #383 closed

[2016-02-10 22:57] josephdviviano commented on #403
+ also investigate recent VIPR scans.

[2016-02-11 15:07] navonacalarco commented on #396
Hey guys,

Can I just confirm - once more - that running these resting-state data through datman resolved the 'spiral artefact' débâcle?

In meeting with GF and he asked for confirmation.

Thanks!

[2016-02-11 15:37] josephdviviano commented on #396
Hey @navonacalarco , no evidence so far that these artifacts are anything to worry about.

[2016-02-11 15:37] #396 closed

[2016-02-11 15:47] josephdviviano opened #420 "condense / eliminate old quarantines"
Right now, we have 3 quarantines on `tigrsrv`:

+ `/export/quarantine`
+ `/export/quarantine2`
+ `/export/quaranine-nouveau`

@pipitone , can you merge anything we need from `quarantine` and `quarantine2` into `quarantine-nouveau` so we can remove these old quarantines (and maybe rename `quarantine-nouveau` to be just `quarantine`.)

Thanks :D

[2016-02-11 16:07] josephdviviano opened #421 "change all run.sh scripts to point to new matlab names"
I'm going to run with `R2014a`

[2016-02-11 16:15] edickie commented on #421
Cools - I remove the matlab call from most of them yesterday.. I only think
the multisite one's are actually using it (for phantom qc?)

On Thu, Feb 11, 2016 at 11:07 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-02-11 17:03] pipitone commented on #420
Nouveau is all we need. :-)

[2016-02-11 17:09] josephdviviano commented on #414
To generate these images in `afni`, I need to concatenate the tstat (colormap) and pvals (thresholds) like so:

    3dTcat -prefix stats.nii.gz GAFAC_5000_tstat1.nii.gz GAFAC_5000_tfce_corrp_tstat1.nii.gz

These p-value images are 1-p, for plotting convenience, so any value over 0.95 is significant.

[2016-02-11 17:15] josephdviviano opened #422 "Take care of the massive epitome merge with all of Erin's additions"
# (▰˘◡˘▰)

[2016-02-11 17:16] josephdviviano commented on #420
Can i delete `quarantine` and `quarantine2`?

[2016-02-11 17:48] #421 closed

[2016-02-11 20:41] pipitone commented on #420
Yup.

[2016-02-11 20:45] josephdviviano commented on #414
Figures done.

[2016-02-11 20:45] #414 closed

[2016-02-11 20:46] josephdviviano commented on #420
Just wondering why they were kept around? Not sure if you're being cryptic.

[2016-02-12 00:16] pipitone commented on #420
No not being cryptic; there isn't a good reason we have kept the old quarantine around this long. Originally we kept it just in case we needed something from it after the upgrade.

[2016-02-12 00:44] sabashahab opened #423 "Update whitematteranalysis"
Hi sudoers,

Can one of you please update whitematteranalysis/latest? Lauren has added a new function that I think would be useful for my analyses. This is where the code is stored: https://github.com/ljod/whitematteranalysis

Thanks!

[2016-02-12 01:29] josephdviviano commented on #420
Hey @pipitone , thanks, just wanted to double check before I did something stupid :)

[2016-02-12 01:30] josephdviviano commented on #423
Hi @sabashahab , OK, I'll look at this soon.

[2016-02-12 01:30] josephdviviano opened #424 "Colin needs a new epitome module for his analysis"
reference: https://github.com/josephdviviano/epitome/issues/41

[2016-02-12 01:33] sabashahab commented on #423
Thank you Joey D! :)

[2016-02-12 02:45] edickie commented on #424
You can just link to the MNI space freesurfer masks in the HCP outputs...
On Feb 11, 2016 8:30 PM, "Joseph Viviano" <notifications@github.com> wrote:

[2016-02-12 03:15] josephdviviano commented on #424
Could you elaborate? Why is HCP also creating tissue masks? I though that was the freesurfer stage.

[2016-02-12 03:18] edickie commented on #424
The hcp pipeline exports freesurfer masks and transforms them to MNI space.
It uses them to define the subcortical structures for cifti space.
On Feb 11, 2016 10:15 PM, "Joseph Viviano" <notifications@github.com> wrote:

[2016-02-12 03:19] josephdviviano commented on #424
Ah, but this would happen after we might want them. For example, if we want to use them for tissue-based noise regression.

Maybe it would be good for me to build this module (it's extremely simple) and then your HCP module can depend on it?

[2016-02-12 03:27] edickie commented on #424
Technically, (in my current hcp version) the T1 registration to MNI space
(and resampling of freesurfer masks) is run prior to init_epi.
On Feb 11, 2016 10:19 PM, "Joseph Viviano" <notifications@github.com> wrote:

[2016-02-12 03:41] josephdviviano commented on #424
Hi Erin, OK, that doesn’t sound very modular, so I'll have to tackle that when I try to merge this stuff.

[2016-02-12 15:06] edickie commented on #417
Crap....

So, I realized, as I was testing qc-html.py that their was a bug in the run script that meant that the SPRL QC was never added to the qc pdf (because spirals were being linked the day after the qc.pdf was generated...).

Anyway...this is quite bad... because now that I am looking at the SPRL qc for all of PACTMD and the SNR dropout artifact is present in the majority of these scans... :(

[2016-02-12 16:19] josephdviviano commented on #423
Updated into latest, I've also clarified the installer README.

[2016-02-12 17:05] josephdviviano commented on #420
OK, I'm going through quarantine2 module by module and moving anything we don't have in quarantine over. The rest is getting deleted.

I've also linked /export/quarantine to /export/quarantine-nouveau. It would make sense to change the paths in the module files to use /opt/quarantine instead of quarantine-nouveau.

[2016-02-12 17:36] #420 closed

[2016-02-12 17:39] josephdviviano opened #425 "Trouble removing quarantine2 logical volume"
I've recently removed the old quarantine here (#420) and moved some data into our new quarantine, for review. To finish the job, I've attempted to remove the logical volume that contained quarantine2 using the following commands:

    # deactivate LV
    lvchange -an /dev/vg_volumen0/lv_quarantine2
    # remove LV
   lvremove /dev/vg_volumen0/lv_quarantine2

But I got some errors I'm uncomfortable

[2016-02-12 17:40] pipitone commented on #420
Great. Though, We likely don't need anything in quarantine2 I'm pretty sure. We haven't used it in a year and a half.

 all modules point to /opt/quarantine already.

[2016-02-12 21:53] josephdviviano opened #426 "We need a clinical DICOM image packager"
As part of `datman`, we need a clinical DICOM packager that would include (if available) the T1, T2 / FLAIR, and PD images for each subject in DICOM format.

I propose:

+ to wrap this into `xnat-export` as a separate exportinfo column (say, `export_clin`)
+ this dumps the appropriate DICOM folders from xnat into a folder under `data/clinical-dicoms`
+ zips them up using a randomly-generated passw

[2016-02-12 21:54] josephdviviano commented on #423
There's another update from Lauren that needs to be pulled (waiting to hear from @sabashahab  on when the changes are pushed to github).

[2016-02-13 01:06] pipitone commented on #426
What's the use case here? Is this for when we need to transfer data we have these zips at the ready?

Is it worth storing vs generating when needed with a single-use password?

[2016-02-13 03:10] josephdviviano commented on #426
Apparently for some studies the MDs will want  the scans for every subject. This will only be for a few studies and just the anatomicals so I figured the hard disk demands would be low. On demand would work as well, I'm just trying to avoid chores (at the cost of hard disk space).

[2016-02-13 05:40] sabashahab commented on #423
Update: Changes have been pushed to github.

[2016-02-16 16:29] josephdviviano opened #427 "Run lmgrd matlab liscense server as a service on tigrsrv :)"
https://www.youtube.com/watch?v=oTz93Y-qeq0

[2016-02-16 16:55] josephdviviano opened #428 "fBIRN measures for DATMAN / SPINS"
Here are some of our existing fBIRN and FWHM comparison plots for (left to right): CAMH_ge, Sunnybrook_ge, Toronto Western_ge, Baycrest_siemens, London-Western_siemens, Queens_siemens. The FWHM results suggest that a lot of the SNR differences are driven by the differential smoothness effects with GE having much smoother images than Siemens.

Let me know if you are interested in including your fBI

[2016-02-16 17:15] josephdviviano opened #429 "Follow up on Strother's suggestions for RSFC analysis"
HI Joe - Really interesting approach and results. I believe we may have done something simpler but similar in CAN-BIND using individual run, task-SPMs and PCA, which shows conforming and nonconforming sites and scans quite nicely. You have replaced the SPMs with your lexigraphically ordered correlations, and then used hierarchical clustering instead of PCA. I will be interested to see if the clust

[2016-02-16 21:17] josephdviviano opened #430 "Set up SFTP server on Kimsrv"
We need some way of getting the PACTMD DICOMS from #426 out to the rest of the world.

According to @pipitone, the CAMH SFTP service is upload only. Therefore we will need our own so people can download our (password protected) DICOM files.

[2016-02-16 22:54] josephdviviano commented on #419
Uploaded, in all cases, as a repeat scan (`02`).

[2016-02-16 22:54] #419 closed

[2016-02-16 23:24] josephdviviano opened #431 "Clean up PRELAPSE on XNAT"
The prelapse xnat project is generally a mess. I need to

- [x] : Change all files to begin with `PRE01`
  - [X] : MCH
  - [X] : IWA
  - [X] : MAS
  - [X] : NWN
  - [X] : GRD
  - [X] : CTN
- [X] : Delete data in `/archive/data-2.0` so `run.sh` will generate files with the correct names
  - [X] : MCH
  - [X] : IWA
  - [X] : MAS
  - [X] : NWN
  - [X] : GRD
  - [X] : CTN

[2016-02-17 00:12] #431 closed

[2016-02-17 00:42] josephdviviano opened #432 "Preprocess RSFC data for Nick"
He needs all of:

+ STOPPD II
+ COGBDO
+ DTI3T

Run through epitome with whatever settings we used on his SOBP abstract.

Next, we need seed-based correlations from the 12 ROIs defined in Di Martino et al 2008 Cerebral Ctx.

[2016-02-17 00:42] josephdviviano commented on #417
Nancy's on this one, our work is done here. Thanks Erin.

[2016-02-17 00:42] #417 closed

[2016-02-17 15:30] pipitone commented on #430
Before I set this up I'll need a few more details: which users will need access to this? Is it SFTP absolutely or are they fine with SSH/SCP access?

Alternative idea: can we instead give them an XNAT user account and have them download the zip files directly through XNAT (either by using the default XNAT zip download where they can select the series they are interested in, or by posting up custom

[2016-02-17 15:36] pipitone commented on #379
I'm closing this issue for now as I've been able to backup `/alumni` `/archive` and `/external` to CAMH storage. Effectively:

[code]

[2016-02-17 15:36] #379 closed

[2016-02-17 15:37] pipitone commented on #345
Holding off on this now since CAMH storage is ready and I'm backing `/data` up (see #379). We will need to rethink our storage/backup situation now that we have this option.

[2016-02-17 15:37] #345 closed

[2016-02-17 15:46] pipitone commented on #255
Done.

[2016-02-17 15:46] #255 closed

[2016-02-17 15:49] pipitone commented on #184
CAMH IT is going to send us infos on a switch to buy.

![oh yeah](http://comps.canstockphoto.com/can-stock-photo_csp17917062.jpg)

[2016-02-17 16:38] josephdviviano commented on #418
I think this is because, when moving `fig.savefig()` from filetype `pdf` to `png`, the program is automatically setting a particular resolution of the image, which introduces aliasing. To overcome this, I've explicitly set the image DPI to 144, which should be fairly large.

See commits https://github.com/TIGRLab/datman/commit/28d5346ef3d81657002b9e025e339f1fd9887900
and https://github.com/TIGRLab

[2016-02-17 16:38] #418 closed

[2016-02-17 16:47] josephdviviano commented on #425
According to this: http://serverfault.com/questions/266697/cant-remove-open-logical-volume

We can use `dmsetup info -c` to see all logical volumes:

[code]

[2016-02-17 18:23] navonacalarco commented on #430
Hi guys,

I don't know anything about this officially, but I was in a meeting the other day when this issue was discussed (I think). It sounded like, for PACTMD, Dr. Rajji needs to send T1 and T2 scans to the participant's respective physicians. He asked Lillian Lourenco, the Geriatrics manager, to look into getting this set up. As Kimel is managing PACTMD's data, I gave her @josephdviviano and @p

[2016-02-17 20:35] pipitone commented on #430
Thanks Navona.

Looks like we will go the XNAT route then, and perhaps make some
instructional videos to help people navigate XNAT and download.

[2016-02-18 15:46] josephdviviano opened #433 "Spec out + buy CFI workstations"
We need to buy <= 9 workstations from CFI by Dec. Would be good to place order soon.

Total amount: 102852; in kind 35673.

Specs
--------
+ Intel® Xeon® Processor E5-2650 v3 (10C, 2.3GHz, Turbo, 25M) **MEGA**
+ NVIDIA® Quadro® K2200 4GB (2 DP, DL-DVI-I) (1 DP to SL-DVI adapter)
+ 32GB (4x8GB) 2133MHz DDR4 RDIMM ECC
+ 256GB 2.5" Serial-ATA Solid State Drive
+ 5 Year Hardware Service

Dell
-----
+

[2016-02-18 18:40] josephdviviano commented on #425
Looks like I can't deactivate multipathing on HAL easily.

I've filtered `sdp` and `sdm`, and regenerated initrd. However, I don't really think it is worth any downtime to resolve this issue (the final step is to reboot tigrsrv), so I'm going to label this as 'maintenance' and unassign it. This should be done next time we go down for some sort of maintenance.

[2016-02-18 18:54] josephdviviano commented on #427
On `tigrsrv`:

    cd /etc/init.d
    sudo ln -s /opt/quarantine/matlab/license-manager/matlab-license-manager matlab-license-manager
    sudo ln -s /etc/init.d/matlab-license-manager /etc/rc2.d/S99matlab-license-manager

Should work...

[2016-02-18 18:54] #427 closed

[2016-02-18 18:55] josephdviviano commented on #67
I'm going to close this because @pipitone and I have decided to abandon the APC things.

[2016-02-18 18:55] #67 closed

[2016-02-18 18:56] josephdviviano commented on #92
@pipitone are any of our servers on UPSs? I know `tigrsrv` isn't, but `hal` has this built in. That leaves `kimsrv`.

[2016-02-18 18:57] josephdviviano commented on #423
@sabashahab we good to do this?

[2016-02-18 19:28] josephdviviano commented on #429
The only really substantial thing here is Strother's `phycaa` module, which I've added to the quarantine as `phycaa/plus-110914`

[2016-02-18 19:28] #429 closed

[2016-02-18 19:33] josephdviviano commented on #415
OK, we'll leave this subject in the pool for now.

[2016-02-18 19:33] #415 closed

[2016-02-18 20:33] josephdviviano commented on #423
Ah, I see, missed your comment (would be good to put @josephdviviano in your reply) -- I've pulled the changes.

[2016-02-18 20:33] #423 closed

[2016-02-18 20:36] pipitone commented on #92
kimsrv is, yes.

[2016-02-18 20:42] josephdviviano commented on #92
I'm not sure this is possible on our ESXI system http://serverfault.com/questions/462993/vmware-esxi-shutdown-triggered-by-apc-ups-connected-via-usb

[2016-02-18 20:42] #92 closed

[2016-02-18 20:47] josephdviviano commented on #156
I think we'll close this for now.

[2016-02-18 20:47] #156 closed

[2016-02-18 20:49] josephdviviano commented on #200
I'm willing to live with having to reconfigure this one with the occasional power outage. Unassigned.

[2016-02-18 20:49] #200 closed

[2016-02-18 23:09] josephdviviano commented on #422
@edickie awesome work Erin.

Also, wasn't even that hard to merge. Amazing! It's all there now. We can chat soon about any future pull requests.

[2016-02-18 23:09] #422 closed

[2016-02-19 15:52] josephdviviano commented on #311
I'm going to refocus this: 3. from the list above suggests we need to disable 'ReadAhead'. Something like `MegaCli -ldsetprop nora -lall -a0`... might work.

[2016-02-19 19:31] josephdviviano commented on #403
Final stats are in `/projects/jdv/data/spiral-artifacts.zip`. It looks like the spiral OUT files have some pretty bad artifacts despite spatial smoothing etc. I've sent the results to Nancy + Sofia.

[2016-02-19 19:46] josephdviviano opened #434 "DTI-QC in datman"
Sofia wrote some code to do DTI QC in SPINS. It is here:

`/archive/data-2.0/code/datman/assets/dti-qc`

and should be automated in `datman`.

[2016-02-19 19:52] josephdviviano opened #435 "Run SPINS phantoms through ICA"
Peter Kouchenov thinks it would be cool to run our fBIRN phantoms through Melodic.

[2016-02-19 19:53] josephdviviano opened #436 "Finish setting up Stim PC for upstairs"
Last thing I need to do is figure out how to run multiple versions of eprime on the same machine.

[2016-02-19 20:12] navonacalarco commented on #436
Multiple instances of the same version, or a single instance of multiple versions?

[2016-02-19 21:28] josephdviviano commented on #436
Single instance of multiple versions .apparently some versions of eprime run some of our experiments, but not others, so we need to be able to switch between them.

[2016-02-19 21:41] navonacalarco commented on #436
Yeah. Check with Colin, but I think we can _run _both with the newer version. I think the version issue becomes a deal only when attempting to edit experimental files, which maybe we won't need to do on the stim PC?

[2016-02-19 21:55] edickie commented on #394
Talked to Judy. She says that _03 is for people who relaspe before they complete the study.

[2016-02-19 21:55] #394 closed

[2016-02-22 15:40] edickie commented on #364
Truthfully, I don't want to change any labels by default so that the results we submit to the ENIGMA DTI group are as they expect them to be (and therefore work with ENIGMA Rscripts as expected..). I think it's better to just make sure this issue is saved somewhere were we can find it...

I've added a page to the lab wiki regarding this.

[2016-02-22 15:40] #364 closed

[2016-02-22 15:43] josephdviviano commented on #364
+1 @edickie  -- this could cause some massive headaches for the enigma people down the road. good thinking.

[2016-02-22 18:45] josephdviviano commented on #301
OK, my solution:

# step 1: find all the fieldmaps and their scan dates

[code]

[2016-02-22 19:19] josephdviviano opened #437 "fieldmap gold standards need updating"
The following gold standards for fieldmaps represent corrupted files and should be replaced with a recent scan:

- [x] ./ANDT/metadata/gold_standards/FMAP-6.5/ANDT_CMH_101_01_01_FMAP-6.5_06_Ax-FieldMap-TE6.5.dcm
- [x] ./COGBDO/metadata/gold_standards/FMAP-6.5/BDCDO_CMH_214301_01_01_FMAP-6.5_05_Ax-Field-Map-TE6.5.dcm
- [x] ./COGBDO/metadata/gold_standards/FMAP-6.5/BDCDO_CMH_214301_01_01_FMAP-6.5_05

[2016-02-22 20:01] josephdviviano commented on #301
I'll need to re-do ASDD tomorrow, because we neglected to export the `dcm` files from XNAT for this study. All the rest of the projects are good.

[2016-02-22 20:25] josephdviviano commented on #301
OK, I just forced the ASDD project. We should be good.

[2016-02-22 20:25] #301 closed

[2016-02-22 20:26] josephdviviano commented on #311
@pipitone I'm going to close this because the problem isn't actually a problem, as far as I can tell, and it has no clear fix.

[2016-02-22 20:26] #311 closed

[2016-02-22 20:39] josephdviviano commented on #403
Reopening: adding some recent files from Sofia as RUN4 (this is a more intelligent combination of the IN and OUT to get the best of combining the files while not introducing as much noise in the artifact-affected regions).

[2016-02-23 16:28] josephdviviano commented on #432
From Nick:

Could you give me a list of new subjects you've entered into your pipeline along with the ones we previously included in the SOBP abstract?

The main data from STOPPDII will be the stabilization scans taken immediately prior to randomization to sertraline and olanzapine versus sertraline and placebo. These are the images in folders with no underscore at the end. _2 and _3 images are co

[2016-02-23 16:28] josephdviviano commented on #432
More:

Hi Aristotle and Joe,

Just including you both on this thread to coordinate the next series of steps for the SOBP abstract which may or may not lead into the next paper.

After Aristotle and I spoke today it looks like the cerebellum story is interesting but probably best to wait until more data is collected. We should instead focus on the corticostriatal story for the time being.

The stri

[2016-02-23 19:00] josephdviviano commented on #432
Just following up from last weeks conversations. I have not received the data pull for the COGBD sample from Arash or Melissa but am looking into it. With the list of subjects I pasted into the previous email in mind, Joe, I was wondering if you and I could develop a shortlist of who else needs to be processed in epitome. I will then approach the RAs about needed demographic info for the STOPPDII

[2016-02-23 19:59] josephdviviano commented on #403
Done.... see `/projects/jdv/data/spiral-artifacts.zip`.

[2016-02-23 19:59] #403 closed

[2016-02-23 20:56] josephdviviano commented on #436
OK -- I'm going to give to the folks upstairs as is, wait for trouble, and reopen this issue if it proves to be one.

[2016-02-23 20:56] #436 closed

[2016-02-23 21:03] #430 closed

[2016-02-23 21:25] josephdviviano commented on #352
Turns out @pipitone fixed this ages ago for STOPPD. We shouldn't get any more scans that look like this, so we won't need to continually map these to repeat 00, and all of the 35 scans found were linked correctly.

[2016-02-23 21:25] #352 closed

[2016-02-23 21:41] josephdviviano opened #438 "decomission the QC pdfs"
They had a good run, but @edickie has created a much nicer set of QC scripts that write to `html`. So, I'm going to delete all of the QC pdfs (1157!) AND turn off the `qc.py` script that generates them.

@edickie 's script, which writes `html`, has a different name. `qc.py` could also therefore be deleted from `datman`.

[2016-02-23 21:52] josephdviviano commented on #438
OK, they should be removed... I'll reopen this if we get mystery PDFs in the morning.

[2016-02-23 21:52] #438 closed

[2016-02-24 19:39] josephdviviano opened #439 "buy gene sequencing from a (local) group"
We need something to compliment our current genetic data.

- [x] : Find out exact chip used for our current genetic data.
- [x] : Get quotes from other labs on complimentary genetic analysis (epigenetic, full sequences, etc) per subject.
- [x] : Confer with Aristotle, Dan, Tina, and Arash on best type of data for our money.
- [x] : Place order in early April.

[2016-02-25 20:32] pipitone opened #440 "A README for /archive/data-2.0/SWM"
I believe this is a project from @arash-n based on folder ownership, but there isn't a README in that folder so I don't know what it contains and where it came from.

Arash, if this is actually yours (my guess, SWM = superficial white matter), can you write up a short README that describes this dataset?

[2016-02-25 20:34] pipitone opened #441 "Create a data README template"
It would be nice, especially for issues like #440, that we would have a guide to writing READMEs for datasets and analyses that we make/acquire that we can point people to on our wiki.

[2016-02-25 20:38] pipitone commented on #441
I've put a [stub from a presentation I gave yonks ago](https://github.com/TIGRLab/documentation/wiki/Data-README) to get us started.

[2016-02-25 20:49] josephdviviano opened #442 "follow up on random PRELAPSE things RE this email from Vivianne"
Thanks to all of you who were able to find the time to join the call today.  Below is a brief summary of the discussion and the points affecting all sites

    1) Important to continue the phantom scans on a monthly basis after the first 5 that were performed over a 5 week period, have been approved by Toronto. The phantom should continue to be scanned once per month, even if there are no clients

[2016-02-25 20:56] josephdviviano commented on #433
Notes on purchases from Dielle:

Sorry Joe- all goods > 25K need 3 quotes.

When you submit a PR , please list all approvers names- it would first go to me for approval, then David , Colin Case and Komal . Please make sure that all are names are listed so after I approve it will go to the next approver in the chain.

For goods > 15K - Procurement should be involved to ensure proper process and ove

[2016-02-26 00:08] josephdviviano opened #443 "make our website XNAT documentation good"
tomorrow. it begins.

[2016-02-26 23:11] josephdviviano commented on #443
How to make helpful gifs:

http://askubuntu.com/questions/107726/how-to-create-animated-gif-images-of-a-screencast

[2016-02-26 23:11] josephdviviano commented on #443
Also, I've spruced up the aesthetics / rearranged the content of our website, which looks much more professional now IMHO.

[2016-02-27 14:19] navonacalarco commented on #443
Looks great. And thanks for the link!

[2016-02-29 15:01] edickie opened #444 "STOPPD_CMH_460012_01 is missing SPRL and PDT2"
They were acquired and are in XNAT...
no run script errors related to them...
I'm stumped.

[2016-02-29 15:40] josephdviviano commented on #444
@edickie Do you know how to figure this out? Files that are missing are missing because of `exportinfo.csv`.

[2016-02-29 15:41] josephdviviano commented on #444
I'm going to leave this up to you... feel free to ask for help. I want to make sure you know how to solve these kinds of problems.

[2016-02-29 16:27] josephdviviano commented on #433
Quote requested from CDW, David has two other vendors and will send shortly.

[2016-02-29 16:32] pipitone opened #445 "Combine /archive/data with /archive/data-2.0"
We have a duplicate of much of our raw data in `/archive/data` and I think it's time we get rid of it. This task is mostly a matter of `rm -rf`, but I think its worth checking before this to make sure we aren't getting rid of anything in `/data` that's missing from `/archive/data-2.0`.

[2016-02-29 16:37] pipitone commented on #445
There is also the stuff in `/projects/DT_study` that should be merged into `/archive/data-2.0/DTI/TGH`. I may need @dfelsky's help with that bit.

[2016-02-29 20:08] josephdviviano commented on #424
Done. See `fs2mni` scripts.

[2016-02-29 20:08] #424 closed

[2016-02-29 20:52] pipitone opened #446 "Migrate our machines to the CAMH Research IPA server"
We have an IPA server we can use for authentication now. This will also make using the research storage much easier since user/group ids are supplied from IPA also. Doing this will require:

 - we change all of our machine's domains to `camhres.ca`
 - use the camhres DNS server (which means we lose DNS lookups for the PET network.... shouldn't be much of an issue, except for email)
 - remove `nscd

[2016-02-29 23:30] josephdviviano commented on #443
All done!

[2016-02-29 23:30] #443 closed

[2016-02-29 23:31] josephdviviano commented on #426
OK -- We're not going to do this anymore, we're going to use XNAT for this. I've updated the documentation to handle casual users of XNAT on our [website](http://imaging-genetics.camh.ca/database/).

[2016-02-29 23:31] #426 closed

[2016-03-01 14:47] edickie opened #447 "Header difference for all SPINS MRC fMRI"
/archive/data-2.0/SPINS/data/dcm/SPN01_MRC_0048_01/SPN01_MRC_0048_01_01_FMAP-6.5_11_field-map-TE-6.5ms-flipangle-45.dcm: header FlipAngle, expected = 60.0, actual = 45.0 [tolerance = None]

This header difference is present for all fMRI as well as DTI and FMAPs

...gonna investigate how far this goes back...

[2016-03-01 14:49] edickie commented on #447
the next participant from this site has a different header mismatch on all scans...urg...

/archive/data-2.0/SPINS/data/dcm/SPN01_MRC_0049_01/SPN01_MRC_0049_01_01_OBS_06_EPI-2x2x3xTR3-Observation.dcm: header NumberOfPhaseEncodingSteps, expected = 61, actual = 63 [tolerance = None]

[2016-03-01 14:52] edickie opened #448 "see if fix classifier can deal with SPRL artifact..."
It's worth a try...

[2016-03-01 15:31] josephdviviano commented on #447
What is a phase encoding step?

As for the fMRI flip angle change... what did it change from and to? Their fieldmaps are strange... we get 3 back (only need two), I'm not sure what the flipangle-45 series are all about.

Could just ask Peter K about these.

[2016-03-01 16:37] #437 closed

[2016-03-01 17:56] josephdviviano commented on #432
I'm going to do #356 first, and then run epitome from these fresh scans (to make sure everything is in the correct orientation).

[2016-03-01 18:06] josephdviviano commented on #433
Please see below:

Softchoice:
  Niall McHugh
  Niall.Mchugh@softchoice.com

CDW:
  Royston Appu
  roysapp@cdw.com

Insight:
  Ross Lucia
  Ross.Lucia@insight.com

[2016-03-01 18:34] josephdviviano commented on #433
Quotes requested from the above.

[2016-03-01 19:13] josephdviviano opened #449 "make sure we aren't vunerable to DROWN"
https://drownattack.com/

[2016-03-01 20:02] josephdviviano commented on #439
Some thoughts:

Hi all,

RE: buying genetic sequencing with the CFI -- after asking around a bit, it seems like it will be easier to come up with a specific ask (type of data) before trying to get pricing.

From what I've gathered so far, it seems like sequencing DNA methylation / a similar epigenetic measure might be of most use to the group. Tina, Dan, and Yuliya, would you be able to confirm?

[2016-03-01 21:56] josephdviviano opened #450 "Look into why IWA needs to change password with every login on XNAT"

[2016-03-01 23:36] josephdviviano opened #451 "Investigate /projects/colin/archive/resting/STOPPD/24S018"
I'm not sure what `24S018` maps onto in our naming scheme, but there are SPIRALS associated with this subject in Colin's projects folder.

[2016-03-01 23:40] josephdviviano commented on #356
Aside from the one strange subject referenced in issue (#451), everything should be done.

The original spiral scans now have the extension `.orig`, so our pipelines won't run on them, and the reoriented files have the normal `.nii` extension.

[2016-03-01 23:40] #356 closed

[2016-03-02 14:48] navonacalarco opened #452 "Internet not working 3660-MJ17YEM"
Sorry guys- tried to fix it myself, but no success.

[2016-03-02 16:35] #452 closed

[2016-03-02 16:48] josephdviviano commented on #452
is working?

[2016-03-02 16:51] navonacalarco commented on #452
Not yet - Jon looked at it, though. Called IT.

[2016-03-03 15:16] edickie commented on #444
Change the exportinfo for the new PDT2 pattern..
The Spirals was an issue of the location of dm-link-sprl.sh in the run script... it was happening a day after qc generation...

[2016-03-03 15:16] #444 closed

[2016-03-03 16:08] josephdviviano commented on #439
+ Miki + Art P are willing to collaborate / discuss the possibilities.
+ We can likely afford to sequence the remaining DTI subjects (genetics) and do the 450k methylome for all subjects.
+ Yuilia, Melisssa, and Leon French (new hire) would be good collaborators for this project.

[2016-03-03 16:48] edickie opened #453 "Fix the PRELAPSE data naming in xnat"
Subject with repeats in their folder
- [x] PRE01_MAS_06011_01
- [x] PRE01_TXS_38005_01
- [x] PRE01_PCE_S02014_01

I'm downloading the repeat scans, reuploading them to the appropriate R (repeat) session, and then deleting the repeat scans from the initial upload, for each site.

[2016-03-03 16:50] edickie commented on #391
Hey, I know VIPS sent the write files...but the one's in data-2.0 still aren't don't look right...

[2016-03-03 16:53] josephdviviano commented on #391
Hey @edickie , can you take care off this? I've uploaded the new data as repeat sessions for those subject. Can you have a look?

[2016-03-03 16:56] josephdviviano commented on #391
If you need them: the files Vips sent are here --

`/projects/jdv/downloads/prelapse-data-txs.zip`

[2016-03-03 19:03] sabashahab opened #454 "Update Slicer/nightly"
Hi,

I have been told that there were some recent fixes in Slicer. Could someone please get the newest version of Slicer/nightly?

Thanks.

[2016-03-03 21:16] josephdviviano commented on #432
Data is submitted to EPITOME (all spirals I could find for DTI, COGBD, STOPPD).

[2016-03-03 21:19] josephdviviano commented on #454
@sabashahab are you sure this is a good idea? the nightly slicer builds are going to be the most buggy.

[2016-03-03 21:29] josephdviviano commented on #454
OK, I've swapped in the new version! Good luck :)

[2016-03-03 21:29] #454 closed

[2016-03-03 21:32] sabashahab commented on #454
@josephdviviano Thank you! :)

[2016-03-04 21:58] josephdviviano opened #455 "SPIN up DBDC1MR study for Stephanie"
+ Get DBDC1MR SFTP password from Stephanie
+ DTIfit + Enigma QC
+ Initial PDF QC
+ Write DTIprep + UKF module for datman
+ RTFA test: is TE is less than 70, RTFA must be on
+ Protocol: 2x5 min rsfc, 2x5 min tasks, T1, DTI (RTFA + Dual Echo), fieldmaps

[2016-03-04 22:05] josephdviviano opened #456 "Assemble Quote ASAP w Royston"
+ 9 Monitors
+ 5 Bluetooth (wireless) mice
+ 4 USB (wireless) mice
+ 2 laptops: 1366x768, 12.5" screen resolution
+ 2 laptops: 15" Thinkpad W series
+ 1 laptop: 15" Macbook Pro

[2016-03-04 22:39] josephdviviano opened #457 "Spruce up website with blurbs taken from foundation report"
find in downloads

[2016-03-04 22:50] navonacalarco commented on #457
Sent you a copy.

[2016-03-05 21:42] josephdviviano opened #458 "Help MARLA from PRELAPSE"
Hi Joseph,

Just to clarify after the conference call, I wanted to let you know that I’m having trouble logging in to xnat. I had to change my password and then it let me. When I tried it again today…it won’t let me log in with the new password. Any suggestions would be appreciated.

And also if we could get a PDF of the GE’s parameters…that would be great.

Thanks!
Marla
University of Iowa Hospit

[2016-03-07 04:04] josephdviviano opened #459 "investigate http://keshif.me/ for QC dashboarding"

[2016-03-07 16:40] edickie opened #460 "ASDD are missing gold standard feild maps"

[2016-03-07 16:41] josephdviviano commented on #455
![modern-fashion-party](https://cloud.githubusercontent.com/assets/4142570/13576019/8bfd5b8c-e459-11e5-97a6-37e00b661aa0.jpeg)

[2016-03-07 16:46] josephdviviano commented on #456
Email sent.

[2016-03-07 16:53] josephdviviano opened #461 "XNAT processing error -- look into this"
The following problems were encountered by the user(s)
Danielle.E.Spiker@uth.tmc.edu xnat.tigrlab@camhpet.ca
The processing request you submitted for PRE01_TXS_PHA_ADN0013 could not be completed at this time.

The XNAT technical team is aware of the issue and will notify you when it has been resolved.

The stdout and the error log files are available as attachments for your perusal.

We appreciate

[2016-03-07 16:59] pipitone opened #462 "Make sure all tigrlab emails get forwarded to us"
Currently, there are filter rules set up on the tigrlab email address that sort incoming emails into subfolders, but these sorted emails aren't getting passed on to us (only the emails not filtered by any other rule are). I'm filing this issue so that I can document the solution to this problem.

[2016-03-07 16:59] pipitone commented on #462
First attempt:

1. Go the Inbox Rules screen (Click `Options` on the upper right corner, and then `Create Inbox Rule...`)
2. Move the `[Apply to all messages]` rule to the top of the list
3. Edit the rule by double-clicking on it
4. Uncheck the `Stop processing more rules` checkbox

[2016-03-07 17:03] josephdviviano opened #463 "Outstanding training"
Actually found some of your research certificates. The only things I’m missing are below:

- [x] : GCP -- http://www.citicanada.org/
- [ ] : CAMH privacy training
- [ ] : Division 5 (not sure if you have to do this, so leave it for now and I’ll check with Dielle)
- [X] : Copy (signed and dated) of your CV

[2016-03-07 17:26] pipitone commented on #463
What is this about?

[2016-03-07 17:37] josephdviviano commented on #463
Sorry it's just for me.

[2016-03-07 18:00] pipitone opened #464 "Restart backup"
At the moment, our backup device is full and so our nightly backup is failing. I'm going to hunt for stuff to remove from the nightly backups.

We also have access to the CAMH storage, which I've moved a significant chunk of our data onto and can also act as our backup instead of kimsrv.

At the moment, I'm running a sweep to remove any deleted files that haven't synced to the kimsrv backup (via `

[2016-03-07 19:21] pipitone commented on #440
Email sent.

[2016-03-07 19:27] pipitone commented on #455
I've set up the project in XNAT, and created the folder structure, run.sh script and metadata for the study. There is no data for this study on the MR FTP server, but once that arrives we can build the rest out.

[2016-03-07 19:33] pipitone commented on #397
I've just tested this by deleting a sha1 file in `data/zips` for VIPR, and then rerunning the run.sh script. It works fine. @edickie I'm going to close this, but feel free to reopen and include a paste from your terminal so that I can help debug.

[2016-03-07 19:33] #397 closed

[2016-03-07 19:34] pipitone commented on #184
CAMH has a spare for us.

[2016-03-07 19:34] #184 closed

[2016-03-07 21:54] josephdviviano commented on #461
I've removed this pipeline from the repo since it is causing problems ... does not seem to be worth  the hassle ATM.

[2016-03-07 21:54] #461 closed

[2016-03-08 14:53] edickie opened #465 "manually update scans.csv for RTMSWM.."
ERROR: /archive/data-2.0/RTMSWM/data/zips/20160125_Ex04916_RTMSB1MR_RTMH083.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0/RTMSWM/data/zips/20160202_Ex04957_RTMSB1MR_RTLM084.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0/RTMSWM/data/zips/20160216_Ex05015_RTMSB1MR_RTJJ085.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0/RTMSWM/data/zips/20160224_Ex05055_RTMSB1MR

[2016-03-08 14:54] edickie opened #466 "rename STOPPD PMC subjects in XNAT"
ERROR: /mnt/xnat/spred/archive/STOPPD04/arc001/PMC_320045_00_01 folder is not named according to the data naming policy. Skipping
ERROR: /mnt/xnat/spred/archive/STOPPD04/arc001/PMC_360012_01_01 folder is not named according to the data naming policy. Skipping
ERROR: /mnt/xnat/spred/archive/STOPPD04/arc001/PMC_360013_01_01 folder is not named according to the data naming policy. Skipping
ERROR: /mn

[2016-03-08 14:56] edickie opened #467 "Figure out why fsl's slicer command hates /archive/data-2.0/PRELAPSE/qc/PRE01_NWN_37001_01/PRE01_NWN_37001_01_01_T2_08_t2-spc-sag-1mm-iso.png"
[qc-html.py] ERROR: Error 139 while executing: slicer /archive/data-2.0/PRELAPSE/data//nii/PRE01_NWN_37001_01/PRE01_NWN_37001_01_01_T2_08_t2-spc-sag-1mm-iso.nii.gz -S 2 1600 /archive/data-2.0/PRELAPSE/qc/PRE01_NWN_37001_01/PRE01_NWN_37001_01_01_T2_08_t2-spc-sag-1mm-iso.png
[qc-html.py] ERROR: stderr:

[2016-03-08 15:35] #458 closed

[2016-03-08 18:40] josephdviviano commented on #433
Roxanne Advincula from Softchoice:
Roxanne.Advincula@softchoice.com
1 800 268 7638 x222038

Contacted for quote. After we get this one, we can move forward with the purchases.

Handler:
Nicole Rocha
Nicole.Rocha@softchoice.com

[2016-03-08 19:43] pipitone commented on #445
Here are the folders in /archive/data we need to merge. I will update this comment as I inspect them (see /projects/jp/data-merge):

- [ ] **COGBD** - Only a handful of .add and three .dcm files differ. Assuming we have the originals.
- [ ]  **DT_sample**
- [ ] **Hillside**
- [ ]  **MATT_DATA_archive**
- [ ]  **ML_Group**
- [ ]  **models**
- [ ]  **MULTISITE**
- [ ]  **N107**
- [ ]  **NY_Group**
-

[2016-03-08 19:47] josephdviviano commented on #451
DICOMs from this subject found here:

`/archive/data/STOP_PD_II/TO/24S018/Ex01756Se01`.

'PatientName' extracted from this is `24S007`. I think this subject maps onto this one from ``:

|FINAL|MR|MRID|SUBJID|TYPE|INITIALS|DATE|FOUND
-----------------------------------------------------------------------
|STOPPD_CMH_410010_02_01|2013_1010_VK028.zip|24S007|410010|Case|VK|2013-10-10|X

[2016-03-08 19:52] #451 closed

[2016-03-08 19:53] edickie commented on #391
So looking at the data Vips sent (/projects/jdv/downloads/prelapse-data-txs.zip) it looks like each DICOM folder is a mix of both the good dicom (that do convert) and the bad dicoms. I think the bad dicoms as still screwing with the extraction from xnat. Separating them looks like not too much fun. I vote to:

1) Manually convert to nifty and nrrd and move them into data-2.0.
2) Add something to t

[2016-03-08 20:02] josephdviviano commented on #391
Hi Erin, can you check how many DTIs are in the 02 sessions already uploaded? I uploaded these replacement DTI files already. If you can see them there, you should be able to remove the bad DTI images right in XNAT.

[2016-03-08 20:18] pipitone commented on #451
Just removed the initials from your comment (PHI yada yada).

[2016-03-08 20:24] pipitone commented on #440
This is data related to:

[2016-03-08 20:24] #440 closed

[2016-03-08 20:25] pipitone opened #468 "Where to store data related to publications"
See #440 for an example of this. I suggest `/archive/publications/` to keep this data separate from study data. Thoughts?

[2016-03-08 20:58] josephdviviano commented on #391
Hi @edickie , as per our discussion, I've placed the data here

`/archive/data-2.0/PRELAPSE/data/bkup/PRE01_TXS_30005-08-09_DTI.zip`

and some notes in the associated `README.md`.

If you could manually place the `nii`, bvec, bval files for these three DTI sequences in DATA-2.0, that would be great, then we can close this issue.

Thanks!

[2016-03-08 21:07] josephdviviano commented on #468
Hi Jon, makes sense to me. Could also store raw figures etc in this folder.

[2016-03-08 21:09] josephdviviano commented on #467
@edickie segmentation faults are one of the most general types of errors out there.

Might not be worth your time unless you are very determined to figure this out... as it is likely a problem with FSL's C code, not your image. Does the data look OK in a viewer?

[2016-03-09 01:00] josephdviviano opened #469 "Write data-2.0 documentation on our documentation wiki"
Right now our data is pretty well organized, but there is no high level documentation on where to look for things. For example, Colin does not know what `scans.csv` is, and isn't likely to look into `datman` to figure it out.

Therefore I'm going to spend some time writing a set of web pages detailing how we organize our data, where to look for bits of information, and what our pipelines are up to

[2016-03-09 01:43] pipitone commented on #469
Great idea. Thanks J. Use the documentation wiki for that?

[2016-03-09 01:44] navonacalarco commented on #469
This will be really helpful, and beneficial to me, too. Let me know if I can help!

[2016-03-09 02:40] josephdviviano commented on #469
Hey @pipitone I think I'm going to try wrtitng it on our official site. As useful as the github wiki is I don't think our users frequent it very often. What do you think?

[2016-03-09 03:42] pipitone commented on #469
I don't think anyone frequents the website more than the wiki. :-)

I'd prefer we stick our documentation in one place to make it possible
to find, so I'm +1 on the wiki. That said, if you do decide to put it up
on the website, can you put a link to the page or a copy of the content
on the wiki?

[2016-03-09 04:08] josephdviviano commented on #469
Yes, or we could put all of the user-facing documentation on the website. It's just a bunch of markdown documents either way, but the website is easier to navigate than the wiki, I find.

[2016-03-09 04:18] josephdviviano commented on #469
Navona raises a good point -- the website isn't accessible from within the CAMH network, so I'll add it to our documentation wiki for now. Since it's all markdown it will be easy to move over to the website it we feel the need.

[2016-03-09 15:58] edickie commented on #460
Decided to use a subject ASDD_CMH_EF022_02 - cuz it was scanned somewhere in the middle

[2016-03-09 15:58] #460 closed

[2016-03-09 16:00] edickie commented on #391
The nii bvec an bval files are now in data-2.0.

[2016-03-09 16:00] #391 closed

[2016-03-09 16:13] edickie commented on #466
Now renamed

@josephdviviano is their someone we should email to remind of our data naming policy??

[2016-03-09 16:13] #466 closed

[2016-03-09 16:32] josephdviviano commented on #466
@edickie if you check the google groups for stoppd, you could find some emails to send our new online guide to! Thanks :)

[2016-03-09 16:33] pipitone commented on #469
A few pages we already have that you should consider working from:

https://github.com/TIGRLab/documentation/wiki/Introduction-to-the-Kimel-Lab
https://github.com/TIGRLab/documentation/wiki/Data-Naming

[2016-03-09 16:34] mlevesque82 opened #470 "CIVET failing"
CIVET doesn't seem to be running like it used too. Starting the pipeline gives me Eqw on the queue. I'm not quite sure what's happening. Hoping the processing geniuses can help me out with this one.

[2016-03-09 16:38] josephdviviano commented on #470
Hi Melissa,

That's interesting, because I started having problems with the queue just recently too. This is the error from QMON: `Exec format error`.

Could you get us the exact command you're running?

[2016-03-09 16:41] mlevesque82 commented on #470
I've been running:

chmod -R ug+w output/
unset module
**these used to help some some issues.

Followed by the main command:

CIVET_Processing_Pipeline -sourcedir input -targetdir output -prefix ${prefix} -id-file file_ids.txt -run -animal -lobe_atlas -resample-surfaces -granular -VBM -thickness tlink 20 -queue main.q -3Tesla -N3-distance 75

I'm running this in CIVET/1.1.10+Ubuntu_12.04 with CIVE

[2016-03-09 16:42] mlevesque82 commented on #470
tbss_2 has been running fine on the queue by the way, so I don't think it's a generalized queue problem.

[2016-03-09 16:50] josephdviviano commented on #470
Hi Melissa, does this command submit to the Queue? @pipitone I'm looking at the source but there isn't any `qsub` calls directly in the perl script.

[2016-03-09 16:55] mlevesque82 commented on #470
Yes it does.
-queue sends it to the queue I think.

[2016-03-09 17:13] josephdviviano commented on #470
Hey @mlevesque82 ,

Looks like CIVET's qsub thing is making the same mistake my code was making last week. Here's a solution:

Can you write a loop that writes out a single CIVET_Processing_Pipeline command for each subject with

+ `-spawn` instead of `queue main.q`
+ the subject at the end of the line instead of submitting `-id-file file_ids.txt`

to a text file? What we need is a list of individ

[2016-03-09 17:19] mlevesque82 commented on #470
Ok lets "pretend" I'm an idiot...

This would look like this?

for i in subjects;
do;
CIVET_Processing_Pipeline -sourcedir input -targetdir output -prefix ${prefix} -run -animal -lobe_atlas -resample-surfaces -granular -VBM -thickness tlink 20 -spawn -3Tesla -N3-distance 75 -${subject}
end;

[2016-03-09 17:30] josephdviviano commented on #453
All done.

[2016-03-09 17:30] #453 closed

[2016-03-09 17:31] josephdviviano commented on #432
Still working on this ... some hiccups on the way ... I don't think the epitome pre-processing scripts waited for epi-fsexport. I'll look into this next (likely due to my recent updates to that script)

[2016-03-09 17:40] pipitone commented on #470
That looks about right.

You probably know this, but the trick is that your subject id is different from your image file names (e.g. `12315` vs `dti_12315_t1.mnc`) and you need to give the subject ID to `CIVET_Processing_Pipeline` not the file name.

If you have your id-file handy, you can do something like this:

[code]

The `civet` file will have the list of civet commands in it. Try running one

[2016-03-09 18:09] edickie commented on #470
Hi everyone,

Also, you can also use the datman dm-proc-civet.py to run this...

On Wed, Mar 9, 2016 at 12:40 PM, Jon Pipitone <notifications@github.com>
wrote:

[2016-03-09 18:37] josephdviviano opened #471 "XBRAIN slides for Aristotle"
+ 3 weeks away (Mar 21)
+ Needs 2-3 slides.
+ Demonstrating patient / control classification.

[2016-03-09 18:40] #450 closed

[2016-03-09 18:45] josephdviviano commented on #439
+ Important q: are there interesting epigenetic phenomenon that are common enough that we can detect them with our sample (~200) ... e.g., PGC genes?

[2016-03-10 00:31] pipitone opened #472 "Increase memory for the XNAT server"
Currently `srv-web` is maxed out on ram use and is paging.

[2016-03-10 01:34] josephdviviano commented on #472
Yikes!

[2016-03-10 06:16] josephdviviano commented on #471
@pipitone -- isn't the issue being assigned to me imply it is on my todo list?

[2016-03-10 11:45] pipitone commented on #471
I just wanted to keep the stuff that's only ever going to be on your
todo list (your personal stuff) marked. That okay?

[2016-03-10 14:17] josephdviviano commented on #471
Yeah NP I just wanted to make sure I wasn't annoying you guys.

[2016-03-10 14:35] pipitone commented on #471
Not at all. Is good.

[2016-03-10 16:53] josephdviviano commented on #469
Done ... for now https://github.com/TIGRLab/documentation/wiki/Data-Organization

[2016-03-10 16:53] #469 closed

[2016-03-10 18:30] josephdviviano commented on #456
He's not getting back to us... and we're running out of time.

[2016-03-10 18:41] josephdviviano commented on #468
Let's close this.

[2016-03-10 18:41] #468 closed

[2016-03-10 18:41] josephdviviano commented on #470
Hi Melissa,

How is this going?

[2016-03-10 18:42] #442 closed

[2016-03-10 18:43] mlevesque82 commented on #470
I tried running only one subject or not running on the queue but that doesn't work either. It's still sending to the queue.

CIVET_Processing_Pipeline -sourcedir input -targetdir output -prefix March2016 -run -animal -lobe_atlas -resample-surfaces -granular -VBM -thickness tlink 20 -3Tesla -N3-distance 75 COGBDO_CMH_215501_01_01_T1_02_Sag-T1-BRAVO

How is the command above sending to the queue?

[2016-03-10 20:55] pipitone commented on #470
It submits to the queue automatically unless you include the `-spawn` option.

[2016-03-10 20:55] pipitone commented on #470
It does that automatically unless you include the -spawn option. :-)

Jon.

March 10 2016 3:17 PM, "Melissa Levesque"  wrote:

	I tried running only one subject or not running on the queue but that doesn't work either. It's still sending to the queue.

	CIVET_Processing_Pipeline -sourcedir input -targetdir output -prefix March2016 -run -animal -lobe_atlas -resample-surfaces -granular -VBM -thickne

[2016-03-10 21:06] mlevesque82 commented on #470
but I tried that too... :(

[2016-03-10 22:37] josephdviviano commented on #470
Hey @mlevesque82 let's look at this together tomorrow! I have some ideas about what is going on (feel free to grab me at any time).

[2016-03-10 23:40] josephdviviano commented on #457
Done!

[2016-03-10 23:40] #457 closed

[2016-03-11 15:06] mlevesque82 commented on #470
Sounds good. Thanks!

[2016-03-11 16:35] pipitone opened #473 "SGE complains with "Exec format error" if command line is too long?"
@josephdviviano suspects that something has changed in the configuration of SGE such that jobs with long command lines submitted via qsub fail with this error. This wasn't happening before.

Let's come up with a repeatable test case so we can explore this.

[2016-03-11 18:36] josephdviviano commented on #470
OK -- We're going to start relying on the `dm-proc-freesurfer` module so that we don't have to think about this any longer. Testing on COGBDO. I'm going to check in on this Mon, and if it works, I'll spin it up for the remaining studies.

[2016-03-11 19:27] josephdviviano opened #474 "Google Chrome is bad, blocking Ansible."
TL;DR, GC 32bit was deprecated, our apt sources are invalid, Google hasn't fixed the bug yet.

+ `rm /etc/apt/sources.list.d/dl_google_com_linux_*`
+ Set `repo_reenable_on_distupgrade="false"` in `/etc/default/google-chrome`.
+ Explicitly set `[arch=amd64]` in the following files:

[code]

[2016-03-11 19:51] josephdviviano commented on #474
Solution:
[code]

It looks like google fixed the arch bug at some point, but ubuntu stored a bad version of this file in `sources.list.d`, so we just needed to remove them.

[2016-03-11 19:51] #474 closed

[2016-03-11 21:59] pipitone commented on #474
Alternative solution: don't install Chrome. :-)

[2016-03-11 23:55] josephdviviano commented on #382
Is done!

[2016-03-11 23:55] #382 closed

[2016-03-12 00:04] pipitone commented on #425
Reboot of tigrsrv fixed all. I've removed this.

[2016-03-12 00:04] #425 closed

[2016-03-12 00:05] pipitone commented on #416
I'm closing this. If it turns out we need it sometime, we can install it then.

[2016-03-12 00:05] #416 closed

[2016-03-12 00:07] pipitone commented on #407
Closing this. When we move to the CAMH network we will revisit this. There is/will be changes to the SCC firewall configuration that makes using our old IP settings possible obsolete.

[2016-03-12 00:07] #407 closed

[2016-03-12 00:12] pipitone commented on #455
First subject has been through dtifit, enigma, and QC. Steph is going to confirm that the scans look okay.

[2016-03-12 00:12] josephdviviano commented on #470
Looks like this is working. I'm flipping the switch for COGBDY, SPINS, DTI, and RTMSWM.

[2016-03-12 00:13] #470 closed

[2016-03-12 00:14] pipitone commented on #172
tigrsrv iDRAC has been enabled. Closing this.

[2016-03-12 00:14] #172 closed

[2016-03-12 00:16] pipitone opened #475 "Switch to using the CAMH storage"
Once we've switched to using IPA (#446) for authentication we can do a final sync and then switch our mounts to the CAMH storage server.

[2016-03-12 00:17] pipitone opened #476 "Move over to the CAMH network"
I'll use this issue to coordinate the move over to the CAMH research VLAN.

At the moment, outstanding issues related to this are:
 - [x] #185 - Buy switch SFP
 - [x] #446 - Migrate to the CAMH IPA server
 - [ ] #475 - Switch to using CAMH storage
 - [ ] #380 - "Howto" kimel binder
 - [x]  #500 - Switch to using SCC login names

[2016-03-12 16:11] arash-n opened #477 "scp fails"
Hi guys,

I have been trying to scp some files over to either my projects or scratch folder. But, I get the following error:

scp: /path/ Stale file handle

Is this temporary, or something that can't be resolved sometime soon?

Cheers,
Arash

[2016-03-12 16:41] pipitone commented on #477
Can you try once more? If it still doesn't work, can you send me the
exact command you are running?

[2016-03-12 16:51] arash-n commented on #477
#dumbmistake #mybad #non-issue!

[2016-03-12 16:51] #477 closed

[2016-03-14 14:32] josephdviviano commented on #434
Hey Erin, I can take this off of your plate now.

[2016-03-14 15:29] josephdviviano commented on #434
I'm working on / cleaning up a copy of `DTIQA_Handout_moj_SGEversion.m` called  `dti-qc.m` -- this will be the script run by `datman`.

[2016-03-14 17:47] josephdviviano commented on #434
Contacted Sofia -- she is going to send over a version of her code... we can compare with the version we currently have to see which one will be easier to mangle.

Currently proposed inputs:

+ input.nii.gz
+ input.bvec -- used for directions
+ input.bval -- used for finding b0 volumes (needed for SNR etc).
+ compute nyquist? option used for NON-ACCELERATED files only.
+ output directory -- contai

[2016-03-14 18:09] josephdviviano commented on #472
Hey JP I'm going to take this on.

For good measure I'm going to double everything (at least).

[2016-03-14 18:22] josephdviviano commented on #449
I'm pretty sure we are safe because `srv-web` does not rely on any keys at the moment (and I guess should stay that way). I don't trust that the XNAT team has removed `SSLv2` from all of the Java they have built in, but when I feed their attack-checker our xnat url, we come back clean.

[2016-03-14 18:22] #449 closed

[2016-03-14 19:38] pipitone commented on #446
I've added a new role to ansible-playbooks called `ipa-client`. Assigning this role (and removing the `nis-client` role) should nicely convert a machine over to using the research IT IPA server for authentication.
There is a vagrant test box in `roles/ipa-client/test` that you can use to demonstrate this, using the `ipa-migration.yml` playbook (see the README in `test/`)

The are only a few remain

[2016-03-14 19:43] pipitone commented on #475
I'm doing a sync now:

    sudo rsync -av /projects /external /archive /export/alumni /mnt/tigrlab/ --info=progress2

[2016-03-14 20:00] josephdviviano commented on #472
OK, so,

+ I've updated the ESXI documentation here: https://github.com/TIGRLab/admin/wiki/EXSI. This includes a windows 7 vm we can share to manage kimsrv.
+ I installed `unattended-upgrades` on `srv-web`, cleared out `/boot`, and installed the updated kernels. Hopefully this will address any security issues going forward.
+ I expanded the number of CPU cores available to `srv-web` to 2, with 2 v

[2016-03-14 20:00] #472 closed

[2016-03-14 20:06] josephdviviano commented on #434
Sofia's code is here `/archive/data-2.0/code/datman/assets/dti-qc-sofia`

[2016-03-15 19:27] #463 closed

[2016-03-15 19:53] pipitone opened #478 "Script to backup xnat to zips"
Right now we backup the entire xnat filesystem directly, but because it has millions of small files this puts a strain on whatever filesystem we backup to (both in terms of # of files and storage capacity b/c of no compression). Instead, we could be zipping up each exam. This will become especially important when we move to CAMH storage.

[2016-03-16 14:43] #478 closed

[2016-03-16 14:44] pipitone commented on #478
I'm currently running this to backup to the CAMH storage now.

[2016-03-16 14:57] pipitone commented on #464
I removed `/projects/projects_2/david` to make some more space on the backup drive. I won't restart the backup until xnat has finished backing up.

[2016-03-16 16:52] edickie commented on #465
done.

Laura is going to email the RA a gentle reminder about our datanaming.

[2016-03-16 16:52] #465 closed

[2016-03-16 19:37] pipitone commented on #371
Done. I used a different procedure for this install (included in the README on the SCC, but i'll reproduce it here in case we want to adopt this):
[code]

[2016-03-16 19:37] #371 closed

[2016-03-16 20:04] edickie commented on #441
added more stuffs

[2016-03-16 20:04] #441 closed

[2016-03-17 01:06] pipitone commented on #464
The XNAT backup has finished (only took 1:30 after restarting riker). I've enabled the regularly backup cron job so we'll see in the morning how that goes. We have about ~0.5T of free space.

[2016-03-17 01:06] #464 closed

[2016-03-17 01:09] pipitone commented on #475
For whatever reason, the mount I had on `tigrsrv:/mnt/tigrlab` craps out after a day or so (more specifically, it hangs and becomes unmountable... yay). This isn't true on `kandel`, where I also have the mount set up. I'm perplexed.

I'll try the `rsync` on kandel and see how that goes.

[2016-03-17 01:09] #462 closed

[2016-03-17 12:43] pipitone commented on #464
Backup worked.

[2016-03-17 14:17] edickie opened #479 "Adjust project_settings.yml for DBDC"
There's a couple of things that should change but I wanted to double check with @pipitone or Steph about the protocol before setting anything.

Specific questions:
-Is there no NBK and no FLAIR planned?
-There's no DTI-29
-The count for RST should be 2
-Should the types of DTI she is doing be split into separate tags?
-what's EPI MID and EPI SID??

[2016-03-17 14:30] pipitone commented on #479
Yeah, I just lazily copied the exportinfo from another project so that I could get data out for steph to see. Remind me again about where the `project_settings.yml` lives?

Also, for reference, issue #455

[2016-03-17 14:32] edickie commented on #479
inside the metadata/

On Thu, Mar 17, 2016 at 10:30 AM, Jon Pipitone <notifications@github.com>
wrote:

[2016-03-17 14:48] pipitone commented on #446
I'm going to test the switch today on `kandel`. :8ball:

[2016-03-17 21:57] josephdviviano opened #480 "Re-do scratch exports"
OK, the reboot of tigrsrv revealed that the way we have scratch set us is a bit of a rats nest. Time to

# clean up

+ on `tigrsrv`, ensure all scratch pools are mounted to export (script to auto-generate `/export/scratch/???` folder would be good.
+ on `tigrsrv`, add this export folder to `/etc/exports`, and then run `exportfs -a`.
+ on all machines, add all tigrsrv exports to `/etc/fstab`.  e.g.

[2016-03-17 22:02] josephdviviano commented on #480
WAIT I did a wrong thing, I just need to:
[code]

[2016-03-17 22:58] #432 closed

[2016-03-17 22:58] #480 closed

[2016-03-20 15:08] pipitone commented on #446
Almost done;
- All machines identify themselves as `hostname.camhres.ca` and use the CAMH Research DNS server.
- I've reconciled all of our users and the SCC users (where people had two accounts, I switched the UID to match the SCC UIDs).
- I've rejigged the ansible playbooks to play nicely with the new hosts, and generally cleaned things up there a tad.

Remaining to do is:
- [ ] enroll `kimsrv`

[2016-03-20 16:57] #446 closed

[2016-03-20 17:51] pipitone opened #481 "buy 10g ethernet cards for all of our workstations/servers"

[2016-03-20 17:55] pipitone opened #482 "buy SSDs for all of the workstations"
:dancer: :dancer: :dancer: :dancer: :dancer: :dancer:

[2016-03-20 21:15] josephdviviano commented on #482
Hey @pipitone , we might not be able to do this easily unless you can sneak this onto the grant that expires at the end of the month. I don't think we have the money for this anywhere else. We would have to buy this tomorrow, basically, and then there’s a lot of work reinstalling every workstation.

Do you think this is a good use of our time?

[2016-03-20 23:09] MobileAppQueen commented on #482
I could always help out

[2016-03-20 23:33] pipitone opened #483 "merge /projects/david/archive/SCANS into /archive/data-2.0"
After merging /archive/data (#445), merge in `/projects/david/archive/SCANS`. There is likely nothing of value there once #445 but it can't hurt to look, and it *definitely* will help us on storage (~2.7TiB).

[2016-03-21 22:52] josephdviviano opened #484 "DTI QC paper for Sofia + Peter K"
+ Gather ENIGMA values for all participants in SPINS.
+ Run DTI QC pipeline on all participants in SPINS.
+ Get these values to PK by Thursday.

[2016-03-22 16:35] josephdviviano commented on #484
Done!

[2016-03-22 16:35] #484 closed

[2016-03-22 17:00] edickie commented on #484
Ummm, just wondering...did you look at the QC pages for these pipelines
before sending out the outputs?  I haven't QC any of these pipeline outputs
since the meeting last September...

On Tue, Mar 22, 2016 at 12:35 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-03-22 18:19] josephdviviano commented on #484
No I didn't. If you find anything you could let peter know... I'm sure a bad subject here or there won't wildly change peter's results.

[2016-03-22 19:37] josephdviviano commented on #434
Note to self: figure out what code Sofia is sourcing from

[code]

[2016-03-23 17:39] edickie opened #485 "The repeat scan RST scan for PRE07_MAS_R06013_01_01 is shorter than expected"
@josephdviviano was this intential - it's about ~170 TRs - which is a weird number

[2016-03-23 17:49] josephdviviano commented on #485
@edickie Oh, that might be OK -- the repeat rest scans are ~ 5 minutes for prelapse. It looks like they scanned for slightly longer than necessary.

[2016-03-23 17:52] edickie commented on #485
@josephdviviano @pipitone

The variance in DTI signal looks a little funny (changes mid scan). I could use a second option...
/archive/data-2.0/PRELAPSE/qc/PRE01_CTN_TM14012_01/qc_PRE01_CTN_TM14012_01.html

[2016-03-23 17:58] josephdviviano commented on #485
@edickie I agree this DTI scan looks funny.The SNR seems to jump in the second half of the scan. Furthermore it looks like they are collecting way too many B0s at the end (looks like an extra 9 B0s tacked on the the end ... we would prefer just 5 at the beginning), not to mention the B0s scattered throughout the scan. I'd bet they could get this scan done in significantly less time.

Could you ple

[2016-03-23 18:01] josephdviviano commented on #485
@edickie nevermind I'll write an email ccing you.

[2016-03-23 19:44] pipitone opened #486 "File /archive/data-2.0/JO-KNIGHT-GENES somewhere sensible"
What is this data? It needs some documentation and to be filed somewhere sensible. @edickie suspects it is related to the DTI study. Anyone know?

[2016-03-23 19:47] josephdviviano commented on #486
@pipitone @edickie yes this is raw genetic data from DTI, evidence here:

[code]

I'm going to move this folder into DTI/CMH/data/genetics if everyone agrees?

[2016-03-23 19:58] pipitone commented on #486
Yeah, that sounds about right. Thanks Joseph!

[2016-03-23 21:26] josephdviviano commented on #485
Emails sent ... awaiting responses.

[2016-03-23 21:26] #485 closed

[2016-03-23 23:26] edickie opened #487 "clevis does not have permissions to be clevis"
We get many errors in the run script about clevis not have permission to write to /archive/data-2.0

[2016-03-24 15:11] navonacalarco opened #488 "Make QC pages for tractography"
We need to make tractography QC html pages for VRMD. The QC should look at (1) bedpostx, (2) registration, (3) probtrackx and (4) BET on T1.

In addition to snapshots, we'd like something that will read the transformation parameter warning logs (e.g., "out of expected range") and display the transformed ROIs on the diffusion brain that are associated with the warning. This doesn't need to be tied

[2016-03-24 15:47] pipitone commented on #488
![o rly](http://vignette3.wikia.nocookie.net/evchk/images/7/72/Orly.jpg)

[2016-03-24 16:19] navonacalarco commented on #488
![image](https://cloud.githubusercontent.com/assets/13733654/14023418/a2d277ac-f1ba-11e5-94d2-deaf5a7ca2f1.png)

[2016-03-24 17:12] pipitone commented on #479
Done. I've updated `docs/` and the `README.md` with study information, and set the proper tag names in `exportinfo.csv` and `project_settings.yml`. At the moment, `qc-html` doesn't properly QC fMRI files if they are tagged unexpectedly, so MID/SID EPI task acquisitions don't show up in the QC doc.

[2016-03-24 17:12] #479 closed

[2016-03-26 17:55] sabashahab commented on #423
Please update whitematteranalysis again - new code has been added. @josephdviviano

[2016-03-26 18:08] pipitone commented on #423
I'll take care of this right now.

[2016-03-26 18:13] pipitone commented on #423
Actually, here's how you can make your own build of whitematteranalysis:

    cd /to/a/folder/with/your/project/files
    module load python
    conda create -p ./env vtk numpy scipy cython joblib matplotlib xlrd
    source activate ./env
    git clone https://github.com/ljod/whitematteranalysis
    cd whitematteranalysis
    python setup.py install
    cd ..

This uses your own private python env

[2016-03-26 18:23] pipitone commented on #423
In any case, the whitematteranalysis module is updated now.

[2016-03-26 18:40] sabashahab commented on #423
Thank you, Jon. I'll try the above next time!

[2016-03-26 19:15] josephdviviano commented on #423
@pipitone thanks!

@sabashahab if you need help trying the above next time, come find me!

[2016-03-26 19:45] adilyalcin commented on #459
Let me know how this goes! I am the dev behind Keshif.

[2016-03-26 19:48] sabashahab commented on #423
@josephdviviano thank you! - I just tried it and it seems to work for now. Will let you know if I encounter any problems.

[2016-03-29 13:30] sabashahab opened #489 "SSL Connection Error"
I couldn't open any webpages on Cajal on both Google Chrome and Firefox since I came back. I fixed this on Firefox by changing the proxy settings from manual proxy configurations to system proxy settings. I don't know how to make changes to Google Chrome and I really feel like using my favourite web browser!

[2016-03-29 14:27] pipitone commented on #489
Hmm.. wonder why you have manual proxy settings? In any case, does this
help: https://support.google.com/chrome/answer/96815?hl=en

[2016-03-29 20:46] josephdviviano opened #490 "SPN01_CMH_PHA_FBN0040 strange FA values..."
See here:

/archive/data-2.0/SPINS/data/dtifit/SPN01_CMH_PHA_FBN0040/SPN01_CMH_PHA_FBN0040_DTI60-1000_04_Ax-DTI-60-5-NOASSET_eddy_correct_dtifit_FA.nii.gz

[2016-03-29 21:19] josephdviviano commented on #434
Code is complete:

https://github.com/TIGRLab/dti-qc

Just need to wrap it into `datman` and we're done.

[2016-03-30 14:46] josephdviviano opened #491 "transdiagnostic data for Nick"
March 29, 2016
Recap

Hey Joe,

Here's what we talked about today:

We reassigned controls from the COGBD and STOPPD groups to the healthy control group then reran a GLM. These results must be taken with caution as we have not statistically controlled for some important covariates, most worryingly age. This brings me to the *first* next step,

1. We need to rerun AFNI controlling for such covariat

[2016-03-30 17:54] edickie opened #492 "Figure out which DTI from STOPPD_MAS we should be keeping"
For every participant from STOPPD_MAS we are downloading both
*DTI60-1000_501_DTI-60dir.nii.gz AND
*DTI60-1000_502_Reg-WIP-DTI-60dir-SENSE.nii.gz
into data-2.0..

We need to figure out which one of these is the one we want and correct exportinfo accordingly

[2016-03-30 17:57] edickie opened #493 "Create new site codes for upgraded scanners"
We decided that new/different site codes should be used if a site goes through a large enough scanner upgrade (i.e. Siemens Trio to Prisma) that their data should be modeled as a separate site.  The sites that will undergo an upgrade in the near future are:

SPINS ZHH
SPINS MRC
and STOPPD PMC??

[2016-03-30 19:24] pipitone opened #494 "Install a newer version of R"
@edickie needs this for enigma

[2016-03-30 19:50] pipitone commented on #487
The master run script was resetting the group to `admins`, but I've renamed that group to `kimel_admins`. I fixed this in the run script.

[2016-03-30 19:50] #487 closed

[2016-03-30 19:55] pipitone commented on #494
I've installed R/3.2.4 (it's technically 3.2.4-revised because of bug in the 3.2.4 Makefile).

[2016-03-30 19:55] #494 closed

[2016-03-30 19:56] pipitone commented on #473
@josephdviviano are you seeing this happen still?

[2016-03-30 19:59] josephdviviano commented on #473
I don't submit commands like this any longer. You should be able to test it by echoing a very long string to qsub

[2016-03-30 23:50] pipitone commented on #473
Turns out that this isn't due to long command lines, but that any non-binary (e.g. no `-b y` flag) submitted with fail unless it contains a shebang line. This is due to a change I incorporated from the cobralab config for `main.q`: I changed `shell_start_mode` from `posix_compliant` to `unix_behaviour`. I've changed it back.

The upshot is this. There are three ways of submitting a job with qsub,

[2016-03-30 23:50] #473 closed

[2016-03-31 14:25] josephdviviano commented on #473
Hi @pipitone , thanks for looking into this. Does this mean it is impossible to submit a python script directly to `qsub` now?

[2016-03-31 14:32] josephdviviano commented on #488
Hey @navonacalarco , this is a pretty big ask. When do they need this by?

[2016-03-31 14:45] josephdviviano commented on #486
Done/

[2016-03-31 14:45] #486 closed

[2016-03-31 14:46] pipitone commented on #473
It's totally possible, just not by doing `qsub script.py`. That is, `echo ./script.py | qsub` and `qsub -b y ./script.py` both work.

[2016-03-31 14:46] navonacalarco commented on #488
Thanks for getting back to me. Ah, I didn't realize it was such a large task. I don't think that there's a super-pressing deadline, but it's definitely a priority in the lab. I'm going to try to figure out some things in the lab today (upstairs) that are related to this. Maybe we could meet at some point?

[2016-03-31 14:56] josephdviviano commented on #488
Hi @navonacalarco , a priority in GFs lab, right? Is he willing to dedicated any personpower to this? I think we all have our plates full here, and the alternative method would be for one of his students to just QC their data.

[2016-03-31 14:56] josephdviviano commented on #473
OK thanks.

[2016-03-31 15:47] navonacalarco commented on #488
Yep, a priority in GF's lab, though AV is also involved in this project. OK- let's leave this open, but after talking to JDV, my next step is to figure out exactly what we want to look at in outputs of (1) bedpostx, (2) registration and (3) probtrackx.

[2016-03-31 16:06] pipitone commented on #486
\o/

[2016-03-31 16:33] josephdviviano opened #495 "follow up on Melissa's AAL email"
Hey Joe,
I just wanted to let you know that I ran Mallar's script to get average cortical thickness per AAL ROI atlas regions on COGBDY, COGBDO, RTMS and DTI from the civet outputs that are in archives. It would be useful to have them in archives as well, especially since it's just a .csv file. They are in /projects/melissa/current/Arash_CIVET/March2016 and are named AAL_$study$.csv

I have script

[2016-03-31 19:21] pipitone commented on #475
Update: The mount on `kandel` is fine. Andy is also seeing some NFS hangs on the SCC under rsync load. Suggestion is to try [nfs_automount](https://github.com/vwal/nfs_automount) on tigrsrv and see what comes out in the logs.

[2016-03-31 19:57] pipitone commented on #455
Done.

[2016-03-31 19:57] #455 closed

[2016-04-01 17:55] #471 closed

[2016-04-01 17:56] josephdviviano commented on #428
I don't think we need SStrother's to do this, since we're going to build our own visualization system.

[2016-04-01 17:56] #428 closed

[2016-04-01 18:34] josephdviviano commented on #433
Awaiting updated quotes from Mehdi, then I just need to run these quotes by @pipitone before proceeding with the RFP

[2016-04-01 20:28] josephdviviano opened #496 "have a look at PRE01_NWN_37008_01_01 and get back to Marco"

[2016-04-01 20:47] pipitone commented on #475
I've set up nfs_automount on `tigrsrv` and `mrsdti`, with logging to `/var/log/nfs_automount.log`. I've started an rsync of `/projects`, `/archive`, and `/external` to the CAMH mount on tigrsrv so we'll see over the weekend whether it craps out and perhaps why.

[2016-04-04 16:27] josephdviviano opened #497 "remove all NaNs from ADNI, fMRI, and DTI phantom .csvs (replace with 0 or blank)"

[2016-04-04 17:29] josephdviviano commented on #497
Done. Went with 0s.

[2016-04-04 17:29] #497 closed

[2016-04-04 17:30] josephdviviano commented on #433
I've asked @pipitone to review the quotes here `/projects/jdv/documents/admin/cfi-purchases/workstations`

[2016-04-04 17:31] josephdviviano commented on #490
it actually looks like they all have this problem.

[2016-04-04 17:31] josephdviviano commented on #434
This is wrapped into datman now. We're done here.

[2016-04-04 17:31] #434 closed

[2016-04-04 17:33] josephdviviano commented on #489
@sabashahab is this still an issue?

Also we're not updating google chrome any longer. At some point it may be removed from our computers. Just a heads up.

[2016-04-04 17:33] josephdviviano commented on #277
@pipitone is this software ready for us yet, or is it still a buggy bug?

[2016-04-04 17:34] josephdviviano commented on #340
@pipitone  update?

[2016-04-04 17:35] josephdviviano commented on #380
Hey @navonacalarco , can you help out with this?

[2016-04-04 18:00] #496 closed

[2016-04-04 18:10] navonacalarco commented on #380
Sure thing. I'll look at what's there tomorrow.

[2016-04-04 18:15] navonacalarco commented on #488
Thanks JDV- for some reason, I couldn't assign myself.

If it's ok with the group, I'm going to try to install the "Spatial Anatomical" pipeline from [QAP package](http://preprocessed-connectomes-project.org/quality-assessment-protocol/) on Kimel or the SCC. It looks like we have all the dependencies to run it.

Any thoughts you have on this would be very welcome, but I can take the lead. :)

[2016-04-04 18:23] pipitone commented on #488
Take a look at the [qap branch of datman](https://github.com/TIGRLab/datman/tree/qap), I've created some helper code to make the input files needed for QAP from data-2.0-structured data/folders: https://github.com/TIGRLab/datman/blob/qap/assets/qap-subjectlist.py

[2016-04-04 18:23] josephdviviano commented on #488
Hey Navona, does qap work on the bed port outputs

[2016-04-04 18:59] navonacalarco commented on #488
@pipitone  thanks!

@josephdviviano  I haven't looked in detail at what it's doing behind the scenes, but I would think the QAP Anatomical would run bedpostx... however, QAP seems to be setup to work on raw files and generates all requisite files itself, so we wouldn't need to run bedpostx independently and then feed the output back in. I think. Let me take a closer look and get back to you.

[2016-04-04 19:34] josephdviviano commented on #488
Hi @navonacalarco , OK sure, I'd read through the documentation though. I very much doubt the QC is run on the bestpostx part. I can't find any evidence from this: http://preprocessed-connectomes-project.org/quality-assessment-protocol/#spatial-functional

[2016-04-04 19:47] josephdviviano commented on #495
OK, this data is now stored in /archive/data-2.0/${STUDY}/data/civet/AAL_*.csv. They are accompanied by READMEs. The scripts that generated these are hosted here: https://github.com/TIGRLab/get-civet-stats

[2016-04-04 19:47] #495 closed

[2016-04-04 22:14] josephdviviano opened #498 "merge data here /projects/jdv/data/spins for peter k and send it to him"

[2016-04-05 12:57] sabashahab opened #499 "DWIConvert Error: Size mismatch"
I get an error when I try to convert a subject's DICOM to Nrrd format using DWIConvert. I extracted the DICOM to my scratch folder and ran DWIConvert on that.

<b>Code:</b>

<code>DWIConvert -i /scratch/saba/Whole_Brain_Seeding/pt_AG06FEB1948 -o /scratch/saba/S047_dcmTonrrd/S047.nrrd</code>

<b>Error Message:</b>

<pre><code>Exception thrown while reading DICOM volume

itk::ExceptionObject (0x3e3b

[2016-04-05 13:13] josephdviviano commented on #499
Hi Saba, which subject is this? Does this happen for all subjects?

If the subject is in data-2.0, you shouldn't need to run DWIconvert by hand btw.

[2016-04-05 13:35] sabashahab commented on #499
This subject is S047 - yes, this subject is in data-2.0. I'm not getting good tractography results for this subject and I want to see if there is a problem with the DICOM to Nrrd conversion so I'm re-doing the conversion for this subject.

I just tried it on S081 and I get a completely different error:

W: DcmMetaInfo: Invalid Element (0008,1090) found in Meta Information Header
W: DcmMetaInfo: In

[2016-04-05 13:50] josephdviviano commented on #499
Please post your command.

[2016-04-05 13:52] sabashahab commented on #499
DWIConvert -i /scratch/saba/Whole_Brain_Seeding/pt_TB25MAY1990/ --outputDirectory /scratch/saba/S163_dcmTonrrd/ -o S081.nrrd

[2016-04-05 14:18] josephdviviano commented on #499
Hi Saba, I think you have all the dicoms for the different images mixed together in this folder (T1, T2, DTI, etc) Is that true? Where did you get these files?

If this is true, try downloading the raw data from xnat. I can set you up with an account if you need one.

[2016-04-05 14:21] sabashahab commented on #499
I got the raw dicom from /archive/data-2.0/DTI/TGH/data/dicom/. Yes, it should be all the dicoms mixed together.

Ok - I'll try downloading the raw data from xnat. Yes, please set up an account for me on xnat.

[2016-04-05 15:26] sabashahab commented on #499
I downloaded the DTI dicom files from xnat and ran DWIConvert on them for S047. The nrrd files were created without any errors. Thanks Joe!

[2016-04-05 15:26] #499 closed

[2016-04-05 15:33] josephdviviano commented on #499
My pleasure!

[2016-04-05 15:50] josephdviviano commented on #498
data in /projects/jdv/data/spins/dti-qc-paper/data was merged and sent to both peter k and sofia c.

[2016-04-05 15:50] #498 closed

[2016-04-05 15:50] #489 closed

[2016-04-05 21:46] pipitone commented on #475
So far so good with automount.... no hangs.

[2016-04-05 21:46] pipitone commented on #185
SFPs received. David is working with IT to get the switch installed into RM 107.

[2016-04-05 21:47] pipitone opened #500 "Switch to using SCC login names"
Andy seems to think that having multiple usernames with the same UID (see #446) may be causing some NFSv4 troubles.  I'm not convinced but in any case there is an easy way around this: only use SCC login names.

The only issue with doing that is that the home folders on the SCC are not in `/home` so attempting to login with an SCC ID causes trouble. But, Andy has a fix: add these lines to `/etc/ss

[2016-04-05 22:03] josephdviviano commented on #490
got to the bottom of this ... it was eddy correct doing strange things to the phantom data. it has been fixed in a recent patch to datamn. I'm regenerating all of the numbers now.

I'll also need to regenerate the data for p kouchenov and sofia chavez.

[2016-04-05 22:03] #490 closed

[2016-04-05 22:03] josephdviviano opened #501 "regenerate DTI phantom data for the physicists"

[2016-04-06 17:24] sabashahab opened #502 "Problems with the queue"
I get an error message when I try to run the following code:

<b>Code:</b>

<code>while read SID; do sge_batch /projects/saba/Useful_Scripts/wma_applyToSubject.sh $SID /scratch/saba/S001_newCode_Test /scratch/saba/new_DTI1/wma_output/clustered_atlas_k500/iteration_00002/initial_clusters/atlas.vtp /scratch/saba/new_DTI1/wma_output/clustered_atlas_k500/iteration_00002/initial_clusters/clustered_trac

[2016-04-06 17:27] josephdviviano commented on #502
This sounds like an @pipitone problem.

[2016-04-06 17:29] sabashahab commented on #502
qstat gives me the following message: "critical error: can't resolve group"

[2016-04-06 18:18] josephdviviano commented on #501
done

[2016-04-06 18:18] #501 closed

[2016-04-06 18:18] josephdviviano commented on #435
I'm just going to abandon this idea for now.

[2016-04-06 18:18] #435 closed

[2016-04-06 18:20] josephdviviano commented on #491
The first step is to get this working on our system:

"Applications of multivariate modeling to neuroimaging group analysis: a comprehensive alternative to univariate general linear model': chen G et al.

http://www.ncbi.nlm.nih.gov/pubmed/24954281

This will allow us to control for age, sex, years medicated, etc.

[2016-04-06 18:29] sabashahab commented on #502
while read SID; do sge_batch sh /projects/saba/Useful_Scripts/wma_applyToSubject.sh $SID /scratch/saba/S001_newCode_Test /scratch/saba/new_DTI1/wma_output/clustered_atlas_k500/iteration_00002/initial_clusters/atlas.vtp /scratch/saba/new_DTI1/wma_output/clustered_atlas_k500/iteration_00002/initial_clusters/clustered_tracts_display_100_percent_mod.mrml; done < /tmp/cluster

[2016-04-06 18:35] josephdviviano opened #503 "stop ansible from opening all the slots on all of the machines on the queue"

[2016-04-06 18:42] pipitone opened #504 "Pay extra attention to scan QC after April 22 because of scanner upgrade"
From the MR Unit:

This patch will correct a bug with the operation of the High Order Shim (HOS) that affects the technologist's workflow. HOS is used before fMRI studies (EPI and Spiral).We do not expect any changes to scanner operation other than reducing the likelihood of workflow errors. We will run our normal checks on the system after the patch is installed. Please check your data and let us

[2016-04-06 18:43] pipitone commented on #503
As a pointer, the config for a host happens in `roles/gridengine-exec/tasks/main.yml`.  It's currently set to use 4 slots per machine...

[2016-04-06 18:48] josephdviviano commented on #503
That's what I just changed now. Before, it was set to 24 for some reason... the equation we had in there was not working properly.

Now im debugging why ssh is failing between all of the machines with ansible only, but not as a user.

[2016-04-06 19:07] josephdviviano commented on #503
I've hard coded the number of slots on each machine to 4.

[2016-04-06 19:07] #503 closed

[2016-04-06 19:07] josephdviviano opened #505 "localadmin can no longer use ansible from tigrsrv"

[2016-04-06 19:29] pipitone commented on #505
Okay, so specifically the issue is that the `init.yml` script doesn't work (each host errors with "ERROR! SSH Error: data could not be sent to the remote host. Make sure this host can be reached over ssh"). Turns out this is related to Ansible 2.0 (see the [bug report](https://github.com/ansible/ansible/issues/13401), and that the fix is to turn pipelining *on* (in previous versions it had to be o

[2016-04-06 19:29] #505 closed

[2016-04-06 19:35] pipitone commented on #503
Ah, we had it set to `# of hyperthreaded cores - 4` before.

[2016-04-06 19:52] josephdviviano commented on #503
Yes, but I think it was reading the number of hyperthreaded cores off of tigrsrv, or something, because every machine received 24 slots, but I know for sure not all the machines have 24 hyperthreaded cores.

[2016-04-06 20:43] #185 closed

[2016-04-06 20:55] josephdviviano commented on #491
OK, I've set up the R dependencies in `R/3.2.4` and `R-extras/3.2.4`

[2016-04-06 21:03] pipitone commented on #502
@sabashahab , can you run the following command (will take some time) and then rerun your code to see if this helps:

    chgrp kimel -R /scratch/saba

[2016-04-06 22:58] sabashahab commented on #502
Didn't help - still getting the same error

[2016-04-07 16:50] pipitone commented on #502
Strangely, I just ran your code in `cajal:/scratch/saba` as `saba` and it submitted jobs just fine. I guess you were able to fix it?

[2016-04-07 21:56] navonacalarco commented on #488
Partial update: QAP is installed.

[2016-04-10 17:35] #500 closed

[2016-04-11 18:34] edickie opened #506 "rsync from scinet to new storage not working for me yet"
I could be doing something not right...

rsync -av /scratch/a/arisvoin/edickie/ABIDE/fix_training_data edickie@192.197.205.74:/external/rprshnas01/tigrlab/scratch/edickie/ABIDE/fix_training_data
Password:
sending incremental file list
rsync: writefd_unbuffered failed to write 4 bytes to socket [sender]: Broken pipe (32)
rsync: mkdir "/external/rprshnas01/tigrlab/scratch/edickie/ABIDE/fix_training_

[2016-04-12 01:58] pipitone commented on #506
I suspect the node you are connecting to is not the management node.  Will have to talk with Andy about the possibility of mounting our storage on whatever node this is (I suspect login node).

[2016-04-12 14:44] edickie commented on #492
exportinfo.csv has been changed appropriatly
,

Shaokaun

[2016-04-12 14:44] #492 closed

[2016-04-13 14:26] pipitone commented on #506
For future reference, the tigrlab folder on the login node is here: `/external/rprshnas01/tigrlab`

[2016-04-13 14:26] #506 closed

[2016-04-13 14:27] pipitone commented on #502
K, I'm closing this. Saba, reopen this issue if there is still a problem.

[2016-04-13 14:27] #502 closed

[2016-04-13 18:16] pipitone commented on #475
I think nfs_automount is a win. I'm going to add nfs_automount'ing of the tigrlab share to ansible and push this out to several machines. If there are no issues, then we can start switching to this storage incrementally.

[2016-04-13 18:25] sabashahab commented on #502
@pipitone, sorry for the late response - I just saw your message. Nope, it still doesn't work but I don't need it right now. I'll re-open this issue when I need to use the queue again.

[2016-04-14 16:35] tina-roostaei opened #507 "FSL 5.0.9"
Hi,
It recently occurred to me that there are some new scripts and options in FSL 5.0.9 that are useful for estimating FA from HCP data, subsetting the b=1000 values from their multi-shell diffusion data, ...; and there are also other scripts that I think might be useful to others too.
I was wondering is there any chance that we can have FSL 5.0.9 on the Kimel cluster?
Thanks,
Tina

[2016-04-14 16:44] pipitone commented on #507
Sure thing.

[2016-04-14 19:30] pipitone commented on #507
Done.

[2016-04-14 19:30] #507 closed

[2016-04-14 20:16] pipitone opened #508 "Should we be using fdt_rotate_bvecs on our eddy_correct'd data?"
Currently we don't...

[2016-04-14 20:20] josephdviviano commented on #508
Where did it come from?

https://www.jiscmail.ac.uk/cgi-bin/webadmin?A2=ind1210&L=fsl&D=0&P=441740

[2016-04-14 20:22] arash-n commented on #508
I think it is an easy addition to pipeline, now that they have added this to FSL (unlike nrrd to nii conversion problems).

[2016-04-14 20:22] josephdviviano commented on #508
From the post above 'You can use it if you want to, but in practice we have not been able to see any differences in our results. '

[2016-04-14 20:26] arash-n commented on #508
Maybe. I really can't comment. I just know that everywhere else (but Oxford) they think they should do it.

[2016-04-14 20:33] sabashahab commented on #508
See if this helps: http://wiredminds.blogspot.ca/2011/06/dti-preprocessing-in-fsl-b-vector.html

[2016-04-15 18:24] pipitone commented on #475
Okay, so far so good. I'm going to switch over `/external` shortly, and `/archive` over the weekend to the camh storage. I'll set the hal mounts as read-only and put them in `/mnt/hal`

[2016-04-15 18:35] josephdviviano commented on #475
![ytmndog](https://cloud.githubusercontent.com/assets/4142570/14571456/515fa890-0317-11e6-942e-d66f77c3e277.jpg)

[2016-04-15 20:54] josephdviviano opened #509 "3dMVM isn't working -- test these R modules"
R version 3.2.4
afex 0.14-2
phia 0.2-0
snow 0.3-13

[2016-04-15 21:38] pipitone opened #510 "Do we need anything in /external/filetransfer?"
@josephdviviano  would you mind having a look... there is some SPINS stuff in there you might recognize best.  I suspect it's all redundant at this point.

[2016-04-15 21:39] pipitone commented on #510
Ditto with /external/camh_mr

[2016-04-15 21:41] josephdviviano commented on #510
Hey @pipitone no problem doing it now. Looks like stuff that is over a year old approximately so far... all the filetransfer stuff was from the FTP server.

[2016-04-15 21:46] josephdviviano commented on #510
I'm copying the files from /external/filetransfer/UHN/home/UHN into /archive/data-2.0/DTI/TGH/data/zips ... I don't think we have all of these data in xnat yet.

[2016-04-15 21:50] pipitone opened #511 "Clean up /external/PNC"
A few things to do now that we have the space:
- [x] move the T1 images from `/external/dbgap/...` to `/external/PNC/data/`
- [x] remove the copies of `nii` files from `/external/dbgap/...`
- [x] tar up acquisitions in `data/raw/<subjectdir>` to reduce file count (they are full of *.dcm files)
- [x] move `/projects/jp/research/PNC/data/nii` to `/external/PNC/data/dti` and associated scripts to `/e

[2016-04-15 21:56] josephdviviano commented on #510
@pipitone I've saved some missing scans from the uploads! You can safely delete those folders.

Except, I have no idea what is in `/external/filetransfer/transferuser/home/transferuser`. Can we store this for future searching?

[2016-04-15 22:01] josephdviviano commented on #510
@pipitone I've just deleted `camh_mr`

[2016-04-15 22:02] josephdviviano commented on #510
@pipitone I'm closing this ... all I ask is that you store the contents of `/external/filetransfer/transferuser/home/transferuser` somewhere safe for future snooping.

[2016-04-16 02:03] pipitone commented on #510
er... that folder has nearly 450G of data in it...

I've moved it to `/external/old_ftp_server_data`. I think we need @drotenberg and Steph to take a look. I'm going to reopen the issue until we have this nailed down.

[2016-04-16 02:06] josephdviviano commented on #510
Hey @pipitone , curious if the majority of that data is the MEG data? That stuff is data Steph wanted me to analyze and we should have it in the Data-2.0 folder IF it isn't also there ... we might have a duplicate (worth an rsync to be sure).

[2016-04-16 02:22] pipitone commented on #510
[code]

Me thinks `Benchmark_Data` was used to evaluable the prospective CAMH storage options and can probably be deleted.

[2016-04-16 03:51] josephdviviano commented on #510
@pipitone that makes sense, you reminded me about david asking for some arbitrary DICOM data.

[2016-04-17 21:29] pipitone commented on #511
Done.

[2016-04-17 21:29] #511 closed

[2016-04-17 21:43] pipitone commented on #482
I'm closing this; doesn't seem worth the effort/benefit.

[2016-04-17 21:43] #482 closed

[2016-04-17 21:45] pipitone commented on #481
Closing. Let's see what life is like when we have a 10G switch. I suspect life will be sweet.

![sweeeeeet](http://imagesmtv-a.akamaihd.net/uri/mgid:file:http:shared:mtv.com/news/wp-content/uploads/2015/04/In-class-1428676836.gif)

[2016-04-17 21:45] #481 closed

[2016-04-17 21:47] pipitone commented on #475
Okay kids: `/external` and `/archive` are now mounts from CAMH storage. I'm syncing '/alumni` next. I suspect there are stacks of folders of dicoms in there which are making this take forever...

[2016-04-17 21:49] pipitone commented on #340
@jdv same. Syncing /alumni to camh storage, #475, and then we can fold in julie's stuff and anne is going to do a final clean up of her stuff.

[2016-04-17 21:50] pipitone commented on #253
I'm closing this, and including it in the how-to-kimel binder issue #380

[2016-04-17 21:50] #253 closed

[2016-04-18 14:46] pipitone commented on #508
Hmm... Sounds like there is some debate.

@arash-n, you definitely think we should correct? And `fdt_rotate_bvecs` does the trick well enough, or do you recommend something else?

[2016-04-18 14:53] pipitone commented on #380
Okay, I'm going to update the issue to create a to do list of topics to cover. Please add to it.

[2016-04-18 17:06] arash-n commented on #508
I would suggest taking a look at the HCP preprocessing to see if they have included that in their pipeline and just follow them. But even if they haven't used it I think it wouldn't do any harm to the data (notwithstanding the effort that should be put in to it to rerun them all over again).
In addition, in the new FSL (I believe 5.0.9) eddy_correct there is a new spline interpolation option. In H

[2016-04-18 17:10] arash-n commented on #508
For the second question. I just know that the procedure is rather straightforward and people use their own codes to do it. I may not be able to validate the code easily. Unless we try another code (e.g. camino [which is not gonna do it in nifti]) and compare the rotated bvecs if possible.

[2016-04-19 21:05] pipitone commented on #476
Other important issues to work out:
- [ ] Move the workstations and servers over (physically at the switch) and reconfigure (this is also a good time to give our workstations [new names](https://mnx.io/blog/a-proper-server-naming-scheme/), e.g. `wrk1.kml.camhres.ca` or `wrk01-tigr.camhres.ca`). This includes VMs
- [ ] Special attention for the XNAT server, which could be switched over to use the C

[2016-04-19 23:57] arash-n opened #512 "tbss_2_reg and fsl_sub error"
When I submit jobs to the queue a few of them turn into Eqw state. Here is the error I get.

qstat -j 103884 |grep error

error reason    3:          can't get password entry for user "arash". Either the user does not exist or NIS error!

Thanks for any help! :D

[2016-04-20 16:25] arash-n commented on #512
Was OK this time.

[2016-04-20 16:25] #512 closed

[2016-04-20 17:40] pipitone opened #513 "USBs not automounting on hebb"
Melissa is seeing this on `hebb`.. GVFS doesn't seem to know about her USB, but I can mount manually.

[2016-04-20 17:59] pipitone opened #514 "Certain users aren't able to login to laplace using lightdm"
This appears in the logs and they get booted back to the login screen:

[code]

[2016-04-20 18:21] josephdviviano commented on #513
@pipitone having this same problem on tesla.

I've noticed this for years ... happens if people never log out.

One fix would be for us to reinstall Ubuntu's UI -- looks like this might be an `xfce` bug: https://bbs.archlinux.org/viewtopic.php?id=119992

[2016-04-22 15:13] josephdviviano commented on #433
Quotes submitted to Dielle. Fingers crossed.

The package submitted to here is here: `/projects/jdv/documents/admin/cfi-purchases/cfi-workstations.zip`

[2016-04-22 15:13] #433 closed

[2016-04-22 15:38] pipitone opened #515 "dm-qc-todo does not report scans in DTI/CMH or DTI/TGH"

[2016-04-22 16:03] pipitone commented on #515
Fixed in tigrlab/datman@0ae8cbd

[2016-04-22 16:03] #515 closed

[2016-04-25 12:48] sabashahab opened #516 "Internet not working on Cajal"

[2016-04-25 13:04] pipitone commented on #516
Even after rebooting, huh? That's cool. I will take a look when I get in.

[2016-04-25 14:18] sabashahab commented on #516
@pipitone wiggled the network cable and all is good.

[2016-04-25 14:18] #516 closed

[2016-04-25 14:24] josephdviviano commented on #516
@pipitone is a `pro`.

[2016-04-25 14:37] pipitone opened #517 "Move XNAT over to CAMH network"
As part of the move off the PET network (#476), the XNAT server needs to move, and can move immediately. Here's what I suggest:

- [x] Verify with Qing/Andy/David that our external CAMH IP address will remain routed via the SCC firewall, or generally what the plan is, because there has been some talk of changing the SCC firewall situation (I'm just not sure exactly how).
- [x] Clone the existing X

[2016-04-25 14:39] josephdviviano commented on #517
Hi @pipitone, sounds like a foolproof plan to me, and I'd like to be involved.

[2016-04-25 14:42] pipitone commented on #517
Great! Let me know if you need a hand with any of it. I'll dig up the routing info for our public IP address and stick it in `/projects/admin` somewhere.

[2016-04-25 14:46] pipitone commented on #517
More info. Turns out I actually asked David about the static IP a few weeks ago. I asked whether it would be possible to move it over to the CAMH Research VLAN and his answer was: "It can certainly be arranged to make this change so that the external IP/ports are mapped to a new 'Research VLAN' static IP. The correct way to pursue and coordinate an IP change like this would be a direct email to 's

[2016-04-25 14:49] josephdviviano commented on #517
[code]

[2016-04-25 14:54] pipitone commented on #517
^ wut

In other news, I've updated `/projects/admin/secrets/servers.md` with the relevant routing info. You'll have to poke around esxi to find the CAMH switch (there may be a VM already configured).

[2016-04-25 14:55] josephdviviano commented on #517
I'm translating rotenish.

[2016-04-25 15:01] pipitone commented on #517
![:D](https://media.rbl.ms/image?u=%2Fhphotos-xtp1%2Fv%2Ft1.0-9%2F1918579_352342302244_2670650_n.jpg%3Foh%3D4323c37d496413acf950a5b1cb6a98b1%26oe%3D56087F89&ho=https%3A%2F%2Fscontent.xx.fbcdn.net&s=4&h=0864d64282c1b8027748cb067e3734866ed4ffdcfd66c4340c593e7544cfb343&size=980x&c=3561504832)

[2016-04-25 15:10] josephdviviano commented on #491
This is pretty much done. I have some improvements I'd like to make to the fsl-randomise program, but I think Nick has enough to do his poster and presentation.

[2016-04-25 15:10] #491 closed

[2016-04-27 14:02] edickie opened #518 "Rerun engima cortical with the new R script"
ENIGMA send out a new R script for the cortical paper (apparently which ups the models).
Just putthing it here so I remember to do it.

[2016-04-27 14:16] edickie opened #519 "/archive/data-2.0/ might be unmounting in bad ways..."
Do the run script this morning (2016-04-27) is madness -
half way through it says that nothing in data-2.0 can be read...
I this maybe an issue with the new storage?

[2016-04-27 14:22] josephdviviano commented on #519
That sounds bad... I'll have a look.

[2016-04-27 14:22] josephdviviano commented on #519
Permissions in data-2.0 ARE madness.

[code]

[2016-04-27 14:34] pipitone commented on #519
Interesting. Okay, there are two things that may be at play here: a) `nfs_automount` is supposed to remount `/mnt/tigrlab` if there are connection issues - so we need to see what has been happening in `/var/log/syslog` wrt that because the run log contains "`No such file or directory`" errors, and b) clearly NFS isn't doing user/group lookups properly from the IPA server.

[2016-04-27 14:35] josephdviviano commented on #519
Hi @pipitone I'm trying to run the reset permissions bit of `run.sh` now.

[2016-04-27 14:37] pipitone commented on #519
@josephdviviano That's likely not the problem since the permissions look reasonable on other machines.

[2016-04-27 14:38] pipitone commented on #519
The fact that *nobody* is showing up as the user means NFS didn't correctly lookup the user info.

[2016-04-27 14:38] josephdviviano commented on #519
Oh? Why would they be different on tigrsrv and other machines?

PS we had a remount this morning:
[code]

[2016-04-27 14:43] josephdviviano commented on #519
All the logs in `/var/log/sssd/` are empty on tigrsrv.

[2016-04-27 14:51] josephdviviano commented on #519
put this line
[code]
/etc/idmapd.conf

[2016-04-27 16:11] josephdviviano commented on #517
I used this to clone the VM... http://www.dedoimedo.com/computers/vmware-esxi-clone-machine.html

[2016-04-27 16:30] pipitone opened #520 "Recover DTI machine data"
Looks like we may need to go back to the original `dti` drives to recover some of the manual segmentations. My plan is to:
- [ ] Make a block level copy of the drives to `tigrlab/scratch/jp`
- [ ] Attempt to rebuild the RAID on `dti`, or
- [ ] Rebuild the RAID locally or just recover the files by searching through the drive dumps

[2016-04-27 16:31] pipitone commented on #520
Currently: `dd if=/dev/sdc > /mnt/tigrlab/scratch/jp/av_dti_drive1.dat`

[2016-04-27 19:13] josephdviviano commented on #519
@pipitone I could use some help with this.

[2016-04-27 19:59] josephdviviano opened #521 "queue / ansible is STILL setting all machines to 24 slots"
@pipitone I think it is your turn to look at this.

[2016-04-27 20:23] josephdviviano commented on #521
I might have found the culpurit ... `qconf -mq main.q` showed slots set to 24, I wonder if these global settings override the ones we have in ansible...

[2016-04-27 20:24] josephdviviano commented on #521
@pipitone the change appears to have worked. Not sure if we want to ansible this (happy to talk about it).