[2016-04-27 20:31] josephdviviano commented on #519
This is what I know:

Ever since I changed `idmapd`, we got a bunch of lines like this in `/var/log/syslog`

    Apr 27 16:25:15 tigrsrv [sssd[ldap_child[6250]]]: Failed to initialize credentials using keytab [default]: Cannot find KDC for realm "CAMHRES.CA". Unable to create GSSAPI-encrypted LDAP connection.

If you look here: `vi /etc/krb5.conf`:

[code]

I wonder if our kerberos config is in co

[2016-04-27 20:43] josephdviviano commented on #519
Also, when I set the verbosity of `idmapd` and restarted it, this happened:

[code]

Note:  `22488 Apr 27 16:40:18 tigrsrv kernel: [885862.200855] init: idmapd main process (48308) killed by TERM signal`

[2016-04-28 13:11] pipitone opened #522 "input/output error reading a file in /external"
[code]

Other files in the same folder are fine. This is also true on the SCC mounts of the tigrlab filesytem. I've notified Andy and Qing.

[2016-04-28 13:15] pipitone commented on #519
sssd wasn't started, and when I attempted to start it failed immediately. I re-enrolled tigrsrv with IPA (enrolling is done via `ipa-client` role in ansible):

[code]

This hasn't changed resolving the user/groups on `/archive/data-2.0`.

[2016-04-28 15:07] pipitone opened #523 "CAMH/PET unable to access to the lab website"

[2016-04-28 16:44] josephdviviano commented on #519
Hey @pipitone

Looks like a reboot cleared things up on both davinci and my machine (davinci). I've removed all references to `/archive/data-2.0` in the fstab on both machines... `nfs_automount` is the only device that is mounting this now.

Of note, I also had to manually shut down `tigrsrv` due to it hanging on `nfs`, and kick `sssd` on reboot (permissions of this file were incorrect on tigrsrv

[2016-04-28 16:44] #519 closed

[2016-04-28 17:41] pipitone commented on #520
I am not able to access the data on one of the two disks. Can't even get it to show up as a device. :-(

[2016-04-28 23:31] pipitone commented on #476
CAMH switch installed. Some issue with the SFPs still to sort out. I've configured `eth1` on the tigrsrv to operate on the CAMH network so we can use that to test once the switch is in order.

[2016-04-29 14:53] edickie commented on #518
done..

[2016-04-29 14:53] #518 closed

[2016-05-01 19:51] arash-n opened #524 "MATLAB license error"
Hey guys,

It appears that MATLAB licenses don't work anymore.

Here is the error I am getting:

License path: /home/arash/.matlab/R2012b_licenses:/opt/quarantine/matlab/R2012b/build/licenses/license.dat:/opt/qu
arantine/matlab/R2012b/build/licenses/network.lic
Licensing error: -15,570. System Error: 115

Any help is highly appreciated.

Cheers,
Arash

[2016-05-01 21:47] pipitone commented on #524
Sorry about that. I've started the license server.

[2016-05-01 21:48] arash-n commented on #524
Thanks Jon!

:)

[2016-05-01 21:52] josephdviviano commented on #524
Note to self: put this in crontab to do automatically on reboot

[2016-05-01 22:40] pipitone commented on #524
I got ya bro: `/etc/cron.d/matlab-license-server`

[2016-05-01 22:40] #524 closed

[2016-05-02 13:32] josephdviviano commented on #510
I think you know more about this than I do at this point, I'm not sure what to do :)

[2016-05-02 13:32] josephdviviano commented on #509
I'm abandoning this.

[2016-05-02 13:32] #509 closed

[2016-05-02 13:35] josephdviviano commented on #523
email sent to qing and alan

[2016-05-02 13:41] josephdviviano commented on #514
I'm going to try updating the machine and restarting lightdm

[2016-05-02 13:42] josephdviviano commented on #277
I'm closing this until there's an official release of maget.

[2016-05-02 13:42] #277 closed

[2016-05-02 13:43] josephdviviano commented on #266
I'm closing this... I'm not sure there is still a problem here.

[2016-05-02 13:43] #266 closed

[2016-05-02 13:47] josephdviviano commented on #439
email sent to yuliya... going to try to get her to make a decision.

[2016-05-02 13:47] #459 closed

[2016-05-02 13:50] josephdviviano commented on #362
Hey @pipitone, I'm closing this. Whatever it is that DTIPREP does not like about these images, the human eye can't see them (that dosen't mean that DTIPREP is wrong, more than eye-based inspection of this sort of data is a bit limited).

[2016-05-02 13:50] #362 closed

[2016-05-02 13:52] josephdviviano opened #525 "backups are not running"
@pipitone could you please have a look? (same thing we talked about Friday).

[2016-05-02 14:42] josephdviviano opened #526 "persistent nfs problems"
+ no idea what to do, @pipitone please help me.

some clues:

+ http://ubuntuforums.org/archive/index.php/t-1127319.html
+ going to try editing `/etc/default/nfs-common`:

    NEED_IDMAPD=yes
    NEED_GSSD=no

along with setting my machine back to `NFS4`

[2016-05-02 14:48] josephdviviano commented on #526
Maybe unrelated, or not, but this is what I see a million of in `/etc/syslog`:

[code]

for all sorts of files,

[2016-05-02 15:07] josephdviviano commented on #526
Maybe unrelated, or not, but this is what I see a million of in `/etc/syslog`:

[code]

for all sorts of files,

[2016-05-02 15:07] josephdviviano commented on #526
This also might be related:

https://github.com/vwal/nfs_automount/issues/9

[2016-05-02 15:23] josephdviviano commented on #526
as a test, I'm going to take nfs_automount out of the equation:

+ stop nfs_automount
+ put mounts in /et/c/fstab

I'm going to do this on `mrsdti` and `davinci`.

[2016-05-02 16:10] pipitone commented on #525
I ran the backup manually on Friday, so your project folder (and everyone elses) should have at least been backed up then. I'm still trying to figure out why the backup isn't running regularly -- the cronjob is there...

[2016-05-02 16:42] pipitone commented on #522
This mysteriously went away. Andy and Qing will bring this error up with the Dell Engineer on their next visit.

[2016-05-02 16:42] #522 closed

[2016-05-02 17:03] pipitone commented on #525
I fixed the mounts on `backup`, and may have figured out why the backup wasn't running: the backup script bails if any of the source folders aren't mounted (since syncing an empty folder with `--delete` would be bad), but because `/archive` is now a symlink the backup script ditches early.

I've rejigged the backup script and I'm rerunning it now.

[2016-05-02 17:25] josephdviviano commented on #525
@pipitone nice, good find.

[2016-05-02 17:34] josephdviviano opened #527 "follow up with dielle RE workstations this Wed"

[2016-05-02 19:01] edickie opened #528 "figure out why same qc-pages repeat some error"
Any header compare mismatch showing up in multiple places throughout the qc pages -
We should check why this is happening

[2016-05-02 20:47] rutwikb opened #529 "Can't Access Module System"
File manager is taking a long time to open and I can't access the modules through the terminal.

[2016-05-02 20:48] josephdviviano commented on #529
Great, what computer are you on?

[2016-05-02 20:48] josephdviviano commented on #529
Name should be on the top of the machine.

[2016-05-02 20:53] josephdviviano commented on #529
it's Milner.

[2016-05-03 13:30] pipitone commented on #525
Aaaaand `/mnt/tigrlab type nfs (rw,hard,intr,fg,tcp,timeo=5,retrans=5,actimeo=10,retry=5,vers=3)` is hung.

<img src="https://media.giphy.com/media/xTiTnhatybqmUy5ZaE/giphy.gif" height="200px"/>

[2016-05-03 13:47] pipitone commented on #525
A few notes.

[code]

To read: [RHEL mount hangs: nfs: server [...] not responding, still trying](https://access.redhat.com/solutions/28211).

Also: `backup` is not configured for IPA.

[2016-05-03 13:56] pipitone commented on #526
I've also done this for `crick`.

[2016-05-03 14:07] pipitone commented on #526
I'm going to do the same for `milner` and restart (and hopefully this fixes #529 )

[2016-05-03 15:04] josephdviviano commented on #529
I think it is fixed.

[2016-05-03 15:04] #529 closed

[2016-05-03 15:31] josephdviviano opened #530 "move /scratch/jdv and /projects/jdv entirely to /mnt/tigrlab/projects/jdv"
People need the space, and im not doing any science until the network is flipped over anyhow.

[2016-05-03 15:46] josephdviviano commented on #530
Since we're not backing up scratch at the moment, I'm going to delete all of my data from scratch. However I won't be deleting all of my data from projects.

[2016-05-03 15:46] josephdviviano commented on #530
@pipitone -- in the future, do you forsee running rsyncs to this new storage with the --delete command? If so, I'll need to put my data somewhere clever so it does not get wiped out.

[2016-05-03 16:17] josephdviviano opened #531 "sync /scratch/arash/ADNI_ants/ to /mnt/tigrlab/alumni/arash"
This will clear up another 400 GB on scratch.

[2016-05-04 16:47] josephdviviano commented on #527
email sent.

[2016-05-04 16:47] #527 closed

[2016-05-04 16:47] josephdviviano commented on #530
projects synced. scratch is still syncing.

[2016-05-04 16:59] josephdviviano commented on #526
It **looks** like nfsautomount might be at least part of the problem, so we're going to switch to mounting `/mnt/tigrlab` using `/etc/fstab/`

[2016-05-04 17:40] josephdviviano commented on #526
I think @pipitone fixed this via ansible.

[2016-05-04 17:40] #526 closed

[2016-05-04 19:47] pipitone commented on #526
I'll add also that the nfs vers 3 (and/or timeout options) seems to also
have played a role with hanging, perhaps becoming especially evil in
combo with nfs_automount.  Still unclear exactly what was happening, but
it seems like we needed to remove both nfs_automount (to avoid the
intermittent unmounted filesystems) and vers=3 (to stop the hangs).

[2016-05-04 19:56] josephdviviano commented on #517
On srv-xnat (the clone and new version of xnat), I've disabled the RIC web connection:

MAC: `00:0c:29:f4:86:b9`
ADAPTOR: `WMXNET 3`
`eth0-RIC`

I'm going to take down xnat and remove the CAMH network adaptor too, so they can be online simultaneously without interfering with eachother.

[2016-05-04 20:02] pipitone commented on #525
Looks like the backup script fix did the trick. We didn't get an email last night because of how much rsync output there was. I've removed the `-v` flag.

[2016-05-04 20:02] #525 closed

[2016-05-05 03:15] sabashahab opened #532 "Jobs not running on the queue"
My jobs have been on the 'qw' state for a long time now. This is what I get from "qstat -j 110076"

<code><pre>scheduling info:            queue instance "main.q@hebb.camhres.ca" is in suspend alarm: np_load_avg=1.777500 (= 1.777500 + 0.50 * 0.000000 with nproc=4) >= 1.0
                            queue instance "main.q@mansfield.camhres.ca" is in suspend alarm: np_load_avg=1.008125 (= 1.008125 +

[2016-05-05 14:15] josephdviviano commented on #532
hmm. I recently made some edits to the queue... should be 4 slots, not 0. let me have a look.

[2016-05-05 14:16] josephdviviano commented on #531
This is done.

[2016-05-05 14:16] #531 closed

[2016-05-05 15:08] josephdviviano commented on #521
Turns out this is still a problem... had to edit this file in ansible to fix things:

`/projects/admin/ansible-playbooks/roles/gridengine-master/files/main.q.conf`

[2016-05-05 18:11] josephdviviano commented on #532
They were / are running, just not fast enough for conference deadlines.

[2016-05-05 18:11] #532 closed

[2016-05-05 18:13] josephdviviano opened #533 "managers / operators list on sge are not populating properly."
I think the culprit are lines 58 on in:

`/projects/admin/ansible-playbooks/roles/gridengine-master/tasks/main.yml`

the `$gridengine_users` variable does not seem to have anything in it, so the managers and operators lists aren't getting populated. I've done a manual fix but this will be un-done next time we run ansible.

@pipitone , could I get your help with this one?

[2016-05-05 20:35] josephdviviano commented on #533
Bit confused as to why this behaviour changed, but I think I've changed it for the better anyway: there is a list of users defined in `roles/gridengine-masters/vars/main.yml` that will be set up as managers/operators/etc.

I've added instructions to update this file in the [Creating a new user](https://github.com/TIGRLab/admin/wiki/Creating-a-new-user) wiki page.

FYI, the list of users used to be

[2016-05-05 20:35] #533 closed

[2016-05-06 14:36] josephdviviano commented on #530
This is done... all of my work now lives in `/mnt/tigrlab/jdv-lifeboat`. Hope it stays there!

[2016-05-06 14:36] #530 closed

[2016-05-06 14:37] josephdviviano commented on #523
This was fixed. According to the email chain --

It looks like it is fixed.

Thanks,
Qing
________________________________________
From: Alan Tang [Alan.Tang@camh.ca]
Sent: Thursday, May 05, 2016 1:05 PM
To: Qing Chang
Cc: Joseph Viviano; TIGR Lab; Jon Pipitone
Subject: Re: http://imaging-genetics.camh.ca/ inaccesible from CAMH / PET network

Hi Qing,

We've had the Service desk fix the DNS entry.

[2016-05-06 14:37] #523 closed

[2016-05-06 17:02] mlevesque82 opened #534 "loading data from web"
In my email, I can't seem to upload a file to attach, or save a file onto my /projects folder from my email. Since hebb no longer "sees" my USB key, this is a problem.

[2016-05-06 21:53] sabashahab opened #535 "Job in error state"
A few of my jobs are in an error state and this is the error message I am getting:

<code>error reason    1:          can't get password entry for user "saba". Either the user does not exist or NIS error!</code>

[2016-05-06 22:28] josephdviviano opened #536 "fix permissions on /mnt/tigrlab/external/hcp"
make them read/write for the kimel group.

[2016-05-07 05:43] pipitone commented on #521
Okay, I made a few changes that I think are going to work better in the long run:
- set `main.q` slots to something large (100). This appears to be the maximum number of lots available to this queue and *not* slots per host (that is, I don't see more jobs running than there are slots specified in in the host's complexes (below), and when the queue's number of slots was 16, only 16 jobs could run i

[2016-05-08 17:33] pipitone commented on #535
This doesn't seem to be an issue any longer. Not sure what it means; I'm chalking it up to "network issues" :-) I'm closing this until we have something reoccurring.

[2016-05-08 17:33] #535 closed

[2016-05-09 18:31] #521 closed

[2016-05-09 18:34] pipitone commented on #526
Update to this. The vanilla nfs4 mounts, without using `nfs_automount`, seem just fine. There are still a few machines with `tigrsrv:/archive` still mounted. They will need to be restarted because unmounting hangs:

[code]

[2016-05-09 18:40] josephdviviano commented on #521
@pipitone cool, will see how this pans out.

one thing I've noticed. With each run of ansible, a different subset of our total cluster is visible in qmon. So every time we run ansible, we take some subset of machines off of the queue. Not a showstopper, but odd.

[2016-05-09 18:42] edickie opened #537 "figure out why the blacklist is not working for ASDD"
Scans that I blacklist in ASDD keep showing up back on our file system...
I guess we should debug and figure out what's going on...

[2016-05-09 18:44] edickie commented on #537
Wait..the run script isn't using the blacklist option..lolz...

[2016-05-09 18:46] edickie commented on #537
Wait - we should fix this and re-blacklist stuffs...

[2016-05-09 19:02] edickie opened #538 "figure out why RESOURCES are missing for PACTMD_CMH_3060049_01"
We have no tech notes or SPIRALS for this scan..

[2016-05-09 19:33] pipitone commented on #521
I'll have to check the ansible scripts to be sure but it wouldn't surprise me if running the sge master role nukes all of the host groups and then it's only when the hosts themselves are run (gridengine-exec role) that they are added back. The gridengine command line tools are notoriously hard to script around idempotently but I'm sure we can do better. If you want to take a stab at it I can walk

[2016-05-09 21:08] edickie opened #539 "delete duplicate STOPPD session"
It appears that STOPPD_NKI_16007_01 is  a mis-named duplicate of STOPPD_NKI_160007_01.

We should investigate and delete if so..

[2016-05-09 22:56] josephdviviano opened #540 "xbrain analysis todo"
- [x] find all behavioural data for DTI sample
  - [x] TASIT <- we're going to do our first analysis using this
  - [x] PANSS
  - [x] RMET
  - [x] demographics
- [x] calculate 'normal' scores in the healthy control group, find 8 (1/3) of the most normal subjects.
  - see `/mnt/tigrlab/jdv-lifeboat/projects/data/xbrain/assets/template.csv`
- [x] calculate mean brain activity within each ROI across

[2016-05-09 23:02] josephdviviano commented on #539
Hey Erin, I think I've already deleted STOPPD_NKI_16007_01 from XNAT, if you want to clear them off the filesystem, they shouldn't get regenerated.

[2016-05-09 23:06] josephdviviano commented on #538
They're in the .zip from the MR server. I'm going to delete the subject from XNAT... should get re-uploaded tonight.

[2016-05-09 23:07] josephdviviano commented on #536
Done.

[2016-05-09 23:07] #536 closed

[2016-05-09 23:09] josephdviviano commented on #534
@mlevesque82 I believe we took care of this?

[2016-05-09 23:09] #534 closed

[2016-05-09 23:09] josephdviviano commented on #528
Lemmie know if you need help with this.

[2016-05-09 23:10] josephdviviano commented on #514
@pipitone any ideas? It does seem pam is misbehaving on multiple machines, including the home folder issue ... do you think these are related?

[2016-05-09 23:10] josephdviviano commented on #513
i just used teh rebootz

[2016-05-09 23:10] #513 closed

[2016-05-09 23:22] pipitone commented on #514
This line seems to hint at the issue:

    Apr 20 13:48:54 laplace lightdm: pam_mkhomedir(lightdm-greeter:session): unknown option: mask=0077

Google turns up [an old issue with lightdm](https://bugs.launchpad.net/ubuntu/+source/lightdm/+bug/956848). The have a fix to add `silent` in the pam config line. I'd first try to reproduce this problem, and then see if silent fixes it (seems a long shot co

[2016-05-10 00:08] navonacalarco commented on #537
![image](https://cloud.githubusercontent.com/assets/13733654/15131860/babe84ec-1621-11e6-82fb-da8d9b9cb979.png)

[2016-05-10 11:13] edickie commented on #539
Cools thanks for letting me know!
On May 9, 2016 19:02, "Joseph Viviano" <notifications@github.com> wrote:

[2016-05-10 13:47] pipitone commented on #514
Just tried this with lightdm on `mrsdti` and had no problems logging in:

1. Logged out of my session
1. Logged in on the console
1. Moved my home folder out of the way: `mv /home/jpipitone /home/jpipitone.old`
1. Switched back to lightdm and logged in. My home folder was created.

I'm closing this but we can reopen if it reoccurs.

[2016-05-10 13:47] #514 closed

[2016-05-10 19:16] josephdviviano commented on #538
They got regenerated... see here:

`/archive/data-2.0/PACTMD/data/RESOURCES/PACTMD_CMH_3060049_01_01/20160510_083933/20160421_Ex05318_PACT1MR_PALW100`

[2016-05-10 19:54] edickie opened #541 "Ask NWN why we still don't see repeats"

[2016-05-10 19:58] edickie opened #542 "Split Prelaspe PCE repeats into two sessions"
PRE01_PCE_S2016_01

[2016-05-10 21:03] edickie opened #543 "remind COGBDO RA of our data naming policy"
The latest scan had 27B046 (not a datman id) in the subject section

[2016-05-10 21:04] edickie opened #544 "remind RTSMWM RA of our data naming policy"
The last scan was missing "CMH" ( the site id from the subject id)
RTMSWM_WM055_02_01 --> RTMSWM_CMH_WM055_02_01

[2016-05-10 23:48] edickie commented on #538
Thanks JDV we just need to regenerate the QC then...

[2016-05-11 01:25] edickie opened #545 "check the DTI scans from Halifax"
@pipitone I could use some advice on how to look at this...

[2016-05-11 15:11] pipitone commented on #510
![beleted](http://www.hrwiki.org/w/images/thumb/c/cc/deleted.PNG/180px-deleted.PNG)

[2016-05-11 15:13] #510 closed

[2016-05-11 17:56] josephdviviano opened #546 "tell joelle from PMC about naming convention"
Since their site can't see the github website, maybe send them some of the helpful GIFs from our website on how the prearchive works.

[2016-05-11 19:00] edickie commented on #543
also, COGBDY has the same problem...
27B046 should be COGBDY_CMH_27B046_01_01

[2016-05-11 19:11] josephdviviano commented on #542
I did this yesterday.

[2016-05-11 19:11] #542 closed

[2016-05-11 19:12] josephdviviano opened #547 "contact PMC regarding naming convention for STOPPD"
You need to email Joelle.

[2016-05-11 19:23] josephdviviano opened #548 "come up with a system for keeping scan notes (normally in scan completed email)"
We need some way of attaching one-off notes, that have typically been included in scan completed emails, to the XNAT uploads.

We also need a way to verify that all of the collected data has been uploaded to XNAT.

The proposed solution:

+ RAs no longer send scan completed emails.
+ RAs are responsible for logging into XNAT 1 week after upload to ensure the data makes it into XNAT.
+ RAs then pas

[2016-05-11 22:50] edickie commented on #548
I'm in favor of a sightly different solution:
+1 RA's no longer send scan completed emails
- RA's instead submit a RedCap database form
+ Short term: the RedCap database is periodically checked against our file system
- Long term: the RedCap data is automatically checked-against our file system
- Longer term: the RedCap data is automatically synced with XNAT

navona was kind enough to through the

[2016-05-12 03:20] navonacalarco commented on #548
Here's the form: https://edc.camhx.ca/redcap/surveys/?s=TD3NWTLDXL

Theoretically, we can use the API to synced things with XNAT, though there's currently issues with the CAMH production API, and I'm not exactly sure how to set it up (but think it should be possible).

[2016-05-12 15:06] #538 closed

[2016-05-12 15:07] edickie commented on #547
done

[2016-05-12 15:07] #547 closed

[2016-05-12 15:08] edickie commented on #546
done

[2016-05-12 15:08] #546 closed

[2016-05-12 15:10] edickie commented on #539
done

[2016-05-12 15:10] #539 closed

[2016-05-13 16:00] edickie opened #549 "Run script errors (clevis and PET centre not friends)"
There are many cases in today's run- script log (2016-06-13-run.log) of
"Couldn't read packet: Connection reset by peer"

Does the PET centre hate clevis??

[2016-05-13 16:33] pipitone commented on #549
Very probably. :-)

I'm going to try running this by hand to see if I can isolate the problem. It's probably with the pet/mr-ftp connection.

[2016-05-13 16:39] pipitone commented on #549
Running the run.sh scripts by hand, as clevis, on tigrsrv, results in 0 errors.

Conclusion: PET network hates us.

[2016-05-13 16:40] pipitone commented on #549
Nevermind, rerunning the scripts several times causes trouble. I think we're being rate limited. Let me look into it.

[2016-05-13 16:45] josephdviviano commented on #548
@navonacalarco @edickie this scan completed form --- is this for all studies managed by AV? Or is there a different form for each study?

[2016-05-13 16:45] pipitone commented on #549
Hate confirmed. From Qing:

I've added some sleeps into the master run.sh script and the DTI/CMH script which makes two attempts for different booking codes. This should solve the problem.

Reopen if still happens. You can rerun these scripts by hand now, but leave a minute between attempts to avoid connection drops.

[2016-05-13 16:45] #549 closed

[2016-05-13 16:46] josephdviviano commented on #549
@pipitone I was thinking fail2ban or similar?

[2016-05-13 17:05] navonacalarco commented on #548
@josephdviviano It's the same form for all studies managed by AV.

![image](https://cloud.githubusercontent.com/assets/13733654/15255654/583bd526-190b-11e6-8595-919784587116.png)

[2016-05-13 17:22] josephdviviano commented on #548
@navonacalarco Will the scientists be able to access this database easily?

[2016-05-13 17:46] navonacalarco commented on #548
Sure! We can set something up so that they receive an email with the data each time a survey is completed (akin to the current 'scan completed' arrangement), or we could set up an automated weekly report, or they could go in to the database periodically on their own accord and review. We can also send information related only to the PIs own study, or all studies.

[2016-05-13 17:49] josephdviviano commented on #548
@navonacalarco this does sound like a good solution... is this a new thing? I wasn't aware we had this.

[2016-05-13 18:07] navonacalarco commented on #548
It's through REDCap. I hadn't fiddled around with the automated survey stuff before this month. But it looks like it should do what we need. I'm in the midst of setting up something similar for another project - I can show you guys what everything will look like before we go ahead.

[2016-05-14 21:35] josephdviviano opened #550 "wrap SRDS1MR into datman"
see email.

[2016-05-16 15:27] edickie opened #551 "Can the run scripts run at midnight?"
Hi guys,

Can we switch the runscript cron job so that they run at midnight instead of 8am..
They seem to take a long long time (todays is still not done) and it would be nice to be able to do all the qc first thing in the morning...

[2016-05-16 15:31] josephdviviano commented on #551
I agree --- we could even set them much earlier, say 10 PM.

[2016-05-16 15:31] pipitone commented on #551
This has to be coordinated with the MR unit because they need to have their stuff uploaded to the FTP server before we do the pull. Qing will know when that is done by generally.

Perhaps we can also streamline the run scripts. For instance, right now we do them in serial but we could be running them in parallel at the very least. I think there are also several blocking steps which don't need to b

[2016-05-16 15:34] josephdviviano commented on #551
@pipitone are the steps still blocking? I thought we resolved that ages ago.

Also, we don't have to coordinate with the MR server, if we jump the gun it just means we get the data one day later (there's already a multi day lag because of how the MR server is set up).

[2016-05-16 15:39] pipitone commented on #551
Some steps probably do need to block (download/upload, for instance) but there are some steps like qc that block unnecessarily, IIRC.

I just realized that parallelizing over study run scripts will have to be a bit clever since we have to avoid tripping the MR Unit SFTP rate limiting. Perhaps we can ask for an exception from Qing.

Also yeah, if we're fine with an extra day of lag then it doesn't

[2016-05-16 15:44] josephdviviano commented on #551
I think some of the step block unnecessarily, but their outputs are all not time sensitive and, as I recall your effort overhauling the dm-proc-rest pipeline, each script might be a few days of re-working. Do you want to take this on?

As for the rate limiting, we could just stagger the run scripts by a few minutes instead of firing them all off at the exact same time.

[2016-05-16 17:26] josephdviviano opened #552 "create a random forest command-line tool"
Using nikhil's code as a starting point.

[2016-05-16 18:01] navonacalarco commented on #544
Done.

[2016-05-16 18:01] #544 closed

[2016-05-16 18:28] josephdviviano opened #553 "certbot for xnat https access on camh network"
https://certbot.eff.org/

[2016-05-16 18:30] navonacalarco commented on #543
Done.

[2016-05-16 18:30] #543 closed

[2016-05-17 21:24] josephdviviano opened #554 "Look into why the scan completed emails stopped working"

[2016-05-18 16:07] josephdviviano opened #555 "for laura: wrap ASDD and SPINS into transmagic sample for her network analysis"
are all the parameters the same?

[2016-05-20 20:56] josephdviviano opened #556 "biobank registration"
https://amsportal.ukbiobank.ac.uk/SitePages/Home.aspx

+ looks like I need to get Aristotle to register before we can submit a full application

[2016-05-20 21:03] josephdviviano opened #557 "look into labkey"
http://www.labkey.com/

[2016-05-20 21:27] josephdviviano opened #558 "we need image review gifs in our qc pipelines that help us find incidental findings more effectlvely."

[2016-05-20 21:28] josephdviviano opened #559 "we need documentation on our genetics"

[2016-05-21 14:21] josephdviviano opened #560 "files on scratch aren't immediately available to all machines on the queue"

[2016-05-21 14:58] pipitone commented on #560
Are there specific machines you want it mounted on?

[2016-05-21 16:26] josephdviviano commented on #560
not sure yet

[2016-05-21 19:56] pipitone commented on #560
Hmm.. If you tell me more about what this issue is, I can take a look.

At the moment, it looks like scratch is mounted on all of the workstations (except for kandel, nissl, dti, and lovelace which are currently not accessible over ssh), and servers except backup and srv-web. I determined this using ansible like so:

    ansible -m shell -a 'mount | grep scratch' all --one-line

[2016-05-21 20:00] josephdviviano commented on #560
yeah i havent really looked into it except that it seems like running tbss_2_reg on the queue fails because the .commands folder generated on one machine isn't seen by all of the machines on the queue.

could be a nfs not registering the files fast enough.

moving the files to projects fixed the problem.

[2016-05-21 20:01] pipitone commented on #560
Gotcha

[2016-05-21 20:02] josephdviviano commented on #560
wait plz reopen and let me look into this?

[2016-05-21 20:28] pipitone commented on #560
Oops, my badsies. Did not mean to close the issue.

Did you notice this with Sonja's run of tbss_2_reg?

[2016-05-23 02:11] josephdviviano commented on #517
New plan ... im just moving the old VM over... easier.

However I dont think I have enough information to configure the network connections . This is what I have:

auto eth1
iface eth1 inet static
        address 192.168.216.2
        netmask 255.255.255.0
        network 192.168.216.0
        broadcast 192.168.216.255
        gateway 192.168.216.1
        dns-nameservers 172.28.216.52
        dns

[2016-05-23 02:17] josephdviviano commented on #517
I think I need @pipitone to look at this *with* me, because the instructions left here aren't complete.

[2016-05-23 02:49] pipitone commented on #517
Sure thing. Can you describe what you've done so far and what the problem is?

[2016-05-24 18:07] pipitone commented on #551
Okay, first thing I'm going to do is switch over all of the studies to using passwords for SFTP rather than keys which will make our scripts free of tigrsrv (so also runnable on the S C C)

[2016-05-24 22:12] pipitone commented on #551
The run scripts now use sftp passwords.

[2016-05-24 22:20] pipitone commented on #517
Partially complete. We have the VM running on both networks now. Details can be found in `/projects/admin/secrets/servers.md` on exactly how we configured tomcat for the moment. This will change when we move over to the CAMH network, and when we have the appropriate ports (80/443) open externally.

[2016-05-25 17:23] josephdviviano commented on #392
+ [code here](http://upenncmroi.wpengine.com/qascripts/)
+ [paper here](http://www.sciencedirect.com/science/article/pii/S1053811915009854)

[2016-05-25 19:49] josephdviviano opened #561 "switch functional fmri pipelines to use new epitome script"
+ improved registration
+ no longer using dilated pre-processing masks

[2016-05-25 19:50] josephdviviano commented on #561
also, another script that has no low-passing (use for functional data).

[2016-05-26 17:58] pipitone commented on #551
Okay, I've changed the changed the time the cronjob runs to midnight. As noted, this will mean we may miss some scans that land on the FTP server after midnight.

I'm going to close this issue. There is still work to do to speed up the nightly runs by parallelizing if we need it.

[2016-05-26 17:58] #551 closed

[2016-05-26 18:31] pipitone commented on #508
Okay, I'm going to close this issue. I've started some documentation on DTI processing over here: https://github.com/TIGRLab/documentation/wiki/DTI-Processing and have included a note about this discussion.

Please add to it.

[2016-05-26 18:31] #508 closed

[2016-05-26 19:57] pipitone opened #562 "Port datman to the SCC"
- [x] Configure the necessary modules (see below)
- [x] Create a datman module
- [x] Configure run.sh scripts to use SCC paths (perhaps via an env variable in the datman module)
- [x] Modify datman to use `qbatch` when submitting jobs
- [x] Request a "clevis"-type user created for the SCC?

I've configured many of the needed modules (I got the list from searching for "module load" in the run scrip

[2016-05-26 20:02] pipitone commented on #283
I think this is no longer an issue as we are not doing any renaming, but please reopen if I'm incorrect about that. I've added a note to the README explaining the idiosyncratic naming.

[2016-05-26 20:02] #283 closed

[2016-05-26 21:05] pipitone commented on #476
Here's a plan for the move once the CAMH switch is up and running. I will continue to update this comment:

1. Move the workstations and servers over (physically at the switch) and reconfigure.
   1. Our block of IPs is 172.26.216.62-102, with netmask 255.255.254.0, gateway 172.26.216.1, DNS 172.28.216.52, and domain camhres.ca
   1. Ansible `common` hosts file will need to be updated.
   1. Can a

[2016-05-26 21:33] josephdviviano opened #563 "run MAS data for transmagic (need for replication purposes)."

[2016-05-27 19:05] arash-n commented on #556
I just got my registration. Did you have any success having Aristotle registered.

Cheers,
Arash

[2016-05-27 19:14] josephdviviano commented on #556
It's on the list of things to do -- I need him to register or something,
because I can't be the PI on this project.

JDV

On Fri, May 27, 2016 at 3:05 PM, Arash Nazeri <notifications@github.com>
wrote:

[2016-05-28 18:44] pipitone commented on #517
We have another issue: we cannot route to the research IT network so we cannot mount CAMH storage. Options:

1. IIRC we have our own subnet on the SCC firewall that should route correctly. Will need to speak to Research IT bros to confirm
1. We could request a firewall change to allow routing.. if that is not possible (security-wise) then...
1. We can use storage local to kimsrv (e.g. we could mou

[2016-05-30 01:02] pipitone commented on #562
Update. I've create a datman branch called "scc" and installed in as the module `datman/latest` on the SCC.

I've created a testing environment here: `/imaging/scratch/kimel/jpipitone/datman-test`. The interesting stuff (outside of the scc branch) is the adjusted `ANDT/bin/run.sh` script. Most of it the basic stuff up to the QCing seems to work at this point.

I've pinged Andy/David to follow Erin

[2016-05-30 01:13] pipitone opened #564 "datman should not hardcode modules?"
Several of our datman scripts (see below) load modules as part of their operation but this makes it difficult to use outside of the tigrlab (e.g. #562, or any system that doesn't have environment-modules). What about:

- Remove module loads and only *assert* that the necessary software is available when run
- Record environment (and/or loaded modules) when scripts are run (perhaps in a text file i

[2016-05-30 13:32] edickie commented on #562
I talked to David on Friday and he sounded serious about having us use
ramdisk for everything...He said something about the current hardware
set-up being to slow so most  basic i-o to compute nodes???

Maybe you need to chat with him about this...

On Sun, May 29, 2016 at 9:02 PM, Jon Pipitone <notifications@github.com>
wrote:

[2016-05-30 13:37] navonacalarco commented on #395
Need to activate closer to start date of 2016/08/01.

[2016-05-30 13:37] #395 closed

[2016-05-30 13:43] pipitone opened #565 "Page build warning on tigrlab/spins github pages"
From the email (my emphasis):

[2016-05-30 13:58] navonacalarco commented on #565
I think I watched you fix this for the workshop site. I can take a stab at it here, if you like. :)

[2016-05-30 14:57] josephdviviano commented on #565
Hey Navona sorry I beat you to the punch:

changed line 6 of `/archive/data-2.0/SPINS/website/_config.yaml`

[2016-05-30 14:57] #565 closed

[2016-05-30 17:03] pipitone commented on #562
Okay, looks like the camh storage is now mounted on all of the SCC. :-)

[2016-05-30 18:22] pipitone opened #566 "datman scripts that use qbatch should have --walltime option"
As we are porting datman over the SCC #562, we're coming up against a queueing system that needs walltimes and other resources to be requested. At the very least, these scripts could have a --walltime option set to a sensible default that's passed on to qbatch, so we could do this in the run script:

    dm-proc-dtifit.py --walltime 2:00:00 ...

re: qbatch there will soon be an environment variabl

[2016-05-30 23:19] josephdviviano commented on #392
+ this is wrapped in now (each file gets its own .csv -- the data can be extracted and put into the SQL table later).

I'm running all of SPINS through this updated pipeline. We'll see how robust it is.

[2016-05-30 23:20] josephdviviano commented on #564
+ on this, I've added abunch of modules loads to the datman.module file sourced by each run script.

[2016-05-30 23:21] josephdviviano commented on #554
This was due to a firewall rule. fixed.

[2016-05-30 23:21] #554 closed

[2016-05-30 23:23] josephdviviano commented on #557
k

[2016-05-30 23:23] #557 closed

[2016-05-30 23:48] pipitone commented on #564
Great. I've done this also on the scc in datman/latest, but only for the
basics (gnu parallel, qbatch, etc..). I'm going to leave the specific
versions of FSL/FS/Slicer/minc/etc... up to the run.sh scripts to load
and unload because I seem to remember there a) being conflicts when
loading all of these at once, and b) some steps may require specific
versions to be loaded? Let me know if I'm wrong a

[2016-05-31 14:29] edickie opened #567 "run script error - version?"
We get the following run-script error repeated for all projects? Does this have to do with the new version checking steps?

/usr/bin/ssh: /opt/quarantine/slicer/4.4.0/build/lib/Slicer-4.4/libcrypto.so.1.0.0: no version information available (required by /usr/bin/ssh)

[2016-05-31 14:31] edickie opened #568 "run script error - conflicting modules?"
Do the version of AFNI in the datman.module conflict with one that's loaded in the PACTMD run script?

AFNI/2014.09.22.1635EDT(7):ERROR:150: Module 'AFNI/2014.09.22.1635EDT' conflicts with the currently loaded module(s) 'AFNI/2014.12.16'
AFNI/2014.09.22.1635EDT(7):ERROR:102: Tcl command execution failed: conflict AFNI

[2016-05-31 17:00] pipitone commented on #567
This is very much an issue with loading the slicer module along with datman, because right now our slicer module puts an old version of libcrypto into the library path. Generally I think we should not be loading processing modules with datman, but instead put them into the run scripts.

That said, let me have a look at the slicer module.. it may be exporting too much anyhow.

[2016-05-31 17:11] josephdviviano commented on #567
Yea this is because I added slicer to the database module last night

Joseph's Phone
On 31 May 2016 1:00 p.m., "Jon Pipitone" <notifications@github.com> wrote:

[2016-05-31 17:13] pipitone commented on #567
Nope, if the slicer module is also going to be used to run command line utils, then the module needs to a folder into the library path which includes libcrypto.. so sad.

@jdv, if I remove the module loads you added to the datman.module, what will break?

[2016-05-31 17:17] josephdviviano commented on #567
I don't think much important will break go ahead. Just leave in the python
and python extras module

Joseph's Phone
On 31 May 2016 1:13 p.m., "Jon Pipitone" <notifications@github.com> wrote:

[2016-05-31 17:21] pipitone commented on #567
Done.

[2016-05-31 17:21] #567 closed

[2016-05-31 19:40] josephdviviano commented on #392
Looks like it is working properly.

[2016-05-31 19:40] #392 closed

[2016-05-31 22:47] josephdviviano commented on #550
OK done, this is actually part of STOPPD, so I've modified the run script to include searching in the SRSD MR folder for new scannies

[2016-05-31 22:47] #550 closed

[2016-06-01 00:26] pipitone commented on #517
IMG says we should be able to route to research IT from the webserver, but I cannot, and the routing table looks a-go-go. Will either open a ticket and/or try setting up a different nic on the same VLAN.

[2016-06-01 00:26] pipitone commented on #568
This should be fixed now that the module loads are removed from the datman module.

[2016-06-01 00:26] #568 closed

[2016-06-01 00:31] pipitone opened #569 "Set XNAT up to listen on port 443"
We now have port 443 open from the outside. May also want to experiment with #553 but to do that we would likely want to install apache/nginx to handle requests (I suspect this is the preferred way to run tomcat in production anyway).

[2016-06-02 14:51] navonacalarco opened #570 "NW Prelapse Login for Tigrlab"
Gigi Gagni; Northwestern; Prelapse.

[2016-06-02 15:22] pipitone commented on #570
I got dis.

[2016-06-02 18:49] edickie opened #571 "PRELASPE SFD field maps not exporting from XNAT"
The tags in exportinfo.csv look fine... I'm stumped.

Any idea why these images aren't being exported?

[2016-06-02 21:08] pipitone opened #572 "XNAT: Resetting your password fails"
Steps to reproduce:
1. Go to the xnat site
2. Click the "Forgot login or password?" link, and enter your username
3. Be greeted with an "unknown error" page:
![#fail](http://i.imgur.com/TE1d5oP.png)

[2016-06-02 21:13] #570 closed

[2016-06-03 13:57] pipitone opened #573 "datman: ninet submodule doesn't have a .gitmodules entry"
Currently if you clone datman, and run submodule init:

    $ git submodule init
    No submodule mapping found in .gitmodules for path 'assets/ninet'

This is an easy fix, but I'll need the URL is for the ninet git repo.. @josephdviviano?

[2016-06-03 14:09] josephdviviano commented on #573
Hey, ninet is a dead project. No repository. Can we just leave that as
commited code for now that we can remove it in the future?

Joseph's Phone
On 3 Jun 2016 9:57 a.m., "Jon Pipitone" <notifications@github.com> wrote:

[2016-06-03 14:44] pipitone commented on #573
Sure, I'll grab the code from datman on tigrsrv.

[2016-06-06 21:48] josephdviviano opened #574 "shut down teamviewer"
- [ ] teamviewer is a mess
- [ ] teamviewer is a waste

[2016-06-07 13:06] edickie commented on #574
Somebodies gotta break the news to Colin...
On Jun 6, 2016 17:48, "Joseph Viviano" <notifications@github.com> wrote:

[2016-06-07 15:03] josephdviviano opened #575 "XNAT autorun pipeline stuck in queued state"
[code]

Shows

`ERROR org.hibernate.util.JDBCExceptionReporter - ERROR: invalid byte sequence for encoding "UTF8": 0x00`

[2016-06-07 15:04] josephdviviano commented on #569
I thought apache was running on our server already?

[2016-06-07 15:23] josephdviviano commented on #575
I've probed xnat here: https://groups.google.com/forum/#!topic/xnat_discussion/YnhhAN7P4Ac

[2016-06-07 16:07] josephdviviano commented on #572
My first guess on this issue is that XNAT is attempting to send a 'reset your password email', but failing. From `/var/lib/tomcat7/webapps/xnat/logs/turbine.log`:

[code]

[2016-06-07 16:23] josephdviviano commented on #572
@pipitone more info:

can attempt ssh from nissl to srv2.pet.utoronto.ca but cannot to srv2.pet.utoronto.ca. I'm guessing this is a firewall issue, but I'm not sure. I'll ping Sylvan about this.

[2016-06-07 16:30] josephdviviano commented on #548
@navonacalarco , I think your redcap solution is best. I'm going to assign this issue to you but please ask for help if you need it.

[2016-06-07 17:10] navonacalarco commented on #548
OK great. The REDCap form exists; as I see it, there are the next steps:

- [ ] 1. Make sure I have a correct list of each study's PI and RA, who will get an email confirming the survey submission when the scancompleted survey is submitted
- [ ] 2. Email all RAs on the scancompleted list to start using it instead
- [ ] 3. Set up a REDCap 'data entry trigger' to fill in the XNAT 'Additional Notes'

[2016-06-07 17:22] josephdviviano commented on #574
Email sent to colin

[2016-06-08 16:16] mlevesque82 opened #576 "civet outputs missing for certain subjects in archive"
There is no civet output files for the following subjects in archive/data/-2.0/

COGBDY:
27B036
27B034

COGBDO:
209455
215002
215958

SPINS:
SPN0009

DTI:
H008
H037
S142

Was there a problem with those subjects? If no, would it be possible to add them?
Thanks!

[2016-06-08 16:21] josephdviviano commented on #576
Hey @mlevesque82 I'll look into it. Likely just a failed run of the pipeline / the jobs were killed for an unrelated reason.

[2016-06-08 16:26] mlevesque82 commented on #576
Thanks, I appreciate it!

[2016-06-08 18:17] mlevesque82 opened #577 "missing enigmaDTI files in archive/data-2.0"
I noticed that FA values in enigma ROI are not available in certain subjects, even though they are in dtifit.

Did something happen to those subjects?

SPINS: CMH_0003, CMH_0025
COGBDY: 27B029, 27B036
DTI: H001, H003, H004, H008, H012, H146, H147, H148, H149, H150, H151, S002, S010, S012, S017, S018, S139, S140, S142

[2016-06-08 18:29] josephdviviano commented on #577
@mlevesque82 cool I'll look into this as well.

[2016-06-09 01:10] pipitone commented on #569
Nope, only Tomcat AFAIK. le sad. Tomcat can listen on port 443 though..
I'm just not sure how it deals with certificates if we ever get there.

Jon.

[2016-06-09 01:11] pipitone opened #578 "Add ipaslave01 to sssd.conf"
From Qing:

[2016-06-09 13:37] qchang commented on #578
Jon,
Have you gotten a chance to complete this? I am hoping that I can add the cards this afternoon.

[2016-06-09 13:37] pipitone commented on #578
I'm working on this right now. Should be fine for this afternoon.

[2016-06-09 13:52] pipitone commented on #578
Done.

[2016-06-09 13:52] #578 closed

[2016-06-09 13:54] pipitone commented on #578
p.s. I added a line to the ansible `ipa-client` role to record this change.

[2016-06-09 14:02] #573 closed

[2016-06-09 14:30] pipitone commented on #566
I've just added the `--walltime` option to the various scripts that need it.

[2016-06-09 14:30] #566 closed

[2016-06-09 14:30] #564 closed

[2016-06-09 16:07] rutwikb opened #579 "Slicer: Error while loading shared libraries"
I'm trying to run code which is supposed to extract FA AD MD values and it was working fine a few days ago but now gives this error.

/opt/quarantine/slicer/nightly/build/lib/Slicer-4.5/cli-modules/FiberTractMeasurements: error while loading shared libraries: libvtkSlicerTractographyDisplayModuleMRML.so: cannot open shared object file: No such file or directory

i've tried it with Slicer/nightly a

[2016-06-09 16:10] qchang commented on #578
Thanks Jon.
On Jun 9, 2016 9:54 AM, "Jon Pipitone" <notifications@github.com> wrote:

[2016-06-09 16:12] pipitone commented on #579
This is might be due to my change in #567. I'll take a look.

[2016-06-09 16:16] pipitone commented on #579
Okay, fixed. I added back all of the library paths I had removed in #567 (it wasn't doing anything useful anyhow).

[2016-06-09 16:16] #579 closed

[2016-06-09 18:50] mlevesque82 commented on #577
Do you think you would have time to do it this week? I'm hoping to redo my analyses with these data for Harvey Stancer Day. If not no worries, I'll put in my old results.

[2016-06-09 20:04] pipitone commented on #577
Melissa, I'm just taking a look at this now. The two SPINS subjects do not have DTI scans, so this explains why they don't have enigma values. I'm looking into the others now.

[2016-06-09 20:19] pipitone commented on #577
Okay, in summary:
- SPINS subjects do not have DTI acquisitions
- COGBDY subjects have 2 DTI60 acquisitions (an initial one, and a repeat), and enigmaDTI expects only one
- CMH_DTI subjects listed do not have any DTI acquisitions

In short, it's only the COGBDY subjects you could get enigma values for. Perhaps @edickie can help you figure out which of the repeats are worth using, and then kick off

[2016-06-09 20:27] mlevesque82 commented on #577
oups, I meant dtifit not enigmaDTI!

[2016-06-09 20:30] mlevesque82 commented on #577
I'm not sure I understand. There are enigmaDTI results for most of the SPINS, COGBDO and DTI subjects...

[2016-06-09 20:32] pipitone commented on #577
Sorry, I should have been clearer: I'm referring only to the subjects you listed.

[2016-06-09 20:35] pipitone commented on #577
Aaaand, one other bit of critical information: the enigmaDTI script expects only a single _FA map. When it finds more than one, it doesn't run. That explains why the COGBDY subjects are missing.

[2016-06-09 20:36] josephdviviano commented on #577
@mlevesque82 I think what he's saying is that for SPINS and DTI, those subjects dont have a DTI scan (so you're not missing any data).

For the cogbdy subjects, our code failed because it saw two DTIs and itshould only see one. So @pipitone could just blacklist the bad DTI (likely the earlier one), remove those files, and rerun enigmaDTI. Though this is just in the service of 2 subjects, so you mi

[2016-06-09 20:38] pipitone commented on #577
Correct. I'd blacklist, but it's difficult for me to visually inspect the DTIs remotely. @josephdviviano  or @edickie, could you take a look?

[2016-06-09 20:39] mlevesque82 commented on #577
Gotcha, I'll remove those subjects. Thank you!

[2016-06-09 20:41] pipitone commented on #576
Similar thing happening here as in #577, each of these scans has two T1 images, and so the CIVET script is refusing to run. We just need to blacklist and remove the bad T1 in each case and CIVET will run correctly.

[2016-06-09 20:43] josephdviviano commented on #577
@pipitone @edickie sure I can blacklist them.

[2016-06-09 20:57] pipitone commented on #574
Teamviewer wasn't installed on any of the machines, but just in case I've removed any trace from the workstations via:

    ansible -m apt -a 'name=teamviewer9:i386 state=absent purge=yes' all

That said, people may still have local copies installed.

[2016-06-09 20:57] #574 closed

[2016-06-09 21:11] mlevesque82 commented on #576
Thanks for looking into this. I really appreciate it!

[2016-06-09 21:17] pipitone commented on #576
No problem. The way I figured this out was this:

1. Load the datman module: `module load /archive/data-2.0/code/datman.module`
1. Check the `STUDY/bin/run.sh` (e.g. `COGBDY/bin/run.sh`) script for the command that runs the CIVET stage: `dm-proc-CIVET.py ${PROJECTDIR}/data/mnc ${PROJECTDIR}/data/civet COGBDY`
1. Run the stage with the `--debug` and `--dry-run` flags set so that I could see what th

[2016-06-10 01:53] edickie commented on #576
Hi guys. Also, there a checklist.csv inside the civet output directory
which should contain a note about why it didn't run (i.e.because multiple
T1's were found). You can manually edit the checklist file with the
filename of the T1 you have chosen for the analysis, and civet should run
without need for blacklisting.
On Jun 9, 2016 17:18, "Jon Pipitone" <notifications@github.com> wrote:

[2016-06-10 16:43] mlevesque82 commented on #576
OK, let me know when those subjects become available. Thanks!

[2016-06-13 14:39] mlevesque82 opened #580 "queue"
Is there something going on with the queue? It seems like my jobs keep failing.

[2016-06-13 14:43] josephdviviano commented on #580
Can you post more details? What jobs are you submitting (exact command)

Joseph's Phone
On 13 Jun 2016 10:40 a.m., "Melissa Levesque" <notifications@github.com>
wrote:

[2016-06-13 14:55] mlevesque82 commented on #580
tbss_2_reg -T

I have tried FSL/5.0.7 and FSL 5.0.9

I don't know what's going wrong. I'm getting Eqw and S as status on qstat and qmon.

[2016-06-13 15:07] mlevesque82 commented on #576
From the list, the following are now available (although no QC, would it be possible to run the QC script please?):

COGBDY 27B036
COGBDO 215002; 215958
DTI H037; S142

The following are still missing:
COGBDY 27B034
COGBDO 209455
SPINS SPN0009
DTI H008

Funny that the one still missing is the first participant (alphabetically) each time...

I have enough subjects in my analysis for Harvey Stancer

[2016-06-13 15:12] mlevesque82 commented on #577
@edickie would you mind running the script to include COGBDY 029 and 036 into the summary (enigmaDTI-FA-reults.csv)? Thank you!!

[2016-06-13 15:26] arash-n opened #581 "DTIprep"
Hey guys,

I will be using DTIprep to preprocess PACTMD which requires nrrd files. I was wondering if you can convert the DICOMs for multi-shell data to nrrd. In addition, please let me know how we generally use DTIprep (e.g. a protocol, GUI vs. command line, etc.).

Cheers,
Arash

[2016-06-13 15:51] pipitone commented on #581
I've turned on nrrd export for the DTI images in PACTMD. They should be there tomorrow.

As for using DTIPrep, we use it something like this:
https://gist.github.com/pipitone/f520d1a8ba68db9c94a4

i.e. simple use the default settings, and from the command line. I don't think people here use the GUI for proper QCing, but I could be wrong about that. If you have any better advice as to how to use it

[2016-06-13 15:54] arash-n commented on #581
Thanks Jon. I was also thinking of using the defaults. I'll look into it. ;)

Cheers,
Arash

[2016-06-13 16:50] josephdviviano commented on #577
@mlevesque82 they're added now

[2016-06-13 17:05] josephdviviano commented on #577
I've blacklisted and deleted the bad scans -- going to close this (reopen if you need).

[2016-06-13 17:05] #577 closed

[2016-06-13 18:50] edickie commented on #576
I sent all of them on Friday...so it's weird that some are failing..

@pipitone @jdv can you guys look into this? I don't know if it is something
to do with the queue?? or the way the civet script is qsubbing

On Mon, Jun 13, 2016 at 11:07 AM, Melissa Levesque <notifications@github.com

[2016-06-13 19:05] josephdviviano commented on #576
@pipitone @mlevesque82 @edickie ill look at it now

[2016-06-13 19:54] josephdviviano commented on #576
Looks like clevis does not resolve on all of the machines. I'm guessing the sss_cache needs to be reset on all of our machines:

`sss_cache -E`

I'm running this on all machines via ansible, but it fails for most machines.

+ clevis does not exist on penfield, something wrong with sssd

[2016-06-13 19:59] pipitone commented on #576
Troubling. Let's get Qing on this; he's had a lot more experience with SSSD. This looks like the same problem as when jviviano user wasn't found on davinci earlier today.

[2016-06-13 21:04] mlevesque82 commented on #580
I'm getting this as an error: "Error for job ######: can't get password entry for user "melissa". Either the user does not exist or NIS error!"

[2016-06-13 21:19] josephdviviano commented on #580
Hi Melissa yes this is a known issue. It's why I asked you to restart your
machine when you are done work.

I've identified 3 machines where we see this error.

Joseph's Phone
On 13 Jun 2016 5:04 p.m., "Melissa Levesque" <notifications@github.com>
wrote:

[2016-06-13 21:27] mlevesque82 commented on #580
Ah ok good to know

[2016-06-14 12:55] josephdviviano commented on #576
Likely related. from logcheck:

`Jun 13 22:00:07 backup nfsidmap[452]: nss_getpwnam: name 'jviviano' not found in domain 'camhres.ca'`

[2016-06-14 14:47] josephdviviano commented on #576
+ updating / restarting all machines (including restarting sssd) seems to have resolved the issue.

[2016-06-14 15:16] josephdviviano commented on #576
+ also fixed for compute 01 (again ... this computer was very out of date).

On all of these machines, I updated something that overwrote a PAM configuration file. I wouldn't be surprised if that was part of the solution.

[2016-06-14 15:37] mlevesque82 commented on #580
restarted davinci and same problem occurring

[2016-06-14 15:44] josephdviviano commented on #576
@mlevesque82 just found something interesting ... rebooting your machine now, can you try logging in when it is finished?

[2016-06-14 15:53] josephdviviano commented on #580
Try again I think I fixed it.

[2016-06-14 15:53] #580 closed

[2016-06-14 15:56] josephdviviano opened #582 "SSSD fails to resolve users intermittantly"
Outstanding issue: `sudo service sssd restart` required upon reboot on some machines for sssd to work properly.

Solution: allow all policies involving `sssd` via:

[code]

Question: Why did I need to do this? Why is it only affecting some machines?

My first step is to email Qing.

[2016-06-14 16:03] josephdviviano commented on #576
I'm going to close this for now ... new outputs should appear in the morning. @mlevesque82 can you please reopen if this is still a problem?

[2016-06-14 16:03] #576 closed

[2016-06-14 16:35] pipitone commented on #582
Alternatively, you can completely disable the sssd apparmor profile like so:

     sudo aa-disable /etc/apparmor.d/usr.sbin.sssd

Also, as more info, here are the sorts of apparmor complaints being logged:
[code]

[2016-06-14 16:47] josephdviviano commented on #582
Hey @pipitone , are those complaints? I though ALLOWED meant everything was
cool

Joseph's Phone
On 14 Jun 2016 12:35 p.m., "Jon Pipitone" <notifications@github.com> wrote:

[2016-06-14 19:14] josephdviviano commented on #582
From Qing:

I have not worked on apparmor purposely, just looked on my Ubuntu VM, it has the profile for sssd too, I thought I did not use it at all. It did not have the behavior you are experiencing.

Do you guys have any logs? I think if it happens regularly, you may want to set it to complain and capture some logs.

A search on SSSD mailing list did not show any relevant info.

[2016-06-14 19:15] josephdviviano commented on #575
I've disabled all pipelines and cleared all queued pipelines as an intermediate step, so they shouldn't block operations like moving / renaming data.

[2016-06-14 19:19] rutwikb commented on #582
penfield wasn't resolving `rutwik` user, but did so fine after restarting the `sssd` service. Here's what the logs during the restart:

[code]

[2016-06-14 19:30] pipitone commented on #582
Qing also suggests that NetworkManager may be involved....

[2016-06-14 19:40] pipitone opened #583 "Create the ASDN data-2.0 project"
See tigrlab@camh.ca email for more details.

[2016-06-14 21:27] josephdviviano commented on #582
Can you post his email? I never revived that one.

[2016-06-14 22:40] pipitone commented on #582
No email; we talked in person. He just doesn't like NetworkManager and
thinks it gets in the way of things.

[2016-06-14 23:51] josephdviviano commented on #582
Makes sense, NM can do some strange things. I'll keep looking into it.
Fingers crossed we've come across a medium-term solution.

JDV

On Tue, Jun 14, 2016 at 6:40 PM, Jon Pipitone <notifications@github.com>
wrote:

[2016-06-15 15:38] josephdviviano commented on #445
@pipitone this seems like an important thing for you to finish before you go. likely the most important. where are you with this?

[2016-06-15 15:39] josephdviviano commented on #475
@pipitone can you ping Jo from CompuCom to figure out where we stand with this?

[2016-06-15 15:53] pipitone commented on #445
I won't be able to finish this before I go, and honestly I'm no better
at it than anyone else because it simply involves looking at the files
in /archive/data and determining if they are already in
/archive/data-2.0 or not.

I've gone through several of the projects and reconciled them with
/archive/data-2.0 projects: found anything missing and copied it over to
data-2.0 (there was very little of

[2016-06-15 15:59] mlevesque82 opened #584 "queue issues"
I'm still having problems running tbss_2 on the queue.

Error is : can't get password entry for user "melissa". Either the user does not exist or NIS error!

[2016-06-15 16:43] josephdviviano commented on #584
What time did this happen? We lost connection with our nameserver this afternoon. If you re-run, do you continue to have problems?

[2016-06-15 17:00] pipitone commented on #582
`nissl` is currently acting up (see #584) so I turned up the debug logging level on sssd and restarted it. Here's what was in the logs:

[code]

btw, restarting sssd did not help resolve the melissa user.

[2016-06-15 17:04] pipitone commented on #582
Actually, I think this was because `nameserver 8.8.8.8` was stuck into `/etc/resolv.conf` so SSSD couldn't find the IPA server properly. Once I removed that, sssd restarted successfully.

So, let's double check that all machines no longer have the google public nameservers configured.

[2016-06-15 17:05] pipitone opened #585 "Add ipaslave01 to hosts and DNS nameservers"
Right now it's just in `sssd.conf` but that doesn't cut it if the main server goes down because it also does DNS for us.

[2016-06-15 17:13] pipitone commented on #582
Perhaps we can crank up debugging across all the workstations. Add `debug_level = 3` to `sssd.conf`.

[2016-06-15 17:26] mlevesque82 commented on #584
Looks like it's running now

[2016-06-15 17:28] josephdviviano commented on #582
@pipitone makes sense but couldnt be true for the original issue as it was a problem before we did any 8.8.8.8 stuff.

[2016-06-15 18:10] josephdviviano opened #586 "mount camh storage on XNAT vm:"
From email [redacted]

I wonder if you are mounting Dell NFS per IP? There is a set of IPs that are so called virtual IPs to provide some redundancy and performance advantage. They are made available by DNS:
-----
[root@rdrshipacv01 log]# nslookup rprshnas01
Server:         172.28.216.52
Address:        172.28.216.52#53

Name:   rprshnas01.camhres.ca
Address: 172.28.216.35
Name:   rprshnas01.camhr

[2016-06-15 22:09] josephdviviano opened #587 "genetics yulia spreadsheet"
Please find attached a table with some additional sample information I put together this afternoon.

It turns out that out of the already GWAS-ed subjects we have 3T data for 75. We’ll add 49 from what is called “DT” in the genetics database and 70 additional unique subjects from SPINS+rTMS (i.e., 119 new gene chips to be purchased) for a total sample of ~194ish available for analysis. We can do m

[2016-06-16 14:31] pipitone opened #588 "Set group permissions on the scc /KIMEL folder"
Perhaps use the `kimel_admins`(sp?) group to manage access in that folder.

[2016-06-16 15:31] pipitone opened #589 "We have run out of backup space"
ZFS is likely very unhappy, atm :-)

~~In addition to archiving `anne`'s projects folder (see #340)~~, we could also move the following projects folders to `hal:/alumni` and to `camh:/alumni`) to make space:
- [x] tris
- [x] dan
- [x] julie

Heavy users we could pester include:
[code]

[2016-06-16 15:47] josephdviviano commented on #589
Hey @pipitone, why don't we just start backing up to the next CAMH storage?

[2016-06-16 16:41] pipitone commented on #589
We should move to doing this (and just use the backup server as our
third backup of critical data), but right now the transfer speeds with
CAMH storage aren't good enough to do nightly backups. This may be
better now that we are moving to mounting CAMH storage over a range of
IPs?

On Thu, Jun 16, 2016, at 11:47 AM, Joseph Viviano wrote:

[2016-06-16 17:05] pipitone commented on #585
I've added ipaslave01 to /etc/hosts in ansible and applied it on all of our machines.

[2016-06-16 17:06] pipitone commented on #575
XNAT pipeline log files here: `/data/xnat/pipeline/logs`

Lots of useful error logging in there I'm now digging through.

[2016-06-16 17:08] josephdviviano commented on #575
@pipitone nice ... missed this one.

[2016-06-16 17:11] pipitone commented on #575
You can test pipelines like so from `/data/xnat/pipeline` (see the log file for full command line, which I don't want to post in case it has private info):

    sudo -u xnat bin/XnatPipelineRunner -config ....

[2016-06-16 17:13] #584 closed

[2016-06-16 17:16] pipitone commented on #575
Getting "connection refused" type exceptions. I bet this is because it's not possible to connect via the external IP address from within the box. The external IP is being used in the command line, but when I switch to using `localhost` I get different errors about session management, not connection issues.. Will sort out how to use a domain name rather than IP

[2016-06-16 17:16] josephdviviano commented on #575
@pipitone good tip --

this line from the logs:

`FATAL main org.nrg.pipeline.client.XNATPipelineLauncher - Couldn't search for queued workflows`

leads me here:

https://groups.google.com/forum/#!topic/xnat_discussion/NiR6fhbjhUk

which suggests that it is a connection issue

[2016-06-16 17:17] josephdviviano commented on #575
@pipitone do you mean use domain name within xnat itself?

[2016-06-16 17:18] pipitone commented on #575
Yup, or even just the pipeline engine, because then we can map the domain name locally to an accessible IP address (e.g. "localhost").

[2016-06-16 19:23] pipitone opened #590 "Setup xnat.imaging-genetics.camh.ca"
We'll need this to point to our XNAT server, especially when we move off the PET network #407

[2016-06-16 19:36] pipitone commented on #590
I've emailed Alan; he's already set this up for external use, but not yet for inside CAMH.  We can temporarily work around this for internal machines by adding an entry to `/etc/hosts`.

[2016-06-16 19:41] pipitone commented on #590
Added to `/etc/hosts` and applied it to all the machines:

    ansible-playbook playbooks/common.yml

[2016-06-16 20:38] pipitone commented on #575
Success!

Here's what I did:
1. Changed the XNAT address via the web interface to `http://xnat.imaging-genetics.camh.ca`
1. Added an entry for this hostname in `/etc/hosts` which points to `127.0.0.1` so that that hostname is accessible from inside the webserver.
1. Changed the routing table so that the webserver could access the RIC network's email server (see the updated netmask for `eth0` in `/

[2016-06-16 20:38] #575 closed

[2016-06-16 20:41] pipitone opened #591 "Add srv-web's custom /etc/hosts entry for xnat.imaging-genetics.camh.ca"
See #575. In order to get the autorun script working I added an entry into /etc/hosts specifically for xnat that points to localhost. Since in #590 I added a general entry to /etc/hosts for that same address that points to the external IP address, ansible needs to be configured to treat srv-web as a special case when it generates the hosts file.

~~This problem will go away when `xnat.imaging-gene

[2016-06-16 20:57] pipitone commented on #588
I've emailed Andy about setting this up.

[2016-06-16 23:04] josephdviviano opened #592 "figure out how to get jessica turner on our system to see our QC system"

[2016-06-17 14:49] edickie commented on #592
We're not just sending her zip files or pdfs?

[2016-06-17 14:50] edickie commented on #467
Giving up on this..

[2016-06-17 14:50] #467 closed

[2016-06-17 14:51] josephdviviano commented on #592
I sent her one, but if she wants to see the whole system well need to get
her a login. I've started the email chain with her already

Joseph's Phone
On 17 Jun 2016 10:49 a.m., "edickie" <notifications@github.com> wrote:

[2016-06-17 14:56] edickie opened #593 "Get scc archive/data-2.0 folder to be writable"
Right now, on the scc, our archive folders are owned user 'nobody' group 'nobody', which means that we can't write pipeline outputs (or anything else) into the archive from an scc node....

Before I email Qing about this again. Who (i.e. what username) are we going to give ownership of archive files to on the scc?? Are we creating a clevis on their system??

[2016-06-17 15:08] pipitone commented on #593
We've got an issue about this open over here #588. I've emailed Andy about creating a group, `kimel_admins` which we are all a part of it.

[2016-06-17 15:08] pipitone commented on #593
Oops, never mind. This is about our CAMH storage mount. Reopening. :-)

[2016-06-17 15:27] pipitone commented on #588
Okay, the `kimel_admins` group has been created. I've set `/KIMEL`, and `/KIMEL/quarantine` recursively, to have this group, and I've flipped the [setgid](https://www.gnu.org/software/coreutils/manual/html_node/Directory-Setuid-and-Setgid.html) bit on the directories so that new files/folders will have the `kimel_admins` group:

[code]

This isn't a perfect solution though, as users may have a uma

[2016-06-17 15:27] #588 closed

[2016-06-17 15:37] pipitone commented on #593
To summarise, there are two issues here:

1. `nobody` ownerships on the tigrlab SCC mount. This is likely due to the mount being an NFS4 mount but the SCC is not using the IPA nameserver so is getting confused. A remount over NFS3 should do it.

2. Creating a user like our `clevis` for nightly data processing.

[2016-06-17 16:25] pipitone commented on #592
We could stick this stuff on the web server? Set up a redirect for `xnat.imaging-genetics.camh.ca/qc` to point to a folder of QC stuffs?

[2016-06-17 16:26] pipitone commented on #588
Okay, looks like Andy is going to enable ACLs for us. For future reference, here's how you set the default permissions for the kimel_admin group to be `rwX` recursively for a folder:

     setfacl -R -d -m group:kimel_admins:rwX /KIMEL/quarantine  # set defaults
     setfacl -R -m group:kimel_admins:rwX /KIMEL/quarantine      # set actual perms

[2016-06-17 18:04] pipitone opened #594 "Upload imaging data to the RDoc database"
I've started a wiki page to document exactly how to do this for SPINS here that we can add to:
https://github.com/TIGRLab/admin/wiki/RDoc-Data-Upload

[2016-06-17 18:05] pipitone commented on #588
As a final update, it turns out that regular ext4 ACLs don't work over NFS, so instead you'll have to use the `nfs4_setfacl` command to do the trick. I'm not familiar with it, so I'm going to leave this for now. Andy can help with this in the future.

[2016-06-17 18:08] pipitone commented on #589
FYI, I did a sync of the XNAT folder to the camh storage `tigrlab/xnat` and it took 4 hours. Not as bad as I thought.

[2016-06-17 18:25] pipitone commented on #340
Okay, I'm syncing anne's projects folder to alumni/ on tigrsrv. It's running in tmux session on tigrsrv as admin.

    sudo rsync --delete --info=progress2 -a /projects/anne/ /mnt/alumni/anne

Next steps:
- [ ] Sync /mnt/alumni/ to /mnt/tigrlab/alumni
- [ ] Remove /projects/anne
- [ ] Remove backup:tank/projects/anne

[2016-06-17 19:36] pipitone commented on #340
Done.

[2016-06-17 19:36] #340 closed

[2016-06-17 19:39] pipitone commented on #589
After moving Anne's project folder to tigrlab/alumni, and deleting the projects folder on `tigrsrv` and on `backup`, we should have around 600GB of freespace. I'm closing this issue for now.

[2016-06-17 20:35] pipitone commented on #569
It has been done. Let's not close this until the [XNAT wiki page](https://github.com/TIGRLab/admin/wiki/XNAT) and/or Ansible is updated with the XNAT/nginx/certbot configuration steps

[2016-06-17 20:36] #553 closed

[2016-06-17 20:38] pipitone commented on #517
As an update, I've filed an issue to get access from the the webserver to the CAMH storage.

[2016-06-17 20:40] josephdviviano opened #595 "document XNAT SSL config"

[2016-06-17 20:40] #595 closed

[2016-06-17 20:43] josephdviviano commented on #569
need to document following files:

http://webapp.org.ua/sysadmin/setting-up-nginx-ssl-reverse-proxy-for-tomcat/

https://loune.net/2016/01/https-with-lets-encrypt-ssl-and-nginx/

https://bjornjohansen.no/redirect-to-https-with-nginx

[code]

[2016-06-19 10:55] pipitone commented on #589
I'm reopening this because we've again run out (who knew half a TB would go by so fast). I'm going to move `tris` and `dan` to the alumni folders (see the [issue description](https://github.com/TIGRLab/admin/issues/589)).

[2016-06-19 23:18] pipitone commented on #589
Done moving `dan` and `tris` to the alumni folders. There is approximately 1.2TB of free space now.

[2016-06-19 23:18] #589 closed

[2016-06-20 02:13] josephdviviano opened #596 "have fail2ban email tigrlab@camh.ca when it bans someone"
This *might* be noisy, but it might be useful in cases we ban someone we don't want to ban.

https://www.digitalocean.com/community/tutorials/how-to-protect-ssh-with-fail2ban-on-ubuntu-14-04

[2016-06-20 21:09] josephdviviano opened #597 "braincloud for tina R"
I have downloaded, decrypted, and unzipped BrainCloud data from dbGaP.
You can find the data here:

/home/tina_r/Downloads/BrainCloud/

I think the BrainCloud folder could be copied to: /external/dbgap/
and the brief description in /home/tina_r/Downloads/BrainCloud/README.txt can be added to /external/dbgap/README.md

Please let me know if you had any questions.

[2016-06-20 22:00] josephdviviano commented on #590
I think this is done. See:

http://www.viviano.ca/writing/xnat-nginx/

https://github.com/TIGRLab/admin/wiki/XNAT

[2016-06-20 22:01] josephdviviano commented on #572
This was resolved, XNAT was not communicating with itself properly through localhost.

[2016-06-20 22:01] #572 closed

[2016-06-20 22:02] josephdviviano commented on #569
This is done. See

http://www.viviano.ca/writing/xnat-nginx/

and

https://github.com/TIGRLab/admin/wiki/XNAT

[2016-06-20 22:02] #569 closed

[2016-06-20 22:02] pipitone commented on #590
You might consider keeping this open until the url resolves internally at CAMH.

[2016-06-20 22:04] josephdviviano opened #598 "gather any purchase quotes etc from JP before he becomes a surgeon"
Hey @pipitone

Where are the PDFz in ur folders full of kewl CFI quotez?

I need them. For science.

[2016-06-20 22:05] josephdviviano commented on #591
@pipitone : is this done?

If so -- can you add a bit to the XNAT wiki about this so when I go to write an ansible role for all of this I have a clear understanding of why we needed to do this?

[2016-06-20 22:05] pipitone commented on #598
I don't think I have any quotes that matter any longer. I had a quote for a KVM that I sent to DL that never went anywhere (and I didn't follow up with) but that's about it.

[2016-06-20 22:12] pipitone commented on #591
I have not written an ansible role for this (which is what this issue is about), but I have added the following entry to srv-web:/etc/hosts (see #575):

    127.0.0.1 xnat.imaging-genetics.camh.ca

I've added a note to this effect on [the xnat wiki page](https://github.com/TIGRLab/admin/wiki/XNAT)

[2016-06-20 22:12] josephdviviano commented on #590
Right, thanks @pipitone

[2016-06-20 22:15] josephdviviano commented on #598
Hi @pipitone , so you never put together any quotes that were purchased?

[2016-06-20 22:22] pipitone commented on #598
Hi @jdv. I don't think so. We had the second set of IBM storage arrays which I arranged quotes for, but we didn't purchase those. FYI, Dielle has copies of everything from DR's days in a folder on the T drive.

[2016-06-20 22:23] josephdviviano commented on #598
OK great I just wanted to make sure. DL asked me earlier today and I wasn't definitive on the subject.

[2016-06-20 22:23] #598 closed

[2016-06-21 16:14] josephdviviano opened #599 "srv-web login should be key-based only from outside"
+ you can currently ssh into srv-web with a password
+ should be key-only.

[2016-06-21 16:40] josephdviviano commented on #599
done.

+ ssh -p 8443 required when inside the network works without keys.
+ ssh -p 8443 requires a key when outside the network.

+ -p 22 does not work, I think it is a network routing issue that should be resolved when we change over to CAMH entirely.

[2016-06-21 16:40] #599 closed

[2016-06-21 18:53] edickie opened #600 "Split the repeats out of PRELASPE PCE participants"
The two newest PRELASPE PCE have the repeats in the same folder as their time 1 scans..

Folders to split:
PRE01_PCE_S2020_01
PRE01_PCE_S2021_01

[2016-06-21 19:00] josephdviviano commented on #600
You get to do this, I did it last time.

Also worth shooting them an email.

[2016-06-22 15:42] navonacalarco commented on #600
I can help do this!@jdv, when you do this, do you download and then re-upload the data?

[2016-06-22 16:57] josephdviviano commented on #600
Yeah, thats the best way I know how to do it. I usually download the files, delete everything, create new subjects, and then upload the split data to the new subject.

[2016-06-23 16:14] josephdviviano opened #601 "missing transmagic data for nick"
[code]

These subjects either failed preprocessing or are missing the required files for analysis (SPIRAL and/or T1).

I've come across at least one instance of missing spiral data in data-2.0 where we have the data in our .zip files. In those cases I'll be deleting data from XNAT so the spirals can be re-uploaded.

[2016-06-23 20:43] josephdviviano opened #602 "RMA drive for mansfield"
he frown

drive on my bookieshelf

[2016-06-24 16:15] sabashahab opened #603 "Can't download attachments from outlook"
I have tried both Firefox and Chrome. I can't download any attachments. I get this error on Chrome:

This web page is not available
DNS_PROBE_FINISHED_NXDOMAIN

I tried using several workstations but couldn't get attachments to download.

[2016-06-24 16:36] josephdviviano commented on #603
Yes it looks like we're having some DNS trouble.

I'll contact qing about this.

[2016-06-24 16:47] josephdviviano commented on #603
Resolution was to add 8.8.8.8 to resolv.conf --- contacted Qing and Alan about this. Will follow up in another ticket.

[2016-06-24 16:47] #603 closed

[2016-06-24 16:57] pipitone commented on #603
Try adding ipaslave01's IP address as a nameserver also.  Worth a try because google public DNS won't resolve CAMH addresses properly (eg the scc)

[2016-06-24 17:45] edickie commented on #528
Dawn has added a pull request with a fix for this!

[2016-06-24 17:45] #528 closed

[2016-06-24 17:46] edickie opened #604 "weird run script error.. for sync with PET server"
Unable to resume download of "/archive/data-2.0/COGBDY/data/zips/2014_0314_AM010.zip": local file is larger than remote

This is a weird one because the file is from a scan two years ago..

[2016-06-24 17:48] edickie opened #605 "another ambiguous run-log error: 06/24/16"
For the DTI CMH project...this is happening somewhere in between dm-check-headers and dm-proc-rest

Unable to read script file because of error: ERROR! argument to -N option must not contain /
ERROR closing pipe to qsub:

[2016-06-24 17:49] josephdviviano commented on #604
This is due to my open issue regarding nicks data

Joseph's Phone

On 24 Jun 2016 1:46 p.m., "edickie" <notifications@github.com> wrote:

[2016-06-24 17:49] josephdviviano commented on #605
If you run these commands interactively what do you find?

Joseph's Phone

On 24 Jun 2016 1:48 p.m., "edickie" <notifications@github.com> wrote:

[2016-06-24 19:20] edickie commented on #605
with the set -x option we see:
+ sge_batch -o logs -k -J DTI/CMH_imob dm-proc-imob.py /archive/data-2.0/DTI/CMH /scratch/clevis /archive/data-2.0/code/datman/assets/150409-compcor-nonlin-8fwhm.sh /archive/data-2.0/DTI/CMH/metadata/design
Unable to read script file because of error: ERROR! argument to -N option must not contain /
ERROR closing pipe to qsub:

[2016-06-24 19:25] edickie commented on #605
I'm going to close this because the new run scripts use qbatch anyway...

[2016-06-24 19:25] #605 closed

[2016-06-24 19:32] pipitone commented on #605
They may still fail is the job names are the same. The problem is that the jobs are being named DTI/CMH_imob. That slash is where the issue is, I'd guess.

[2016-06-24 19:40] josephdviviano opened #606 "investigate GMB as a replacement for GLM"
+ part of the pymvpa package
+ might be a useful classifier in data-starved datasets (STOPPD?)
+ http://www.pymvpa.org/generated/mvpa2.clfs.gnb.GNB.html

[2016-06-24 19:46] josephdviviano commented on #601
Todo:

- [ ] COGBDO_CMH_209455_01 - bad xnat upload. deleted + reuploaded.
- [ ] COGBDY_CMH_27B001_01 - bad xnat upload. deleted + reuploaded.
- [ ] COGBDY_CMH_27B032_01 - bad data on MR server. email sent + data deleted.
- [ ] COGBDY_CMH_27B044_01 - bad xnat upload. deleted + reuploaded.
- [X] DTI_CMH_H016_02      - flipped spiral data is corrupt. fixed and re-run.
- [ ] DTI_CMH_H029_02      - no

[2016-06-24 21:01] arash-n commented on #581
Hi Jon,

Hope you are doing great. Do you mind pointing me to the .xml file for DTIPrep QC protocol that you are using.

Cheers,
Arash

[2016-06-24 21:49] pipitone commented on #581
I don't use one. By that I mean, I just use the DTIPrep default one that it makes. :-/

[2016-06-25 18:40] arash-n commented on #581
I am running DTIPrep now and it looks fine now. However, the nrrd files for the following DTI subjects is non-existent:
H001

H003

H004

H008

H010

H012

H013

H016

H034

H082

H146

H147

H148

H149

H150

H151

H152

H153

H155

H156

H157

H158

[2016-06-25 19:21] pipitone commented on #581
Check the README in the project folder and try searching the closed issues if nothing is mentioned there. Some subjects don't have DTI acquisitions.

[2016-06-25 19:58] arash-n commented on #581
These are the subjects that I already have their multi-shell diffusion images. I checked H001 for instance, although there is no nii and nrrd diffusion file available. However, DICOM files exist in data-2.0.

Cheers,

Arash

[2016-06-25 20:44] josephdviviano commented on #581
@edickie @navonacalarco is the exportinfo file for DTI/CMH misconfigured?

[2016-06-25 21:17] edickie commented on #581
Have these subject been blacklisted??

On Sat, Jun 25, 2016 at 4:44 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-06-27 14:58] josephdviviano commented on #593
@pipitone @edickie who is going to implement the remount to nfs3 so we can close this ticker?

[2016-06-27 15:01] pipitone commented on #593
Andy. I believe erin has been talking with him about this.

[2016-06-27 15:22] josephdviviano commented on #601
from nick:

     STOPPD_CMH_410004_01 - no spiral collected. -fine
     STOPPD_CMH_410004_02 - no spiral collected. -fine
     STOPPD_CMH_410030_01 - freesurfer failed, rerunning. -baseline pt, would like for analysis
     STOPPD_CMH_420005_01 - no spiral collected. -fine
     STOPPD_CMH_420007_01 - no spiral collected. -fine
     STOPPD_CMH_420007_02 - no spiral collected. -fine
     STOPPD_CMH_4

[2016-06-27 16:26] josephdviviano opened #607 "make sure we get this new upload tomorrow: 20141223_Ex03249_BDCD2MR_BDRZ024"
Should include a spiral image

[2016-06-27 16:37] josephdviviano commented on #604
Should be resolved.

[2016-06-27 16:37] #604 closed

[2016-06-27 17:32] pipitone commented on #517
@josephdviviano mentioned some reluctance to access the CAMH storage from the webserver (the issue to allow this access is still wending its way through CAMH IT pipes), so another solution is to use our current backup ZFS drives as storage (and they would be local to kimsrv). I can see two ways to do this:

1. Configure the backup server to share the ZFS `tank/xnat` filesystem over NFS, and mount

[2016-06-27 17:41] pipitone commented on #475
Okay, I've synced `/projects`. The sync takes about 2 hours if not much data is transferred (this is just the time it takes to inspect all of the files). This means we could actually use the CAMH storage as backup for `/projects` right now if we wanted, but we're still pretty good on space on `backup` for a little while longer. :-)

At this point, we have a complete copy of all of our data on the

[2016-06-27 17:44] pipitone commented on #297
I'm going to have unassign myself from this. I'm not sure how big of a deal it is.

[2016-06-27 17:49] pipitone opened #608 "Update clevis' info on passpack"
Clevis has a github account and an IPA user account, but on passpack we just have some weird entry for clevis that makes no sense. I think Clevis is being mischievous.

[2016-06-27 18:41] josephdviviano commented on #608
fixed.

[2016-06-27 18:41] #608 closed

[2016-06-27 19:33] josephdviviano commented on #560
This doesn't seem to be totally reproducible, though we are continuing to have problems with clevis not being recognized on all machines on the queue. Not sure if this is a CAMH network issue or what, but I'm going to close this.

[2016-06-27 19:33] #560 closed

[2016-06-27 19:33] #559 closed

[2016-06-27 19:34] josephdviviano commented on #582
Can confirm this happens randomly for clevis (still)...

[2016-06-27 20:04] josephdviviano opened #609 "spin up PNSC1MR"
see /data-2.0/PNSC/

[2016-06-27 20:18] josephdviviano commented on #609
Set up ... awaiting data :)

[2016-06-27 20:18] #609 closed

[2016-06-27 20:59] edickie commented on #581
Here's what I see in the blacklist...

DTI_CMH_H001_02_01_DTI33-1000_08_Ax-DTI-32+3-b1000  wrong-protocol
DTI_CMH_H001_02_01_DTI33-3000_07_Ax-DTI-32+3-b3000  wrong-protocol
DTI_CMH_H001_02_01_DTI33-4500_06_Ax-DTI-32+3-b4500  wrong-protocol
DTI_CMH_H003_02_01_DTI33-1000_08_Ax-DTI-32+3-b1000  wrong-protocol
DTI_CMH_H003_02_01_DTI33-3000_07_Ax-DTI-32+3-b3000  wrong-protocol
DTI_CMH_H003_02_01_DTI33-4

[2016-06-27 21:06] edickie commented on #537
The run scripts are not using the blacklist for this study...this will be fixed once we update the runscripts in moving to the scc

[2016-06-27 21:06] #537 closed

[2016-06-27 21:09] edickie opened #610 "write PRELASPE IWA to find out why they repeated the resting state..."

[2016-06-27 21:17] josephdviviano opened #611 "Connectivity analysis with Rebecca"
- [x] Atlas registration with Shen 264 atlas. Functional data is in native (T1) space.
    - [X] Push atlas into native T1 space for each subject
      - Used `/projects/rtrossman/data/rsfc/reg-shen-with-t1-space.sh`
    - [x]  Calculate correlation matricies etc.
      - Used `/projects/rtrossman/data/rsfc/calc-corrmat.sh`
- [ ] Residualize ages: https://github.com/josephdviviano/cerebellum/blob/

[2016-06-27 21:37] josephdviviano commented on #597
Thanks Tina, syncing now.

[2016-06-27 21:37] #597 closed

[2016-06-27 22:14] arash-n commented on #581
The list of the subjects that I had sent have a correct protocol. Most if not all have even the correct gradient directions. The only problem in some of them may be different voxel sizes across different b-values which may be an issue for concatenation in nrrd format.

[2016-06-27 22:56] josephdviviano commented on #581
@arash-n see this file: /archive/data-2.0/DTI/CMH/README.md

We've been through this already and we're pretty sure the data isn't appropriate for data-2.0. You're welcome to work with the DICOMs if you want.

- Thu May  7 16:44:43 EDT 2015

  After discussion with @djrotenberg and @josephdviviano I think I can
  summarize the DTI situation as this:

  - Some subjects have 32 direction + 3 B0 DTI i

[2016-06-27 23:42] arash-n commented on #581
Hey guys,

I can not confirm it but I just remembered something really important. The b-values are misleading and vary between the scans, as they are in and of themselves meaningless. The bvec is correct for all subjects (there are 0 columns that make the non-b0 values in bvals b0 images). I couldn't test this (unzip dicoms, dcm2nii, copy an paste bvec files in a spreadsheet) but I am pretty sure

[2016-06-28 00:48] josephdviviano commented on #581
Hey Arash,

Can you look into this definitively? We have a lot of other things on the good, already spent a bunch of time on this and made our decision based on what everyone, including David, Aristotle, and the MR unit told us.

[2016-06-28 14:08] edickie opened #612 "write (Brenda?) about naming of STOPPD acute phase scans"
The subject id for the acute phase scan was STOPPD_CAMH_420048_00

[2016-06-28 14:12] edickie opened #613 "regenerate the qc-html's"
Dawn has done some fixes that make the header check now print the correct errors.

She also added a "rewrite" option that will rewrite the html without having to regenerate the images. So it shouldn't take long to run!

[2016-06-28 14:15] navonacalarco commented on #613
This is awesome, Dawn. Thanks! :D

[2016-06-28 14:15] arash-n commented on #581
Hey Joe,

I still don't have a reliable internet connection at home. Once I have my internet set up, I will be able to do it. I may need to ask you for some help for the original DICOM files though.

My plan is to calculate average signal (on the masked brain) to detect B0 images from the actual data (using fslmeants). Look at the bvec/bvals after conversion of the DICOM files to .nii.

Cheers,

A

[2016-06-28 14:47] josephdviviano commented on #581
Sure arash no problem, all of the raw Dicom data is neatly organised under
data/Dicom .happy to walk you through it next time you are in.

Joseph's Phone

On 28 Jun 2016 10:15 a.m., "Arash Nazeri" <notifications@github.com> wrote:

[2016-06-28 14:48] pipitone opened #614 "Quarantine the latest slicer 4.5.0 nightly version"
@rutwikb and @sabashahab need dis.

[2016-06-28 15:06] pipitone commented on #614
I've made two changes:

1. Added the module `slicer/4.5.0-20160628`
2. Removed the module `slicer/nightly`, since I'm thinking this will just get confusing in the future, and it's easy enough for us to make more `slicer/4.x-<date>` modules if we need updated slicer versions. That okay by you all?

Please let me know if the new slicer module works.

[2016-06-28 15:18] josephdviviano commented on #614
Sounds good to me!

[2016-06-28 15:20] josephdviviano commented on #607
Didn't arrive. If it isn't here tomorrow, complain.

[2016-06-28 15:40] josephdviviano commented on #607
Nevermind, it arrived and it contains the spiral data.

[2016-06-28 15:40] #607 closed

[2016-06-28 16:01] rutwikb commented on #614
Looks good, thanks

[2016-06-28 16:18] #614 closed

[2016-06-28 16:31] josephdviviano opened #615 "all functional MRI pipelines fail on queue because Clevis does not have a passwd entry"
Strange. I also think this has been a long outstanding issue. I can't figure out how to determine which node they failed on. But I'm suspicious because only the functional pipelines are failing.

@pipitone any ideas?

Here's an example error:

[code]

I'm looking into `srv-sge` now.

[2016-06-28 16:31] josephdviviano opened #616 "srv-sge unattended upgrade broken"
`srv-sge`'s upgrade feature has hung for the last month at this step:

[code]

[2016-06-28 16:38] josephdviviano commented on #616
I think I need to take srv-sge offline briefly to look into this.

http://ubuntuforums.org/showthread.php?t=1593193

I'll do it another day, after work.

Also, I'm guessing this machine misbehaving has something to do with #615

[2016-06-28 16:45] pipitone commented on #615
From the `srv-sge:/var/spool/gridengine/qmaster/messages` I see the following messages logged:

They all seem to errors from `penfield` in the last two days. Going to penfield, I see this:

[code]

Looking at the SSSD logs, I see:

[code]

Hmm... So SSSD can't phone home. This sounds like a DNS thing. What are the DNS nameservers?

[code]

Ah.. That may be the problem as Google's public DNS server

[2016-06-29 13:48] pipitone commented on #517
Update: there is now access from the webserver to the CAMH storage.

[2016-06-29 15:24] josephdviviano opened #617 "localadmin"

[2016-06-29 15:25] josephdviviano commented on #617
should not be `/home/localadmin`

[2016-06-29 15:25] pipitone commented on #617
What's the issue here?

[2016-06-29 15:54] josephdviviano commented on #617
I thought we had localadmin under /var/local or something like that. I
can't find the reference in our documentation.

JDV

On Wed, Jun 29, 2016 at 11:25 AM, Jon Pipitone <notifications@github.com>
wrote:

[2016-06-29 16:00] pipitone commented on #617
I suspect we are inconsistent about this now. We used to do this when we
had a shared /home folder, but since we no longer do this some machines
have /home/localadmin

On Wed, Jun 29, 2016, at 11:54 AM, Joseph Viviano wrote:

[2016-06-30 16:09] josephdviviano commented on #583
see `/archive/data-2.0/ASDN/docs`

[2016-06-30 16:11] josephdviviano commented on #520
+ thinks it is a raid device
+ would like to get raw device access on a windows machine?

[2016-06-30 16:35] josephdviviano commented on #616
All up to date and fixed.

[2016-06-30 16:35] #616 closed

[2016-06-30 16:36] josephdviviano commented on #617
I guess it's ok that localadmin's home folder in in the /home directory since it is local.

[2016-06-30 16:36] #617 closed

[2016-06-30 16:49] pipitone opened #618 "Set up an IPA slave on the RIC network as interim for authentication"
Qing is doing this now. It will be located at `192.168.216.3` and `172.25.20.201` on the RIC.

[2016-06-30 16:54] josephdviviano commented on #583
This should be set up to pull data into xnat (nothing else at the moment).

[2016-06-30 18:53] josephdviviano commented on #587
+ looked over the list. seems OK to me, though it is a little confusing. I've emailed for the next steps.

[2016-06-30 19:01] josephdviviano commented on #439
This ticket will be carried forward by  #587

[2016-06-30 19:01] #439 closed

[2016-06-30 19:02] josephdviviano commented on #556
cv needed for registration: `/home/jviviano/documents/admin/`

[2016-06-30 19:07] josephdviviano commented on #556
Registration submitted for AV. After approval we can move forward.

[2016-06-30 20:45] josephdviviano opened #619 "IWA prelapse new protocol"
They have these outstanding issues:

Hey there, a few issues:

+ TR / TE/ Slice acquisition order for fMRI scan looks really off. Please see attached for your previous settings (column IWA). Should be: TR = 2000, TE=30, slice order=interleaved ascending.
+ Also can you confirm that the resting state scan is 9 minutes long?
+ Even more concerning about the fMRI rest protocol: it looks almost like a

[2016-07-04 13:57] qchang commented on #476
Questions:
1, Do we have two groups of hosts to deal with, e.g. workstations and servers? Are they separated in playbooks?
2, Do you plan to change hostnames as the same time IPs are changed?

[2016-07-04 14:08] pipitone commented on #476
Workstations and servers are separated in ansible (but only some servers are fully managed by ansible, e.g. `backup` and `srv-sge`). Workstations are in the "workstations" group. More on our ansible configuration: https://github.com/tigrlab/admin/wiki/ansible

As to changing the hostnames: not necessary if it complicates things. I've created [an updated `/etc/hosts` file template](https://github.c

[2016-07-04 14:12] qchang commented on #476
Changing host name would involve a two step process: first the old name has to be removed from enrollment as IPA client and then the new added. It is better to do this after the IP migration if desired.

[2016-07-04 14:51] josephdviviano commented on #476
@pipitone thanks for doing the hosts file.

@qchang I think we're going to want to move to these name changes, but there's no rush to do so. We can focus on the IP migration first.

[2016-07-04 15:44] josephdviviano opened #620 "MRS masks -- update?"
see this file: `/archive/data-2.0/STOPPD/docs/interpreting-MRS-160701.pdf`

from nancy:

We discovered that ~500 exams (~1600 MRS voxels) were missed in our first sweep
of the database when we created the MRS masks in December 2015.

Those masks are now made, and will be put up onto the sFTP server this evening.
Directory naming is as before. For example: 20150716_Ex04058_HIST1MR_MRSROI

In each d

[2016-07-04 16:05] qchang commented on #476
172.25.9.201 ipaslave02.camhres.ca ipaslave02 would be changed to
172.26.216.31 ipaslave02.camhres.ca ipaslave02 at the time when new /etc/hosts is implemented. Right?

[2016-07-04 16:07] pipitone commented on #476
Yes. Can you explain how you arranged the vm to have an IP on the CAMH research vlan? We will need to do that with our other VMs.

[2016-07-04 16:25] qchang commented on #476
vSwitch3 is used for 172.26.216/23, which is patched to the switch with ports configured for VLAN216 (port 46).
Then ipaslave02 is configured with default gateway 172.26.216.1. Interfaces on 172.25.9/24 and 192.168.216/24 are not configured for default gateway but route to those are per their corresponding NICs.

I have added localadmin on ipaslave02 if you want to have a closer look. At this poin

[2016-07-04 16:38] pipitone commented on #476
Okay that's great. So in my instructions ignore the bit about having SCC vlan IP addresses for esxi and VMs. ;-)

[2016-07-04 21:05] josephdviviano commented on #476
@qchang @pipitone just for clarification:

the VMS will all lose access between our machines and 172.25.9/24, correct? so for each machine, I need to add 172.26.216/23 on a third ethernet port?

[2016-07-04 21:07] josephdviviano commented on #476
Also, @qchang, I want to add our XNAT database to the 172.26.216/23 subnet in order to maintain connectivity between this machine and the TIGRLAB storage, as we discussed? If so, what IP should I give it on this subnet?

[2016-07-04 21:08] josephdviviano commented on #476
@qchang disregard that last message -- I realize it was a dumb question :).

[2016-07-04 21:32] josephdviviano commented on #618
This is done.

[2016-07-04 21:32] #618 closed

[2016-07-04 21:38] #585 closed

[2016-07-04 21:38] josephdviviano commented on #476
For my own reference: how to change the IP of the ESXI server via the command line: http://www.yellow-bricks.com/2013/05/27/how-to-change-the-ip-address-of-esxi-through-the-commandline/

[2016-07-05 18:07] sstojanovski opened #621 "Queue is down"
error: commlib error: got select error (Connection refused)
error: unable to send message to qmaster using port 6444 on host "srv-sge.camhres.ca": got send error

[2016-07-05 18:09] josephdviviano commented on #621
This is likely due to the pet network now blocking all communications (which is why we had trouble last week).

After the move to the CAMH network I'll be able to deal with this better.

[2016-07-05 18:15] sstojanovski commented on #621
Sounds good! I'll check back tomorrow (?? or will the move take longer then one evening?)

[2016-07-05 18:17] josephdviviano commented on #621
Hey sonja you're welcome to come back tomorrow, there's a chance things
will be running. By Thurs things will be running for sure.

JDV

On Tue, Jul 5, 2016 at 2:15 PM, sstojanovski <notifications@github.com>
wrote:

[2016-07-05 20:47] josephdviviano commented on #541
@edickie please flesh this out with details (including funny scans i.e. leg scan lol)

[2016-07-07 14:37] edickie opened #622 "mansfeild does not have any drives mounted"
It looks like mansfeild didn't join the camh club last night... it dosn't look like any our our storage is mounted on it this morning..

[2016-07-07 14:42] josephdviviano commented on #622
If you sudo mount -a what happens

Joseph's Phone

On 7 Jul 2016 10:37 a.m., "edickie" <notifications@github.com> wrote:

[2016-07-07 15:12] edickie opened #623 "Did we add the new xnat address into datman??"
All the run-script logs have the following error..everywhere

error: commlib error: got select error (No route to host)
Unable to run job: unable to contact qmaster using port 6444 on host "srv-sge.camhres.ca".
Exiting.

[2016-07-07 15:39] edickie opened #624 "add atom to all machines"
I've converted enough of the lab to using atom that now we should probably add it to ansible

[2016-07-07 15:41] josephdviviano commented on #623
Hi Erin, this service is still offline (as I mentioned in my email last night).

This is also a duplicate of #621 so im closing it.

[2016-07-07 15:41] #623 closed

[2016-07-07 15:42] josephdviviano commented on #624
Hey Erin, this sounds like a good job for you.

This should be added into the 'workstations' role.

Let me know if you run into any trouble :)

[2016-07-07 15:42] josephdviviano commented on #622
This machine has two interfaces with the same IP. Fixed.

[2016-07-07 15:42] #622 closed

[2016-07-07 15:46] josephdviviano commented on #327
I'm closing this.

New plan is to:

+ Move everyone off of tigrsrv (get everything on CAMH storage).
+ Virtualize TIGRSRV.
+ Move all services up onto tigrsrv (including XNAT ... need web-facing IP).
+ Convert kimsrv into a compute node install on rack in 107 (no need for virtualization).

[2016-07-07 15:46] #327 closed

[2016-07-07 20:19] edickie commented on #610
email sent

[2016-07-07 20:23] edickie commented on #448
Going to close this...we are working with someone in Dr. Antonio P. Strafella's lab to get this done

[2016-07-07 20:23] #448 closed

[2016-07-07 20:24] edickie commented on #600
I'm adding PREO1_CTN_EH14014_01 to this list..

[2016-07-07 21:12] edickie commented on #610
Decision: We blacklisted series 03 and 11.

Reponse from IWA:

Hi Erin,
After looking into this, we figured out that series 3 can be discarded. We ran it again due to the fact the top of the brain was missing on the first resting state. The subject was sliding down in the coil. You can pick between series 11 or 12 to use. It was ran twice in an effort to include the top of the brain.
Hope this hel

[2016-07-07 21:12] #610 closed

[2016-07-07 21:12] edickie commented on #541
another email sent

[2016-07-07 23:22] josephdviviano opened #625 "we are getting spammed like crazy due to /etc/nsswitch.conf"
The solution is to remove sss from 'sudoers'

http://superuser.com/questions/1086152/sudo-sending-annoying-alerts-issue-with-defaults-entries

Solution

This problem is caused by sudo looking for directives in a place it cannot find them: sss. Check the /etc/nsswitch.conf file and modify the sudoers entry.

sudoers:        files sss

The sss should not be there. The sssd-ad package adds itself the

[2016-07-08 01:01] josephdviviano commented on #625
I think I took care of this with a line in the common ansible role.

[2016-07-08 01:01] #625 closed

[2016-07-08 01:35] pipitone commented on #625
Check also the ipa-client role. It may be added there?

[2016-07-08 01:51] josephdviviano commented on #615
Looks like this is resolved with us moving over to the CAMH network. All machines resolve with the DNS server fine now.

[2016-07-08 01:51] #615 closed

[2016-07-08 01:51] josephdviviano commented on #590
It does now.

[2016-07-08 01:51] #590 closed

[2016-07-08 01:56] josephdviviano commented on #475
+ I'm now using `/mnt/tigrlab` as a backup target.
+ No longer backing up to `backup` vm.
+ `backup` solely used for xnat going forward.
+ This ticket will be closed when we begin using `hal` as our backup target. At that point, people's daily work will happen on /mnt/tigrlab

[2016-07-08 01:58] josephdviviano commented on #517
This is done.

I'm still mounting the `zfs` drives on srv-web via backup instead of having them all on the same VM. When we sort out the new backup scheme I'll look into this migration (Opening a new ticket for that particular issue).

[2016-07-08 01:58] #517 closed

[2016-07-08 02:00] josephdviviano opened #626 "move ZFS drives from backup to srv-web"
In the future the zfs pool tank/, currently mounted directly on backup, could be on srv-web directly. This will be easier on the network performance wise.

JP documented how he's exposed the ZFS devices to an ESXi via "device passthrough" on the wiki.

[2016-07-08 02:01] josephdviviano commented on #476
We're done. Aside from a few naggers. But we're off the pet network and sylvain can have his damn switch.

[2016-07-08 02:01] #476 closed

[2016-07-08 02:02] josephdviviano commented on #592
I think she's happy getting emails. This really should be an issue on dashboard improvements for our QC system.

[2016-07-08 02:02] #592 closed

[2016-07-08 02:03] pipitone commented on #476
One last little thing would be to take esxi/vms off the RIC network so
that there are no more possible bridges between the two networks.

[2016-07-08 02:06] josephdviviano commented on #476
did already

[2016-07-08 02:09] pipitone commented on #476
YEEAAAAAAAAAAAAHHHHHHH

, Joseph Viviano wrote:

[2016-07-08 14:57] edickie opened #627 "colin can't sign into any of the computers"
science is hard

[2016-07-08 15:08] josephdviviano commented on #627
Erin, can he sign into the terminal. You take care of this.

[2016-07-08 15:29] edickie commented on #627
he can su on the terminal but he can't login from the blue screen or the black screen

[2016-07-08 15:39] edickie commented on #627
From the black screen on davinci and telsa we see "Login incorrect"
but we can su to colin from the terminal of machines that other people are logged into.

[2016-07-08 16:04] josephdviviano commented on #627
try clearing the sss_cache:

`sss_cache -E`

If that does not work contact Qing, his info might be wrong in IPA. I can't do that from here.

[2016-07-08 16:15] josephdviviano commented on #627
Anyhow, let's change his username to 'chawko'. We need to get everyone over to SCC usernames.

[2016-07-08 16:18] navonacalarco commented on #627
*chaw**c**o

[2016-07-08 16:25] edickie commented on #627
There is a chawco already in the IPA server, it's cuz colin's already on the scc.. but I don' t think he can login with it.. confused

[2016-07-08 16:49] josephdviviano commented on #627
Erin you know who to contact about this...

[2016-07-08 16:56] edickie commented on #627
update:
 + nobody other than localadmin can login to telsa
 + tesla is not connected to the internet (it can not ping www.google.com)
 + telsa does not have any of the drives mounted on it..

but the ethernet cable appears to be connected..and the little light beside the ethernet cable on the back it blinking as it should..

[2016-07-08 17:14] josephdviviano commented on #627
Can you switch the ethernet cable to the other port on the back of tesla.

[2016-07-08 17:14] josephdviviano commented on #627
the blinking does not mean anything

[2016-07-08 17:15] josephdviviano opened #628 "tesla offline, users having trouble logging in"
wasnt last night. strange.

[2016-07-08 17:21] edickie commented on #627
The switched to the other port and there is still not internet..

[2016-07-08 17:27] josephdviviano commented on #627
ok well ill deal with it on monday colin can work on any number of machines.

[2016-07-08 17:27] #627 closed

[2016-07-08 17:36] edickie commented on #627
wait I swtiched the port back and now there is internet.. and shared drives, but no one can login other than localadmin

[2016-07-08 17:37] edickie commented on #628
now online..ish, but no one can login to it other than local admin.

I wiggled some cables...

On Fri, Jul 8, 2016 at 1:15 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-07-08 17:50] josephdviviano commented on #627
Sounds like you should replace the Ethernet cord

Joseph's Phone

On 8 Jul 2016 1:36 p.m., "edickie" <notifications@github.com> wrote:

[2016-07-08 18:42] edickie commented on #628
Tried
+ sudo service sssd restart
   + no effect

+ id colin (or id edickie)
   + output looks fine...
You could also try restarting the service that does username and password lookups -- it's called SSSD; as localadmin you would run:

  sudo service sssd restart

Would only have an effect if network access is stable. You can check whether logins are working by logging in or just doing a lookup on

[2016-07-08 20:31] DESm1th commented on #628
I'm not sure if this would have anything to do with any of the issues we're having (still learning Ansible), but the site.yml file in /projects/admin/ansible-playbooks/playbooks/ has a blank "hosts" field for the [ipa-client] roles entry and was last edited yesterday. Also, Grace is unable to log in to anything (it keeps saying wrong password) and Sonya was unable to log in to computers other than

[2016-07-08 20:45] josephdviviano commented on #628
Hi dawn, cN you send me a copy of the hosts file on your computer?

Has anyone gotten in touch with qing?

Joseph's Phone

On 8 Jul 2016 4:31 p.m., "DESm1th" <notifications@github.com> wrote:

[2016-07-08 21:15] DESm1th commented on #628
Hi Joe,

I've attached the /etc/hosts file from golgi. Also, I just tried logging
into a few different computers. I had gotten an 'incorrect password' error
on Colin's earlier when we thought it was just his computer that was the
problem, but I just discovered I also get that problem on the computer
Melissa usually uses. I can log in to several other computers with no issue
though (even if I've ne

[2016-07-08 21:18] DESm1th commented on #628
Oh er... I sent that via gmail, not sure if you can get the attachment that way. Also, I don't think we've told Qing yet.

[2016-07-10 18:16] josephdviviano commented on #628
This might be related (another apparmor issue?)

[code]

[2016-07-10 19:04] josephdviviano opened #629 "find quote for george's computers"
2x Dell 7810 + Monitor + GPU (purchased separately).

[2016-07-10 21:01] DESm1th commented on #628
I could be reading this wrong, but from the apparmor="ALLOWED" and denied_mask parts it looks like you guys have apparmor set to complain mode. If that's the case then it's announcing that based on the sssd profile the command ldap_child _shouldnt_ be able to read /var/lib/sss/pubconf/krb5.include.d/ but it's not actually preventing it from doing so. So there probably is a problem with the way the

[2016-07-11 00:25] josephdviviano commented on #628
Hey dawn no problem I also don't really understand yet. I remember us
having trouble with app armour for a very similar reason just recently,
which is why I left myself this note

Joseph's Phone

On 10 Jul 2016 5:01 p.m., "DESm1th" <notifications@github.com> wrote:

[2016-07-11 13:33] qchang commented on #628
Hi Joseph, let me know when you are in so that we can have a look together, I am not clear the extent of the problem. I sounds like it is on the client site configuration. Maybe the config is not consistent across the network because ansible was not used for the move?
BTW, I do not get any notifications on issues, I come here because of Erin's email...

[2016-07-11 18:13] josephdviviano commented on #628
Looks like @qchang solved the issue: `ipaslave02` had a corrupted database. The following resolves the issue:

+ remove `172.26.216.31` from `/etc/network/interfaces` on all machines.
+ remove`ipaslave02` from `/etc/sssd/sssd.conf` (as an aside, also remove `_srv_` from that file).

We've both independently confirmed that this fixes the problem on two machines. I'm making the adjustments manually

[2016-07-11 18:13] #628 closed

[2016-07-11 18:15] josephdviviano commented on #582
I'm going to close this issue. With so many variables having changed with the network switch, it's not clear that this is still a problem.

I'll reopen if we see the same thing in the future.

[2016-07-11 18:15] #582 closed

[2016-07-11 20:28] josephdviviano opened #630 "data for peter k"
+ updated demographics from ZHH
+ updating imaging data from MPRC
+ might as well give him the updated CAMH data while we're at it

[2016-07-11 20:34] josephdviviano commented on #621
The queue is running now.

It's slow, for some reason. Looking into that, but since it works I'll consider this issue closed.

[2016-07-11 20:34] #621 closed

[2016-07-11 20:44] josephdviviano commented on #596
I've got this set up on `srv-web` here:

`/etc/fail2ban/jail.local`

Since this is our only exposed machine at the moment, it's the only one I've set this up on for now. It's not in ansible.

[2016-07-11 20:44] #596 closed

[2016-07-12 04:41] josephdviviano opened #631 "Send LAAGISHAN YOGANATHAN atlases (cortical resting state networks)"
Buckner should do.

[2016-07-12 16:58] edickie opened #632 "clevis is not talking to XNAT properly"
The error we get with the run scripts is:
HTTPError: 404 Client Error: Not Found

I've been trying to run the REST API by hand...
The closest I got was to here:

curl -X PUT https://xnat.imaging-genetics.camh.ca/REST/projects/SPINS/subjects/SPN01_CMH_0076_01_01
curl: (77) error setting certificate verify locations:
  CAfile: /etc/pki/tls/certs/ca-bundle.crt
  CApath: none

I could be debugging thi

[2016-07-12 17:07] DESm1th commented on #632
Hey Erin,

Do we have the ca-certificates package installed? curl is looking for it in /etc/pki/tls/certs/ca-bundle.crt and failing to find it.

[2016-07-12 17:13] josephdviviano commented on #632
Hi dawn good catch,

I set up the new xnat install with let's encrypt

[2016-07-12 20:13] josephdviviano commented on #632
here's a clue

echo -n | openssl s_client -showcerts -connect gitlab.viviano.ca:443 2>/dev/null  | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' >> /etc/ssl/certs/ca-certificates.crt

[2016-07-12 20:13] josephdviviano commented on #632
echo -n | openssl s_client -showcerts -connect gitlab.viviano.ca:443 2>/dev/null  | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' >> /etc/ssl/certs/ca-certificates.crt

[2016-07-12 20:13] josephdviviano commented on #632
^ lookie! a clue.

[2016-07-12 21:21] edickie commented on #632
To do:
ssh clevis@tigrsrv
or
ssh clevis@tigrsrv.camhres.ca
sudo echo -n | openssl s_client -showcerts -connect xnat.imaging-genetics.camh.ca:443 2>/dev/null | sed -ne '/-BEGIN CERTIFICATE-/,/-END CERTIFICATE-/p' >> /etc/ssl/certs/ca-certificates.crt

[2016-07-13 16:15] edickie commented on #632
from http://www.checkupdown.com/status/E504.html

[2016-07-13 16:15] edickie commented on #632
Do we email research IT??

[2016-07-13 16:16] josephdviviano commented on #632
@edickie can you post the contents of your /etc/resolv.conf file

I'm trying to replicate your error on my machine now.

[2016-07-13 16:24] josephdviviano commented on #632
@edickie I think this is the issue:

[code]

[2016-07-13 16:24] josephdviviano commented on #632
@edickie also you might want to reboot your machine if you have a chance and your internet is slow.

[2016-07-13 16:25] edickie commented on #632
This is on tigrsrv..

[2016-07-13 16:25] josephdviviano commented on #632
Yes I know. `srv-web` does not resolve `tigrsrv` for some reason.

[2016-07-13 16:26] edickie commented on #632
So we shouldn't be running the run scripts in tigrsrv??

On Wed, Jul 13, 2016 at 12:25 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-07-13 16:27] josephdviviano commented on #632
@edickie err nevermind that wwas a stupid typo. No we should be running scripts on tigrsrv. There's just some sort of communication error at play here. External users have been OK uploading data so it's restricted to us.

[2016-07-13 18:07] josephdviviano commented on #591
NB: this issue is top priority -- ansible currently will mangle XNAT by propogating a 'bad' hosts file to it.

[2016-07-13 18:12] josephdviviano commented on #632
@edickie fixed the XNAT error. The hosts file was misconfigured thanks to anisible. Now I'm playing with turning up the 'timeout' settings to prevent the `504` errors.

[2016-07-13 18:46] amymiles opened #633 "Slicer Tractography QC"
Subject  2 / 20 ID: ANDT_CMH_106_01_01_DTI60-1000_04_Ax-DTI-60plus5_SlicerTractography
<render.py> Saving rendered views to disk: ../step_1_qc/tract_QC_ANDT_CMH_106_01_01_DTI60-1000_04_Ax-DTI-60plus5_SlicerTractography
radeon: The kernel rejected CS, see dmesg for more information.
radeon: The kernel rejected CS, see dmesg for more information.
radeon: The kernel rejected CS, see dmesg for more in

[2016-07-13 19:39] josephdviviano commented on #591
also add:
    + sudo ufw allow http
    + sudo ufw allow https

to ansible...

[2016-07-13 22:39] josephdviviano commented on #626
Done. `backup` will be decomissioned soon.

[2016-07-13 22:39] #626 closed

[2016-07-13 23:33] josephdviviano commented on #631
ftp://surfer.nmr.mgh.harvard.edu/pub/data/Yeo_JNeurophysiol11_MNI152.zip

^ Sent him DEEZ.

[2016-07-13 23:33] #631 closed

[2016-07-13 23:37] josephdviviano commented on #632
@edickie I'm not 100% on what's going on here. It looks like the files are making it through, and `nginx` is reporting a timeout.

Here's my hypothesis:

[code]

Therefore I'll try making the `nginx` timeout to be equal to the tomcat timeout length. However this is very long. I'm not sure if that opens us up to some security holes.

[2016-07-15 15:52] edickie opened #634 "No Resources folders for new subjects in data-2.0"
Maybe this might have something to do with new XNAT config??

@josephdviviano how do you see the Resources on the XNAT website again? I'll see it this is an upload or download issue..or both.

[2016-07-15 16:13] edickie opened #635 "Clevis' jobs on the scc not writing logs"
Clevis' jobs on the scc are running, but they are not generating logs..Plus clevis get super fun mail everytime this happens.

I would email Qing but my camh account is expired..

[2016-07-15 16:19] pipitone commented on #635
There is a PBS option you can set to redirect mail (or not send it all). From the log below it looks like an ssh problem for the clevis user. Andy is your man for SCC issues.

[2016-07-15 16:23] josephdviviano commented on #634
Hey, right hand side for a subject under 'manage files': there should be a 'scans' and 'resources' folder.

[2016-07-15 16:24] josephdviviano commented on #634
I there is only a scans folder resources upload isnt working.

[2016-07-15 20:13] edickie commented on #634
xnat-upload.py was programmed to exit if a HTTP error was seen. So it looks like this error was due to our original timeout (504) errors happening which means that the script was never getting to a Resources upload stage.

I changed the HTTP error handling in xnat-upload.py to log and error message but not fail. Now the resources are uploading fine.

[2016-07-15 20:13] #634 closed

[2016-07-15 20:38] edickie commented on #632
I think we're right here. So we get an error message but the upload is actually working ok..

I'm going to close this for now.

[2016-07-15 20:42] josephdviviano commented on #632
Nice, good work Erin. I think I'll assign myself this to see if I can get the 504 to go away, I have an idea.

[2016-07-16 01:10] arash-n opened #636 "ssh access"
Hey Guys,

It is Arash from Alcatraz! :D Hope you are doing great.

I was wondering if there is any time table that we can ssh to the cluster.

Cheers,

Arash

[2016-07-16 02:04] josephdviviano commented on #636
Hey Arash! Sorry to say nothing clear on that yet, we've put a request
through. I'll pester them about it next week.

Joseph's Phone

On 15 Jul 2016 9:10 p.m., "Arash Nazeri" <notifications@github.com> wrote:

[2016-07-16 15:13] edickie opened #637 "The scc says the tigrlab stoage is 100% full!"
wft?
[code]

[2016-07-16 15:16] josephdviviano commented on #637
Yeah, I know. `external` is 50 TB of that I think. We might need to clear that out a bit.

I could delete scratch from there. I don't think we need a copy of scratch. But I can't do that until Monday.

[2016-07-16 15:24] edickie commented on #637
no no no no!!! All my stuff is in scratch!!!

[2016-07-16 15:25] edickie commented on #637
I'm pretty sure projects is only an old backup of projects but scratch is new data

[2016-07-16 15:28] edickie commented on #637
I tried to delete new clevis pipeline outputs from the scc side but it errors out because "no space left on device"

[2016-07-16 16:02] josephdviviano commented on #637
Ok let's talk about this on Monday. I cant do anything remotely anyhow.

We need to get everyones projects data over to tigrlab.

I'm going to turn tigrsrv into a massive pile of scratch.

Joseph's Phone

On 16 Jul 2016 11:28 a.m., "edickie" <notifications@github.com> wrote:

[2016-07-16 16:23] edickie commented on #637
Will the full disk effect the way xnat functions?

On Sat, Jul 16, 2016 at 12:02 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-07-16 17:49] josephdviviano commented on #637
Hi Erin, no, the live XNAT data is in a datastore in the basement (where
our old backups used to be).

If you want to learn more there are a few open issues assigned to me
regarding how we will manage our data going forward.

I might suggest that we move the scratch stuff you need on tigrsrv to a
projects folder for clevis. I think it would be better if scratch wasn't on
/mnt/tigrlab at all in the

[2016-07-17 12:29] edickie opened #638 "Deal with Erin's stuff in /mnt/tigrlab/scratch/edickie before doing anthing to tigrlab/scratch"
Hey this is my own to do list, but I thought I should make @josephdviviano aware of the issue before we start deleting things to make space in the /mnt/tigrlab storage...

I have pretty much everything I've been working on for the past 4 months sitting in /mnt/tigrlab/scratch/. Mostly because:

+ I've started doing everything on the scc or scinet and using storage that is mounted on the scc, but a

[2016-07-17 12:31] edickie commented on #638
IP.S. I'm mostly freaking out because this post seems to say that the "cannot rm" error could be related to a currupted disk...

http://www.unix.com/linux/232591-no-space-left-device-when-using-rm.html

[2016-07-17 13:15] josephdviviano commented on #638
Erin don't worry if you completely fill a disk you commonly get a cannot
remove error unknown work around.

Thanks for the details!

Joseph's Phone

On 17 Jul 2016 8:31 a.m., "edickie" <notifications@github.com> wrote:

[2016-07-17 13:34] pipitone commented on #638
Btw one sneaky way around a completely full disk you can't rm from is to sacrifice a large file by doing "echo > file.dat". That frees up the space of the file without removing it and can often get you going again.

- Jon on a bike north of Williamsford

[2016-07-18 16:38] edickie commented on #635
email sent

[2016-07-21 18:51] josephdviviano commented on #632
OK. On `srv-web:/etc/nginx/sites-enabled/srv-web`, I set the timeouts to be extreme large (and matched with XNAT). Let's see if the 504 errors go away.

[2016-07-21 18:51] josephdviviano commented on #638
@edickie all of this stuff is in your projects folder now, so I'm closing this issue.

[2016-07-21 18:51] #638 closed

[2016-07-21 18:52] josephdviviano commented on #637
@edickie closing this as well since we have 7 T of breathing room now.

[2016-07-21 18:52] #637 closed

[2016-07-21 18:53] josephdviviano commented on #636
Hi David,
Will Follow up and provide you update once I get.
Regards
Darshan Patel

From: David Rotenberg
Hi Darshan,
Could you please provide us with an update for **INC16497156**. It appears that this is still awaiting evidence.

[2016-07-21 18:54] josephdviviano commented on #633
I believe this is a radeon driver issue. Installing the ideal drivers now.

[2016-07-21 20:34] edickie commented on #635
Andy's on vacation but David did set clevis up with a proper home directory!!
dtifit appears to be running with logs!

[2016-07-21 21:09] edickie commented on #593
Seem to be good

[2016-07-21 21:09] #593 closed

[2016-07-22 01:14] josephdviviano commented on #475
This is done.

[2016-07-22 01:14] #475 closed

[2016-07-22 13:05] edickie opened #639 "run script complain that su can't be run as cron job"
Hi guys,

So from this morinings email. None of the run scripts ran last night becuase it claims that su can't be run from the terminal??

Why are we using su in the master run script anyway?

I'm currently running the run script manually..

[2016-07-22 13:08] josephdviviano commented on #639
That's interesting, I believe I changed how the run script is run (owner
was root, I believe i changed it to clevis)

I'll change it back to root, see if the problem goes away.

Joseph's Phone

On 22 Jul 2016 9:05 a.m., "edickie" <notifications@github.com> wrote:

[2016-07-22 19:55] lyoganathan opened #640 "USB won't mount on some machines"
Hey,

When I try to mount my USB key, it says "unable to mount operation already pending" something along those lines. This happened on crick.

Thanks,
Laagi

[2016-07-22 20:16] josephdviviano commented on #640
Hey Laagi,

This is an annoying issue we've never figured out. A reboot of your computer should fix it.

[2016-07-22 20:32] lyoganathan commented on #640
Ah I see, Thanks Jo!

[2016-07-22 20:32] #640 closed

[2016-07-23 15:54] josephdviviano opened #641 "remove nfs automount from tigrsrv"

[2016-07-25 15:58] josephdviviano commented on #641
Done.

[2016-07-25 15:58] #641 closed

[2016-07-25 18:09] pipitone commented on #562
@edickie, how's this going?

[2016-07-25 19:48] josephdviviano commented on #639
Changing the cronjob to root made the problem go away.

[2016-07-25 19:48] #639 closed

[2016-07-25 19:55] josephdviviano commented on #632
Looks like syncing the timeouts fixed the issue! XNAT just requires ungodly timeouts.

[2016-07-25 19:55] #632 closed

[2016-07-25 19:57] josephdviviano commented on #594
Navona and I did this on Friday. Updated code in /archive/data-2.0/SPINS/bin

[2016-07-25 19:57] #594 closed

[2016-07-25 19:59] josephdviviano commented on #445
Remaining:

+ Hillside
+ MATT_DATA_archive
+ ML_Group
+ MULTISITE
+ N107
+ NY_Group
+ pbsweb
+ perl5

[2016-07-25 20:22] josephdviviano commented on #630
Hey Erin

The scripts I wrote to deal with this stuff are here:

`/projects/jviviano/data/spins/dti-qc-paper/bin`

But that is all for the phantoms etc. I think we just need to give them an enigma spreadsheet. Can we just give them the one from your new `pipelines/` directory?

[2016-07-25 20:50] josephdviviano commented on #445
Multisite notes:

Hey Erin,

Here's what I was able to disentangle from this data set. I couldn't identify ML, ML_DEC, and Repository/ML_Copy/, because there doesn't seem to be a consistent enough naming scheme to say for sure which data belongs to which person without the headers (the subject numbering changes arbitrarily sometimes so folder names are no help).

Participant 'SP':
  - NY/Subj1-Ex1

[2016-07-25 21:44] edickie commented on #562
getting there.

I'm still running the scripts manually right now. And we got a little bit
of weirdness in the way freesurfer is behaving (like as in different
outputs). I'm running some tests now to try to figure that out.

Once that's done. I could use some support with setting up the cron job and
the emails..

Thanks,
Erin

On Mon, Jul 25, 2016 at 2:09 PM, Jon Pipitone <notifications@github.com>

[2016-07-25 21:45] pipitone commented on #562
Okay great. I guess keep this ticket updated and let me know where I can
jump in.

[2016-07-26 00:14] pipitone opened #642 "Setup QAP for datman and quarantine"
According to @edickie, @DESm1th (Dawn) has been working on getting QAP up and running for the POND dataset, but we'd also like to have it generally running in datman and create a quarantine package for it.

FYI, a long while ago I created the  [qap branch of datman](https://github.com/TIGRLab/datman/tree/qap), that has code to make the input files needed for QAP from data-2.0-structured data/folde

[2016-07-26 15:04] DESm1th commented on #642
Hey Jon,

I've gotten it fully up and running with our POND data and but ran into a lot of trouble along the way. I think most of the difficulty came from not being able to install a lot of the pre-requisites and having to rely on conda environments to get around that (sometimes conda couldn't find packages installed with pip, and so on).

In order to run it on our system I had to clone their proj

[2016-07-26 17:57] josephdviviano commented on #619
Follow up email sent today.

[2016-07-26 18:46] josephdviviano commented on #365
I've asked Qing for the CAMH mailserver info.

[2016-07-26 18:54] josephdviviano commented on #630
Data shipped off to Peter (copy here: `/projects/jviviano/data/spins/dti-qc-paper/data/dti-qc-data-160726.zip`)

[2016-07-26 18:54] #630 closed

[2016-07-26 18:56] pipitone commented on #642
Great write up. Some of these issues you should definitely create on github against the QAP project and get help from the developers. Specifically:
- installation difficulties, perhaps ask what they recommend and we/they can update their instructions
- write_report deleting output
- qap_anatomical_spatial incorrect outputs, but we'd need erin to give specifics before reporting this one
- the error

[2016-07-26 19:00] pipitone commented on #642
Dawn, can you also point me to where you have this set up correctly so I can take a look at what you've done?

[2016-07-26 19:16] DESm1th commented on #642
Oh! Oops. I forgot that part. The copy of their repo that I got working is under /projects/dawn/quality-assessment-protocol/ and the environment is in /home/dawn/.conda/envs/qap on golgi.

[2016-07-26 19:34] josephdviviano commented on #619
Updated protocol looks good.

[2016-07-26 19:34] #619 closed

[2016-07-26 21:01] josephdviviano commented on #629
I found a huge store of David's quotes (now in `/projects/jviviano/documents/admin/purchases/david-quotes`). However I can't find any mention of a Dell Model 7810.

[2016-07-26 21:05] josephdviviano commented on #629
I'm running this as root: `sudo grep -rnw '/mnt/tigrlab/archive/alumni/david' -e "7810" > /home/jviviano/possible-dells`

This should find ANY file containing the string 7810.... we'll see how useful that is.

[2016-07-26 21:17] josephdviviano commented on #606
Installed:

`from mvpa2.clfs import gnb`

There's a bunch of tools here:

http://www.pymvpa.org/modref.html

There's some interesting regression tools (e.g. GLM-net) that might be useful for my xbrain project. I'm going to add it to my to-do list there (and close this issue).

[2016-07-26 21:17] #606 closed

[2016-07-27 17:10] josephdviviano commented on #561
+ I'm going to run everyone through the same script that uses no low-passing or tr scrubbing but DOES use ICA-FIX, since most members of the lab prefer ICA to other more lo-fi methods.

[2016-07-27 17:16] edickie commented on #561
Hooray!!

For EPI data coming from our scanner - I would grab this classifier
/projects/edickie/analysis/epicTIGR/epicTIGR.RData
A readme file to go with it is at:
/projects/edickie/analysis/epicTIGR/epicTIGR_README.md

Also, can I ask for mni transformed file to be resampled to 2x2x2 - that
way i can add an hcp transfer step...

On Wed, Jul 27, 2016 at 1:10 PM, Joseph Viviano <notifications@githu

[2016-07-27 18:03] josephdviviano opened #643 "for datman: add MAGETBRAIN"
https://github.com/CobraLab/antsRegistration-MAGeT

^ this is the version Gabe recommends.

[2016-07-27 18:48] josephdviviano commented on #445
+ more on hillside: the first round of scans there were a bust, so they have a re-do set of scans. the first set should be discarded.

[2016-07-27 20:54] #635 closed

[2016-07-27 20:59] edickie opened #644 "get GI index running for ANDT"
Amy Miles asked:

From https://surfer.nmr.mgh.harvard.edu/fswiki/LGI:

[2016-07-27 21:14] edickie opened #645 "rerun pipeline output for freesurfer w/out FSL/5.0.9 loaded"
I'm writing this here for posterity,

We recently noticed that loading FSL/5.0.9 and freesurfer at the same time leads to less than ideal freesurfer performance. We are now working to regerate all the scc side freesurfer runs with a cleaner freesurfer enviroment..

[2016-07-27 21:19] edickie commented on #561
Hey Joe, you might also want note some things from the pipeline run before
training FIX..

1) the BET mask was set to "normal"
2) I imported the T1->MNI transforms from the hcp folder (not necessary,
but it saves some time, and keeps things consistent if functional data is
pushed to cifti space)

On Wed, Jul 27, 2016 at 1:16 PM, Erin W. E. Dickie <erin.w.dickie@gmail.com>
wrote:

[2016-07-27 21:21] edickie opened #646 "merge datman's scc branch back into master"
the scc branch's code is now the most up to date for both systems...we should merge everything back to master and disolve it.

[2016-07-27 21:29] josephdviviano commented on #561
@edickie if you want this new pipeline to use your HCP code you will have to make your HCP stuff into scriptuit modules :)

[2016-07-27 21:57] josephdviviano commented on #591
All added to the new 'webserver' role.

[2016-07-27 21:57] #591 closed

[2016-07-27 21:59] josephdviviano commented on #633
The fix was to move from the open source driver to the ATI propriatary drivers (installed using 'additional drivers' -- part of Ubuntu).

[2016-07-27 21:59] #633 closed

[2016-07-27 22:04] josephdviviano commented on #294
+ STOPPD_MAS_220006_02_01: 220006  2014-06-13 /projects/david/archive/SCANS/STOP_PD_II/UMass/Rothschild_S220006S02_061322014.zip
+ STOPPD_MAS_210027_01_01: 210027  2014-06-26 -- withdrew from the study. No data to find.

[2016-07-27 22:31] pipitone commented on #645
To stop this from happening in the future,, one thing you can do is add
a conflict statement to the freesurfer module, e.g.

   conflict FSL

That way, when you attempt to load both modules you'll get an error.

[2016-07-27 22:35] josephdviviano commented on #294
STOPPD_MAS_220006_02_01 is in XNAT, so we're done.

[2016-07-27 22:35] #294 closed

[2016-07-27 23:50] edickie commented on #645
The annoying thing is that many HCP and epitome pipelines use a combination
of FSL and freesurfer tools, so setting a conflict could cause more harm
than good. :-(

On Wed, Jul 27, 2016 at 6:31 PM, Jon Pipitone <notifications@github.com>
wrote:

[2016-07-27 23:53] pipitone commented on #645
womp womp

On Wed, Jul 27, 2016, at 07:50 PM, edickie wrote:

[2016-07-28 15:46] josephdviviano commented on #297
I just need to find this subject:

[code]

[2016-07-28 18:01] sstojanovski opened #647 "epi-randomize error"
I'm tried unzipping the nifti files ( I've seen this be the cause of the ' Cannot open volume '' for reading' error before) and moving fsl_subjects.txt to the front to be beside epi-randomize ( the epi-randomize code describes that the usage should be this way) and still get the same error message

sstojanovski@strangelove:/projects/sstojanovski/dti_FA_SWM/stats/split_masked/design_stats$ epi-rand

[2016-07-28 18:04] navonacalarco commented on #488
Closing.

[2016-07-28 18:04] #488 closed

[2016-07-28 18:18] josephdviviano commented on #647
Looks like you have at least one corrupt file in your batch of subjects. Any of them look suspiciously small, for example?

[2016-07-28 18:22] josephdviviano commented on #629
I found a more complete list of computers from David here `/mnt/tigrlab/archive/alumni/david/RAW_DATA/Documents/Kimel_Computers` but there's no quotes from George.

[2016-07-28 19:10] josephdviviano commented on #297
According to

`/archive/data-2.0/STOPPD/metadata/scanid_reckoning/raw/cmh-stoppd-log-II.xls`

this subject refused to do the MRI scan due to anxiety. The data was never collected.

[2016-07-28 19:10] #297 closed

[2016-07-28 19:55] sstojanovski commented on #647
Nope, all just about the same size

drwxrwxr-x 1 sstojanovski sstojanovski 128K Jul 27 13:50 .
drwxrwxr-x 1 sstojanovski sstojanovski 256K Jul 28 14:04 ..
-rw-rw-r-- 1 sstojanovski sstojanovski 322K Jul 21 11:12 SWM_all_FA_skeletonised_vol0000.nii.gz
-rw-rw-r-- 1 sstojanovski sstojanovski 323K Jul 21 11:12 SWM_all_FA_skeletonised_vol0001.nii.gz
-rw-rw-r-- 1 sstojanovski sstojanovski 322K Jul 21 11

[2016-07-28 20:02] josephdviviano commented on #647
Hmm well either one of the input files you specified does not exist, or one
of those files has a broken header.

Maybe try opening each one (in a for loop) with 'fslinfo' and see if any of
them cause the program to complain.

JDV

On Thu, Jul 28, 2016 at 3:55 PM, sstojanovski <notifications@github.com>
wrote:

[2016-07-29 15:32] sstojanovski commented on #647
No complaints from fslinfo, .txt output attached. Is there anything other than fslinfo complaints that i should look for in this .txt file? I scrolled through it but didn't see anything glaringly obvious
[checkcorruption_OUTPUT.txt](https://github.com/TIGRLab/admin/files/390852/checkcorruption_OUTPUT.txt)

[2016-07-29 15:47] sstojanovski commented on #647
I also checked if the files are actually compressed by running the file command (because of --> https://github.com/INCF/bids-validator/issues/52) and they are actually compressed.
**txt output file attached**

sstojanovski@strangelove:/projects/sstojanovski/dti_FA_SWM/stats/split_masked$ cat is_it_compressed_OUTPUT.txt | grep gzip | wc -l
821
** there are 821 files in the directory in question **

[2016-07-29 15:52] josephdviviano commented on #647
Oh, wait a second. Is `all_subjects` a text file with all of the subjects listed?

try `$(cat all_subjects)` instead of `all_subjects`

[2016-07-29 16:40] josephdviviano opened #648 "install cortical coupling code into Freesurfer 5.3.0"
This code: https://bitbucket.org/simonvandekar/coupling

Is to be installed into Freesurfer 5.3.0.

[2016-07-29 21:12] josephdviviano commented on #648
Done. Not tested.

If you `module load freesurfer/5.3.0`, `coupling_v1.R` and `coupling_v2.R` will be on your `$PATH`.

See `coupling_v2.R --help` for more info.

[2016-07-29 21:12] #648 closed

[2016-07-29 21:28] edickie commented on #646
Merge done!
both tigrsrv and scc run scripts are using the (updated) master branch now.

scc branch will be deleted next week

[2016-07-29 21:28] josephdviviano commented on #629
David needs the approximate date of purchase from Dielle so we can get the quotes from Dell. We don't have copies on our computers.

[2016-07-31 15:19] pipitone commented on #643
Update: There are a few issues to work out (see CobraLab/antsRegistration-MAGeT#46, and CobraLab/antsRegistration-MAGeT#48), but for the moment I've created a working branch for the SCC here https://github.com/pipitone/antsRegistration-MAGeT/tree/scc, and installed this as the  module `MAGeT-Brain/20160728`.

I'm running a test of MAGeT in `/imaging/scratch/kimel/jpipitone/mb_test`, and specifical

[2016-07-31 15:37] josephdviviano commented on #643
Awesome!!

Joseph's Phone

On 31 Jul 2016 11:19 a.m., "Jon Pipitone" <notifications@github.com> wrote:

[2016-08-01 23:32] pipitone commented on #642
Just an update, but I was able to install QAP using the following incantations. Note that I'm using miniconda only so that I have a clean environment to play around with; a regular conda environment ought to work just as well.

[code]

[2016-08-02 13:04] pipitone commented on #642
@DESm1th have you seen this error? I'm running the anatomical pipeline on a single subject which runs almost to completion but fails attempting to update a CSV file. From the end of the output:

[code]

The subject list config file looks like:

[code]

The pipeline configuration file looks like:

[code]

I ran `qap_anatomical_spatial.py`

[2016-08-02 13:12] pipitone commented on #643
Okay, output segmentations from the SPINS run are here:
`/imaging/scratch/kimel/jpipitone/mb_test/SPINS/pipelines/magetbrain/output/labels/majorityvote`

Have a look.

I've switched to using the latest ANTS version rather than the version bundled with minc-toolkit (we're operating on niftis anyhow).

I don't think there is anything to add to datman per se, unless we want to deal with intermediate

[2016-08-02 14:26] DESm1th commented on #642
Hey Jon!

Thanks for finding an easier way to get qap working. I encountered the "Python module lockfile was not found: AddCSVRow will not be..." error at some point but definitely not with qap_anatomical_spatial, because I never attempted to run that one during any of the iterations after Erin told me the outputs were broken/a work in progress.

I can't remember what I did to cause the same error

[2016-08-02 14:39] josephdviviano commented on #643
Looks good. I don't think we would want to add anything to datman except for that we would want this to be run nightly on all of our participants. So a (very short) script that gets the inputs in order, runs maget brain, and puts the outputs in sorted folders that we could call from a `run.sh` would be needed. Could you help with that?

[2016-08-02 14:44] josephdviviano opened #649 "correct outstanding stoppd naming errors"
Please see below the corresponding clinical trial IDs for the imaging IDs below.

- [x] 420039 --> 24S027
- [x] 410031 --> 24S024
- [x] 420032 --> 24S025

[2016-08-02 14:58] josephdviviano commented on #636
Looks like, with a VPN token, we can get laggy access via `remote.camh.ca`, however, I'm pushing for another port.

[2016-08-02 15:38] edickie commented on #642
Hey guys,

Yeah, I should clarify.

I compared the qap_anatomical_spatial outputs to my own visual qc of the
freesurfer outputs from ABIDE and they didn't really match up :-(.

This issue came up in conversation with Gabe, who told me that he did the
same thing (and, took a look at QAP's source code) and came to conclude
that the QAP anatomical spatial numbers were not very valid :-(.

However, th

[2016-08-02 15:49] pipitone commented on #643
Certainly. It's basically the snippet of bash I posted above that needs to be added to a run.sh script. Shall I do this for SPINS first?

[2016-08-02 15:56] josephdviviano commented on #643
Yeah! The trick will be making it work with the input nifti directories, and making sure the outputs end up in nice datman-like folders (the outputs in majorityvote should be moved to another folder to be similar to our other datman pipelines). Not hard just a bit of doing.

[2016-08-02 15:56] edickie commented on #643
Hey Jon,

All run scripts are being written by the run-script writter now.. so you
would need to add the bash snippet to config file (or
metadata/project_setting.yml)...

Any changes not in the config file will get deleted/overwirtten by
tigr-write-runsh.py when it runs...

On Tue, Aug 2, 2016 at 11:49 AM, Jon Pipitone <notifications@github.com>
wrote:

[2016-08-02 15:57] edickie commented on #643
Also..we are trying to do all the heavy processing on the scc...

On Tue, Aug 2, 2016 at 11:56 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-08-02 15:58] edickie commented on #643
Oh sorry disregard the last one...you are already doing this on the scc.

On Tue, Aug 2, 2016 at 11:57 AM, Erin W. E. Dickie <erin.w.dickie@gmail.com>
wrote:

[2016-08-02 16:02] pipitone commented on #643
Okay. Erin, I'll just set up MB in SPINS and run it manually for now. I'll let you know when there is something ready to be added to the run script writer and we can manage integration.

[2016-08-02 16:02] sstojanovski commented on #647
I got this to work kind of ( the error was my derpderp) but 2 more related things ....

sstojanovski@strangelove:/projects/sstojanovski/dti_FA_SWM/stats/split_masked/design_stats$ epi-randomize --prefix=rand --n=5000 --design=FSL_design.mat --contrasts=FSL_designC1.con --group=FSL_design.mat --cleanup fsl_subjects.txt
randomise options: -i all_subjects -o rand -d FSL_design.mat -t FSL_designC1.con

[2016-08-02 16:07] josephdviviano commented on #647
Yeah, 1 doesn't count in all case though, you could use randomize for lots of data that has nothing to do with (stupid) TBSS.

2 requires a command line option though.

[2016-08-02 16:10] josephdviviano commented on #643
Hey JP -- don't bother running maget brain manually.

We don't need the data for the next few months, but we would like to have MB outputs on **all** of the data ready at-hand in the longer term, so the run-script stuff is useful.

 If you can create a command-line tool for MB that basically does what that little script above does, I'm sure erin can figure out how to put it in her run script wrtie

[2016-08-02 16:13] pipitone commented on #643
Okeydokey.

[2016-08-02 16:24] sstojanovski commented on #647
ooooo okok
How exactly do i do this from the command line? I'm working on just editing your script to pick up from the randomize step, however because there are lots of variables assigned at the beginning + this is python I have very little confidence in myself that this will actually work

________________________________
From: Joseph Viviano [notifications@github.com]
Sent: August 2, 2016 12:07

[2016-08-02 16:32] josephdviviano commented on #647
What are you trying to do? Just replace the -T2 flag?

JDV

On Tue, Aug 2, 2016 at 12:24 PM, sstojanovski <notifications@github.com>
wrote:

[2016-08-02 17:16] sstojanovski commented on #647
Yea plus comment out the little section that fslmerges but I'm pretty sure there's something wrong with the formatting of my script because I get this ...

sstojanovski@strangelove:/projects/sstojanovski/dti_FA_SWM/stats/split_masked/design_stats$ bash epi-randomize-quickfix.sh  --prefix=rand --n=5000 --design=FSL_design.mat --contrasts=FSL_designC1.con --group=FSL_design.mat --cleanup fsl_subject

[2016-08-02 17:17] sstojanovski commented on #647
Also everytime I run this along with that error message my cursor turns into a plus sign that won't go away until I close the terminal window.
________________________________
From: Joseph Viviano [notifications@github.com]
Sent: August 2, 2016 12:32 PM
To: TIGRLab/admin
Cc: Sonja Stojanovski; Author
Subject: Re: [TIGRLab/admin] epi-randomize error (#647)

What are you trying to do? Just replace t

[2016-08-02 17:18] pipitone commented on #643
Alright, I've written a dm-proc script for maget brain here:
https://github.com/TIGRLab/datman/commit/e1f458454f5c846ee5c9f6aa1e1c7fd730b60017

The commit message explains more about how it works.

[2016-08-02 17:19] #643 closed

[2016-08-02 18:22] josephdviviano commented on #647
Hey it looks like you're using python syntax but executing it as a bash
script?

JDV

On Tue, Aug 2, 2016 at 1:16 PM, sstojanovski <notifications@github.com>
wrote:

[2016-08-02 18:25] sstojanovski commented on #647
Yea got it. The issue was that 1. I'm a derp and was trying to run this as a bash script (turns out if you do this it magically transforms your cursor to a plus sign) 2. I'm a derp and I tried to just delete the program name 'epi-randomize' from Usage and docopt got mad and 3. When I copy pasted from github the formatting of the Usage section got moved around and docopt got mad

Its not throwing a

[2016-08-02 18:27] josephdviviano commented on #647
Nice ... you're learning a lot. Let me know if you need an intervention.

If you're trying to edit the script, I'd keep it as a python script. Should be easier for you then translating all of it into BASH.

[2016-08-02 18:30] edickie opened #650 "datman held jobs never cancelled from the queue"
We seem to he having a problem with the new qbatch datman with the held jobs.

It seems like, when one of the many dependancies exist with errors, the held jobs do not get cancelled from the queue.

See email train below...

Jon, any idea of what is going on?

[2016-08-02 18:49] pipitone commented on #650
I suspect this is the expected behaviour in PBS but I'll have to check the qsub man page in a bit. IIRC tho, afterok only runs the job of the dependencies complete without error and holds otherwise.

[2016-08-02 19:29] josephdviviano commented on #445
OK --

+ multisite data collected in a new project SPN00 (consisting of the human phantom data -- I've simply saved the names of the DTI pilot subjects since they are already in `DTI/CMH`).
+ Genetic data in 'Hillside' moved to `DTI/CMH/data/genetics/raw`
+ `DTI` has non-raw replication sample data from `MRC` and `ZHH`. I've moved them to `/external/dti-replication-samples` since we can reconstruc

[2016-08-02 19:29] #445 closed

[2016-08-02 19:41] sstojanovski commented on #647
Does anyone have any idea what this error message is referring to? Its coming from randomize.
Loading Data: ERROR: Program failed

An exception has been thrown
Error: block 2 must be assigned to at least one design row in the blocks file.

Exiting

[2016-08-02 19:49] sstojanovski commented on #647
design matrix and design contrast attached (copy and pasted into text files since I can't attach a .mat /.con file here)
[FSL_designC1-copiedtosend.txt](https://github.com/TIGRLab/admin/files/397980/FSL_designC1-copiedtosend.txt)
[fsl_design_meancenter-deletedummy-copiedtosend.txt](https://github.com/TIGRLab/admin/files/397981/fsl_design_meancenter-deletedummy-copiedtosend.txt)

[2016-08-02 21:02] josephdviviano commented on #647
Sonja can we go over this together tomorrow? I'm pretty sure this is due to you making an error with your FSL GLM workaround. I don't think your .con / .grp / .mat file is formatted correctly.

[2016-08-02 21:23] navonacalarco opened #651 "write run scripts for VIPR spiral scans"
In VIPR/bin:

message "Link spiral scans..."
dm-link-vn-sprl.sh ${PROJECTDIR}/data

[2016-08-02 21:24] navonacalarco commented on #612
Look good now.

[2016-08-02 21:24] #612 closed

[2016-08-02 21:27] navonacalarco commented on #602
![22d05c4960c68fd8e1c4fd1aef323427dd84ab27cede9c6aa52cdcbc2b639f99](https://cloud.githubusercontent.com/assets/13733654/17345918/668dae28-58d6-11e6-9110-cbcdcf1c9cad.jpg)

[2016-08-02 21:30] josephdviviano commented on #602
https://en.wikipedia.org/wiki/Return_merchandise_authorization

We actually have failed drives for 3 computers (all in 101). I think we can just call Dell and complain.

[2016-08-03 11:22] pipitone commented on #650
Nope, I'm wrong. Dependent jobs should die if the jobs they depend on exit.

I think I've found the problem though: qbatch will happily set up jobs to be dependent on already completed jobs (because their names/IDs match whatever pattern you gave them). PBS (our version?) holds the dependent job forever.

To reproduce:
[code]

[2016-08-03 11:30] pipitone commented on #650
ps. I'm not entirely sure how to tell which version of TORQUE we're running, but qsub --version returns 3.0.4.  When I load the TORQUE/6.0.1 module, I get an error using qsub ("unable to communicate with headnode"), so I'm not sure what the deal is.

[2016-08-03 15:23] pipitone opened #652 "purkinje doesn't let users log in via lightdm"
SSSD/pam doesn't seem to be creating homedirs, e.g.

[code]

[2016-08-03 15:29] pipitone commented on #652
Actually, yeah, pam doesn't seem configured like the other machines:

[code]

Updating pam on `purkinje` almost worked, but I had to also add the `override_homedir` line to `/etc/sssd/sssd.conf` to get logins going.

@josephdviviano I suspect purkinje needs some ansible love.

[2016-08-03 15:29] #652 closed

[2016-08-03 16:02] pipitone opened #653 "purkinje is missing the nvidia drivers"
For the Quadro M4000 nvidia says to use this driver: http://www.nvidia.com/download/driverResults.aspx/105343/en-us

I can do the install, but I'll wait on @josephdviviano in case he has plans in the works for something else.

[2016-08-03 16:14] josephdviviano commented on #653
@pipitone go for it... maybe just install the driver from Ubuntu's 'additional drivers' interface.  the ansible run of installing nvidia drivers messed up a bunch of machines. I've removed that from ansible roles so this should not happen again... we're going to have to manage this manually given how heterogeneous the machines are.

[2016-08-03 16:40] pipitone commented on #642
Update. `qap_functional_temporal.py` runs to completion.

btw, I had to revert to using the anaconda version of `graphviz` because "pmuller"'s doesn't support png output.

[2016-08-03 17:39] sstojanovski commented on #647
Hey i'm at sick kids today probably for another hour or so, will you be free later on in the day?

[2016-08-03 17:58] pipitone commented on #653
Done.

[2016-08-03 17:58] #653 closed

[2016-08-03 18:10] josephdviviano commented on #647
Um today I won't be free until 5. Could help you tomorrow morn too

Joseph's Phone

On 3 Aug 2016 1:59 p.m., "sstojanovski" <notifications@github.com> wrote:

[2016-08-03 18:20] sstojanovski commented on #647
5’s fine for me if its fine for you.

From: Joseph Viviano <notifications@github.com<mailto:notifications@github.com>>
Reply-To: TIGRLab/admin <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, August 3, 2016 at 2:14 PM
To: TIGRLab/admin <admin@noreply.github.com<mailto:admin@noreply.github.com>>
Cc: Sonja Stojanovski <sonja.stojanovski@sickkids.ca<mailto:sonja.stojanovski@si

[2016-08-03 19:17] mlevesque82 opened #654 "queue"
Is there a fix for the queue sending jobs to computers that don't exist? My jobs just stall and I don't know unless I check the queue.

[2016-08-03 21:51] josephdviviano commented on #647
sonja is still cri

[2016-08-03 22:16] josephdviviano commented on #647
/projects/sstojanovski/dti_FA_SWM/stats/split_masked/design_stats/epi-randomize-quickfix.py --prefix=rand --n=5000 --design=fsl_design_meancenter-deletedummy.mat --contrasts=FSL_designC1.con --cleanup fsl_subjects.txt
randomise options: -i all_subjects -o rand -d fsl_design_meancenter-deletedummy.mat -t FSL_designC1.con -n 5000 --T2 -x

[2016-08-03 22:39] edickie commented on #651
done

[2016-08-03 22:39] #651 closed

[2016-08-03 23:33] sstojanovski commented on #647
#nogroupfilenoproblem
________________________________________
From: Joseph Viviano [notifications@github.com]
Sent: August 3, 2016 6:16 PM
To: TIGRLab/admin
Cc: Sonja Stojanovski; Author
Subject: Re: [TIGRLab/admin] epi-randomize error (#647)

/projects/sstojanovski/dti_FA_SWM/stats/split_masked/design_stats/epi-randomize-quickfix.py --prefix=rand --n=5000 --design=fsl_design_meancenter-deletedum

[2016-08-04 14:37] josephdviviano opened #655 "printers"
set up w/ samba?

+ Server Name:   cipbdc
+ Printer Queue name: cs-101bh361-xr
+ Domain:  camh.ca

[2016-08-04 14:38] josephdviviano commented on #654
I'm looking into it. I don't really understand how Ansible is updating the Sun Grid Engine config.

[2016-08-04 15:18] josephdviviano commented on #654
Hi Melissa,

I've just regenerated the queue from scratch. It looks like the missing machines aren't on the queue any longer. Maybe you want to give the queue a test drive to see if it does the right thing now?

Thanks for your patience.

[2016-08-04 15:37] mlevesque82 commented on #654
Thanks Joe! I'll let you know!

________________________________
From: Joseph Viviano <notifications@github.com>
Sent: August 4, 2016 11:18 AM
To: TIGRLab/admin
Cc: Melissa Levesque; Author
Subject: Re: [TIGRLab/admin] queue (#654)

Hi Melissa,

I've just regenerated the queue from scratch. It looks like the missing machines aren't on the queue any longer. Maybe you want to give the queue a test d

[2016-08-04 15:50] josephdviviano commented on #654
Hey @mlevesque82 I've reset the queue from scratch, the 'bad' machines appear to be gone. Maybe give it a test run?

[2016-08-04 16:49] josephdviviano commented on #654
Hey @mlevesque82 -- looks like `com02` and `com03` weren't configured properly (they didn't know who 'melissa' was .. the nerve!) but I've fixed that ... want to try submitting the failed jobs again?

[2016-08-04 17:01] mlevesque82 commented on #654
just did, I'll let you know if it stops running

________________________________
From: Joseph Viviano <notifications@github.com>
Sent: August 4, 2016 12:49 PM
To: TIGRLab/admin
Cc: Melissa Levesque; Mention
Subject: Re: [TIGRLab/admin] queue (#654)

Hey @mlevesque82<https://github.com/mlevesque82> -- looks like com02 and com03 weren't configured properly (they didn't know who 'melissa' was .. the

[2016-08-04 17:02] pipitone commented on #642
I've just added `dm-proc-qap.py` to datman which does the basics of setting up and running QAP on a datman project. See the commit message for more info about other bits that could be added to this proc script.

The QAP code itself is still in a quite a bit of flux and seems quite flaky to me in many ways. Nevertheless, I will create a QAP module based on the current code based on my instructions

[2016-08-04 17:04] pipitone opened #656 "Check machine times/timezones"
I just noticed that purkinje has the wrong timezone (CDT), so it might be worth double checking all of the new machines. From the command line: `date +%Z`

[2016-08-04 17:34] pipitone commented on #642
Okay, I've added `qap/20160104`. The module does not load AFNI or FSL, but those are requirements for QAP to run.

[2016-08-04 17:34] #642 closed

[2016-08-04 17:42] pipitone commented on #650
I've emailed Andy (cc'd Erin) about this issue with PBS. We are [planning to patch qbatch](https://github.com/pipitone/qbatch/issues/119) so that it doesn't set up job dependencies on already completed jobs, but there will still be cases we can't avoid (e.g. jobs that complete in the time between when qbatch checks for running jobs, and when qbatch submits the job). Hopefully Andy plans to update

[2016-08-04 17:42] #650 closed

[2016-08-04 18:44] josephdviviano commented on #656
Did you change it? It looks like Thu Aug  4 14:42:49 EDT 2016 now.

[2016-08-04 19:11] pipitone commented on #656
I did

[2016-08-04 19:17] josephdviviano commented on #656
Thanks, fixed.

[2016-08-04 19:17] #656 closed

[2016-08-04 19:25] josephdviviano commented on #654
@mlevesque82 I think this is fixed, feel free to reopen the issue if you run into trouble!

[2016-08-04 19:25] #654 closed

[2016-08-04 20:41] josephdviviano commented on #647
I'm gonna consider this one done... :-)

[2016-08-04 20:41] #647 closed

[2016-08-04 20:42] sstojanovski commented on #647
I is no more cri!
________________________________
From: Joseph Viviano [notifications@github.com]
Sent: August 4, 2016 4:41 PM
To: TIGRLab/admin
Cc: Sonja Stojanovski; Author
Subject: Re: [TIGRLab/admin] epi-randomize error (#647)

I'm gonna consider this one done... :-)

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://urldefense.p

[2016-08-05 19:52] mlevesque82 opened #657 "cortical thickness in DTI 1.5T data"
Would it be possible to run all of the DTI TGH T1s through CIVET and then Mallar's script to get the averaged thickness in AAL ROIs? I've been trying to run it but it isn't finished and I don't think this is something I can do remotely.

I have the scripts:
/projects/melissa/current/Scripts/CIVET/CIVET-processing/CIVET-processing_2_revised_AW&ML.txt
and
/projects/melissa/current/Scripts/CIVET/aal/

[2016-08-05 20:11] josephdviviano commented on #657
Erin isn't this part of datman already?

Joseph's Phone

On 5 Aug 2016 3:52 p.m., "Melissa Levesque" <notifications@github.com>
wrote:

[2016-08-05 20:14] edickie commented on #657
Running CIVET is part of datman - but we haven't run it no the 1.5T data
because it's not in the nightly run scripts.

I never built the second AAL step into datman..

I thought this might be a nice learning experience for Dawson...

On Fri, Aug 5, 2016 at 4:11 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-08-05 20:15] josephdviviano commented on #657
I agree! Shouldn't be too hard for him. After he gets oriented we can assign him to this task.

[2016-08-05 20:19] mlevesque82 commented on #657
That would be amazing.

________________________________
From: Joseph Viviano <notifications@github.com>
Sent: August 5, 2016 4:15 PM
To: TIGRLab/admin
Cc: Melissa Levesque; Author
Subject: Re: [TIGRLab/admin] cortical thickness in DTI 1.5T data (#657)

I agree! Shouldn't be too hard for him. After he gets oriented we can assign him to this task.

-
You are receiving this because you authored the

[2016-08-06 18:46] josephdviviano opened #658 "queue is appending semicolon to user'"
A bunch of melissa's jobs are failing on the queue because it can't find the user 'Melissa'. I could never find the problem machine, but this entry in the log (below) suggests something is appending a semicolon to her username :

[code]

I should investigate.

[2016-08-07 15:59] josephdviviano commented on #658
also might be related ... http://serverfault.com/questions/595176/pam-is-unable-to-make-users-home-directory

[code]

[2016-08-08 15:32] josephdviviano commented on #655
Hi Art,

Of course.

Qing – could you provide support to test the method below:

I just tried setting up a printer in Ubuntu 12.04 in a similar situation. I want to access printers on a Windows server in a domain. Wasn't working - they were being held for authentication too. My local username on the Ubuntu box is not the same as my Active Directory domain username. (I may be Samba not perfectly se

[2016-08-08 22:28] navonacalarco opened #659 "STOPPD_CMH_460004_01_01 is in SPINS in XNAT"
?

[2016-08-09 01:02] navonacalarco opened #660 "change XNAT url on lab website"
currently listed as http://da55.pet.utoronto.ca:5004.; should be https://xnat.imaging-genetics.camh.ca/

[2016-08-09 01:19] navonacalarco opened #661 ""Error: GDK_BACKEND does not match available displays""
I get this error when using the new VPN/PuTTY arrangement to try to open a QC doc.

![screen shot 2016-08-08 at 9 16 48](https://cloud.githubusercontent.com/assets/13733654/17501524/a1abebc4-5dad-11e6-9018-b12ee51cd80b.png)

[2016-08-09 11:55] edickie commented on #661
Hey Navona,

Are you trying this with X-forwarding?

On Mon, Aug 8, 2016 at 9:19 PM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-08-09 12:19] navonacalarco commented on #661
Hi Erin!

I thought so, but all I did was check a box:

![screen shot 2016-08-09 at 8 18 18 am](https://cloud.githubusercontent.com/assets/13733654/17516015/f52abae4-5e09-11e6-9d7c-e3eb3dbb40ca.png)

[2016-08-09 14:04] josephdviviano commented on #661
This is what I tried too, it didn't work. I've let them know ... not sure
what they are going to do about it though.

JDV

On Tue, Aug 9, 2016 at 8:19 AM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-08-09 14:13] edickie opened #662 "Is xnat still mounted on our file system?"
The morning run scripts give us the error below...note how the * is not expanded...

ERROR: /mnt/xnat/spred/archive/ANDT/arc001/* folder is not named according to the data naming policy. Skipping

from franklin:
edickie@franklin:~$ ls /mnt/xnat/spred/archive/ANDT/arc001/*
ls: cannot access /mnt/xnat/spred/archive/ANDT/arc001/*: No such file or directory

Did the xnat mount move to another location

[2016-08-09 14:16] navonacalarco commented on #661
Thanks!

[2016-08-09 14:20] josephdviviano commented on #662
No,x
​nat might not be mounted on franklin. Is it mounted on tigrsrv?
​

JDV

On Tue, Aug 9, 2016 at 10:13 AM, edickie <notifications@github.com> wrote:

[2016-08-09 14:57] edickie commented on #662
I beleive not..

[2016-08-09 15:06] josephdviviano commented on #662
I think IMG made changes to the firewall between XNAT and our system.

[2016-08-09 15:18] josephdviviano commented on #662
I think this is a firewall issue. Looking into it now.

JDV

On Tue, Aug 9, 2016 at 10:57 AM, edickie <notifications@github.com> wrote:

[2016-08-09 15:28] josephdviviano opened #663 "scinet resource allocation due MID SEPT"
https://www.computecanada.ca/research-portal/accessing-resources/resource-allocation-competitions/

[2016-08-09 15:30] josephdviviano commented on #662
I was able to resolve this by:

[code]

I think fail2ban wasn't configured properly and keeps blocking us. Might be a good thing to have, but only if it is configured properly.

@edickie fyi, I no longer mount /mnt/xnat on all machines, only `tigrsrv`. we can change this back if you want, but I figured it would be cleaner this way seeing as the only real work happening in there is `clevis`.

[2016-08-09 15:37] #662 closed

[2016-08-09 15:40] josephdviviano commented on #644
Hey @edickie , I know for `qdec` you can just re-run recon-all on an already-complete subject and it will add the qdec stuff, is this similar for `localGI`?

[2016-08-09 16:02] edickie commented on #646
scc branch has been deleted

[2016-08-09 16:02] #646 closed

[2016-08-09 16:07] edickie commented on #644
Yes, it looks like localGI is actually meant to be run that way... (i.e.
after freesurfer has completed)

If you add the localGI flag to a new recon-all run there are all the
fails...

I'm putting this issue on hold cuz it looks like a good thing for Amy to do
herself.

On Tue, Aug 9, 2016 at 11:40 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-08-09 18:15] navonacalarco opened #664 "email MRC re: SPINS scans"
MRC (SPN01_MRC_0071 through SPIN_MRC_0075, inclusive) have MRI records in REDCap, but no files in XNAT.

[2016-08-09 18:38] pipitone commented on #658
Looking at the logs on tigrsrv, I see the `melissa;` messages in the `auth.log.1` but the seem to be coinciding with ansible commands being run, e.g.:

[code]

I'll keep poking around and let you know if I find anything else relevant.

[2016-08-09 18:54] pipitone commented on #658
The "unknown option: mask=0077" is coming from an incorrect setting we have in ansible when we configure `pam_mkhomedir` in `/etc/pam.d/common-session`, here: https://github.com/TIGRLab/ansible-playbooks/blob/master/roles/ipa-client/tasks/main.yml#L51

It should be `umask=0077`. I've tested this on purkinje and updated `ansible-playbooks/ipa-client/tasks/main.yml`. Since we've been running with th

[2016-08-09 20:18] josephdviviano commented on #636
I'm continuing on my quest for a direct port, however we also have an alternative method as detailed in the email I sent out today. @arash-n let me know if you didn't get it. I'm going to close this issue.

[2016-08-09 20:18] #636 closed

[2016-08-09 20:19] josephdviviano commented on #661
I don't really think this is an outstanding issue given we have an alternative ssh method as detailed in my email. @navonacalarco let me know if you need help getting an scc or scinet account.

[2016-08-09 20:19] #661 closed

[2016-08-09 20:21] josephdviviano commented on #611
No news is good news, I guess? I'm closing this.

[2016-08-09 20:21] #611 closed

[2016-08-09 20:23] josephdviviano commented on #563
This is going to be done by default as a part of #561 (everything is going to get the same treatment)

So I'm deleting this.

[2016-08-09 20:23] #563 closed

[2016-08-09 20:23] josephdviviano commented on #555
This will also be doing as part of #561 (everything will get the same treatment) so I'm deleting this.

[2016-08-09 20:23] #555 closed

[2016-08-09 20:52] navonacalarco commented on #661
I have both SCC and SciNet accounts... thanks for instructions!

[2016-08-09 23:15] josephdviviano commented on #655
Looks like after embedding my username and password in the SAMBA call, things work properly. I've included everything necessary in ansible.

[2016-08-09 23:15] #655 closed

[2016-08-10 14:58] josephdviviano commented on #658
Nice thanks @pipitone I'm applying that change across the board.

I'll keep looking into `auth.log`.

[2016-08-10 15:13] josephdviviano opened #665 "remove hopper.camhres.ca as admin host from sge"

[2016-08-10 15:14] josephdviviano commented on #658
This might coinside with the fact that I put a bunch of new machines on the queue and `SGE` does not make home folders.

I'm adding a make home directories for all users in ansible thing.

[2016-08-10 15:16] pipitone commented on #658
You shouldn't need to do that though; I would expect a properly configured pam to do that.

[2016-08-10 15:17] josephdviviano commented on #658
well if a user ssh's into a machine, the home folder is created.

but if they just run sge, and the job lands on that machine, it is not created. Is this a feature of PAM? I couldn't find any suggestion of that on Google.

[2016-08-10 15:32] josephdviviano commented on #658
pam is working fine when ppl log in it's just SGE...

[2016-08-10 15:57] josephdviviano commented on #658
I did it my way, it worked for `doverton`. @pipitone if you figure out a more elegant solution get back to me.

[2016-08-10 15:57] #658 closed

[2016-08-10 15:59] josephdviviano opened #666 "request a service account to manage the printers etc via IMG"

[2016-08-10 16:05] pipitone commented on #658
FYI jobs run completely fine without a user's home folder (just tested it).

[2016-08-10 16:06] #504 closed

[2016-08-10 16:13] josephdviviano commented on #658
Not true for all kinds of jobs. multiple jobs were failing at 'could not chdir to `/home/blah` :)

[2016-08-10 16:17] josephdviviano commented on #545
@edickie what's up with this one?

[2016-08-10 16:19] josephdviviano commented on #398
I'm closing this. We shouldn't waste our time.

If you want to speak to someone who has abandoned using xnat for any/all pipieline stuff, talk to the xnat people at baycrest (the ones who gave us xnat in the first place).

[2016-08-10 16:19] #398 closed

[2016-08-10 23:50] josephdviviano commented on #666
Request sent -- hope to link it to tigrlab@camh.ca...

[2016-08-11 20:21] navonacalarco opened #667 "add parallax/floaties to QC"

[2016-08-11 20:51] josephdviviano commented on #483
It is done.

I found random zip files that looked novel. They've been moved to /archive/data-2.0 but will not nessicarily be mapped into XNAT without some work. I'd consider this a low priority since we've done fine for all these years without the data. It will be much easier to locate the missing stuff in the future.

[2016-08-11 20:51] #483 closed

[2016-08-11 20:51] josephdviviano commented on #667
you do it.

[2016-08-11 21:05] josephdviviano commented on #629
I have some potential quotes I located here:

`/projects/jviviano/documents/admin/purchases/george-computers` I have to run upstairs to verify though.

[2016-08-12 16:43] navonacalarco commented on #667
done. i see them.

[2016-08-12 16:43] #667 closed

[2016-08-12 18:24] josephdviviano commented on #665
Looks like the problem is that hopper was configured with `gridengine` from an old configuration, was pinging `srv-sge` every ~30 seconds, and this was causing `srv-sge` to log that as an error because it is not a recognized host.

e.g., `08/12/2016 14:17:58|worker|srv-sge|E|denied: host "hopper.camhres.ca" is no admin host`

Gridengine is removed from `srv-sge` and the errors are gone.

[2016-08-12 18:24] #665 closed

[2016-08-12 18:29] josephdviviano commented on #629
It might also be the T5600 machines upstairs (mfg. 2011) instead of the 7810s, which were mfg 2015...

I have no idea. I'm going to unassign myself from this one. I've wasted a lot of time with not much to go on.

[2016-08-12 19:01] navonacalarco opened #668 "Make image file for participant SPN01_CMH_0080_01_01"
Participant asked for "colourful picture". Maybe also give a GIF?

Send to Judy <judy.kwan@camh.ca> and Jess <Jessica.DArcey@camh.ca>

[2016-08-12 19:05] navonacalarco commented on #629
Not sure if it's relevant, but the VR lab has the following computers:

Dell Precision T3500
Dell Precision T7500   (x4)
Dell Precision T7810   (x2)
Dell Precision T7910

[2016-08-12 19:06] josephdviviano commented on #629
Thanks. It isnt clear to me which of thse were purchased by brotenburg / rippatone.

[2016-08-12 19:07] josephdviviano commented on #668
Try opening the image using AFNI -- easy to make colourful pics :-D

[2016-08-12 21:44] navonacalarco commented on #668
Yay! Coloured images and gifs! :dancers:

[2016-08-12 21:44] #668 closed

[2016-08-12 21:48] josephdviviano commented on #668
:whale: :whale: :whale:

[2016-08-12 23:08] josephdviviano commented on #649
Also found a number of unclaimed MRS scans -- adding now.

[2016-08-12 23:20] josephdviviano commented on #649
@edickie @navonacalarco I've just linked all the MRS scans outstanding for STOPPD, you might see a bunch of uploads in the coming days!

[2016-08-12 23:20] #649 closed

[2016-08-13 00:02] josephdviviano opened #669 "potential security issue with XNAT"
NB: https://news.ycombinator.com/item?id=12260364

Following the advice from here, I'm doing the following:

[code]

[He] got this from http://www.isssource.com/fixing-an-internet-security-threat/ but they had a typo

[2016-08-13 00:18] josephdviviano commented on #669
CHange made ... closing. Will reopen if I find side effects.

[2016-08-13 00:18] #669 closed

[2016-08-15 14:37] josephdviviano opened #670 "recent nvidia drivers cause displayport monitors to glitch (not power off/on, etc)"
Solution proposed here: https://ubuntuforums.org/showthread.php?t=2304628

Uses an older driver version `340.96`. I'm running this on my machine and will be reverting all future machines with issues to this driver version.

[2016-08-15 14:37] #670 closed

[2016-08-15 14:38] josephdviviano opened #671 "RMA drives for milner, taliarach, darwin"
Need to contact dell support. All three have broken drives.

[2016-08-15 15:39] edickie commented on #583
I'm pretty sure this is the study Steph new RA is on..there is prob data to pull now..

[2016-08-15 16:36] josephdviviano opened #672 "burn cd of SPN01_CMH_0062 for CP"

[2016-08-15 18:32] navonacalarco opened #673 "SPN01_CMH_0001_01"
Figure out why QC report for SPN01_CMH_0001_01 appeared in to-do list today.

:/

[2016-08-15 19:06] josephdviviano commented on #671
+ RMA request sent to DELL.

[2016-08-15 19:11] josephdviviano opened #674 "fix classifiers (1 for MRC, ZHH, CMH) for SPINS"
As a part of #561, we're going to transition to using FIX to classify noise in our fMRI data.

To do this, we're going to need to use a single classifier for each scanner. We have hand-labeled data for the IMOB task at each site, so we're going to make our classifiers out of 50% IM and 50% OB ICA labels.

- [x] MRC
- [x] ZHH
- [x] CMH

[2016-08-15 19:11] josephdviviano commented on #674
When those .Rdata files are generated, please point me to them so I can go about making the epitome scripts required to run them (and testing this out on the SCC).

[2016-08-15 19:13] navonacalarco commented on #664
Emailed MRC contact (Adriana).

[2016-08-15 19:23] navonacalarco commented on #659
Trying to move files via Actions> Edit > modify project name doesn't seem to work ("ERROR (409): Failed to modify project")

@josephdviviano Do you deal with this by downloading and then reuploading?

[2016-08-15 19:25] josephdviviano commented on #659
I think so, not sure if this has ever happened before TBH.

[2016-08-15 19:56] #365 closed

[2016-08-15 21:55] #672 closed

[2016-08-15 22:50] josephdviviano commented on #583
OK -- everything up until QC is running for this project. Looks pretty complete, check the `exportinfo.csv` file for more. @edickie / @djoverton  / @navonacalarco  could you take it from here and get the analytic pipelines working?

[2016-08-16 14:15] josephdviviano opened #675 "spins analysis: effectiveness of various fMRI protocols for predicting cognitive scores"
- resting state
- IMOB
- EA
- DTI
- T1

Use combinations of the above to determine:
- what scan types are the most **useful**.
- what scan combinations give us the best accuracy + sensitivity?

[2016-08-16 15:37] josephdviviano commented on #587
Meeting notes:

+ Order CHIPS to Sick Kids (TCAG) but bill here.
+ TCAG to charge us only for chips
+ buying omni express
+ $10 a sample for GWAS prep.
+ Loop Lisa + Chow into conversation.
+ Bisulfate site -- do wherever TCAG says.
+ Illumina Lisa Tramblea -- Grace Murray CFI discounted quote.
+ Mention natalie -- no gel check required.
+ Chow from TCAG
+ Joanna Herbrick -- Chow's boss.
+ COnnect

[2016-08-16 15:38] josephdviviano commented on #587
Next steps: Yuilia will track down new samples, Natalie will put me in touch with Lisa (from Illumina) and Chow (from TCAG).

[2016-08-16 16:01] josephdviviano commented on #562
@edickie just curious where this is at?

[2016-08-16 16:14] edickie commented on #562
So it's pretty much done..accept for the syntax error with the cron job
(which i don' t know about).

I guess one questions it...do we want the pipelines to still be a cron job?
Or should we have navona submitt them manually when she's done QC?

On Tue, Aug 16, 2016 at 12:01 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-08-16 16:54] josephdviviano commented on #562
Hmm that's interesting. If the pipelines are run manually that might keep us more aware of whether we're up-tp-date with QC etc.

I'm happy either way!

[2016-08-16 20:01] josephdviviano commented on #671
Dell Service Tag: 3J3PJB2 Service Request: 934631750

[2016-08-16 20:23] josephdviviano commented on #587
From Lisa Tremblay:

[2016-08-16 20:24] josephdviviano commented on #587
From Chao:

Thank you very much for the information and the explanations.

Besides what you wrote here, I would like to know the total number of samples for each array type, number of samples in each batch

of submission, and if bisulphate conversion is requested.

I would see that we can keep the same processing fee as before.

[2016-08-16 20:24] josephdviviano commented on #587
From Natalie:

I am writing to introduce you both to Dr. Aristotle Voineskos and two members of his team, Dielle Miranda and Joseph Viviano.  Dr. Voineskos will be ordering some Omni and Epic tests to be done at TCAG in the near future, but requires some special arrangements with you both.

Chao – you may remember that Grace Murray and yourself helped Dr. Kennedy with an arrangement whereby CAMH b

[2016-08-16 20:53] djoverton commented on #624
Done (and verified on mansfield.camhres.ca that it worked).

[2016-08-16 20:53] #624 closed

[2016-08-17 15:24] edickie commented on #674
If you want to start building some rough code.. you can use the epicTIGR.Rdata as a place holder for the fix classifiers we want..

/projects/edickie/analysis/epicTIGR/epicTIGR.RData

Info about the preprocessing pipeline pre ICA (which will match the one for the new classifiers)
/projects/edickie/analysis/epicTIGR/epicTIGR_README.md

[2016-08-17 15:35] edickie opened #676 "PACTMD run script error"
We might need to run in debug mode to figure out what happened here...

[2016-08-17 15:40] edickie opened #677 "SPINS DTI-60Dir-5B0-ColFA being exported and T1 exported as DTI?"
Note: the file ending in "Col-FA" are processed files we should not be downloading..
Maybe we need to change the regex in export-info.csv..

Also, this suggests that T1 files are being converted to nrrd?? or exported as DTI??

[2016-08-17 15:42] DESm1th commented on #676
The problem is that the last line of the blacklist.csv file has extra spaces in the 'reason' field.

This line:
PACTMD_CMH_3060065_01_01_PDT2_09_OblAx-T2DEfseXL             repeated due to head position

So it's parsing it as six separate columns

[2016-08-17 15:45] edickie commented on #676
Thanks Dawn!!

Do you have the write permission to fix this yourself??

On Wed, Aug 17, 2016 at 11:42 AM, DESm1th <notifications@github.com> wrote:

[2016-08-17 15:50] DESm1th commented on #676
Yep! I completely forgot I could sudo things on this computer. It seems to parse correctly now

[2016-08-17 15:55] navonacalarco commented on #673
Aha! Accidentally added a character to the original SPN01_CMH_0001_01 entry in checklist.csv, so it regenerated.

:dancer:

[2016-08-17 15:55] #673 closed

[2016-08-17 16:04] edickie opened #678 "SPINS git repo is very out of date.."
maybe we should clean this up a bit..

[2016-08-17 16:06] edickie opened #679 "SPINS header naming issue"
Need to update scans.csv?
/archive/data-2.0/SPINS/data/zips/20160729_Ex05786_SPIN1MR_SPKJ072.zip: Cannot find scan id. Skipping

[2016-08-17 16:12] edickie opened #680 "DTI scan.csv need to be updated"
ERROR: /archive/data-2.0/DTI/CMH/data/zips/2012_0910_001SP.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0/DTI/CMH/data/zips/2012_0910_002CM.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0/DTI/CMH/data/zips/2012_0910_003DB.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0/DTI/CMH/data/zips/2012_0910_004JW.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0

[2016-08-17 16:13] edickie opened #681 "DWI Conver error"
Maybe this one is due to an empty folder??

Error 1 while executing: DWIConvert -i /mnt/xnat/spred/archive/DTI01/arc001/DTI_CMH_S146_01_01/SCANS/13/DICOM --conversionMode DicomToNrrd -o DTI_CMH_S146_01_01_DTI33-3000_13_Ax-DTI-32+3-b3000.nrrd --outputDirectory /archive/data-2.0/DTI/CMH/data/nrrd/DTI_CMH_S146_01
stderr:

[2016-08-17 16:16] edickie commented on #676
Hey guys??

Maybe we should update xnat-export in datman to print a clearer error (i.e. one's that mentions this is a problem with parsing the blacklist??)

[2016-08-17 16:17] edickie opened #682 "add an EMP gold standard to SPINS"
[dm-check-headers] WARNING: /archive/data-2.0/DTI/CMH/data/dcm/DTI_CMH_S071_02/DTI_CMH_S071_02_01_EMP_10_AxEPI-EATask1.dcm: No matching standard for tag 'EMP'
[dm-check-headers] WARNING: /archive/data-2.0/DTI/CMH/data/dcm/DTI_CMH_S071_02/DTI_CMH_S071_02_01_EMP_11_AxEPI-EATask2.dcm: No matching standard for tag 'EMP'
[dm-check-headers] WARNING: /archive/data-2.0/DTI/CMH/data/dcm/DTI_CMH_S071_02/DTI

[2016-08-17 16:18] edickie opened #683 "DTI CMH is exporting many many files as DTI...."
[dm-check-headers] WARNING: /archive/data-2.0/DTI/CMH/data/dcm/DTI_CMH_S071_02/DTI_CMH_S071_02_01_EMP_10_AxEPI-EATask1.dcm: No matching standard for tag 'EMP'
[dm-check-headers] WARNING: /archive/data-2.0/DTI/CMH/data/dcm/DTI_CMH_S071_02/DTI_CMH_S071_02_01_EMP_11_AxEPI-EATask2.dcm: No matching standard for tag 'EMP'
[dm-check-headers] WARNING: /archive/data-2.0/DTI/CMH/data/dcm/DTI_CMH_S071_02/DTI

[2016-08-17 16:23] edickie opened #684 "manually update scans.csv for RTMSWM.."
ERROR: /archive/data-2.0/RTMSWM/data/zips/20160629_Ex05645_RTMSB1MR_RTFT096.zip: Cannot find scan id. Skipping
ERROR: /archive/data-2.0/RTMSWM/data/zips/20160803_Ex05814_RTMSB1MR_RTFT098.zip: Cannot find scan id. Skipping

[2016-08-17 16:25] edickie opened #685 "COGBDY run-script error"
Unable to resume download of "/archive/data-2.0/COGBDY/data/zips/2014_0314_AM010.zip": local file is larger than remote

@josephdviviano you new what this was about...how do we address this error?

[2016-08-17 16:27] edickie opened #686 "COGBDY xnat-upload failed"
Maybe we need to try to re-upload manually??

[2016-08-17 16:30] edickie opened #687 "STOPPD is having much trouble communicating with xnat"
This error is repeated many many times...

[xnat-upload.py] ERROR: STOPPD_CMH_410009_01_00 http client error at folder creation: 422
[xnat-upload.py] ERROR: STOPPD_CMH_410009_01_00 http client error dicom data upload: 500

[2016-08-17 16:33] edickie opened #688 "STOPPD dcm2nii error"
Maybe this one is from empty folders??

Error 1 while executing: dcm2nii -x n -g y  -o /tmp/tmpnCEqH5 /mnt/xnat/spred/archive/STOPPD02/arc001/STOPPD_MAS_210036_01_01/SCANS/0/DICOM
stdout:

Error 1 while executing: dcm2nii -x n -g y  -o /tmp/tmpihA3Nr /mnt/xnat/spred/archive/STOPPD02/arc001/STOPPD_MAS_260009_01_01/SCANS/0/DICOM
stdout:

[2016-08-17 16:34] edickie opened #689 "STOPPD exporting a PDT2 as DTI?"
STOPPD....
[dm-check-bvec] ERROR: No gold standard .bvec file for tag PDT2
[dm-check-bvec] ERROR: No gold standard .bval file for tag PDT2

[2016-08-17 16:36] edickie opened #690 "rename PRELASPE awesomeness in xnat"
ERROR: /mnt/xnat/spred/archive/PRE02/arc001/PRE01_IWA_04012_01 folder is not named according to the data naming policy. Skipping
ERROR: /mnt/xnat/spred/archive/PRE04/arc001/COTES__01_JULY_2016 folder is not named according to the data naming policy. Skipping
ERROR: /mnt/xnat/spred/archive/PRE04/arc001/COTES__06_JULY_2016 folder is not named according to the data naming policy. Skipping
ERROR: /mnt

[2016-08-17 16:36] edickie opened #691 "add gold standards to PRELAPSE"
I don't believe they have any..

[2016-08-17 16:38] navonacalarco commented on #664
Emailed Peter - tech is on vacation.

[2016-08-17 16:55] DESm1th commented on #676
I added in an error message for this and fixed a bug with how the blacklist is read. The changes have been committed locally but not pushed to TIGRLab/datman

[2016-08-17 16:59] edickie opened #692 "CIVET might be failing in the run scripts becuase tigrsrv is not a submit node.."
womp womp

[2016-08-17 17:11] josephdviviano commented on #692
K I just added it as a submit node now ... it is ALSO an execution host.

`tigrsrv` should be able to handle this, but if we notice extremely slow NFS performance, I'll think of a more elegant fix.

[2016-08-17 17:11] #692 closed

[2016-08-17 17:54] navonacalarco commented on #677
T1 files were indeed being converted to nrrd in exportinfo.csv. We changed that, now @DESm1th and I are figuring out the regex. :boom:

[2016-08-17 18:43] navonacalarco commented on #677
Changed regex; will check tomorrow to see if it works.

[2016-08-18 14:24] edickie opened #693 "New xnat-extract/py error"

[2016-08-18 14:28] DESm1th commented on #693
... whoops. That one is on me. I broke a thing while fixing the blacklist thing yesterday.

[2016-08-18 15:17] DESm1th commented on #693
Ok. I moved everything related to blacklist reading and error handling into a new function. I tested everything and it seems good, but if anything blacklist related breaks blame me and I'll figure it out.

[2016-08-18 15:17] #693 closed

[2016-08-18 15:18] #676 closed

[2016-08-18 15:30] colinhawco opened #694 "USB keys not recognized"
Whenever I try to add a USB key to Tesla it fails. Same for my hard drive. I need access to that data.

I don't think this is a Tesla only issue. Only a few computers seem to load my USB drives, which I guess are configured for windows?

I guess this is a known issue?

Colin

[2016-08-18 15:37] josephdviviano commented on #694
Does it fail on all USB ports?

[2016-08-18 15:41] colinhawco commented on #694
Apparently not! It fails on multiple ports last time I tried, but I managed
to get it this time!

On 18 August 2016 at 11:37, Joseph Viviano <notifications@github.com> wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www.neuranalysis.com

[2016-08-18 15:43] josephdviviano commented on #694
Yeah the first thing to try when Ubuntu is acting up is a different USB
port.

I dunno why Ubuntu does this :(

JDV

On Thu, Aug 18, 2016 at 11:41 AM, colinhawco <notifications@github.com>
wrote:

[2016-08-18 15:45] josephdviviano commented on #685
Just try a `rm /archive/data-2.0/COGBDY/data/zips/2014_0314_AM010.zip` so we can get the most up-to-date data from the MR center downstairs..

[2016-08-18 16:13] DESm1th commented on #694
I've read (and my experience with this issue seems to align with this) that the issue crops up when
 A) Someone pulls out a usb mounted device without using the option to safely release it
 B) A user logs in, uses the port, and logs out and then another user logs in to the same machine and attempts to use the same port.

Because of this I think Ubuntu is just not correctly releasing a lock on the

[2016-08-18 16:32] josephdviviano commented on #689
How I fix:

[code]

`exportinfo.csv` looks fine.

[2016-08-18 16:32] #689 closed

[2016-08-18 16:36] josephdviviano commented on #688
This is just garbage in xnat:

![screenshot from 2016-08-18 12 36 10](https://cloud.githubusercontent.com/assets/4142570/17782186/5ca3af7c-6540-11e6-9582-d376db7a70f5.png)

I'm just deleting all the sessions starting with 0...

[2016-08-18 16:38] josephdviviano commented on #688
Done.

[2016-08-18 16:38] #688 closed

[2016-08-18 16:38] josephdviviano commented on #674
@edickie @navonacalarco where are we at with this?

[2016-08-18 17:06] josephdviviano commented on #682
Interesting case since these are `DTI` participant who are also doing the `SPINS` protocol (?).  Anyhow I added the gold standard.

[2016-08-18 17:06] #682 closed

[2016-08-18 17:32] josephdviviano commented on #680
+first 5 are in the SPN00 project (these are the original human phantoms) ... ignoring.

[2016-08-18 17:33] navonacalarco opened #695 "look at necessity of XNAT "Site-wide Anonymization Enabled""
I *think* the reason that renaming files takes so long in XNAT is because the anonymization script (https://xnat.imaging-genetics.camh.ca/app/template/Configuration.vm) runs even for what XNAT calls  "label modification".

@josephdviviano Does it make any sense to try to figure out how/if we could disable this in cases of label modification?

[2016-08-18 17:35] josephdviviano commented on #680
+ 2014_0716_MF030.zip is a COGBDO scan david has in the wrong folder and I saved. Deleting.

[2016-08-18 17:41] josephdviviano commented on #695
@navonacalarco You're welcome to look into it. I'm pretty sure the main reason things are so slow is because XNAT stores all of the DICOM files unpacked, which is very hard on the filesystem.

[2016-08-18 17:41] josephdviviano commented on #695
@navonacalarco we also legally need anonymization turned on because XNAT isn't NIH approved (whatever that's called). Redcap is.

[2016-08-18 17:44] navonacalarco commented on #695
@josephdviviano  Ah, OK, that settles that, then. Thanks :)

[2016-08-18 17:44] #695 closed

[2016-08-18 17:45] josephdviviano commented on #680
+ 2015_0606_CJ097.zip also improperly named. Deleting.

[2016-08-18 17:45] #680 closed

[2016-08-18 17:47] josephdviviano commented on #679
Added to `scans.csv`

[2016-08-18 17:47] #679 closed

[2016-08-18 18:14] edickie opened #696 "write documentation on the new config files"
Now everyone can understand?

[2016-08-18 18:15] edickie commented on #696
Done woot..

Let me know if anything is unclear..
https://github.com/TIGRLab/admin/wiki/data-organization-and-config-files

[2016-08-18 18:15] #696 closed

[2016-08-18 19:15] djoverton commented on #683
dm-check-headers.py disabled for this project.

[2016-08-18 19:15] #683 closed

[2016-08-18 19:17] navonacalarco opened #697 "PRELAPSE site NWN (Northwestern U) tag?"
On the website, NWN is assigned PRE1**4**; on our system, it's PRE1**3**.

@josephdviviano which should it be? I change!

[2016-08-18 19:18] navonacalarco commented on #690
Done.

[2016-08-18 19:18] #690 closed

[2016-08-18 19:29] navonacalarco commented on #677
Actually, I need some help figuring out how to check if this actually works.

@DESm1th It would be awesome to get your insight, if you have a bit of time to look at this together.

[2016-08-18 19:42] navonacalarco commented on #684
@edickie what script is giving this error? :confused:

[2016-08-18 19:49] djoverton commented on #691
Done (except for sites that only have phantoms in the data folder).

[2016-08-18 19:49] #691 closed

[2016-08-18 19:49] DESm1th commented on #684
It's datman/bin/link.py . The error should pop up when there's no entry for that .zip in the scans.csv metadata

[2016-08-18 19:59] edickie commented on #687
Done.. Needed to update project-settings for STOPPD to use STOPPD01 as the XNAT_PROJECT.

Also...needed to adjust the pipeline settings make both STOP and SRSD sync..

[2016-08-18 19:59] #687 closed

[2016-08-18 20:00] edickie commented on #645
We now reran everything///I am done with this shizz

[2016-08-18 20:00] #645 closed

[2016-08-18 20:04] navonacalarco commented on #677
![funny-face-cat](https://cloud.githubusercontent.com/assets/13733654/17788801/592e3336-655d-11e6-8ad4-1ad628666162.jpg)

Closing for now. We'll see.

[2016-08-18 20:04] #677 closed

[2016-08-18 20:07] josephdviviano commented on #697
I can't remember. Use XNAT as the gold standard.

[2016-08-18 20:13] djoverton commented on #685
Removed the file; we'll see if this error disappears next time it is downloaded.

[2016-08-18 20:13] #685 closed

[2016-08-18 20:24] #602 closed

[2016-08-18 20:26] navonacalarco commented on #602
Thanks @djoverton!

[2016-08-19 16:50] josephdviviano commented on #671
OK just got this email:

[code]

[2016-08-19 16:59] djoverton commented on #663
FYI:

RPP Notice of Intent submission, opens: Early September, due: Sep 22, 2016.

[2016-08-19 17:22] josephdviviano commented on #587
OK: from yuilia:

`/home/jviviano/documents/admin/purchases/cfi-2016/genomics/budget.xlxs`

Attached is a spreadsheet with the final sample count and draft budget (list of sample IDs is in Sheet 2). I've tried my best to only include unique participants across studies based on gender, DOB and diagnosis, and, in some more recent cases, notes from the Kennedy lab database.

With the samples collecte

[2016-08-19 17:42] josephdviviano opened #698 "warranty extension for 5 workstations"
total cost can be 21,238

[2016-08-19 21:03] #583 closed

[2016-08-19 21:07] josephdviviano commented on #698
No in-kind of this item.

[2016-08-19 21:11] josephdviviano commented on #587
Emails sent. Awaiting quote from Illumina.

[2016-08-22 14:17] navonacalarco commented on #664
Just an update everyone before call today - MRC is following up with the issue, but no word yet.

[2016-08-22 14:38] edickie opened #699 "Still issue with xnat-extract"
File "/archive/data-2.0/code/datman/bin/xnat-extract.py", line 423, in <module>
    main()
  File "/archive/data-2.0/code/datman/bin/xnat-extract.py", line 184, in main
    extract_archive(exportinfo, archivepath, datadir, blacklist)
  File "/archive/data-2.0/code/datman/bin/xnat-extract.py", line 230, in extract_archive
    exportdir, blacklist)
  File "/archive/data-2.0/code/datman/bin/xnat-extr

[2016-08-22 14:53] josephdviviano commented on #699
@edickie which study is this cropping up for?

[2016-08-22 15:09] edickie commented on #699
All of them

On Mon, Aug 22, 2016 at 10:53 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-08-22 15:13] DESm1th commented on #699
Ok, just fixed it. It was a missing l in a variable name. Noooo idea how that one slipped past when I tested it (maybe I was too focused on catching errors from broken blacklist.csv files?)

[2016-08-22 15:13] #699 closed

[2016-08-22 15:23] djoverton commented on #684
File naming convention wasn't being followed (one had an extra underscore and another used a dash instead of an underscore). Added the lines in scans.csv to fix this.

[2016-08-22 15:23] #684 closed

[2016-08-22 15:42] navonacalarco commented on #684
Sweet, thanks.

[2016-08-22 15:45] navonacalarco commented on #674
@josephdviviano @edickie Are we planning to meet to discuss anything related to this before JDV leaves? I'm free after 3.

[2016-08-22 15:52] josephdviviano commented on #674
@edickie can you please post the path to those ICA classifiers

[2016-08-22 15:57] edickie commented on #674
/projects/edickie/analysis/201607_IMOB/SPINS_CMH_imob/epi-20160520
R data files are named:
CMHOBS24.RData
MRCOBS24.RData
ZHHOBS24.RData

[2016-08-22 15:57] #674 closed

[2016-08-22 16:01] josephdviviano commented on #674
Thanks! They're here now:

`/archive/data/assets`

[2016-08-22 23:06] josephdviviano opened #700 "Ensure no Matlab credentials are posted on github"
We got a strange email yesterday...

Hello Amirhosein,

Thank you for contacting MathWorks. You have requested a license file for license 8xxxxx0 at release R2015a. This license is only eligible for releases up to R2014a. In order to gain access to a later release, the maintenance on this license must be renewed. 

Aristotle Voineskos is the Administrator and End User for license 838860. Please fo

[2016-08-23 01:14] DESm1th commented on #700
Hey guys, I just did a quick skim through and it was in the readme file of TIGRLab/quarantine/matlab. I removed it and will send you both the removed text in a sec for your records. Might be worth a look through the rest of the licensed programs in quarantine just in case any others have private info like that.

[2016-08-23 01:18] DESm1th commented on #700
Oh.. er. Someone else will have to delete the old commit with the license info from our commit history. I can't get in remotely to do it at the moment.

[2016-08-23 01:32] navonacalarco commented on #700
Thanks @DESm1th. Added the info from the README to the password manager under 'Kimel MATLAB / MathWorks'.

[2016-08-23 03:56] #697 closed

[2016-08-23 12:50] josephdviviano commented on #700
Thanks Dawn! I'm without wireless at the moment but when I can I'll remove
the data from our git history.

Joseph's Phone

On 22 Aug 2016 9:32 p.m., "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-08-23 14:43] navonacalarco commented on #664
Closing for now - apparently everyone is on vacation since scanner is down; assured they have the data and will remember to upload.

[2016-08-23 14:43] #664 closed

[2016-08-23 16:46] DESm1th commented on #700
Just as an update: I tried to purge the commit history today, but our /opt/quarantine doesn't even use git anymore. I can't figure out where the original repo is stored (if it still exists), and I don't think there's any way to clean up the commit history on github. Maybe it's just best to delete the whole readme file to get the info off the internet?

[2016-08-23 17:02] josephdviviano commented on #700
Hi Dawn, I agree, let's delete the repor from the internet and rebuild it
from scratch.

Sorry I haven't been more helpful. WiFi is very close :)

Joseph's Phone

On 23 Aug 2016 12:46 p.m., "DESm1th" <notifications@github.com> wrote:

[2016-08-23 17:23] DESm1th opened #701 "Printer issues v2.0"
Saba is unable to print on any computer and Golgi (which was able to print after Joe tested it) cannot communicate with the printer.

[2016-08-23 17:25] DESm1th commented on #700
No worries Joe! Sorry we're bugging you on your vacation. So it's ok if I just permanently delete the whole opt/quarantine repo from github?

[2016-08-23 17:45] josephdviviano commented on #700
got wifi! let me take care of it now.

[2016-08-23 17:47] josephdviviano commented on #701
This is because I had to change my password yesterday. I'll fix it now.

Joseph's Phone

On 23 Aug 2016 1:23 p.m., "DESm1th" <notifications@github.com> wrote:

[2016-08-23 17:48] DESm1th commented on #701
Ahh ok! Thanks Joe.

[2016-08-23 17:54] josephdviviano commented on #700
I've saved a local copy of the quarantine on my machine here. I've deleted the quarantine repo. We can talk about whether we should reinstate it when I return (I'm not so hot on the idea ... if we are going to put it back online somewhere, we should put it in the private CAMH gitlab program so this does not happen again).

[2016-08-23 17:54] #700 closed

[2016-08-23 17:55] josephdviviano commented on #701
I'm propagating the new password now. Can you reopen this issue and @ me if she continues to have trouble (wait ~20 minutes before trying again).

[2016-08-23 17:55] #701 closed

[2016-08-23 18:21] DESm1th commented on #700
I agree with you. I was also thinking that maybe our ansible folder should be a private repo as well? Maybe I'm just unnecessarily paranoid, but I was thinking that if someone wanted to do something malicious it might not be a good idea to have all our software/version info and workstation information publicly available. Also, if anyone commits our current ansible folder the printer.conf file with

[2016-08-23 18:23] josephdviviano commented on #700
Hi @DESm1th I agree RE: ansible. For this sort of thing i think it is better to air on the side of caution so we can write exactly what we need to get our jobs done (passwords, ip addresses, etc) without worrying about security.

[2016-08-23 18:25] josephdviviano commented on #700
Can you take care of that @DESm1th ?

[2016-08-23 18:45] DESm1th commented on #700
Done! I also committed all your uncommitted changes to the new private repo.

[2016-08-23 18:55] navonacalarco opened #702 "SPN01_CMH_0091_01_01's FMAPs have header differences"
For both FMAP-6.5 (scan 5 and 13) and -8.5 (scan 6 and 14), we get this flag:

@edickie @josephdviviano I don't know much about field maps; are different parameters between subjects a problem (or just within)?

[2016-08-23 19:09] navonacalarco opened #703 "missing 1pg of tech notes PACTMD_CMH_0110036_01"
Follow up with Anusha.

[2016-08-23 19:14] navonacalarco commented on #703
Never mind. Complete tech notes are in RESOURCES folder. So, figure out why not being read in by html. :fearful:

[2016-08-23 19:16] DESm1th commented on #703
I'll keep an eye out for that issue. I'm working with qc-html right now for Colin's thing anyway.

[2016-08-23 19:26] navonacalarco commented on #703
Never mind again. I can't copy and paste. It was an upload issue - emailing Anusha.

[2016-08-23 20:04] navonacalarco opened #704 "Remove 3 TRs from Sprl Restingstate?"
Hey @josephdviviano @edickie

Could use your expertise on this issue. The Tech Notes for PACTMD_CMH_3070033_02 advise to drop 3 TRs (101, 102, 103) from the Sprl Restingstate scan: apparently, the MR table itself moved.

I'm not sure if transcribing the note to remove these TRs would get missed on the checklist.csv, but am also not sure what removing them would mean for all potential analyses (or

[2016-08-23 23:47] navonacalarco commented on #694
Same issue for me: "Failed to mount "[usb]". An operation is already pending". I tried on all ports.

[2016-08-23 23:54] DESm1th commented on #694
A restart should always fix this. I think we should look into that other
program for handling how devices are automounted or something though. It's
a long time problem.

On Aug 23, 2016 7:47 PM, "ɐuoʌɐu" <notifications@github.com> wrote: