[2016-08-24 00:00] navonacalarco commented on #694
Restart indeed worked. Thanks Dawn! I agree we should into another program; let's close this issue for now, and open a new one up when we have time.

[2016-08-24 00:00] #694 closed

[2016-08-24 15:25] josephdviviano commented on #704
I wouldn't do this to the RAW data. I have some code (see trdrop in epitome) that basically does this based on head motion, so it's not hard to do, but I honestly wouldn't bother with it for now.

In the raw data, can you see any head motion?

[2016-08-24 16:25] djoverton commented on #671
Purolator's picking them up today.

[2016-08-24 16:25] #671 closed

[2016-08-26 16:45] navonacalarco commented on #703
Done.

[2016-08-26 16:45] #703 closed

[2016-08-26 16:48] djoverton opened #705 "Missing printer tray"
Tech just came in and said the new tray will be installed next Wednesday (Aug. 31); will close this issue when that happens.

[2016-08-29 14:39] josephdviviano opened #706 "change /etc/bash.bashrc to NOT autoload module with terminal start"
In cases where we lose NFS connections with the CAMH storage, no terminals will open because they are all programmed to auto-load the module system. This can lock us out of being able to do anything to debug.

A better solution would be for the module system to be loaded with a command run by the user (this command could be added to your personal `.bashrc` file if desired, but it would open you up

[2016-08-29 14:39] navonacalarco opened #707 "Ubuntu not getting along with internal CAMH sites (directly or via Citrix)?"
I've noticed that since we moved to the CAMH network, there's a lot of problems using internal CAMH websites (e.g., Insite). This is the case if we try to access the website directly or remotely (via remote.camh.ca).

Most obvious is the inability to enter data into any fillable form. For example, I presently can't enter into an IMG request form.

Any idea what to do to fix this?

[2016-08-29 14:46] josephdviviano commented on #707
Make sure Firefox isn't blocking citrix

Joseph's Phone

On 29 Aug 2016 10:39 a.m., "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-08-29 15:09] navonacalarco commented on #707
I think Firefox should be ok: Here's Preferences > Applications:

![screenshot - 08292016 - 11 08 17 am](https://cloud.githubusercontent.com/assets/13733654/18056236/1618e4ae-6dd9-11e6-8b36-38ae1af49134.png)

[2016-08-29 15:28] navonacalarco commented on #707
Update thanks to @DESm1th : it's actually just that the click catchment area is off by about 2 inches to the left. So, if I just need to shift my field of vision a bit.
![index](https://cloud.githubusercontent.com/assets/13733654/18056868/b7e84dcc-6ddb-11e6-9190-3ffeda8e7006.jpeg)

[2016-08-29 15:43] DESm1th commented on #707
It turns out this is a bug in the linux citrus receiver. Changing the citrux settings from 'seamless' to any other size fixes it. (see here: http://discussions.citrix.com/topic/98680-published-app-opening-in-blue-window/)

[2016-08-29 15:49] navonacalarco commented on #707
![index1](https://cloud.githubusercontent.com/assets/13733654/18057591/9b64e928-6dde-11e6-86ef-bcac6e55be5c.jpeg)

[2016-08-29 15:49] #707 closed

[2016-08-29 18:06] DESm1th commented on #706
Hey Joe,

Maybe we could conditionally load the modules only if /mnt/tigrlab is mounted? Something like this:

if mount | grep /mnt/tigrlab > /dev/null
then
    source /etc/profile.d/modules.sh
    source /etc/profile.d/quarantine.sh
fi

[2016-08-29 18:45] tomwright01 commented on #706
First access to /mnt/tigrlab is the `module load` command in quarantine.sh
Switch could go here

if [ -e /opt/quarantine/modules/quarantine ]
then
 module load /opt/quarantine/modules/quarantine
else
 echo "Quarantine not available skipping module config."
fi

[2016-08-29 19:06] navonacalarco opened #708 "Better QC display for DTI?"
I'm making this an issue so we remember to look into this/ can discuss.

I think it might be a good idea to consider changing or adding to the QC images for DTI. Recently, MRC identified ghosting (possibly present in MRC SPINS data), and CAMH tech notes identify Nyquist artifact (in ViPR, 60+5), but this is not evident in our html pages.

@josephdviviano @edickie @djoverton Do you guys think there

[2016-08-29 20:40] josephdviviano commented on #706
Hey Dawn good idea, do you want to take a stab adding it to the ansible
role for workstations?

Joseph's Phone

On 29 Aug 2016 2:45 p.m., "Tom Wright" <notifications@github.com> wrote:

[2016-08-29 20:50] DESm1th commented on #706
Ok! I'll give it a shot tomorrow morning.

[2016-08-29 20:52] josephdviviano commented on #706
Awesome! I'll be back around lunchtime :)

Joseph's Phone

On 29 Aug 2016 4:50 p.m., "DESm1th" <notifications@github.com> wrote:

[2016-08-29 21:58] navonacalarco commented on #702
Asked AV, who recommended we email Anusha. Will update with her response.

[2016-08-30 00:30] navonacalarco commented on #600
This was done a long time ago - closing.

[2016-08-30 00:30] #600 closed

[2016-08-30 00:33] navonacalarco commented on #548
Update: everything is working on the CAMH REDCap API now, so we can/ should move forward with this.

[2016-08-30 13:34] #657 closed

[2016-08-30 14:33] navonacalarco commented on #702
Response from Sofia via Anusha:

[code]

[2016-08-30 17:26] navonacalarco opened #709 "Moderate wrapping in PACTMD_CMH_0100024_01_01"
Seeing some wrapping isn't infrequent, but it's drifting closer to the important stuff, e.g.:

![screenshot - 08302016 - 01 23 28 pm](https://cloud.githubusercontent.com/assets/13733654/18099530/f71feb2e-6eb4-11e6-94a8-ecc2b548b8c4.png)

@josephdviviano @edickie should I contact Anusha about FOV settings?

[2016-08-30 17:50] navonacalarco opened #710 "Change PASD QC report settings for DTI33-3000"
The tag on the QC page is looking for DT**1**33-3000, not DT**I**33-3000. (See PASD_CMH_PASD2_01)

I checked exportinfo.csv and project_settings.yml, but everything seems named correctly there.

@DESm1th do you know what I'm doing wrong?

[2016-08-30 18:07] josephdviviano opened #711 "add new machines to localadmin's passwordless acceess tigrsrv"

[2016-08-30 18:48] navonacalarco commented on #710
![index](https://cloud.githubusercontent.com/assets/13733654/18102523/cc9c0340-6ec0-11e6-867a-38163cd3e758.jpeg)

[2016-08-30 18:48] #710 closed

[2016-08-30 19:10] josephdviviano commented on #709
No that looks expertly done to me, maximum amount of information available in that image (we would complain if the nose goes INTO the brain).

[2016-08-30 19:12] navonacalarco commented on #709
OK perfect, thanks!

[2016-08-30 19:12] #709 closed

[2016-08-30 22:38] DESm1th commented on #711
Hey Joe,

Here's the recap from ansible:

PLAY RECAP *********************************************************************
bulbasaur.camhres.ca       : ok=66   changed=14   unreachable=0    failed=0
cajal.camhres.ca           : ok=66   changed=16   unreachable=0    failed=0
com01.camhres.ca           : ok=41   changed=7    unreachable=0    failed=0
com02.camhres.ca           : ok=41   changed=7

[2016-08-31 13:51] josephdviviano opened #712 "dashboard database"
we need to:
- build an interface to push and pull from an SQL database
- track down all of the pipelines and their metrics from:
  - fMRI (task + rest)
  - DTI
  - T1
  - phantom fMRI
  - phantom T1
- build a script that will run the pipelines above, store the appropriate QC metrics (along with patient ID and scan date) in the database, and delete any intermediate outputs from the above pipelines.

[2016-08-31 13:52] josephdviviano commented on #712
Tom suggests using the following technologies to build the dashboard:

+ [flask](http://flask.pocoo.org/)
+ [SQLAlchemy](http://www.sqlalchemy.org/)
+ [D3](https://d3js.org/)
    + if we give up on this, we can use [shiny](https://rstudio.github.io/shinydashboard/structure.html) instead.

[2016-08-31 14:49] navonacalarco opened #713 "Remove Field Maps from RTMSWM"
As far as I can tell, RTMSWM's protocol does not include Field Maps:

However, Field Maps are expected by the QC pages/ project_settings.

Can this be adjusted?

[2016-08-31 14:50] navonacalarco opened #714 "Remove Field Maps from RTMSWMs"
As far as I can tell, RTMSWM's protocol does not include Field Maps:

However, Field Maps are expected by the QC pages/ project_settings.

Can this be adjusted?

[2016-08-31 15:21] navonacalarco commented on #702
OK - this is apparently not ideal, but not a critical or recurring issue. Closing.

[2016-08-31 15:21] #702 closed

[2016-08-31 16:05] navonacalarco opened #715 "STOPPD QC - odd TechNotes, etc"
There's quite a few 'new' STOPPD scans to be QC'd - I *think* because of recent MRS upload (?). Things look a bit off, but I'm not familiar with any historic factors at play here (e.g., did naming convention change?)

@josephdviviano When you have time, could we look at a couple of things here together?

[2016-08-31 16:06] josephdviviano commented on #715
Yes come grab me after 2:30

[2016-08-31 16:36] DESm1th commented on #714
The expected scans are based on exportinfo.csv and project_settings.yml. If the lines that match the field map patterns are deleted new qc pages will stop looking for them.

[2016-08-31 18:03] djoverton commented on #713
Duplicate (I think?)

[2016-08-31 18:03] #713 closed

[2016-08-31 19:11] josephdviviano opened #716 "remote access via VPN + cryptokey"
working on this now with Ricardo

+ install on linux: http://ask.xmodulo.com/install-shrew-soft-ipsec-vpn-client-linux.html
+ crypto key in tigrlab email

Needs 'shrew soft ipsec vpn client'.

[2016-08-31 22:18] #715 closed

[2016-08-31 22:24] navonacalarco commented on #714
Done. Thanks @DESm1th :)

[2016-08-31 22:24] #714 closed

[2016-09-01 14:29] josephdviviano commented on #706
@DESm1th wrote an addition to the ansible role for quarantine that is now propagated to the appropriate machines.

[2016-09-01 14:29] #706 closed

[2016-09-01 14:55] navonacalarco opened #717 "ASDD - T2 has been added without any notice...."
- [x] get protocol from Stephanie (Erin)
- [x] update scans.csv and export info csv (Navona)
- [x] delete and regenated QC pages since May 2016 (Tom)
- [x] review T2 section of new QC
- [ ] delete backup in 'bak' folder

[2016-09-01 17:37] navonacalarco opened #718 "Set up log of header differences to be sent to Sofia weekly"
I asked Sofia what header difference warnings between the protocol and an incoming scan we should be tolerant of (related to issue  ##702).

Here is here response:

@josephdviviano @edickie  Is there an easy way to pull these flags, across studies, into a csv that we could send every week?

[2016-09-01 18:17] josephdviviano commented on #587
Quote received here. We're confirming everything is kosher with illumina before pushing the purchase through the research office.

`/projects/jviviano/documents/admin/purchases/cfi-2016/genomics/illumina-20160831.pdf`

[2016-09-01 18:31] #705 closed

[2016-09-01 19:48] navonacalarco commented on #548
@djoverton Wondering if you want to help with this project, which is basically migrating our 'scan complete' emails to an online survey (hosted by REDCap), and having that survey data feed into our database (XNAT).

This can be done by something called a 'Data Trigger' in REDCap parlance, or by setting up a cron job. When we first discussed this idea, some of the survey functionality in REDCap was

[2016-09-01 20:13] navonacalarco opened #719 "PASD_CMH_PASD2_01 QC broken image links"
Investigate

[2016-09-01 20:20] DESm1th commented on #719
Hey Navona, isnt this one of the pages we had issues with recently? If all of the images are there try deleting the .html page and regenerating first. Otherwise try deleting everything in their qc folder and running qc_html on just that subject (with AFNI, FSL and minc-tools modules loaded) before you worry about it.

[2016-09-01 20:23] navonacalarco commented on #719
Dawn you shouldn't be working! But thank you!

[2016-09-01 20:28] DESm1th commented on #719
I'm not! I'm drive by commenting :D goodluck!

[2016-09-01 22:19] josephdviviano commented on #718
Hi Navona:

A simple script that can accomplish this is [here](https://github.com/TIGRLab/datman/blob/master/bin/compile-logs).

A specific script that runs the exact command you need is here `/archive/data/code/bin/generate-reports`.

This is installed in `clevis`'s crontab on `tigrsrv`.

The outputs are placed at `/archive/data-2.0/logs`, timestamped. An example output (with all header differenc

[2016-09-02 14:09] tomwright01 commented on #712
Creating the database, what should the relationship be between scan types (e.g. DTI, FMRI etc.) and metric types? I assume scan types will have more than one metric (i.e. 1 - many), however will some metrics (e.g. motion measures) will be applicable to multiple scan types (many-many)?

The later relationship only makes sense if the expected values of the metric are the same across multiple scan ty

[2016-09-02 14:11] djoverton commented on #712
Not an expert, but I assume there will be crossover between metrics of similar scan types (e.g., T1 and T2) that would warrant a many-many relationship.

[2016-09-02 14:40] josephdviviano commented on #712
Actually there will be very few measures that are similar across
modalities. For this reason I think it will be simpler to just maintain
them independently, even if a few end up getting repeated across tables.

Joseph's Phone

On 2 Sep 2016 10:11 am, "djoverton" <notifications@github.com> wrote:

Not an expert, but I assume there will be crossover between metrics of
similar scan types (e.g., T1 an

[2016-09-02 17:43] djoverton opened #720 "Python module loading outdated libraries"
At least one library (scikit-learn) is outdated in the Python module. Currently the only versioning we have in this module is the version of Python itself. Am I correct in assuming that for a given version of Python, all of the libraries we choose to load should be the latest versions? If so, I will fix this myself.

[2016-09-02 17:50] josephdviviano commented on #720
Hey @djoverton ,

No we want the quarantine to function as 'snapshots' in time. This allows us to reproduce old results even if software changes / improves.

Therefore if you want a new python environment that is up-to-date, I'd say that calls for a new `python-extras` module.

[2016-09-02 18:12] tomwright01 commented on #712
created a database definition file
populated it with some sample (random) data

Still needed:
People definitions

I've put a copy of the work so far in /projects/twright/dashboard
Feedback appreciated.

[2016-09-02 18:27] navonacalarco commented on #719
Alright. I think I followed Dawn's instructions, but it seems that, though the TechNotes are XNAT, they're getting pulled into the subject folder in our system, as opposed RESOURCES, and thus not being linked. Will investigate with @tomwright01 on Monday.

[2016-09-02 20:03] josephdviviano commented on #712
list of QC scripts we need to amalgamate
----------------------------------------------------------
**dti-phantoms**

+ Sofia's QC code: `/archive/data/code/phantom-qc/analyze_dti_phantom.m`

**fmri-phantoms**

+

**t1-phantoms**

+

**dti**

+
+
+

**t1**

+
+
+

**fmri**

+
+
+

[2016-09-02 20:36] navonacalarco opened #721 "Delete select EA files for SPINS participants if >3"
- [x] SPN01_CMH_0004
- [x] SPN01_CMH_0005
- [x] SPN01_CMH_0007
- [x] SPN01_CMH_0009
- [x] SPN01_CMH_0016
- [x] SPN01_CMH_0050
- [x] SPN01_CMH_0058
- [x] SPN01_CMH_0073
- [x] SPN01_CMH_0075
- [x] SPN01_MRC_0013
- [x] SPN01_ZHH_0006
- [x]  SPN01_ZHH_0002
- [x]  SPN01_ZHH_0004
- [x]  SPN01_ZHH_0024
- [x]  SPN01_ZHH_0028
- [x]  SPN01_ZHH_0031
- [x]  SPN01_ZHH_0034
- [x]  SPN01_ZHH_0044
- [x]  SPN01_ZH

[2016-09-02 21:56] navonacalarco commented on #721
Alright. 22/ 23 were clear cases. Emailing ZHH about the remaining one.

This means that, with the present exception of SPN01_ZHH_0055, all of our participants have a maximum of 3 EA task files. Checklist and blacklist have been updated.

:dancer:

[2016-09-02 22:28] josephdviviano commented on #666
Done -- we can now just individually enter our passwords to print.

[2016-09-02 22:28] #666 closed

[2016-09-06 02:27] navonacalarco commented on #708
Closing this for now, as we'll be discussing better QC visualization for DTI as well as FMAPS and MRS scans later this week.

[2016-09-06 02:27] #708 closed

[2016-09-06 02:33] navonacalarco commented on #704
In the raw data, head motion can be seen.

Upon @josephdviviano's advice, I did not drop the 3 TRs; instead, made a note in checklist.csv. @edickie Please let me know if you have any additional thoughts.

[2016-09-06 02:33] #704 closed

[2016-09-06 02:40] josephdviviano commented on #704
There are pre processing methods for doing this, not wise to remove itfrom
the raw data.

Joseph's Phone

On 5 Sep 2016 22:33, "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-09-06 15:00] josephdviviano opened #722 "merge xnat-extract.py, dm-link-sprl.sh, dm-link-vn-sprl.sh into a single script"
We should have a single script that exports data from XNAT into a datman-usable format.

[2016-09-06 15:08] josephdviviano opened #723 "Merge a bunch of scripts into a single QC program"
The following scripts should be merged for ease-of-use and clarity:

+ dm-build-web.py
+ dm-check-bvecs.py
+ dm-check-headers.py
+ dm-check-protocols.py
+ qc-html.py
+ qc-phantom.py
+ qc-report.py
+ scan-date-report.py
+ web-build.py

This program will implement the following pipeline:

+ Determine what kind of data an incoming file is (using the datman 'tag')
+ Run the appropriate set of pipeline

[2016-09-06 16:58] tomwright01 commented on #719
The XNAT project id for this project is not the same as the project title
Title: PASD01
ID: ASDN01
The XNAT archive dir is: '${XNAT_ARCHIVEDIR}/ASDN01/arc001'

Updated the XNAT_Archive setting in project_settings.yml to reflect this.
from: XNAT_Archive : '${XNAT_ARCHIVEDIR}/PASD01/arc001'
To: XNAT_Archive : '${XNAT_ARCHIVEDIR}/ASDN01/arc001'

Ran command in `archive/data/PASD/metadata/recreate_pip

[2016-09-06 16:58] #719 closed

[2016-09-06 17:11] tomwright01 commented on #717
QC files to check:

- [ ] qc_ASDD_CMH_EF025_01.html
- [ ] qc_ASDD_CMH_EF027_01.html
- [ ] qc_ASDD_CMH_EF028_02.html
- [ ] qc_ASDD_CMH_EF032_01.html
- [ ] qc_ASDD_CMH_EF034_01.html
- [ ] qc_ASDD_CMH_EF035_02.html
- [ ] qc_ASDD_CMH_EF037_01.html
- [ ] qc_ASDD_CMH_HEF015_01.html
- [ ] qc_ASDD_CMH_EF025_02.html
- [ ] qc_ASDD_CMH_EF027_02.html
- [ ] qc_ASDD_CMH_EF030_02.html
- [ ] qc_ASDD_CMH_EF032_02.

[2016-09-06 17:23] tomwright01 opened #724 "QC Issue - should be raised?"
Signal dropout in T2
qc_PACTMD_CMH_3070012_03

[2016-09-06 18:15] navonacalarco opened #725 "resolve differences between PRELAPSE in XNAT and file system"
| SITE | nSUBJ | nSUBJ XNAT | nREPEATS | nREPEATS XNAT | nPHA | nPHA XNAT |
| --- | --- | --- | --- | --- | --- | --- |
| BRG | 1 | 1 | 1 | 1 | 15 | 16 |
| CRY | 4 | 5 | 4 | 5 | 13 | 13 |
| CTN | 3 | 3 | 1 | 1 | 10 | 10 |
| GRD | 1 | 1 | 0 | 0 | 22 | 22 |
| IWA | 3 | 5 | 1 | 1 | 15 | 16 |
| MAS | 6 | 4 | 6 | 4 | 13 | 13 |
| MCH | 5 | 6 | 5 | 5 | 29 | 29 |
| NWN | 5 | 5 | 2 | 2 | 12 | 11 |
| PCE |

[2016-09-06 19:05] navonacalarco opened #726 "email MAS & PMC to get gold standards for STOPPD"

[2016-09-06 19:07] josephdviviano commented on #726
Just use an early STOPPD scan

Joseph's Phone

On 6 Sep 2016 15:05, "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-09-06 19:12] edickie opened #727 "PASD subject not named according to convention"
We need to update PASD scans.csv
ERROR: /archive/data-2.0/PASD/data/zips/20160816_Ex05876_ASDN1MR_ASZR004.zip: Cannot find scan id. Skipping

[2016-09-06 20:14] navonacalarco commented on #726
Ok, will do.

@josephdviviano Ideally, should we have a protocol pulled from their scanner, or is comparing the headers in all of the relevant files equivalent and/or sufficient?

[2016-09-06 20:27] josephdviviano commented on #726
There's no real way to do this, we just trust that early Dicoms are correct
.

Joseph's Phone

On 6 Sep 2016 16:14, "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-09-06 20:39] tomwright01 commented on #722
dm-link-sprl.sh and dm-link-vn-sprl.sh are effectively the same, only the name of the resultant file is different (according to the tag variable).
dm-link-sprl.sh      is part of the STOPPD project (at least).
dm-link-vn-sprl.sh not found (yet)

[2016-09-07 14:35] josephdviviano commented on #712
As a part of #723 and this issue, I am testing all of my code on the following subject:

SPN01_CMH_0001_01_01

every single QC output will appear in this folder:

`/archive/data-2.0/SPINS/qc/SPN01_CMH_0001_01`

@tomwright01 and @djoverton could take these outputs and build the piece that places them in the database

[2016-09-07 14:35] josephdviviano commented on #723
@edickie just making you aware of this change.

[2016-09-07 15:49] josephdviviano commented on #722
Hi tom good plan, deleting and renaming files shouldn't be any trouble very
few users are actively interacting with the data.

Joseph's Phone

On 7 Sep 2016 11:32, "Tom Wright" <notifications@github.com> wrote:

[2016-09-07 16:11] colinhawco opened #728 "Tesla is dead in the water"
Adrift. Floundering. Capsizing. Not working well, is the general drift I am trying to get across.

Matlab just took 20 minutes to open. ls takes 40 seconds. Everything is very slow, and htop indicates all CPUs and most RAM is available, no big jobs running.

[2016-09-07 16:14] josephdviviano commented on #728
On it.

[2016-09-07 16:17] josephdviviano commented on #728
@colinhawco I just loaded matlab in ~60 seconds? Was it just a temporary blip?

[2016-09-07 19:48] josephdviviano commented on #723
OK new plan -- @edickie and @tomwright01 want more modularity in our how QC system works, so I'm going to do this:

to keep:

+ qc-html.py -- will construct an HTML report out of all available (known) qc metrics in the single-subject qc folder (i.e., all files available in `/archive/data/SPINS/qc/SPN01_CMH_0001_01`)
+ qc-report.py                   <-- can likely merge.
+ scan-date-report.py

[2016-09-07 20:00] #728 closed

[2016-09-08 14:50] josephdviviano opened #729 "Dell warranty extensions"
We have a line item on our CFI to buy extended warranties for our workstations. Since a number of our workstations are approaching 5 years, we should extend those ones first.

The older workstations are all of model `T7500`. In order to extend their warranties, we need to supply a vendor with the 'service tag' number found on the top of the machines.

Can someone email me the service tags for thes

[2016-09-08 18:01] edickie opened #730 "PASD not uploading to xnat"
Maybe we can't have project and folder names for match??

[2016-09-08 18:04] edickie commented on #686
@josephdviviano we tried uploading this manually after deleting the subject from xnat and still we get the same erros

[2016-09-08 18:07] edickie commented on #686
I think this might be the same issue?? the error messages look identical

[2016-09-08 18:10] edickie commented on #725
Many of the PRELASPE subjects appear to be misnamed in xnat

[2016-09-08 18:14] edickie opened #731 "add gold standards to PRELAPSE"
To add:

- [x] GRD
- [x] CRY
- [x] PCE
- [x] TXS

Remember: DTI gold standards need a .bval and .bvec as well

[2016-09-08 18:39] edickie commented on #727
updated scans.csv

[2016-09-08 18:39] #727 closed

[2016-09-09 15:43] tomwright01 commented on #716
CAMH DNS servers *.*.*.69 *.*.*.35 Will not resolve name requests coming over the VPN, ssh connections need to use the IP address.
This seems to be a configuration problem with the DNS servers, a potential solution could be to distribute a hosts file.

[2016-09-09 16:13] edickie opened #732 "Install newest version of connetome-workbench"
Just putting a note here to say I have just added connectome-workbench 1.2.3 to the quarantine

[2016-09-09 16:13] #732 closed

[2016-09-09 16:13] navonacalarco opened #733 "List of computer IPs in `lab layout: computers` is off"
e.g.,

IP for Laplace -> Milner
IP for Franklin -> Tesla
IP for Crick -> Manfield

Not sure how important this is. Will investigate / update sheet if required.

[2016-09-09 16:16] josephdviviano commented on #733
Where is this list? The only list that would be authoritative would be in `/etc/hosts`

[2016-09-09 16:18] navonacalarco commented on #733
You and I made this spreadsheet a while back, before new computers arrives - it's a shared google doc. I thought it was the basis of /etc/hosts. (?)

[2016-09-09 16:20] josephdviviano commented on #733
Yes things evolved since then, when I was actually getting stuff set up.

You could update that sheet with the contents of `/etc/hosts`, however I'm pretty sure some of the computers have also migrated rooms.

[2016-09-09 16:26] navonacalarco commented on #733
As long as /etc/hosts is accurate, I'll just use that - can we delete this shared spreadsheet or is it of use to you?

[2016-09-09 16:35] josephdviviano commented on #733
Nope, no need for me. Thanks!

[2016-09-09 16:35] #733 closed

[2016-09-09 19:25] navonacalarco opened #734 "Make XNAT and file system accounts for Dr. Ameis' students/staff"
Name | Study
------------ | -------------
Rachael.Lyon@camh.ca | DBDC
Avideh.Gharehgazlou@camh.ca | DBDC PASD
Mark.Oreilly@camh.ca  |  ASDD

[2016-09-09 19:56] tomwright01 commented on #734
Xnat accounts created.
@josephdviviano I need admin access to IPA for the filesystem accounts.

[2016-09-09 20:02] josephdviviano commented on #734
Hi @tomwright01 that's Qing's purview.

I'm adding them now. Their temp passwords are 'passwd-1-2-3-4', you will need to walk them through setting up their real passwords. ( @djoverton  has watched me do this a few times ).

[2016-09-09 20:03] josephdviviano commented on #734
I've already made Mark an account.

[2016-09-09 20:05] josephdviviano commented on #734
K, done, you can go about setting up their passwords.

[2016-09-09 20:52] josephdviviano opened #735 "build a QAP module"
It turns out QAP is a real PITA to get installed. I think it conflicts with other modules in our system.

I'm attempting to build a module that will run alone (no anaconda's python or python extras allowed).

However if this continues to be a problem, I'm going to suggest we abandon QAP. We have the most important SNR / Quality measures without it (and with it, we will have far too many).

[2016-09-09 21:36] #721 closed

[2016-09-09 22:11] navonacalarco commented on #718
Figure out where these logs have moved to.

[2016-09-09 22:34] josephdviviano commented on #718
I thought you found them

Joseph's Phone

On 9 Sep 2016 6:11 pm, "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-09-10 04:54] navonacalarco commented on #718
Nope. Do you know where it is?

[2016-09-10 13:19] josephdviviano commented on #718
/archive/data/logs ...

Joseph's Phone

On 10 Sep 2016 00:54, "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-09-12 15:03] josephdviviano commented on #735
I'm abandoning this -- this software conflicts with all of our other python modules, and even when run totally independently is buggy and fails to run. I think we will survive without their metrics (or can hand roll a few of them as needed).

[2016-09-12 15:03] #735 closed

[2016-09-12 15:56] josephdviviano commented on #712
Removing references to QAP -- we're going to roll our own solutions for a few of these metrics.

[2016-09-12 16:09] tomwright01 commented on #730
Looks like this was broken by #719

[2016-09-12 16:52] DESm1th commented on #735
Hey Joe,

Right before he left Jon created a qap module for Erin and I (qap/1.0.5/module). Is there a reason why that one isn't being used?

[2016-09-12 17:03] josephdviviano commented on #735
I made that on Friday :)

It's very buggy

Joseph's Phone

On 12 Sep 2016 12:52, "DESm1th" <notifications@github.com> wrote:

[2016-09-12 17:06] DESm1th commented on #735
Oh oops! What happened to the qap/20160104 module that Jon mentioned in the last comment here? https://github.com/TIGRLab/admin/issues/642

It sounds like he got that one working.

[2016-09-12 17:11] josephdviviano commented on #735
Not sure, I haven't seen that module.

Joseph's Phone

On 12 Sep 2016 13:06, "DESm1th" <notifications@github.com> wrote:

[2016-09-12 20:49] tomwright01 opened #736 "2016-09-12 log errrors"
COGBDO/data/zips/2014_0604_CM015.zip: Cannot find scan id. Skipping

Added scan ID to scans.csv

[2016-09-12 20:50] tomwright01 commented on #736
Unable to resume download of "COGBDY/data/zips/2014_0314_AM010.zip": local file is larger than remote

Deleted local file

[2016-09-12 20:55] navonacalarco opened #737 "Review/compare Dr. Buchanan's scan..."
...to evaluate quality of new MRC scanner!

[2016-09-14 19:10] josephdviviano commented on #587
Second quote received and sent to Dielle.

I'll close this when the purchase order goes through.

[2016-09-14 19:41] navonacalarco opened #738 "Update export_info and project_settings for MRC's new Prisma tags"
So far, we have:

- [x] T1
- [x] RST
- [x] IMI
- [x] EA
- [x] DTI

[2016-09-14 19:44] navonacalarco opened #739 "Set up dictionaries for MRP and ZHP sitecodes"

[2016-09-15 04:20] josephdviviano opened #740 "clear space on backup"
Should insert `--delete` flags onto rsyncs.

[2016-09-15 15:52] edickie commented on #731
Did as much as I could find
We will continue to have a errors because two different types of FMAP's have the same tag (because they all have the same SeriesDescription in the header) So header comparison' s for this series are not that appropriate..
This is true of sites:
PCE and IWA GRD and CTN

[2016-09-15 15:52] #731 closed

[2016-09-15 16:01] josephdviviano commented on #731
@edickie are the series descriptions exactly the same?

[2016-09-15 17:20] edickie commented on #731
yup.
PCE - "Field_map-Bold.sw" (AWP45348 SIEMENS Skyra)
IWA  - "PHASE MAP" (MRC35267 SIEMENS TrioTim)
GRD  - "field_map - BOLD" ( MRC35025 SIEMENS Prisma_fit)
CTN - "FIELD_MAP-BOLD" (AWP45841 SIEMENS Skyra)

It's seem like something that SEIMENS scanner like to do..
On the plus side, the two scans are of different length - so there might be some way to script around this..in the long run

[2016-09-15 17:59] tomwright01 commented on #736
----------------------------------------------------------------------
 CMH                                            09/15/16 03:11:17
----------------------------------------------------------------------
[dm-check-bvec] ERROR: No gold standard .bvec file for tag RST

Moved DTI_CMH_S148_01//DTI_CMH_S148_01_01_RST_08_Ax-EPI-RestingState.bvec

to /scratch/twright

[2016-09-15 18:05] josephdviviano commented on #736
Hey @tomwright01 -- quick note -- resting state (or any fMRI data in general) should not have a `.bvec` or `.bval` file --- those are reserved for DTI scans. So this seems like a bug.

[2016-09-15 18:20] josephdviviano commented on #716
I think this is a solved problem. Some bugs to work out with OSX but multiple users are working remotely now.

[2016-09-15 18:20] #716 closed

[2016-09-15 18:22] josephdviviano commented on #558
This is going to be solved using [papaya.js](https://github.com/rii-mango/Papaya)

[2016-09-15 21:00] josephdviviano commented on #712
OK -- QCmon v0.1 is done.

I'm moving the outstanding QC pipeline tasks (T1 measures + human fbirn) to the issues tracker for QCmon because they are non urgent.

Next step is to modify `qc-html.py` to call `qcmon` (and generate the report).

[2016-09-15 21:02] tomwright01 commented on #736
[xnat-upload.py] ERROR: STOPPD_CMH_410045_01_01 http client error dicom data upload: 400

Manually uploaded from prearchive

[2016-09-15 21:03] tomwright01 commented on #736
@josephdviviano Talking with @edickie seems it was a known bug, thought to have been fixed in most cases, I'll keep watch to see if it comes back.

[2016-09-15 21:04] josephdviviano commented on #723
Update:

[qcmon](https://github.com/josephdviviano/qcmon) is done, it contains all of the qc pipelines we run on our data (and some new ones). Going forward, `datman` will only call `qcmon` to generate metrics, it will not calculate any on it's own.

A decent number of qc programs have been removed from `datman`, and the `qc-html` program is now the do-everything `dm-qc-report.py` program.

[2016-09-15 21:11] navonacalarco commented on #723
![57020843](https://cloud.githubusercontent.com/assets/13733654/18567711/710e30da-7b67-11e6-98f7-f2904e0f8324.jpg)

[2016-09-16 16:13] #734 closed

[2016-09-16 16:18] #730 closed

[2016-09-16 16:19] #726 closed

[2016-09-16 16:22] #720 closed

[2016-09-16 16:26] djoverton commented on #663
The deadline is fast approaching; are we planning on applying for anything?

[2016-09-16 16:28] #613 closed

[2016-09-16 16:30] #581 closed

[2016-09-16 16:31] #558 closed

[2016-09-16 16:36] djoverton commented on #447
This is from ages ago, but have the appropriate people been notified for this/is it actually a problem (as per the conversation we had about many header differences being inconsequential)?

[2016-09-16 16:39] navonacalarco commented on #447
I can't comment on if the appropriate people were ever notified. However, our new communication with Sofia about the importance/non-importance of given header differences (cc'd tigrlab@camh.ca) might soon illuminate the importance of this particular concern.

[2016-09-16 16:40] djoverton commented on #545
@edickie Can this be closed?

[2016-09-16 16:56] navonacalarco commented on #729
Done.

[2016-09-16 16:56] #729 closed

[2016-09-16 16:58] navonacalarco commented on #737
Done, thanks @edickie

MRC has fixed the FoV issue.

Erin is working on visualization of comparison to distribute for next call.

[2016-09-16 16:58] #737 closed

[2016-09-16 17:07] tomwright01 commented on #736
ERROR: Multiple export patterns match for /mnt/xnat/spred/archive/PRE11/arc001/PRE01_TXS_38002_01_01/SCANS/801/DICOM, descr: B0-Map, tags: ['FMAP-8.5', 'FMAP-6.5']

modified exportinfo-BRG-CRY-SFD-TXS-MCH.csv to include this map

[2016-09-16 17:14] josephdviviano commented on #663
I don't think so, we don't have enough users hammering scinet for it to matter.

[2016-09-16 17:14] #663 closed

[2016-09-16 19:31] #493 closed

[2016-09-16 19:36] djoverton commented on #541
@edickie Hey Erin, has this been resolved?

[2016-09-16 19:45] #644 closed

[2016-09-16 19:48] djoverton commented on #711
To my knowledge this has been done.

[2016-09-16 19:48] #711 closed

[2016-09-16 19:56] DESm1th opened #741 "Talairach not configured"
Talairach (in room 102) is not connected to the internet or otherwise correctly configured.

[2016-09-16 19:59] josephdviviano commented on #741
Hey @DESm1th, want to give this one a go?

[2016-09-16 19:59] DESm1th commented on #741
Sure!

[2016-09-16 20:01] josephdviviano commented on #741
:D

[2016-09-16 22:16] DESm1th commented on #741
Done, but it still has that persistent problem detecting the second monitor. I'll try to fix that on Monday.

[2016-09-16 22:16] #741 closed

[2016-09-16 22:17] josephdviviano commented on #741
Thanks @DESm1th  -- might want to chat with @tomwright01 about the monitor issue. He RMA'ed one of the mishbehaving monitors and it seems to have fixed the problem!

[2016-09-16 22:22] tomwright01 commented on #736
I think the only errors remaining are header checks. I'll check again on Monday and close if all is good.

[2016-09-17 00:30] josephdviviano commented on #723
Plan for `dm-qc-report.py`:

+ usage: `dm-qc-report.py <niftis> <dicoms> <qc>`, where each points to a folder full of subject folders.
    + for most subjects this will look like:
        + `${projectDir}/data/nii`
        + `${projectDir}/data/dcm`
        + `${projectDir}/qc`
+ location of each site's gold standards will be kept in `project_settings.yml`:
        + under `Sites / ${site} / Stand

[2016-09-17 00:39] tomwright01 commented on #723
Since niftis, dicom and QC are all under the same project folder what is
the requirement for separating the arguments?

On Fri, Sep 16, 2016, 8:30 PM Joseph Viviano <notifications@github.com>
wrote:

[2016-09-17 00:40] josephdviviano commented on #723
Really just so I don't have to assume we keep the same folder structure going forward... Could just make it one path if we are going to assume the directory structure underneath will never change.

Since we're relying on the yaml file I could just put all of the paths in there. What do you think?

[2016-09-17 00:43] tomwright01 commented on #723
I think I like that idea, flexibility and simplicity. I assume you're
talking project_settings.yml not tigr_config?

On Fri, Sep 16, 2016, 8:40 PM Joseph Viviano <notifications@github.com>
wrote:

[2016-09-17 03:08] josephdviviano commented on #723
Yes that's right, project_settings.yaml

Ok deal, everything goes in the config file!

Joseph's Phone

On 16 Sep 2016 20:43, "Tom Wright" <notifications@github.com> wrote:

[2016-09-19 14:19] navonacalarco opened #742 "SFNR map for SPN01_MRP_P003_03 QC page not rendering"
I can look into this myself later in the week, but if anyone else has a chance before then, help would be very appreciated - would be nice to distribute the QC page of a human phantom on MRC's PRISMA before the SPINS call at 4pm today.

[2016-09-19 14:37] josephdviviano commented on #742
Where's the data?

[2016-09-19 15:16] navonacalarco opened #743 "edit PRELAPSE exportinfo-IWA-CTN-PCE.csv"
PRE01_IWA_04013_01_01 and PRE01_IWA_04014_01_01 data not being pulled in

[2016-09-19 15:37] navonacalarco opened #744 "identify source of artifact in SFNR"
@josephdviviano Do you happen to know what might cause this sort of image in a resting state SFNR map?

![screenshot - 09192016 - 11 20 28 am](https://cloud.githubusercontent.com/assets/13733654/18638253/654214ee-7e5d-11e6-888a-623078faa737.png)

It doesn't appear to be motion related. This particular example is from PRE01_IWA_04014_01_01_RST_04_fMRI-Resting-State.nii.gz

[2016-09-19 15:45] josephdviviano commented on #744
The stuff in the brain looks good to me

Joseph's Phone

On 19 Sep 2016 11:37, "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-09-19 19:00] josephdviviano opened #745 "need a way of linking scans across projects"
We have a subject:

`SPN01_CMH_0096_01_01` whose data is being shared with `PNS_CMH_0017_01_01` . We need a good way of mapping this data between projects (just some sort of dictionary that the scientists can look up should be fine.

[2016-09-19 19:00] josephdviviano commented on #745
@edickie what would you suggest?

[2016-09-19 20:12] djoverton opened #746 "Project_settings.yml files aren't formatted correctly"
I'm not going to fix this immediately because it may break other scripts, but the issue is that we have dictionaries nested within lists, making certain kinds of parsing ugly/difficult. For example, in the SPINS project_settings:

Sites:
  - CMH:
      XNAT_Archive: '${XNAT_ARCHIVEDIR}/SPINS/arc001'
      Phantoms: Y
      ExportInfo:
        - T1:         { Pattern: {'T1','BRAVO'},      Count: 1}

[2016-09-19 20:57] josephdviviano commented on #746
Hey @djoverton why don't we just fix this right away and then see how the code breaks, and go straight into fixing that? It might be a little more rough and tumble but it will get us on track the fastest ?

[2016-09-19 21:03] josephdviviano opened #747 "gold_standards folders new format"
Hi all

FYI: in the process of re-writing the QC code, and hopefully simplifying it some, I'm nixing the current gold_standards folder format.

Currently the folder structure looks like this:

[code]

This is a bit much considering we have the site codes right in the gold standards names.

The new solution will parse the site codes and tags right out of the filenames. Therefore we can use a folder

[2016-09-19 21:06] josephdviviano commented on #742
I can't help with this right now. You need to give me error messages.

[2016-09-19 23:54] josephdviviano commented on #723
First working version of `dm-qc-report.py` is pushed up to github -- having trouble with phantom data at the moment.

@tomwright01 and @djoverton  have a look here for the full output from one subject:

`/archive/data/SPINS/qc/SPN01_CMH_0001_01`

[2016-09-20 00:15] edickie commented on #745
Didn't we already contain an extra metadata file for this situation?

On Sep 19, 2016 15:00, "Joseph Viviano" <notifications@github.com> wrote:

[2016-09-20 00:17] edickie commented on #742
I think we filed an issue about this in th qcmon repo too

On Sep 19, 2016 17:07, "Joseph Viviano" <notifications@github.com> wrote:

[2016-09-20 00:32] josephdviviano commented on #745
Can you elaborate?

Joseph's Phone

On 19 Sep 2016 20:15, "edickie" <notifications@github.com> wrote:

[2016-09-20 00:34] josephdviviano commented on #742
Link?

Joseph's Phone

On 19 Sep 2016 20:17, "edickie" <notifications@github.com> wrote:

[2016-09-20 00:54] edickie commented on #746
The lists were intentional. For both site and scantypes we wanted to
preserve an order.

The reason for having sites as an ordered lists all related to
qc-phantoms.py so we could probably do away with that..

The scantypes order is important though. It relates to the order in which
the scans are collected for each project. The rows of the table at the top
of the qc page are in this order so that i

[2016-09-20 01:01] edickie commented on #742
https://github.com/josephdviviano/qcmon/issues/2

On Sep 19, 2016 20:34, "Joseph Viviano" <notifications@github.com> wrote:

[2016-09-20 01:35] tomwright01 commented on #745
Please tell me you did!
Assuming its only the occasional subject I was going to write a linking script, perhaps with another config file. If its more common perhaps we should consider deeper changes.

[2016-09-20 10:07] edickie commented on #745
There was only one case were we I remember doing this. It was between a
VIPR and SPINS subject I believe.

Here's the old discussion about that
https://github.com/TIGRLab/admin/issues/406

On Mon, Sep 19, 2016 at 9:35 PM, Tom Wright <notifications@github.com>
wrote:

[2016-09-20 13:23] tomwright01 commented on #736
Logs seem pretty clean, except dicom-header errors. Closing

[2016-09-20 13:23] #736 closed

[2016-09-20 14:17] tomwright01 opened #748 "Task data not processed for SPINS"
The script dm-proc-ea.py should be run on spins data, currently not happening.

[2016-09-20 14:57] josephdviviano commented on #748
Yes, you will need to look at 'stage-epitome', I believe. When I wrote dm-proc-ea it was a self-contained script, but it's been broken into pieces since then (likely for the best, but I haven't familiarized myself with how they work).

[2016-09-20 14:59] josephdviviano commented on #723
scratch that --- above folder did not regenerate properly. give this one a shot: `/archive/data/SPINS/qc/SPN01_CMH_0062_01`

[2016-09-20 15:00] josephdviviano commented on #723
I think the reason these aren't regenerated is that I'm running the pipeline serially for a large number of subjects. It's actually kind of slow, maybe 15-20 mins per subject. However I don't see this as a problem because after we get up to speed, won't be getting very many new subjects per day.

[2016-09-20 15:09] josephdviviano commented on #745
Thanks Erin.

@tomwright01 have a look at https://github.com/TIGRLab/admin/issues/406, looks like there is an `external-links.csv` file we can use to maintain this mapping, but we also need to create some softlinks on the filesystem?

[2016-09-20 15:30] josephdviviano opened #749 "EA task : button click regression should be entered in the model before parametric modulator (according to Colin)"

[2016-09-20 15:33] djoverton commented on #746
Hey @edickie, could you elaborate on why sites need to be an ordered list for qc-phantoms.py (or is that just the way the script was written)?

For scantype order, I wasn't aware that the relative time the scan was performed was coded into its position in the list. I could come up with a workaround for the purposes of getting the data in the QC database, but I wonder if it might be better to speci

[2016-09-20 15:52] josephdviviano commented on #746
@djoverton check the latest datman commits by yours truly, `qc-phantoms.py` does not exist any longer. So we don't need to order sites.

[2016-09-20 16:27] josephdviviano commented on #742
Well, i think you meant the corr map, not the sfnr map (and the corr map isn't very important). SFNR generates fine.

Here's the commit that fixes the corr issue:

https://github.com/josephdviviano/qcmon/commit/a42aab357b881eaff7ba1a892a4d0ea88a7100f8

[2016-09-20 16:27] #742 closed

[2016-09-20 16:31] josephdviviano commented on #724
@tomwright01 @navonacalarco I just looked at these images directly and I didn't see any issues.

[2016-09-20 16:31] #724 closed

[2016-09-20 16:47] josephdviviano commented on #740
OK -- looks like `projects` has filled up.

For now, I'm removing `/archive/data-2.0` from our backups, and deleting our backup on the backupdrive, to make room for new stuff.

This isn't ideal, but we do have offsite mirrors of everything in `data-2.0`, so we aren't in major danger at the moment.

@edickie @tomwright01 @DESm1th , we should think about how to do this better. We have backups of XNA

[2016-09-20 16:51] #740 closed

[2016-09-20 16:55] josephdviviano opened #750 "new backup strategy"
We have (large) data in these places:
- srv-web:xnat (2 TB)
- rprshnas01.camh.ca:/tigrlab/tigrlab (100 TB, with offsite duplication)

We have the following extra storage:
- tigrsrv:/mnt/scratch (30 TB)
- tigrsrv:/mnt/backup (30 TB)

We're low on backup space because it is trying to backup a good deal of /tigrlab (100 TB).

To see exactly what we're backing up, where, look here:  `/projects/admin/b

[2016-09-20 17:52] djoverton commented on #746
@edickie I noticed that the items under PipelineSettings were also written the same way (dictionaries within lists); is this how datman knows in which order to run the pipelines? And is the order important?

[2016-09-20 18:42] navonacalarco commented on #744
@jdv. I agree that the stuff in the brain looks good. However, I'm wondering what might cause the distortion we see outside of the brain (doesn't seem to be motion). Do you know?

[2016-09-20 18:43] navonacalarco commented on #743
Done.

[2016-09-20 18:43] #743 closed

[2016-09-20 18:43] josephdviviano commented on #744
no, you could ask Sofia. I don't think it matters.

[2016-09-20 18:44] navonacalarco commented on #744
Will do, thank you.

[2016-09-20 18:44] #744 closed

[2016-09-20 18:45] navonacalarco commented on #738
Have to do ^  again (I think?) after recent accidental changes to project_settings.yml.

[2016-09-20 18:50] tomwright01 commented on #746
Not sure where to stick this but here's a way of concatenating strings in yaml
http://stackoverflow.com/questions/5484016/how-can-i-do-string-concatenation-or-string-replacement-in-yaml

[2016-09-20 18:53] navonacalarco commented on #718
Ok, we have a response from Sofia, based on the first log we sent (/projects/navona/Kimel_lab/2016-09-11-check-headers.csv).

Going to make a new issue to make the changes - posting here just for posterity.

[2016-09-20 18:53] #718 closed

[2016-09-20 18:59] navonacalarco opened #751 "Modify expected scan paramters for 'T2DEfseXL' across CAMH studies"
This is related to the header differences that we've been seeing in across studies in several CAMH T2 scans. We contact Sofia to ask what the parameters should be, this is her response:

So, we need to adjust the expected parameters for 'T2DEfseXL' across CAMH studies.

Could use some help with this in terms of time and also how best to approach. :)

[2016-09-20 19:15] josephdviviano commented on #751
We have two options:

1) ignore these scan types entirely.
2) make is so that we always check the right dicom file from the upload.

Right now, the headers are 50/50 split between two scans for this file type, so with every upload, there's a 50% chance of this happening (this is a known issue).

I vote to ignore because these scans are just used for visual inspection, not analysis.

@DESm1th @tomw

[2016-09-20 19:28] navonacalarco commented on #751
I spoke briefly with Colin and also he suggested that, given the current use, we could ignore.

I'm unsure of when looking at 'T2DEfseXL' might be important for analysis. Colin suggested the original intent was for these scans to actually be used for DTI coregistration, but that's since changed. If there's any chance that this data could be used for more than visual inspection in the future, my vo

[2016-09-20 19:34] edickie commented on #746
Yes, the list order in PipelineSettings is the order in which the Pipeline
Steps are run. This is important because many steps do need to happen
before other one's (i.e. data download and goes before qc page
generation...and so on)

On Tue, Sep 20, 2016 at 1:52 PM, djoverton <notifications@github.com> wrote:

[2016-09-20 19:35] josephdviviano commented on #751
Yes, the thing that would need to change would be the thing that looks through each dicom header. Instead of checking only one, we would need to check every single one, and find all the unique headers. Then we would need to compare with each of the unique headers.

This could potentially take 100 times as long as the current method. Since we can get most of the information we need by just looking

[2016-09-20 19:41] navonacalarco commented on #751
Not from me unless there is any chance that this data could be used for more than visual inspection in the future.

[2016-09-20 19:43] josephdviviano commented on #751
@navonacalarco I also mean that you can get a sense of whether the data is useful just by looking at it. Parameter changes on the MRI machine usually don't actually matter in a real way. You need to really change the settings to get the image to look different.

For the DTI stuff, we were just using it for registrations, so if the image looks good, it is good.

As an aside, can you get Colin to si

[2016-09-20 19:48] edickie commented on #746
@djoverton Knowing the order is pretty useful for the QC for a couple of
reasons.
1.Missing scans in the middle of the expected sequence are a sign of  a
data transfer problem...while a missing scan at the end is usually just
because the scan was never collected.
2. it's good to look at the amount the amount of motion across time in one
subject.
3. It makes the order in which QC information is pre

[2016-09-20 19:59] djoverton commented on #746
Yes, in general it's much better to make this sort of thing explicit rather than implicit, especially since it'll make parsing easier anyway.

I've removed the order from sites, since I don't think that's meaningful and it isn't being relied on. I'll keep the order for the PipelineSettings for now, although this might not be necessary in the future (there is a push to use datman only to run indepe

[2016-09-20 20:09] edickie commented on #746
@djoverton sounds good to me

On Tue, Sep 20, 2016 at 3:59 PM, djoverton <notifications@github.com> wrote:

[2016-09-20 21:00] djoverton commented on #746
Alright, all the project_settings.yml files have been changed according to my previous post. I also noticed a few errors in some of the files (patterns not in quotes, for example), which may have been causing some incidental errors.

For tags that had a count >1, I just assumed they happened sequentially, which I realize might not be correct, but this is no less precise than what we had before and

[2016-09-20 23:26] josephdviviano opened #752 "add framewise displacement plots using D3 to HTML reports"
I have a working solution in my inbox.

links for myself:
- https://github.com/d3/d3/blob/master/API.md
- https://leanpub.com/D3-Tips-and-Tricks
- https://gist.github.com/d3noob/4414436#file-data-csv

[2016-09-21 00:31] josephdviviano commented on #723
OK this works for both humans and phantoms. It needs specific upgrades, but is otherwise done.

See `dm-qc-report.py` and `qcmon` for the final products.

[2016-09-21 00:31] #723 closed

[2016-09-21 14:25] josephdviviano commented on #587
Quotes confirmed by Dielle, I've sent off the quote to Chao to get the prices for processing, and I've sent off our claim for a bit waiver.

Quotes and files are here: `/projects/jviviano/documents/admin/purchases/cfi-2016/16-genomics`

[2016-09-21 17:03] josephdviviano opened #753 "Come up with a basic MRI course"

[2016-09-21 17:09] josephdviviano opened #754 "Come up with a basic MRI course"
It might be useful to have a training program for the new scientists on how to do basic MRI analysis. This would be a hands-on course on how to:

+ Run a GLM on fMRI data.
+ Run TBSS on DTI data.
+ Run Freesurfer on T1 data.

[2016-09-21 17:10] #753 closed

[2016-09-21 18:03] DESm1th commented on #754
I'd gladly be a test subject for a trial run of this course, if you go ahead with this!

[2016-09-21 18:54] josephdviviano opened #755 "move as many functions in datman to the modules"
Testing datman is tricky because a majority of the code in it resides in `bin/`.

@tomwright01 @DESm1th and I think we could come up with a two-pronged approach to writing tests:

1) `nosetests` for everything in the datman module.
2) output checking of test data for everything in `bin/`.

To do this, we should move as many functions as possible from inside the `bin/` command line tools and into a

[2016-09-21 19:30] navonacalarco opened #756 "Delete select IM/OBS files for SPINS participants if >1"
@josephdviviano List, as requested:

SPN01_CMH_0017_01_01_OBS_10_Ax-Observe-Task
SPN01_CMH_0027_01_01_IMI_08_AxEPI-ImitateTask
SPN01_CMH_0043_01_01_OBS_10_AxEPI-ObserveTask
SPN01_CMH_0017_01_01_OBS_09_Ax-Observe-Task
SPN01_CMH_0017_01_01_OBS_10_Ax-Observe-Task
SPN01_CMH_0050_01_01_OBS_09_AxEPI-ObserveTask

[2016-09-21 19:37] tomwright01 commented on #755
Its worth documenting the datman modules, `checklist.py` is a set of functions for managing a yaml blacklist.

[2016-09-21 19:45] colinhawco commented on #754
I think it is a good idea. Automation and scripts are wonderful, but in fact I jsut had a conversation yesterday with someone who had run an SPM GLM and had ZERO idea what any of it meant, or if she did it right.

There is nothing to help learning like the hands on manual way. I don't think it would be hard to have a reasonably standardized course.

[2016-09-21 22:10] tomwright01 commented on #745
@josephdviviano @edickie @djoverton
Solution in `/archive/data/code/datman/bin/dm-link-project-scans.py`.
If anyone would like to do a code review please feel free, otherwise closing.

[2016-09-21 22:10] #745 closed

[2016-09-21 22:18] navonacalarco commented on #745
This is great! Now, I think we can go through the old 'scan completed' emails to pull out the respective study IDs of the shared participants (I believe there's quite a few more than just 2).

[2016-09-22 15:23] josephdviviano opened #757 "move DTI/CMH and DTI/TGH to DTI3 and DTI15"
The DTI folder contains two sub-folders, and this means we have a bunch of hard-coded exceptions in `datman` to deal with these projects. That should end.

So, I'm going to move the two DTI folders to DTI3 and DTI15, and I'll fix the associated paths etc.

[2016-09-22 16:42] DESm1th opened #758 "Printing sometimes fails without chance to login"
Some computers seem to fail for some users when they try to print. When Saba tries printing from davinci (computer in the corner of room 102) it doesn't request her login credentials, the job just gets held in the queue with an error "Session setup failed: NT_STATUS_NO_MEMORY". I was able to get a login window to come up on the same computer on my account, however. Sonja experienced the same issue

[2016-09-22 16:56] #757 closed

[2016-09-22 19:34] josephdviviano opened #759 "qc-spikecount isn't working in dm-qc-report.py"

[2016-09-22 20:54] DESm1th commented on #758
Unfortunately I can't see any way to fix this on our end. Closing this for now.

[2016-09-22 20:54] #758 closed

[2016-09-23 18:15] navonacalarco opened #760 "add content to https://github.com/TIGRLab/documentation/wiki/QC"

[2016-09-23 21:48] josephdviviano commented on #759
Fixed -- variable name error in `qc-spikecount`.

[2016-09-23 21:48] #759 closed

[2016-09-23 21:50] josephdviviano commented on #620
@edickie what's going on with this?

[2016-09-23 21:51] josephdviviano commented on #747
I changed all of the studies to meet this new format, but multiple studies do not have a full suite of gold standards. I'm updating them now.

[2016-09-23 22:33] josephdviviano commented on #712
My bit is done. `dm-qc-report.py` now generates the QC metrics needed for the database, as well as the HTML reports. It runs on the queue and should be able to handle all of our studies going forward.

[2016-09-24 19:58] edickie commented on #620
Aren't these all the timepoint 00 scans you added this summer?

On Sep 23, 2016 17:50, "Joseph Viviano" <notifications@github.com> wrote:

[2016-09-24 20:19] josephdviviano commented on #620
I don't remember, I guess I did this for you then.

[2016-09-24 20:19] #620 closed

[2016-09-24 20:33] josephdviviano commented on #746
I've moved us back to the 'count' system because it much easier to work with, and harder to make a typo.

In the QC pages, scans are printed in order of their series number, followed by the missing scans.

@djoverton : any outstanding reformatting needed?

[2016-09-24 20:34] josephdviviano commented on #746
Ah one thing: we can remove the 'phantoms' argument. That's in the upload file names, so the phantoms option does not do anything.

[2016-09-25 08:37] edickie commented on #447
This is being addressed with the new header difference report communications with Sofia. We can file new issues with specifics header differences of importance going forward.

[2016-09-25 08:37] #447 closed

[2016-09-25 10:48] edickie commented on #678
All efforts to clean up git repos is a fail.. The best option is to remove git commits from individual projects...

Down the line a better solution might be to.
1. Build one git repo (outside of individual project folders) to hold metadata.

2. Make the metadata "files" for each project soft links to files within the metadata repo.

3. Remove all the project specific .git files.

[2016-09-25 10:48] #678 closed

[2016-09-26 14:54] josephdviviano commented on #601
@edickie how is this going?

[2016-09-26 14:59] josephdviviano commented on #548
@navonacalarco where are we at with this? What has / has not been done?

[2016-09-26 15:02] navonacalarco commented on #548
@josephdviviano I need help with the script to get REDCap to feed into XNAT.

But, we can go ahead with the REDCap portion now. Especially with the increasingly common linking of participant files, I think we need to get important info (like shared participant IDS) into a database, rather than those 'scan completed' emails.

I'll send around an example survey form for you guys later today!

[2016-09-26 15:05] josephdviviano commented on #548
Aren't RAs doing that already (putting the scan completed info in the database).

[2016-09-26 15:10] navonacalarco commented on #548
Nope.

[2016-09-26 15:18] josephdviviano commented on #548
Ok so all of this still needs to happen:

- [ ] Make a redcap form.
- [ ] Get a correct list of each study's PI and RA, who will get an email confirming the survey submission when the scancompleted survey is submitted
- [ ] Email all RAs on the scancompleted list to start using it instead
- [ ] Set up a cronjob to run a simple REST command to push the notes field in REDCAP into the XNAT notes fiel

[2016-09-26 15:25] navonacalarco commented on #548
We have the REDCap form and (perhaps now outdated) list of PIs and RAs, and I have a drafted email to start using this. So, that part is ready/ nearly ready to go.

Dawn is helping with the REST.

[2016-09-26 16:03] djoverton commented on #712
My code to traverse the filesystem looking for the appropriate .csv files is more or less working; I need to fix a couple of bugs but we should be able to proceed with plotting the data shortly.

A couple of things:

- [ ] .csv files do not exist for a large number of subjects. I'm currently only picking up ~130 that can be added to the database.
- [ ] A few .csv files do not contain data. I'm ski

[2016-09-26 16:33] josephdviviano commented on #712
Hi @djoverton

+ yes, apparently 'batch mode' for `dm-qc-report.py` still isn't working, I'm fixing it now.
+ I'm sure you're right about that. I'm guessing those processes were killed (either by the queue or by me). I'll clear them out and regenerate them as soon as the above is fixed.

[2016-09-26 21:24] navonacalarco opened #761 "dm-qc-todo.py doesn't generate"
I'm not exactly sure what's going on here- would be awesome if you have time to explain.

![screenshot - 09262016 - 05 21 47 pm](https://cloud.githubusercontent.com/assets/13733654/18852342/01163e76-840e-11e6-9a00-60f934ba1564.png)

[2016-09-26 21:31] josephdviviano commented on #761
All of the spiral scans in the new DTI folders have inappropriate links.

to fix:

+ delete all links
+ re-run link-spiral.sh

[2016-09-26 21:41] josephdviviano commented on #761
This had a bad side effect. We've deleted our backups in `/mnt/backup/archive`, and we just lost our manually-fixed left-right flipped data in

`/archive/data-2.0/DTI3T/data/nii`.

@colinhawco can you please post the code for manually left-right flipping the spiral data?

The following subjects need to be left-right flipped:

[code]

[2016-09-26 21:44] navonacalarco commented on #761
![cat](https://cloud.githubusercontent.com/assets/13733654/18852956/d77d6852-8410-11e6-8d06-81499b59d693.png)

[2016-09-26 21:44] josephdviviano commented on #761
it's not a big deal, just more work for me.

[2016-09-26 21:45] navonacalarco commented on #761
![f2d](https://cloud.githubusercontent.com/assets/13733654/18852984/05193b1a-8411-11e6-845b-3ac33e0662d8.jpg)

[2016-09-26 21:50] josephdviviano commented on #761
I fixed `dm-qc-todo.py` to only look at `.nii.gz` files, preventing spirals from causing any trouble.

[2016-09-26 22:44] colinhawco commented on #761
If I do not send the code tomorrow kindly send me a reminder. I will need
to dig it up and cannot do so this minute. The childrens are hungry!

On Sep 26, 2016 5:41 PM, "Joseph Viviano" <notifications@github.com> wrote:

[2016-09-27 14:53] edickie commented on #541
Sent an email again today.. I suspect that the last "missing" repeat was not collected. But I'll wait for them to confirm

[2016-09-27 15:41] josephdviviano opened #762 "blacklist SPN01_CMH_0009_01_01 imitate"
This subject is missing a few slices from the top of it's head in this scan.

[2016-09-27 15:41] josephdviviano commented on #761
@colinhawco please send codes

[2016-09-27 15:43] josephdviviano commented on #762
Ans observe.

[2016-09-27 16:01] josephdviviano opened #763 "lovelace is eating jobs on the queue (why)?"
figure this out

[2016-09-27 17:36] tomwright01 opened #764 "run.sh not being run daily"
linked /archive/code/bin/data.cron to /etc/cron.daily on tigrsrv
Also updated path to run.sh

[2016-09-27 17:36] #764 closed

[2016-09-27 17:57] DESm1th commented on #762
I've added both to blacklist.csv.

[2016-09-27 17:57] #762 closed

[2016-09-27 18:11] edickie opened #765 "Make EA file parsing a step of the data transfer and QC pipeline"
There are two main motivations for setting this up:

1) To separate the EA log file parsing from the preprocessing pipeline so that the parsed onsets can be retained when we decided to rerun the preprocessing pipeline with new options.

2) To treat EA behavioural file checking as a QA step. (i.e. to build in flags for behavioural files that are missing or not of the expected length)

4) To outputs

[2016-09-27 18:14] edickie commented on #749
We going to tackle this in #765

[2016-09-27 18:14] #749 closed

[2016-09-27 18:16] edickie commented on #748
Tom got the old dm-proc-ea.py working so that Colin could get the outputs.

Moving forward. This is gettting delt with as part of issue #765

[2016-09-27 18:16] #748 closed

[2016-09-27 18:17] navonacalarco commented on #548
OK, REDCap [survey]( http://tinyurl.com/scancompletedl) has been sent out and is being reviewed by RAs. Am going to close this issue; will make new issues with @DESm1th regarding REST command if arises.

[2016-09-27 18:17] #548 closed

[2016-09-27 18:20] edickie commented on #754
For the mean time.. Are people happy with me building pages in the lab wiki about each pipeline.

Each page would essentially be a link to externally created tutorials/wiki pages for each package and/or Andrew Jahn's youtube channel.

Maybe with some info about the module names for these pipelines on our system?

[2016-09-27 18:24] josephdviviano commented on #754
Yes please go ahead! This would be a great resource.

[2016-09-27 18:25] navonacalarco commented on #751
@josephdviviano Great, thanks. Should we be changing the old checkheaders script, or is this now rolled into qcmon?

[2016-09-27 18:28] tomwright01 commented on #765
I'll take on splitting the dm-proc-ea.py (I already started).

[2016-09-27 18:28] navonacalarco commented on #754
That would be amazing!!!

[2016-09-27 18:32] edickie commented on #765
Following up from another discussion. It might be cool to store some of this information in .json following the BIDS specification.
http://bids.neuroimaging.io/bids_spec1.0.0.pdf

Disclaimer: I'm NOT suggesting that we rearrange the whole filesystem to follow BIDS. but adding a .json file might be a useful baby step.

[2016-09-27 18:33] josephdviviano commented on #765
@edickie are you suggesting storing all of the onsets etc as .json file? Why not a .csv?

[2016-09-27 18:46] edickie commented on #765
yup, it appears that this .json thing (for the onsets, but also for the stuff in the dicom header that doesn't translate to the nifti header) is becoming part of the kewl new international standards for neuroimaging data management. Writing the onsets in this way could be a good exersize for learning more about BIDS.

[2016-09-27 18:49] josephdviviano commented on #765
@edickie we should have a longer discussion about whether we want to buy into BIDS. A JSON file is substantially harder for people to work with than a csv, colin wouldn't know how to parse a JSON file on his own, and I think we are better off keeping things simple so we can get our work done instead of future proofing something as specific as the EA task timing files.

[2016-09-27 18:50] josephdviviano commented on #765
I was made aware of `BIDS` at HBM 2015, and while they do a nice sales pitch I'm not sure that it's going to be an international standard so much as **wants** to be one.

[2016-09-27 18:53] josephdviviano opened #766 "queue jobs that write logs over NFS fail (sometimes)"
Looks like, if you ask SGE to write your logs out on an NFS mount, a good deal of your jobs will randomly fail.

I dont think this is because the NFS mount is inaccessible, because all of the data the pipelines run on also require NFS, but moving the logs to a local file (e.g., `/tmp`) resolves the issue.

What's likely happening is some sort of overloading of the network when 100s of jobs are dep

[2016-09-27 19:14] navonacalarco commented on #756
Done.

[2016-09-27 19:14] #756 closed

[2016-09-27 19:37] tomwright01 commented on #765
My reading of the standard indicates the actual data should be stored in .tsv files. The .json files are optional for storing data dictionaries and key:value pairs

[2016-09-27 19:39] colinhawco commented on #761
# removes orientation information
fslorient -deleteorient sprl.nii

# performs a left-right swap
fslswapdim sprl.nii -x -y  z sprl_swap.nii

# resets the header to match (double check this)
fslorient -setqformcode 1 sprl_swap.nii

Kindly try and save this somewhere. At present it is buried in my old
emails, which may not be accessible forever. I am not sure wehre you would
put it that would be obv

[2016-09-27 19:40] josephdviviano commented on #765
yeah we really don't need `.json`.

Also, Tom, can you please not change how this program spits out the data. I built it to perfectly replicate the original paper and we need to retain that functionality. We can chat about this at the systems meeting tomorrow in detail.

I'm all in favor of breaking out the behavioural parser, however.

[2016-09-27 19:42] tomwright01 commented on #765
Talk about it tomorrow, but should be easy to build two outputs, original and extended.

[2016-09-27 19:47] josephdviviano commented on #765
Yeah that would be great. I can add in FSL-style outputs as well, so you get AFNI timing files, full .csv (or .ssv or .tsv or whatever) and a FSL timing file.

[2016-09-27 20:12] navonacalarco opened #767 "followup with pre-post PRISMA MRP and ZHP comparisons"
Just filing an issue here so that we remember. Before the SPINS call, AV asked we run select scans through any pipelines that would be informative.

There are two scans to review on their own and two comparisons:

- [x] SPN01_MRP_0071_01_01
- [ ] SPN01_MRP_0073_01_01
- [x] SPN01_ZHH/MRC/CMH_P003_02  vs SPN01_MRP_P003_03 (Dr. Buchanan human phantom)
- [x] SPN01_ZHH_00??_01_01 vs SPN01_ZHH_00??_01_0

[2016-09-27 20:52] navonacalarco commented on #767
UPDATE: AV just dropped by and wants some kind of comparison of the Buchanan PRISMA scan (SPN01_MRP_P003_03) to the most recent phantom from *all* sites  (SPN01_ZHH_P003_02, SPN01_CMH_P003_02, SPN01_MRC_P003_02) by Thursday.

![cat-halp-1-1](https://cloud.githubusercontent.com/assets/13733654/18891338/c8238950-84d2-11e6-948e-b531738b19b2.jpg)

[2016-09-27 21:05] josephdviviano commented on #767
@navonacalarco can either you remind me to do this, or get erin to do this, tomorrow? She doesn't have much on her plate at the moment.

[2016-09-27 21:07] navonacalarco commented on #767
OK! Thanks.

@edickie Can we talk about this when you have a sec tomorrow? I can work through it if you help me understand what sort of thing should be done here. :)

[2016-09-27 21:20] josephdviviano opened #768 "milner is not configured"
It does not have `/projects`, `/scratch`, or anything else. Jobs that hit this node die immediately.

[2016-09-27 21:26] josephdviviano commented on #768
just ran `site.yml` on milner and the correct folders etc seem to be present.

[2016-09-27 21:26] #768 closed

[2016-09-27 22:14] josephdviviano commented on #763
This is likely a broader issue, I couldn't isolate any problems on lovelace.

[2016-09-27 22:14] #763 closed

[2016-09-27 22:17] josephdviviano commented on #712
Batch mode is working fine, it's the queue that is the issue.

The QC program will generate each main stats file if it does not exist. I'll just add a bit that removes empty files.

[2016-09-27 22:18] josephdviviano commented on #629
The trail went cold on this. I'm getting it off of my plate.

[2016-09-27 22:18] #629 closed

[2016-09-27 22:18] josephdviviano commented on #556
@arash-n do you still need this?

[2016-09-28 02:23] josephdviviano opened #769 "install CMTK"
https://www.nitrc.org/projects/cmtk/

registration tool that other have had success with ... should experiment.

[2016-09-28 03:02] #601 closed

[2016-09-28 14:00] edickie opened #770 "update crontab for new location of run.sh script"
@josephdviviano were having trouble finding the crontab that runs nightly run script. It it not edited through the crontab?? (It's the root user?)

[2016-09-28 14:02] josephdviviano commented on #770
Hi Erin,

Jon put that in /etc/cron.d on tigrsrv have a look

Joseph's Phone

On 28 Sep 2016 10:00 am, "edickie" <notifications@github.com> wrote:

[2016-09-28 14:04] navonacalarco commented on #761
I can get dm-qc-todo.py now, but most of what's listed there links to blank pages. Just wanted to check in and make sure that this is known.

[2016-09-28 14:10] edickie commented on #770
done

[2016-09-28 14:10] #770 closed

[2016-09-28 14:21] josephdviviano commented on #761
Which pages are blank? dm-qc-report is causing all sorts of issues on the queue.

[2016-09-28 14:25] josephdviviano commented on #761
for SPINS?

[2016-09-28 14:28] navonacalarco commented on #761
PACTMD, PRELAPSE, and STOPPD have blank pages. Those are also the only 3 studies for which there appear to be outstanding QC.

I don't see any (real) QC pages here for SPINS (just "NO QC doc generated for....")

[2016-09-28 15:42] josephdviviano commented on #761
empty files DTI3T:

[code]

[2016-09-28 15:56] josephdviviano commented on #766
Confirmed that this is a known issue:

https://www.icts.uiowa.edu/confluence/display/ICTSit/Best+practices+for+high+throughput+jobs

failed changing into working directory:05/02/2012 01:02:47 [21548:26444]: `error: can't chdir to /Users/username/subdirectory`

**Most common case:**

The default behavior is for the job scheduler (Sun Grid Engine) to place redirected output files in the user's home

[2016-09-28 15:58] josephdviviano commented on #766
Solutions:

+ Redirect standard out and standard error to either `/dev/null` or to `/localscratch`.
+ Send your .o and .e files to /localscratch while the job is running, then copy them back to your home directory once the job has finished.
+ If you are reading or writing to a large number of files during your high throughput jobs, add code to your script to first copy them under /localscratch, wo

[2016-09-28 17:00] navonacalarco commented on #761
@josephdviviano Sorry for delay. These are the blank files:

/archive/data-2.0/PACTMD/qc/PACTMD_CMH_3060070_01/qc_PACTMD_CMH_3060070_01.html
/archive/data-2.0/PRELAPSE/qc/PRE05_CRY_R11022_01/qc_PRE05_CRY_R11022_01.html
/archive/data-2.0/STOPPD/qc/STOPPD_CMH_420042_02/qc_STOPPD_CMH_420042_02.html
/archive/data-2.0/STOPPD/qc/STOPPD_MAS_210051_01/qc_STOPPD_MAS_210051_01.html

[2016-09-28 17:16] #766 closed

[2016-09-28 22:07] josephdviviano opened #771 "STOPPD RST and FMAP DCM files not exported."
Do we have NII?

Likely an exportinfo issue...

[2016-09-28 22:13] josephdviviano commented on #747
+ do VRMD after DCM exported in the morning

[2016-09-29 00:11] arash-n commented on #556
Yes....! It would be great if we could have this. There are many great imaging/genetics opportunities in there (n=5000 and growing).

[2016-09-29 15:26] tomwright01 opened #772 "Run scripts failing"
All run scripts failed due to incorrect path to datman assets.

Updated `tigrlab_config.yaml`
Manually fixed all `run_data_kimel.sh` scripts as `tigr_write_runsh.sh` not currently working.

[2016-09-29 15:26] #772 closed

[2016-09-29 15:34] josephdviviano opened #773 "Remove 'DATMAN_ASSETS' environment variable and replace it with an internal reference in the code"
A few scripts we have in `datman` require access to the `assets/` folder. This is because, in some cases, our command-line tools are simple wrappers for already-built pipelines.

However, there's no reason for us to ever move the `assets/` folder. We currently let our scripts know about the location of these assets via a manually-set `DATMAN_ASSETS` environment variable. A more elegant solution wo

[2016-09-29 15:36] colinhawco opened #774 "EA nii file extracted wrong?"
This file has the right amount of data, but in the wrong dimensions. I would guess it was an extraction error.

/archive/data/SPINS/data/nii/SPN01_ZHH_0032_01$
 fslinfo SPN01_ZHH_0032_01_01_EMP_19_fMRI-Emp-Acc-277.nii.gz
data_type      INT16
dim1           64
dim2           64
dim3           9971
dim4           1
datatype       4
pixdim1        3.406300
pixdim2        3.406300
pixdim3        3.999

[2016-09-29 15:54] josephdviviano commented on #774
Hey Colin this would be due to an incomplete upload. Are there more than 3
EA files for this participant?

If not someone should contact the site.

Joseph's Phone

On 29 Sep 2016 11:37 am, "colinhawco" <notifications@github.com> wrote:

[2016-09-29 16:00] colinhawco commented on #774
There is three files in the nii folder in data. I don't see an extra scan.

The third dimention suggests that the time got wrapped up as slices, but a
single slice is missing. I would think they missed a single DICOM file.

On 29 September 2016 at 11:54, Joseph Viviano <notifications@github.com>
wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www.n

[2016-09-29 16:03] josephdviviano commented on #774
Colin, can you manually download said subject from XNAT, reconstruct, and confirm the file is corrupt.

[2016-09-29 16:29] colinhawco commented on #774
I've never used XNAT. Not sure how to download. Do we have a wiki or
anything for it?

On 29 September 2016 at 12:03, Joseph Viviano <notifications@github.com>
wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www.neuranalysis.com

[2016-09-29 16:42] djoverton opened #775 "Output scan timestamp in text file in /qc/ for each scan"
Rather than going into the header a second time, it would be useful if there was a *_timestamp.csv file giving the timestamp for a given scan under <project>/qc/<subject>.

[2016-09-29 16:50] josephdviviano commented on #774
Yes, you can get erin to help you/ She's just working on her workshop presentation.

http://imaging-genetics.camh.ca/database/

[2016-09-29 16:57] sabashahab opened #776 "Can't use the WMA GUI - issue with opening zenity"
I'm using Cajal using Laura's account. I can't use the module system. I can't use the whitematteranalysis GUI either.

When I open the terminal, I see this:

bash: /quarantine/Modules/default/init/bash: No such file or directory
bash: /quarantine/Modules/3.2.10/bin/modulecmd: No such file or directory
bash: /quarantine/fsl/4.1.9/x86_64/etc/fslconf/fsl.sh: No such file or directory

This is the err

[2016-09-29 18:00] colinhawco commented on #774
OK I pulled from XNAT and extracted the nii from the DICOMS and it was
fine. Looks like a download error.

Can you guys sort out the file in /archive/data/ ? I don't have write
access and don't want to mess about in there.

On 29 September 2016 at 12:50, Joseph Viviano <notifications@github.com>
wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www.n

[2016-09-29 19:17] ghost opened #777 "Some qc output files missing data"
Most or all of them have a header, but no data, implying the pipeline got interrupted. Here's the list:

[code]

[2016-09-29 20:16] edickie commented on #773
This works when using a clone of the repository, but the scc install of
datman actually uses the setup.py script...which doesn't put the assets in
the same place.  This is why Jon introduced the DATMAN_ASSETS environment
variable.

On Thu, Sep 29, 2016 at 11:34 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-09-29 20:19] navonacalarco commented on #761
I deleted the qc pages and all data for the 4 cases above.

I also discovered that all of the other QC pages waiting to be signed off on had missing data (also missing from our system), that does exist in XNAT. In all of these cases, our system (and QC pages) had the fMRI scans, but nothing else.

I will let you know tomorrow if we see the same sort of trouble.

@josephdviviano I'm closing because

[2016-09-29 20:19] #761 closed

[2016-09-29 20:23] josephdviviano commented on #773
Where does assets end up when you use setup.py?

[2016-09-29 20:27] josephdviviano commented on #776
Is this true on multiple machines?

[2016-09-30 14:57] navonacalarco opened #778 "delete blacklist.sav files"

[2016-09-30 14:58] josephdviviano commented on #778
Dont worry about it ill take care of them ... just see if you can change the setting in your file editor.

[2016-09-30 14:58] #778 closed

[2016-09-30 15:24] tomwright01 opened #779 "SPINS data uploaded to ASDD"
Due to an incorrect MRUser setting in `projects_settings.yaml` SPINS data has been uploaded into the ASDD project on XNAT.

Solution:

- [x] Fix project_settings.yaml
- [x] Fix run_data_kimel.sh
- [x] Delete incorrect files from data/zips
- [x] Delete incorrect records from XNAT

[2016-09-30 15:29] josephdviviano commented on #779
@tomwright01 I know a few XNAT tricks I can show you, when you get to that part.

[2016-09-30 15:30] josephdviviano commented on #773
OK! We'll stick with this. It will be useful to use it for the global configuration file, anyhow.

[2016-09-30 16:49] josephdviviano commented on #774
OK, I deleted the file. It will regenerate next week.

[2016-09-30 16:49] #774 closed

[2016-09-30 17:40] josephdviviano commented on #771
I don't think these exist because we are using spirals?

[2016-09-30 17:40] #771 closed

[2016-10-03 16:28] navonacalarco opened #780 "QC list not generating"
I'm filing this as an issue so we can track progress, though I think everyone already knows about the difficulty. In short, the list generated by dm-qc-todo.py list is not accurate.

Currently, we see dozens of "No QC doc generated for..." ASDD, DTI3T, SPINS, and STOPPD. But there are no "QC doc not signed off on" entries.

This has been the case for the past week (since last Monday). I'll try to

[2016-10-03 17:06] josephdviviano commented on #780
Adding @edickie and @tomwright01 because they're working on it as well.

[2016-10-03 17:07] navonacalarco commented on #780
Thanks so much everyone. Sorry I'm not as helpful as others with this - let me know if there's something I can/ should do.

[2016-10-03 17:08] josephdviviano commented on #780
@edickie : qc-report.py might need to be added to the run scripts after we get everything up to speed. I'm guessing that is what generates the qc todo files?

[2016-10-03 18:05] #779 closed

[2016-10-03 18:06] josephdviviano opened #781 "dm-proc-rest.py should accept a command line arguments to export multiple epitome outputa"
Erin wants:

+ pre-processed, unsmoothed, native space data
+ smoothed MNI space data

so we just need something like

`'--exports=func_filter,func_MNI'`

[2016-10-03 18:40] josephdviviano commented on #747
done and done.

[2016-10-03 18:40] #747 closed

[2016-10-03 18:51] josephdviviano commented on #777
K, deleted, should regenerate on their own.

[2016-10-03 18:53] josephdviviano commented on #722
+ `xnat-extract.py` is in good working order.

We're moving towards using a 'type' field in the exportinfo dict to determine which scans should be linked.

After this is done, it should be easy to wrap the link scripts into this program.

[2016-10-04 13:22] lstefanik commented on #776
I also get the same errors on Crick.

[2016-10-04 14:11] colinhawco opened #782 "Projects mounting on Tesla"
I can't CD to projects from Tesla,. Given that XNAT is back up I am assuming the system was restored and this is just a mounting issue?

[2016-10-04 14:16] tomwright01 commented on #780
All the html files (well all the ones I checked) seem to have been created. For a while there was no method to add them to `checklist.csv`, this is why we are seeing the *No qc doc generated*.
Moving forward new entries should be made by a line in `dm-qc-report.py`. `dm-qc-checklist.py` should backfill the missing entries, for some reason it's not working. Looking into that now.

[2016-10-04 14:20] DESm1th commented on #782
Hey Colin,

I just tested it and had the same issue, but then I manually logged in and everything looked ok. When I exited the ssh session and tried again, though, projects was suddenly working. Very mysterious! Try restarting your ssh session and if it doesn't fix it for you then I'll look into it more

[2016-10-04 14:35] colinhawco commented on #782
Working now! logged off and logged back in. Thanks Dawn!

On 4 October 2016 at 10:20, DESm1th <notifications@github.com> wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www.neuranalysis.com

[2016-10-04 14:35] navonacalarco commented on #780
Thanks @tomwright01!

[2016-10-04 14:38] DESm1th commented on #782
No problemo! I'll close this issue, but if that happens again let me know and I'll look into it more.

[2016-10-04 14:38] #782 closed

[2016-10-04 15:00] josephdviviano commented on #780
Hey @tomwright01  -- does that mean that dm-qc-checklist is going to be run as a separate process, or are you building it into dm-qc-report?

[2016-10-04 15:02] tomwright01 commented on #780
It should just be a one-off to fix the missing entries in `checklist.csv`.

On Tue, 4 Oct 2016 at 11:00 Joseph Viviano <notifications@github.com> wrote:

[2016-10-04 15:05] josephdviviano commented on #780
Got it -- but are you going to add a feature to dm-qc-report to add entries to the checklist as well?

[2016-10-04 15:44] #773 closed

[2016-10-04 15:49] josephdviviano commented on #746
I'm closing this -- I'm assuming we've rectified the major formatting issues given the number of changes that has happened to the `.yml` files.

[2016-10-04 15:49] #746 closed

[2016-10-04 16:29] josephdviviano opened #783 "install brainstorm (matlab package) in quarantine"

[2016-10-04 17:59] navonacalarco commented on #751
@josephdviviano Just wanted to follow up: the same errors re: OblAx-T2DEfseXL are appearing in the most recent log (2016-09-18-check-headers.log).

[2016-10-04 18:13] josephdviviano commented on #751
Yes that's because we're still checking those scan types...

[2016-10-04 18:15] navonacalarco commented on #751
So should we be changing the old checkheaders script, or qcmon? Or are we waiting on some other changes to be made?

[2016-10-06 14:51] josephdviviano opened #784 "empty subjects in DTI15T nii/ folder"
- DTI_TGH_S097_01
- DTI_TGH_S107_01
- DTI_TGH_S144_01
- DTI_TGH_S171_01

[2016-10-06 15:11] edickie commented on #784
Have some of these been blacklisted?

On Thu, Oct 6, 2016 at 10:51 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-10-06 15:12] djoverton commented on #777
Updated list:
[code]

[2016-10-06 15:23] tomwright01 opened #785 "Run.sh errors"
find: missing argument to `-exec'

[2016-10-06 15:24] tomwright01 commented on #785
Fixed, missing space

[2016-10-06 15:24] #785 closed

[2016-10-06 18:04] josephdviviano opened #786 "EA task plots"
I recall at one time you used to produce nice little plots of the participants EA ratings along with the 'gold standard' ratings. I think they were part of the earlier QC pages.

Do these still get created? Or are any of the older ones still available?

Would be nice to take a look as I dive into the EA data.

T'anks!

[2016-10-06 20:04] colinhawco opened #787 "EA task behavioral graphs"
Previously Joe was generating some sweet little graphs of the behavioral performance on the EA task, showing the 'coirrect' ratings along with the participant's actual ratings over time. There appear to no longer be being generated, and they are nice, pretty little things.

[2016-10-06 20:10] josephdviviano commented on #786
from #787

Previously Joe was generating some sweet little graphs of the behavioral performance on the EA task, showing the 'coirrect' ratings along with the participant's actual ratings over time. There appear to no longer be being generated, and they are nice, pretty little things.

[2016-10-06 20:10] josephdviviano commented on #787
linked to #786

[2016-10-06 20:10] #787 closed

[2016-10-07 15:01] navonacalarco commented on #780
Looks like everything is working today! I'll update the other RAs doing QC about the updated commands.

There's a couple of cases of "No checklist entry for...." that Tom is taking care of.

@JDV I noticed there's a new metric for DTI. At some point, can you please teach me how to interpret this, and I'll update our documentation. Thanks!

[2016-10-07 16:22] tomwright01 opened #788 "Some behavioural data missing"
SPN01_CMH_0040_01
SPN01_CMH_0063_01
SPN01_ZHH_0057_01

[2016-10-07 16:30] navonacalarco opened #789 "rename incorrect sub IDs"
SPN01_CHM_PHA_FBN0006
PREO1_CTN_PHA_ADN00011

[2016-10-07 17:08] navonacalarco commented on #767
Update: finished Buchanan comparisons; still waiting for other scans to come in from both MRC and ZHH.

[2016-10-07 17:10] navonacalarco commented on #739
It seems that some of the file naming for DTI also changed at MRC.  We're getting DTI-60Dir-5B0 (which is what we want), but also:

- DTI-60Dir-5B0-**ADC**
- DTI-60Dir-5B0-**TRACEW**
- DTI-60Dir-5B0-**FA**
- DTI-60Dir-5B0-**ColFA**

I don't think that we need these ^ in the QC pages.

I'm not sure what should be modified. Is it still project_settings, or export_info?

[2016-10-07 17:16] navonacalarco opened #790 "QC report for SPN01_MRP_0073_01 has no images"
But, data exists. Find out why.

[2016-10-07 18:47] edickie commented on #739
Now project settings..

On Fri, Oct 7, 2016 at 1:10 PM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-10-07 19:34] tina-roostaei opened #791 "MRtrix3"
Hi,

I was wondering whether we can have the latest version of MRtrix3 (http://mrtrix.readthedocs.io/en/latest/installation/linux_install.html) installed. As I have checked we now have MRtrix3/0.3.12.

Thanks :)
-Tina

[2016-10-11 16:25] tomwright01 commented on #788
Data found for CMH recordings, still missing ZHH

[2016-10-11 16:27] josephdviviano commented on #791
On it!

[2016-10-11 18:32] josephdviviano commented on #791
Installed --- not functional on all machines, but should be functional on most.?

[2016-10-11 18:32] #791 closed

[2016-10-11 20:15] josephdviviano opened #792 "learn how to use the DTI clustering GUI"

[2016-10-11 20:15] josephdviviano commented on #792
Contact Saba / Laura.

[2016-10-11 20:41] DESm1th commented on #776
Hey guys,

I seem to have fixed the unrelated issue with wma_applyToSubject.sh throwing errors when run from the GUI.

With regard to the "Couldn't connect to accessibility bus" errors, those don't seem to be causing the issues with opening the GUI. They're a known issue with Ubuntu and certain GUIs and they can be silenced by adding "export NO_AT_BRIDGE=1" to the end of the .bashrc file.

There w

[2016-10-12 13:29] lstefanik commented on #776
Hi all,

Thanks for fixing the error message below Dawn regarding the wma_applyToSubject.sh.  The good news is that I do not see that error anymore- however the bad news is I still cannot run the clustering step as the accessibility bus error seems to be preventing anything from running (tried on Crick and Davinci this morning).  I have a presentation on Monday and would really like if we could fi

[2016-10-12 13:40] lstefanik commented on #776
Update - at Tom's suggestion I added export NO_AT_Bridge=1 before running the script and that got rid of the zenity errors but still did not solve my problem that it will not cluster...

[2016-10-12 15:52] josephdviviano commented on #776
It seems like there are multiple issues here.

@sabashahab : those lines should be `/opt/quarantine`. Do you need to update your `.bashrc`?

Otherwise I'm going to need someone to walk me through the analysis, because I'm not familiar with the software and can't replicate the bug on my own.

Come grab me if you want to show me.

[2016-10-12 15:53] lstefanik commented on #776
This has been temporarily fixed.

[2016-10-12 16:06] josephdviviano commented on #561
This is done -- **all** fmri data is now processed using this: https://github.com/TIGRLab/datman/blob/master/bin/dm-proc-fmri.py

The configuration file contains some information about which epitome script should be run on each type of file, in a structure that looks like this:

[code]

[2016-10-12 16:06] #561 closed

[2016-10-12 17:30] navonacalarco commented on #780
Closing as this is done. Thanks again.

[2016-10-12 17:30] #780 closed

[2016-10-12 22:14] josephdviviano commented on #781
This is now accomplished in the `setting.yml` file (see #561 )

[2016-10-12 22:14] #781 closed

[2016-10-13 16:39] josephdviviano commented on #556
I'm leaving this in other's hands -- it's up to them to come up with a proposal and submit it.

[2016-10-13 16:39] #556 closed

[2016-10-13 18:03] josephdviviano commented on #783
done!

[2016-10-13 18:03] #783 closed

[2016-10-14 16:00] edickie opened #793 "Remove extra PRELASPE CRY scans from our system"
We received notice early this summer that the scanids for PRELASPE CRY were wrong (scanids, 0001:0004, where actually subjects 0013:0016) This issue was fixed in XNAT, but the improperly named scans are still in our system

[2016-10-14 16:09] edickie opened #794 "Figure out why PRELAPSE IWA not being pulled from XNAT"
subjects:
PRE01_IWA_04013_01
PRE01_IWA_04014_01

[2016-10-14 16:13] edickie commented on #794
The newer phantoms from IWA are not being pulled either

[2016-10-14 16:15] edickie commented on #794
And PHA_ADN0014 is missing from XNAT

[2016-10-14 16:59] navonacalarco commented on #760
@DESm1th @josephdviviano @tomwright01 @edickie @djovertoncmh

OK! We have a draft. Still a bit to be added, but can you please look over [https://github.com/TIGRLab/documentation/wiki/QC](https://github.com/TIGRLab/documentation/wiki/QC) and let me know if anything needs to be added/removed/changed.

Feel free to edit any small issues yourself.

Thanks!

[2016-10-14 18:33] josephdviviano commented on #794
@edickie are you looking into this?

[2016-10-14 19:04] navonacalarco opened #795 "Give Mark write permissions to ASDD metadata folder"

[2016-10-14 19:07] navonacalarco opened #796 "new account: Avi Gharehgazlou (Dr. Ameis RA)"
Whenever you have time, could you please make Avi Gharehgazlou a computer account. She will need read permissions to PASD01, and write permissions to the metadata folder.

She does not need an XNAT account.

Thanks!
N.

[2016-10-14 19:11] josephdviviano commented on #796
She apparently already has an account. I've added her to the `kimel_data` group.

If she needs help with her password I can reset it, otherwise, done.

[2016-10-14 19:11] #796 closed

[2016-10-14 19:14] djoverton commented on #795
I went ahead and did this.

[2016-10-14 19:14] #795 closed

[2016-10-14 19:26] edickie commented on #794
Still doing the easy clean-up first..
We also have a similar issue for TXS, but I think the TXS problem is in the
export-info

On Fri, Oct 14, 2016 at 2:33 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-10-14 19:26] navonacalarco commented on #796
Thanks.

Is her username 'agharehgazlou'? What is the temporary password? Should she reset her password herself at https://rprshipav01.camhres.ca/ipa/ui/?

[2016-10-14 19:28] navonacalarco commented on #795
Thank you!

[2016-10-14 19:28] josephdviviano commented on #796
I don't know, I didn't just set this up (must have before?)

Im not aware of a way she can reset the password by herself, do you know of
one? I can reset it for her assuming she does not remember her password

JDV

On Fri, Oct 14, 2016 at 3:26 PM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-10-14 19:39] navonacalarco commented on #796
Ok. Confirmed her name is 'agharehgazlou' and she's a member of kimel, kimel_data, and tigrlab. The IPA link seems she has a 6 digit password - but she didn't not set one up - she's never logged in. I'll send her to you to reset.

I am not aware of how one can reset a password themselves - I believe someone with sufficient privileges needs to do so from  https://rprshipav01.camhres.ca/ipa/ui/.

[2016-10-14 20:07] DESm1th opened #797 "STOPPD data newer than qc page"
Hey guys,

I've been going through the dm-qc-todo.py --show-newer output for all our projects to make sure there are no serious issues lurking in the ~1500 lines of output. For STOPPD I found the following issues to address.

- [x] These participant folders all have two new T1 scans, all of which were added on Sept 30th and which end with T1_303_VWIP-MPRAGE-SENSE and T1_302_VWIP-MPRAGE-SENSE. If i

[2016-10-14 20:43] DESm1th opened #798 "PACTMD data newer than QC page"
The following subjects all had field maps added after their qc page (possibly due to the originals being corrupt?). Run touch on all their pages to remove them from dm-qc-todo.py --show-newer output.
	PACTMD_CMH_0100009_01
	PACTMD_CMH_0100010_01
	PACTMD_CMH_0100010_02
	PACTMD_CMH_0100012_01
	PACTMD_CMH_0110004_01
	PACTMD_CMH_0110004_02
	PACTMD_CMH_0110005_01
	PACTMD_CMH_0110005_02
	PACTMD_CMH_0110

[2016-10-14 20:43] DESm1th commented on #798
Done

[2016-10-14 20:43] #798 closed

[2016-10-14 20:57] edickie commented on #794
It was an export-info issue

[2016-10-14 20:57] #794 closed

[2016-10-14 22:42] josephdviviano opened #799 "freesurfer / HCP pipelines not being run on new data"
@edickie , looks like we don't have freesurfer / HCP outputs for some of the newer spins subjects. Any idea what's going on (these are being run on the SCC, correct?)

[2016-10-14 22:54] josephdviviano opened #800 "blacklists are out of control :O"
hey all,

I'm noticing that a good number of my resting-state pipelines are failing due to missing data. I've noticed that this is happening in some cases because **both** copies of a scan were blacklisted.

Case in point: `SPN01_CMH_0017_01`.

This subject has two `OBS` scans. The first is truncated was manually blacklisted a while back. However in the `blacklist.csv` file I now find:

[code]

I'

[2016-10-14 22:55] josephdviviano commented on #800
@edickie @DESm1th in particular

[2016-10-14 23:00] DESm1th commented on #800
Hmm. I dont know anything about things being automatically blacklisted (and
I havent manually added anything to the blacklist, ever) but I did go
through and remove all the blacklisted files today that were lingering in
the archive since Julyish which is probably why things are failing now. The
blacklist may have been like that for a while

On Oct 14, 2016 6:55 PM, "Joseph Viviano" <notifications@

[2016-10-14 23:08] josephdviviano commented on #800
@DESm1th thanks , might have been @edickie or Jon way back when ... I'll wait to hear from her.

[2016-10-15 04:52] navonacalarco commented on #800
Yikes, that looks like something I did fairly recently, actually. I generated a list with the number of TRs for all IMOBS scans in the file system, and blacklisted what was shorter than expected. Not sure why series 10 appears here twice, but it should be that both series 9 and 10 are truncated if both appear here.

Are there similar cases other than SPN01_CMH_0017_01? I ask because something odd

[2016-10-15 13:05] edickie commented on #800
I'm pretty sure that's acutally correct.  I think I tried to unblacklist
and process the longer of the two scans from one participant. (probably
SPN01_CMH_0017_01)..and it failed because there still were not enough TR's,
so I re-blacklisted it...

On Sat, Oct 15, 2016 at 12:52 AM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-10-15 13:36] edickie commented on #799
Me made a decision last month to have @navonacalarco run the pipelines manually when she finished QC, I think the last time we did this together was a couple of weeks ago. So there might be some newer misssing.

Also, pipelines on the scc are set up to not run for new subjects who have not been qced. So that might also be an issue..

I just sshed into the scc and manually ran the pipelines, so we

[2016-10-15 13:48] navonacalarco commented on #799
Yes, what Erin said is right. I have not ran this at least since the QC was fixed earlier this week, and there's still a few outstanding subjects to QC for SPINS, so it won't be entirely complete.

Thanks for re-running it again, Erin. I'll be more on top of this going forward and the QC list is getting smaller. Is the consensus that the pipelines should be done every day?

[2016-10-15 17:14] josephdviviano commented on #799
@edickie @navonacalarco

I'm assuming we're doing this because erin's checklist-checking code is broken? It used to do this (run data only after QC) automatically.

let's talk about running the data ad-hoc vs just running it nightly at our next meeting. It seems to me like it would be better for us to just run the pipelines on all that data, regardless of QC status, since we have code that will de

[2016-10-15 17:24] josephdviviano commented on #800
Hi @edickie @navonacalarco

you're right, both of those scans are truncated. thanks! I would suggest that we put a more useful description in the blacklist file next time ('truncated' instead of 'SPINS-IMOBS-datacleaning-extra-scan')

[2016-10-15 17:24] #800 closed

[2016-10-15 20:05] edickie commented on #799
The checklist code is working, that is why (back when Navona was doing all
the qc) we felt it would be more efficient to have Navona manually submit
pipelines once she had finished signing off on a substantial number of
subjects.

I agree that, now that Navona is not signing off on all the checklists, it
makes sense to rethink this.

Our code does an ok job deleting files related to blacklisted su

[2016-10-17 15:28] tomwright01 commented on #799
1. Updated `/archive/code/bin/runall_pipelines_scc.sh` so project pipelines are submitted to scc over shh.
2. Updated main cron job to run `runall_pipelines_scc.sh` nightly
3. Updated ansible templates to match current cron settings

[2016-10-17 15:28] #799 closed

[2016-10-17 16:11] navonacalarco opened #801 "Relax header difference criteria for (unexpectedly) repeated acquistions (?)"
Hi guys,

I'm still keeping in touch with Sophia about the header differences we see pop up during the QC of CAMH scans. Gradually, we're putting together a list of differences that aren't important and that we can ignore.

One case I'm not sure how to deal with is (unexpectedly) repeated scans that might need to be sped up for lack of time. For example, a T1 in PACTMD originally has a `NumberOfAv

[2016-10-17 16:20] josephdviviano commented on #801
Are those important parameters? We can just ignore them entirely.

Joseph's Phone

On 17 Oct 2016 12:12 pm, "ɐuoʌɐu" <notifications@github.com> wrote:

[2016-10-17 16:24] navonacalarco commented on #801
I *think* these are important. Both are related to number of excitations (NEX).

[2016-10-17 16:29] edickie commented on #801
I feel like it might be better to keep these flags, but to teach people to
ignore them in certain cases... (i.e. if it is a repeated image, because
somebody got out and went to the bathroom).

I think the person doing the QC needs to make the judgement call because
sometimes scans are repeated with the expectation that the original version
will be blacklisted (in which case - different paramenters

[2016-10-17 16:57] josephdviviano commented on #801
I agree with @edickie , the header checking was meant to be more for humans to interpret .. it's too blunt of an instrument to be made fully automatic.

[2016-10-17 17:48] navonacalarco opened #802 "STOPPD (MAS): Update project_settings.yml regex for T1 and DTI"
Essentially, don't bring in anything with 'SENSE'.

See STOPPD_MAS_210012_01_01 as example.

[2016-10-17 17:56] navonacalarco commented on #801
Ok, great. I agree keeping these flags, and teaching people how to interpret.

I'm having a bit of a hard time gaining much insight from the correspondence with Sophia about the importance of certain differences only because we aren't seeing very many header differences in CAMH scans - the issues are always with other sites.

Can we  create a shared spot (QC documentation page, or google doc, or p

[2016-10-17 18:04] josephdviviano commented on #801
@navonacalarco that's a good idea.

I'd put that stuff on github issues and or wiki because google docs is a very messy interface (my preference).

[2016-10-17 18:19] navonacalarco commented on #801
Thanks!

@josephdviviano @edickie @DESm1th @djoverton @DESm1th I've added a `header differences` label to our issues page. Let's use this label to tag any discussion of header differences from this point forward. And, as Joseph suggested last week, let's open (and close) any header differences here for posterity.

I'll review issues under the label and update [https://github.com/TIGRLab/documentat

[2016-10-17 18:19] #801 closed

[2016-10-17 18:43] edickie commented on #793
I think I got this all done now

[2016-10-17 18:43] #793 closed

[2016-10-17 18:46] edickie opened #803 "Change Gold Standard for PRELAPSE IWA"
The PRELAPSE IWA site changed their scanner in Feb 2016, so the gold standards for all new subjects need to be updated to match these new settings...

I did this by remaning all the old standards as with the site tag IWAMRC (for the MRC35267 scanner code in XNAT) then copying in new standards from a newer subject.

Here's the exact code from my terminal history
  561  cd /archive/data-2.0/PRELAPSE

[2016-10-17 18:46] #803 closed

[2016-10-17 18:57] navonacalarco opened #804 "Compare ZHH repeat control on old and new scanner"
SPN01_ZHH_0060_01_01  from March 15, 2016 (old)

SPN01_ZHH_0060_01_02 from October 11, 2016 (new)

[2016-10-17 19:04] navonacalarco commented on #767
Closing - we have these scans in XNAT now.

[2016-10-17 19:04] #767 closed

[2016-10-17 19:05] edickie commented on #804
Should the site code here be ZHP??

On Mon, Oct 17, 2016 at 2:57 PM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-10-17 19:07] navonacalarco commented on #804
Yes, which is why I didn't see it. I emailed them.

[2016-10-18 14:20] #738 closed

[2016-10-18 14:21] #739 closed

[2016-10-18 17:05] DESm1th commented on #802
Hey Navona, I updated the project_settings for the T1s to filter out those SENSE files but it looks like the DTIs should already not be matching the pattern. I'm not sure why some of them have gotten through...

[2016-10-18 17:07] DESm1th opened #805 "Set up the Windows dual boot machines"
All the newer workstations have Windows 7 installed in addition to Ubuntu, but they're not connected to the internet and don't have user accounts.

[2016-10-18 17:34] navonacalarco commented on #802
Thanks Dawn! Strange. Let's keep on eye on the DTIs. Close for now and reopen if we see them again?

[2016-10-18 17:34] #802 closed

[2016-10-18 22:29] josephdviviano commented on #587
Purchases are in, I think this is done.

[2016-10-18 22:29] #587 closed

[2016-10-19 17:56] josephdviviano opened #806 "blacklist SPN01_ ZHH_0036_01"
huge ventricles, unable to analyze this data.

[2016-10-19 18:18] sabashahab opened #807 "Install Microsoft office suite"
Please install the Microsoft office suite on the Windows computers, thanks!

[2016-10-19 18:49] josephdviviano commented on #712
we need the following metrics:

humans
----------
**dti**

+ tsnr_bx
+ meanRELrms?
+ ndirs
+ spikecount

**fmri**

+ mean_fd
+ mean_sfnr
+ scanlength

phantoms
-------------
**adni T1**

+ the last 4 values (S2/S1, S3/S1. S4/S1. S5/S1)

**FBIRN fmri**

+ sfnr
+ rdc

**FBIRN dti**

+ nyqratio AVE +/- STD
+ rad pixel shift
+ col pixel shift
+ SNR /- STD (for dwi only, ignore b0)

[2016-10-19 19:41] navonacalarco opened #808 "delete/regen SPN01_ZHH_0060_01_02 QC"

[2016-10-19 19:45] navonacalarco opened #809 "SPN01_ZHH_0032 QC missing fMRI images"
But it's been signed off on.

Find images.

[2016-10-19 21:32] DESm1th commented on #805
Bulbasaur (in room 102 by the door) now has a guest account anyone can use and is connected to the internet. I'll revisit setting up the other machines when we have 1+ MS office key to take care of https://github.com/TIGRLab/admin/issues/807, if there is more demand for Windows machines.

[2016-10-19 21:32] #805 closed

[2016-10-20 14:30] navonacalarco opened #810 "SPN01_CMH_0044_01_01 EA1 timing issues"
QC page appeared from November 2015.

Tech Notes suggest task ended before scan. Investigate.

[2016-10-20 14:31] navonacalarco opened #811 "SPN01_CMH_0044_01 EA 1 timing"
QC page appeared from November 2015.

Tech Notes suggest task ended before scan. Investigate.

[2016-10-20 14:34] navonacalarco commented on #751
@josephdviviano Just wanted to check in about this - we're seeing header diffs re: OblAx-T2DEfseXL on new SPINS QC pages

[2016-10-20 14:38] navonacalarco opened #812 "QC report for SPN01_MRP_0071_01 missing images"

[2016-10-20 14:41] #811 closed

[2016-10-20 14:45] navonacalarco opened #813 "Correct expected scans for DTI3T"
Looks like the expected scans for DTI are off.

See DTI_CMH_H122_02 as an example:

1. Add second FMAP-6.5 as expected
2. Add second FMAP-8.5 as expected
3. Remove DTI33-4500 as expected
4. Remove DTI33-3000 as expected
5. Remove DTI33-1000 as expected
6. Remove SPRL as expected

[2016-10-20 14:55] navonacalarco opened #814 "QC report for DTI_CMH_H127_02 in dm-qc, despite signed off on."
:frowning_woman:

[2016-10-20 15:09] josephdviviano commented on #806
Done.

[2016-10-20 15:09] #806 closed

[2016-10-20 15:09] josephdviviano commented on #814
What does this mean?

[2016-10-20 15:10] josephdviviano commented on #813
Wait a second:

+ doesn't DTI have SPRL scans?
+ are we noit collecting multi shell data any more?

[2016-10-20 15:11] DESm1th commented on #814
dm-qc-report is writing duplicate checklist entries, so it was still being flagged as 'not signed off on' despite being signed off on. I'm working on fixing the code now.

[2016-10-20 15:11] josephdviviano commented on #809
The images most likely don't exist. FSL slicer randomly fails on some subjects (rarely).

Easiest solution is just to visually inspect these data using fslview.

Harder solution is moving back to a custom-build plotting tool instead of fsl slicer.

[2016-10-20 15:18] navonacalarco commented on #814
Tom deleted all lines of checklist.csv that were not signed off on. Will see what that does.

[2016-10-20 15:20] josephdviviano commented on #751
Sorry I keep getting distracted by other things.

I just removed all `_PDT2_` scans from the standards folders across all studies, so this problem should go away.

[2016-10-20 15:20] #751 closed

[2016-10-20 15:27] navonacalarco commented on #813
That's right,  DTI no longer has SPRL or multishell data. It did at one point, but Erin advises that there's been an effort to make it  identical (or nearly identical) to the SPINS protocol.

I am not sure the exact date when this decision was made - but the DTI_CMH_H122_02 participant I was looking at is from ~8 mths ago. Would it be helpful to identify the exact date?

[2016-10-20 15:47] navonacalarco commented on #809
Ah. I see. Thanks!

[2016-10-20 15:47] #809 closed

[2016-10-20 15:48] navonacalarco commented on #760
Hey guys, I know everyone is very busy, but I was hoping to send around the link to the QC documentation to Dr. Ameis' RAs on Monday. If you have a moment before then, could you look it over and see if anything should be changed?

[2016-10-20 15:51] josephdviviano commented on #813
Got it, nevermind!

[2016-10-20 15:53] DESm1th commented on #760
Ah sorry! I forgot. I'll look at it now.

[2016-10-20 15:54] josephdviviano commented on #760
Looks good to me. Likely too much detail but maybe some people prefer that.

[2016-10-20 15:55] DESm1th commented on #814
I've fixed the code responsible for this, so this shouldn't happen again.

[2016-10-20 15:55] #814 closed

[2016-10-20 15:58] josephdviviano commented on #751
Neither script needed to be changed, I just needed to remove the gold standard dicom files.

[2016-10-20 16:02] navonacalarco commented on #751
Good to know. Thank you. :)

[2016-10-20 18:16] DESm1th commented on #797
The 'new' T1s that were showing up for the first list were actually "SENSE" T1s. These (and the -SENSE DTIs) have been purged from the STOPPD archive, since @edickie says they're just reconstructed images and not useful. The regenerated pages are showing some header differences but it appears to be mostly noise.

[2016-10-20 18:16] #797 closed

[2016-10-20 22:27] #760 closed

[2016-10-24 16:00] djoverton opened #815 "SPINS phantoms exist in ASDD folder"
These should be deleted (and we should figure out how it happened).

[2016-10-24 16:02] djoverton commented on #815
Looks like it's not limited to ASDD actually; one in PNSC, possibly others as well.

[2016-10-24 16:02] navonacalarco commented on #815
I think JDV may have (had?) a practice of adding scans - including phantoms - in XNAT as a sort of initialization / test.

[2016-10-24 16:51] josephdviviano commented on #815
Thanks @navonacalarco but I think this one is a goof.

[2016-10-24 18:40] josephdviviano commented on #815
OK I deleted those mentioned.

[2016-10-24 18:40] #815 closed

[2016-10-25 14:21] edickie opened #816 "xnat-extract may not be parsing complex regex expressions correctly"
Navona and I have been noticing that the more files are being downloaded than what we would expect from the regex expressions we have programmed into the export settings in *_settings.yml.

This is especially a case when a "^" or "$" character is being used in the regex expressions to exclude unwanted scans.

An example is SPINS (MRP) site, where a "$" is being used to exclude processed DTI images

[2016-10-25 16:30] tomwright01 opened #817 "CRON jobs not running"
# Symptoms:

- No log file for overnight run in /archive/logs
- Entry `(*system*data) INSECURE MODE (group/other writable) (/etc/cron.d/data)` shows up in syslog

# Cause:
Cron jobs must be perm 0644 (i.e. not group / other writable)

# Solution:
`chmod 0644 /etc/cron.d/data`

[2016-10-25 16:30] #817 closed

[2016-10-25 17:49] navonacalarco commented on #807
Not sure if this is on the table - but if it is - could we get PowerPoint 2016 on one of those machines?

It would make the favourite part of my job a bit easier. :roll_eyes:

[2016-10-25 17:54] DESm1th commented on #816
For both projects it looks like the current regexs were added after the issue popped up, but the wrongly extracted data just wasn't deleted. I've deleted those outputs, and corrected a small (different) bug with the SPINS MRP regexs.

[2016-10-25 18:26] navonacalarco opened #818 "Nyquist artifact noted by Tech not visible in QC"
The Tech Notes for COGBDY_CMH_27B009_02  note the Nyquist artifact is visible in DTI33-1000 (series 10), but this isn't evident to me in the QC pages.

I'm not sure if this is a result of new QC plots (smaller size), or if this is just chance. However, this is the first time in my memory that the Tech Notes have noted an artifact that is not visible on QC pages.

I'm filing an issue so (i) we can

[2016-10-25 18:34] #812 closed

[2016-10-25 18:36] #808 closed

[2016-10-25 18:38] #790 closed

[2016-10-25 18:43] #789 closed

[2016-10-25 18:52] navonacalarco commented on #813
Done.

[2016-10-25 18:52] #813 closed

[2016-10-25 19:37] navonacalarco commented on #810
Blacklisted/deleted EA1.

[2016-10-25 19:37] #810 closed

[2016-10-25 19:45] josephdviviano opened #819 "write up of QC metrics for tom and dawson"

[2016-10-25 21:02] djoverton opened #820 "Some projects missing QC output files"
- ANDT: 63 subjects in total, presumably all should have 3 output files, but only one has 3 files and 14 have one file (below are the files that exist)

./qc/ANDT_CMH_116_01/ANDT_CMH_116_01_01_DTI60-1000_04_Ax-DTI60plus5-20iso_stats.csv
./qc/ANDT_CMH_116_01/ANDT_CMH_116_01_01_DTI60-1000_04_Ax-DTI60plus5-20iso_spikecount.csv
./qc/ANDT_CMH_116_01/ANDT_CMH_116_01_01_DTI60-1000_04_Ax-DTI60plus5-20iso_

[2016-10-25 21:05] DESm1th commented on #820
This is because ASDD  uses the older style QC pages, which don't have those files. The people in those studies who do have them are pages that I regenerated due to broken images, or data that was added after the original pages were made.

[2016-10-25 21:08] djoverton commented on #820
I didn't actually notice a problem with ASDD; just the ones listed above (ANDT, COGBDO, COGBDY, RTMSWM, VRMD). It's possible ASDD is missing some, but I only listed the ones that looked like "most" of the data was missing.

[2016-10-25 21:10] DESm1th commented on #820
Oh whoops. I meant ANDT. Those studies that are missing those files all use (mostly or entirely) the original style QC pages. The missing files that you're seeing are all outputs from dm-qc-report.py so any qc pages generated before that won't have them.

[2016-10-26 16:26] DESm1th commented on #816
xnat-extract is still exporting the wrong SPINS dti scans for MRP. I _think_ it's because it's not checking sites correctly. Investigating it now.

[2016-10-26 17:59] #819 closed

[2016-10-26 18:36] DESm1th commented on #816
xnat-extract was using both the MRP and MRC site dicts to extract everything in that archive folder. The export info for MRC has been updated with the same regular expressions as MRP to fix this.

[2016-10-27 15:29] edickie opened #821 "blacklist all DTI collected on CMH scanner 2016-10-26 or 2016-10-27"
There is an issue with the scanner effecting the quality of DTI sequences.  All DTI will probably be flagged as unusable in the technotes, but just in case, I am adding this note.

[2016-10-27 15:32] edickie opened #822 "blacklist PRELASPE TXS_38016"
According to the email (forwarded to TIGRLAB) this participant was not tested according to the protocol, and needs to be dropped from the scanning arm of the study...

[2016-10-27 17:36] navonacalarco commented on #821
Based on Scan Completed emails, this will include:

- [ ] PACTMD_CMH_0110044_01_01
- [ ] ASDD_CMH_EF043_01_01
- [ ] PACTMD_CMH_0110043_01_01

Of course, could be others for which survey not completed.

[2016-10-27 18:00] DESm1th commented on #821
Hey Navona,

I can't find that ASDD participant's data anywhere. I manually ran the script to grab new data and add it to xnat etc. but it's still not there or in our archive.

[2016-10-27 18:44] navonacalarco commented on #821
Ah! Ok, maybe it will show up tomorrow. Let's check then.

[2016-10-27 20:46] josephdviviano opened #823 "add DTIPREP to qc pipeline going forward."
Last 3 lines of `*.QCReport.txt` should being with PASS.

[2016-10-27 21:09] sabashahab commented on #823
Hi Joe,

<b>Running DTIPrep </b>

Code: /projects/saba/Useful_Scripts/DTIPrep.sh
Sample output: /projects/saba/SCZsubtype_classification_project/DTIPrep_output/

<b>Working with DTIPrep output</b>

<ul>
<li>After running DTIPrep on all your subjects, you can identify the subjects with a 'FAIL' using this code:
<code>for file in ./*QCReport.txt; do integer="$echo `tail -3 $file | grep -i "FAIL" | w

[2016-10-28 14:50] navonacalarco opened #824 "ASDD scans not making it into our system from MR server"
- [ ] ASDD_CMH_EF043_01_01 - we have 'scan completed', not in XNAT, not on MR server
- [ ] ASDD_CMH_EF042_01_01 - no 'scan completed', not in XNAT, on MR server
- [ ] ASDD_CMH_HEF017_02_01 - we have 'scan completed', not in XNAT, on MR server

[2016-10-28 15:52] DESm1th commented on #776
Issue seems to be resolved, closing this unless anything new pops up.

[2016-10-28 15:52] #776 closed

[2016-10-28 16:04] josephdviviano opened #825 "Move all people out of scratch"
Sync scratch data to either `/projects` or `/archive/alumni` as we prepare the scratch space to be converted into backup space.

[2016-10-28 16:57] navonacalarco opened #826 "Check linking on basis of REDCap 'Scan Completed'"
@DESm1th I noticed that we have our first linked scan as indicated by the Scan Completed emails!

Record 27 indicates that SPINS participant `SPN01_CMH_0104_01_01` is shared with PNS as `PNS_CMH_0027`.

Let's check and make sure everything looks as it should!

[2016-10-28 16:59] DESm1th commented on #826
Hey Navona,

Thanks for letting me know! It's not being run automatically yet so I'll run it manually today and let you know if everything comes out ok.

[2016-10-28 17:15] navonacalarco commented on #824
Update: RA is resubmitting 'scan completed' for ASDD_CMH_EF042_01_01. Must have been an internet connectivity issue as she attempted to. Indicated over email lots of issues with scan.

[2016-10-28 18:43] navonacalarco opened #827 "PACTMD scans not making it into our system from MR server"
Hi guys,

When following up with issue #821 (check the DTI scans closely over the past couple of days), I noticed that there seems to be PACTMD scans that have not made it into our system.

If you compare the 'Scan Completed' survey data (accessible through REDCap) or the files on the MR server with what's in XNAT, you'll see that several participants' data hasn't made it in. (This is also the cas

[2016-10-28 20:29] djoverton commented on #827
Finished QC for the outstanding PACTMD scans.

[2016-10-28 22:27] navonacalarco commented on #827
Great, thanks! Now we should compare the files on the MR server with those in XNAT/our system.

[2016-10-31 14:29] navonacalarco commented on #818
@josephdviviano @edickie @djoverton @tomwright01 @DESm1th

Just wanted to follow up with this - does this matter to us, or is this something we're ok with?

[2016-10-31 14:41] navonacalarco opened #828 "Rename all SPINS MRC scans in XNAT/ file system :raised_hands:"
It's just become evident that SPINS site MPRC has been assigning scan IDs perfectly sequentially, even when those scan IDs do not match with the participant's study ID (due to ineligibility, drop-out, etc).

So, for example, the scan for participant SPN01_MRC_0004 is named in XNAT as SPN01_MRC_0003, because participant SPN01_MRC_0003 did not receive a scan.

This explains why MPRC's imaging data w

[2016-10-31 14:44] navonacalarco commented on #725
Reassigning due to new QC assignments. :)

[2016-10-31 14:45] navonacalarco commented on #375
This was done this week. :dancer:

[2016-10-31 14:45] #375 closed

[2016-10-31 15:09] josephdviviano commented on #818
I'm looking at the raw data now and I don't see much to worry about.

I think our quantitative measures on the dashboard will pick up stuff like this better than the visual QC.

[2016-10-31 15:09] #818 closed

[2016-10-31 15:10] josephdviviano commented on #725
Isn't this done? This was opened 2 months ago. Things would have changed dramatically by now.

[2016-10-31 15:11] josephdviviano opened #829 "give tom gee et all access to DTI on XNAT"

[2016-10-31 15:17] josephdviviano commented on #829
username: indoc

[2016-10-31 15:17] #829 closed

[2016-10-31 15:54] navonacalarco commented on #725
Wasn't done by me. I'd expect there might be new issues, but wouldn't these ones still exist?

[2016-10-31 15:56] edickie commented on #725
I (think) I resolved a bunch of these two weeks ago... but I check over
these today

On Mon, Oct 31, 2016 at 11:54 AM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-10-31 16:36] josephdviviano commented on #725
@edickie thanks -- if you resolve this can you also close the issue so it does not creep back up on us again.

[2016-10-31 17:11] djoverton commented on #820
We learned last week that re-running the dm-qc-report with the "rewrite" argument created the .csv files for sessions that already had an HTML file generated (previously, they were only getting created for sessions that didn't, since the script interpreted them as "new" scans). The missing files have already been created for ANDT, and I am now doing the same for other affected studies.

[2016-10-31 18:00] edickie commented on #816
check PRE01_IWA_04013_01 (pulled in extra resting state and no DTI)
PRE01_IWA_04014_01 (did not pull DTI)

[2016-10-31 18:07] josephdviviano commented on #816
@edickie to be clear, I believe the code itself is parsing the regex expressions properly, they just might not be properly configured in the `settings.yml` file

[2016-10-31 18:21] DESm1th commented on #816
@edickie, your changes to the project_settings should have done the trick. Joe is right, the regex parsing itself is fine so these errors have all just been the result of weird series descriptions not matching (or unexpectedly matching) our settings.

[2016-10-31 19:13] #820 closed

[2016-10-31 19:50] josephdviviano opened #830 "header check should fail gracefully in dm-qc-report.py"
bject SPN01_MRP_0073_01 --rewrite
Traceback (most recent call last):
  File "/archive/code/datman/bin/dm-qc-report.py", line 624, in <module>
    main()
  File "/archive/code/datman/bin/dm-qc-report.py", line 560, in main
    report_name = qc_subject(path, scanid, config)
  File "/archive/code/datman/bin/dm-qc-report.py", line 516, in qc_subject
    add_header_qc(fname, report, headerDiff)
  File

[2016-10-31 19:50] josephdviviano opened #831 "add gold standards for MRP and ZHP in SPINS"

[2016-10-31 19:52] DESm1th commented on #830
I've added a fix for this, but I haven't pushed my local copy yet. I've added a bunch of small bug fixes, but don't want to push until I've finished writing tests to ensure I haven't accidentally broken things in the process.

[2016-10-31 19:52] josephdviviano commented on #830
Well, you win!

[2016-10-31 19:59] josephdviviano commented on #831
Done!

[2016-10-31 19:59] #831 closed

[2016-10-31 20:05] navonacalarco commented on #831
Thank you!

[2016-10-31 21:05] navonacalarco commented on #828
[mprc.txt](https://github.com/TIGRLab/admin/files/562878/mprc.txt)

[2016-10-31 22:05] DESm1th commented on #830
Ok, I pushed my changes to our repo. I'm not finished testing the whole script, so hopefully I didn't bork something else unintentionally. When I ran it just now though, it seemed ok.

[2016-10-31 22:05] #830 closed

[2016-11-01 14:10] tomwright01 commented on #824
sftp to camhpet wasn't connecting correctly. Possibly due to changed server id or possibly due to throttling. Resolved by @josephdviviano
Scans are now in xnat, so correctly linked and uploaded. Xnat-extract seems to have failed.

[2016-11-01 15:16] tomwright01 commented on #824
project configuration scripts point to `/mnt/tigrlab/xnat/...`
`/mnt/tigrlab/xnat/.../` is a backup of `/mnt/xnat/`
cron jobs _failed_ because the backup hadn't completed before the scripts tried to run.

**Solution**
Modify `XNAT_ARCHIVE` path in `*_managment.sh` scripts to point to `/mnt/xnat/...`

**Effects**
`xnat-extract.py` will only run on tigrsrv

[2016-11-01 15:16] #824 closed

[2016-11-01 17:46] sabashahab opened #832 "Preprocessing fMRI scans for 3T data"
@josephdviviano

There are no jobs currently running on the queue and only 5 subjects have non-empty folders inside  /archive/data/DTI3T/pipelines/fmri/rest/. Could you please re-run the preprocessing pipeline or look into why the subjects were not preprocessed? Thank you!!

[2016-11-01 18:13] josephdviviano commented on #832
For the ones that are done do they look complete

Joseph's Phone

On 1 Nov 2016 13:46, "sabashahab" <notifications@github.com> wrote:

[2016-11-01 18:27] sabashahab commented on #832
No - they have most of the files but a few are missing. The SPINS fmri/rest/subID folder has 40 files whereas the DTI3T fmri/rest/subID folder only has 37 files. The two csv files are missing from the 3T dataset.

[2016-11-01 18:55] josephdviviano commented on #832
Looks like they're getting stuck with imitate observe for an unknown
reason... I'll figure that out later, but am running the rest data now

Joseph's Phone

On 1 Nov 2016 14:27, "sabashahab" <notifications@github.com> wrote:

[2016-11-01 19:07] sabashahab commented on #832
Thanks!!

[2016-11-01 22:46] navonacalarco opened #833 "delete SPN01_ZHH_0060_01_0* data after renamed files make it into system"

[2016-11-02 01:03] sabashahab commented on #832
@josephdviviano I noticed that all the jobs you were running on the queue today are all marked as complete. The subject folders in the /archive/data/DTI3T/pipelines/fmri/rest/ directory are all empty though..... there may be another issue that may be unrelated to imob if you ran this one exclusively on the resting state scans.

[2016-11-02 13:39] navonacalarco commented on #821
@DESm1th  Based on Tom's work on #824, the ASDD scans are now in dm-qc-todo.py! If unusable, we should notify PI and RA, in case they want to bring the participant back in.

[2016-11-02 15:11] DESm1th opened #834 "datman's dm-proc-enigma.py may be broken, use with caution"
Erin and I were refactoring and starting to write tests for this script, but it's temporarily being left for more urgent issues. In the meantime it may not actually work, so use with caution (and come bug me if it borks and you need it). I'll close this issue when I have made sure it's functional again.

[2016-11-02 15:24] DESm1th commented on #816
I just checked and the problem for PRELAPSE IWA scans has gone away, so the project_settings appear to be correct now.

[2016-11-02 15:24] #816 closed

[2016-11-02 17:00] josephdviviano commented on #832
@sabashahab confirmed that it is a bug with the resting state pipeline introduced over the last week or so -- are you OK waiting a few days while you work on the analysis of the SPINS data?

Thanks

[2016-11-02 17:12] navonacalarco commented on #827
@djoverton @tomwright01

As mentioned at meeting, just wanted to follow up re:
PACTMD_CMH_0110044_01_01 (6183)
PACTMD_CMH_0110043_01_01 (6181)
PACTMD_CMH_0110036_02_01 (6166)

These are the PACTMD scans collected on the days last week when the DTI was on the fritz.
The good news is these files now exist in our system. though we only have a QC page for PACTMD_CMH_0110043_01_01.

If the FSLview vide

[2016-11-02 17:15] navonacalarco opened #835 "add ZHP patterns to project_settings.yml"
I could have sworn I did this.

But apparently, I did not.

[2016-11-02 18:40] sabashahab commented on #832
Thanks for looking into this. Yes, I can definitely wait a few days! :)

[2016-11-02 19:03] djoverton commented on #827
It appears that PACTMD_CMH_0110044_01_01 (6183) and PACTMD_CMH_0110043_01_01 (6181) do indeed have very severe artifacts. PACTMD_CMH_0110036_02_01 (6166) and PACTMD_CMH_0100024_02_01 (6203) don't appear to be on the filesystem yet, despite existing on the MR server. Will look into why this is.

[2016-11-02 21:13] colinhawco opened #836 "tesla freezing up"
Tesla has been lagging and freezing up a lot. As in, I last clicked soemthing 3 minutes ago, and now it still still not registeing my mouse clicks or respond to any inputs, though the mouse still moves.

I restarted earlier today, and am running very few actual programs at this time, it is jsut completely rozen. And has been laggy as all heck all day.

[2016-11-03 00:00] edickie commented on #834
The version of datman on the scc is quite old (intentionally) so that
dm-proc-enginma and dm-proc-freesurfer are still working the way they have
since July..

Will look more into testing this later this week

On Wed, Nov 2, 2016 at 11:11 AM, DESm1th <notifications@github.com> wrote:

[2016-11-03 15:18] edickie opened #837 "Fix Erin's PRELAPSE mistake :-P"
So when I went to manually split out the repeat DICOMS for PRE01_PCE_RS2022_01_10 (originally in folder PRE01_PCE_S2022_01_02, series 12,13 and14) I screwed up and only uploaded one volume (or slice per subject)..and then I deleted files before realizing this

We need to go recover the files from the XNAT DELETED folder.. Then start a new :-(

[2016-11-03 21:12] josephdviviano commented on #837
Hey Erin, check these out:

[code]

[2016-11-03 22:28] edickie commented on #837
All fixed!! Woot!

[2016-11-03 22:28] #837 closed

[2016-11-04 19:57] josephdviviano commented on #698
Crick F5T56V1
Penfield F3BGZQ1
Davinci 3MZ2JS1
Talairach F39TZQ1
Cajal F3BHZQ1
Mansfield 3MZ3JS1
Kandel F5SC6V1
Milner F3BKZQ1
Nissl ? ??

[2016-11-04 20:29] josephdviviano commented on #836
I think this might be a MATLAB memory leak.

Next time the computer is misbehaving, try closing matlab completely (save your work) wait a few minutes, and see if the problem persists.

[2016-11-04 20:39] colinhawco commented on #836
I actually restarted the system earlier that day. In the last case, where I
posted this, the whole machine froze up for a prolonged period.

But i'll keep that in mind : )

On 4 November 2016 at 16:30, Joseph Viviano <notifications@github.com>
wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www.neuranalysis.com

[2016-11-04 20:45] josephdviviano commented on #777
This is resolved.

[2016-11-04 20:45] #777 closed

[2016-11-04 20:46] josephdviviano commented on #765
This is essentially done.

[2016-11-04 20:46] #765 closed

[2016-11-04 20:47] josephdviviano commented on #836
Yes but if you restarted the machine we dont know if the fix was MATLAB or something else, right?

[2016-11-04 21:18] #545 closed

[2016-11-04 21:27] josephdviviano opened #838 "flip spirals in DTI3T"
list here: /archive/data/DTI3T/metadata/spirals_to_flip.txt

need code from colin

[2016-11-04 21:38] colinhawco commented on #836
Yeah, I see what you mean, but I think i was unclear. It was laggy, I
restarted, and then it was laggy again after 30 or 40 minutes, and then it
froze up.

So restarting didn't actually fix it. Though of course I restarted matlab
as soon as I restarted the machine, so it could have been that, maybe...

On 4 November 2016 at 16:47, Joseph Viviano <notifications@github.com>
wrote:

--
Colin Hawco, P

[2016-11-07 15:46] josephdviviano commented on #838
# removes orientation information
    fslorient -deleteorient sprl.nii

    # performs a left-right swap
    fslswapdim sprl.nii -x -y  z sprl_swap.nii

    # resets the header to match (double check this)
    fslorient -setqformcode 1 sprl_swap.nii

[2016-11-07 15:46] navonacalarco opened #839 "QC page SPN01_MRP_0071_01 not generating images"
deleted; will see what happens tomorrow

[2016-11-07 16:01] navonacalarco opened #840 "QC page COGBDO_CMH_27B022_01 not generating images"
- deleted all pages, will see what happens tomorrow.

[2016-11-07 17:28] navonacalarco opened #841 "PASD01 QC pages are missing certain scan acquisitions"
Met with Avi, noticed that we don't have all expected scans on QC page - need to update.

[2016-11-07 17:33] navonacalarco opened #842 "Reset Avi XNAT password"

[2016-11-07 18:05] josephdviviano commented on #838
All done.

See `/archive/data-2.0/DTI3T/metadata/spirals_to_flip.txt` and  `/mnt/tigrlab/archive/data-2.0/DTI3T/bin/flip_spirals.sh`

[2016-11-07 18:05] #838 closed

[2016-11-07 18:19] navonacalarco commented on #804
Added to report with Dr. Buchanan and Miklos, to be sent out this week.

[2016-11-07 18:19] #804 closed

[2016-11-07 18:20] navonacalarco commented on #827
@djoverton Just following up - has everyone been contacted about this, that needs to be?

[2016-11-07 18:21] navonacalarco commented on #821
@DESm1th Just following up - has everyone been contacted about this, that needs to be?

[2016-11-07 18:39] navonacalarco commented on #835
Done, I think:

ZHP:
      XNAT_Archive: '/mnt/xnat/spred/archive/SPN02/arc001'
      ExportInfo:
         T1:              { Pattern: 'MPRAGE',      Count: 1}
         RST:            { Pattern: 'Resting',     Count: 1}
         OBS:           { Pattern: 'Observ',      Count: 1}
         IMI:             { Pattern: 'Imitat',      Count: 1}
         EMP:           { Pattern: 'EA',          Count:

[2016-11-07 18:39] #835 closed

[2016-11-07 18:49] navonacalarco commented on #842
@josephdviviano Need your help with this one.

This is Avi's user name as displayed by tigrlab:

![a](https://cloud.githubusercontent.com/assets/13733654/20071005/b8f5c784-a4f0-11e6-90fe-239de3d185a1.png)

But, when she tries to reset her password (which doesn't work) here:

![1](https://cloud.githubusercontent.com/assets/13733654/20071030/d52f5294-a4f0-11e6-9f4a-e518dc59f461.png)

We see:

![2](h

[2016-11-07 18:57] navonacalarco commented on #833
Done.

[2016-11-07 18:57] #833 closed

[2016-11-07 19:40] josephdviviano commented on #842
Check your email

[2016-11-07 22:15] djoverton commented on #827
Hi Navona, sorry, yes -- I checked the two remaining scans that weren't on our system last week (they were both also unusable), and have notified Aristotle and Benoit.

[2016-11-07 22:15] #827 closed

[2016-11-07 22:16] navonacalarco commented on #827
Thank you very much! :D
________________________________
From: Dawson Overton [notifications@github.com]
Sent: November 7, 2016 5:15 PM
To: TIGRLab/admin
Cc: Navona Calarco; Author
Subject: Re: [TIGRLab/admin] PACTMD scans not making it into our system from MR server (#827)

Closed #827<https://github.com/TIGRLab/admin/issues/827>.

—
You are receiving this because you authored the thread.
Reply t

[2016-11-08 15:52] DESm1th opened #843 "SPINS project_settings generating errors in 2016-11-08-run.log"
The yaml file is not readable and causing pipeline crashes. Fixing this now.

[2016-11-08 15:52] navonacalarco commented on #842
Thanks

[2016-11-08 15:52] #842 closed

[2016-11-08 15:53] DESm1th commented on #843
This is now fixed. It was just a site code with the wrong indentation.

[2016-11-08 15:53] #843 closed

[2016-11-08 15:54] navonacalarco opened #844 "fix Rachael and Lee write access to metadata folder (DBDC ASDD)"
DBDC ASDD for RL, DBDC for LP

[2016-11-08 16:47] josephdviviano commented on #832
Note to self -- also run on STOPPD spirals for Nick.

[2016-11-08 16:49] josephdviviano commented on #788
Email sent to John Chowlea

[2016-11-08 16:49] #769 closed

[2016-11-08 16:50] josephdviviano commented on #725
@edickie I'm assuming this is done. Let's try to keep the issues clean...

[2016-11-08 16:50] #725 closed

[2016-11-08 17:12] josephdviviano commented on #698
Quote requested for the a small dollar value (< 10000) and a second at full value (21000), will depend on how flexible finance is with bid waiver.

[2016-11-08 18:01] tomwright01 commented on #844
TLDR; Moving QC processing to web interface will solve this problem

Solving this with file systems permissions is not simple, it would involve
- creating a group for each project e.g. RA_DBDC
- adding the kimel-data group to the new groups
- adding Rachael and Lee to the relevant new group
- giving group ownership on checklist.csv and blacklist.csv to the new group

Alternately the web interface

[2016-11-08 18:07] navonacalarco commented on #844
OK, thanks. Let's leave open for now so we remember that all external people (without kimel_data) can't actually sign off on QC.

[2016-11-08 18:13] josephdviviano commented on #788
We have the ZHH data, see `SPN01_ZHH_0057_01_02` in XNAT.

[2016-11-08 18:13] #788 closed

[2016-11-08 18:33] navonacalarco commented on #826
One addition: turns out that SPN01_CMH_0104_01_01 (exam 6188) was scanned on the day there was something wrong with DTI. So, the participant was brought back in as SPN01_CMH_0104_01_02(exam 6225) to redo DTI.

Thus, data from exam 6225 will also need to be brought over to PNS_CMH_0027.

[2016-11-08 18:34] josephdviviano commented on #832
Hey Saba -- should be there. Some subject aren't making it through, which I'm looking at, but you should be able to begin the analysis.

[2016-11-08 18:34] #832 closed

[2016-11-08 18:35] josephdviviano commented on #712
Let's close this and open issues about specific things as they arise.

[2016-11-08 18:35] #712 closed

[2016-11-08 18:36] josephdviviano commented on #750
We're playing with the idea of using a distributed filesystem (so backup is effectively 60TB). Some info here: https://hal.archives-ouvertes.fr/file/index/docid/789086/filename/a_survey_of_dfs.pdf

[2016-11-08 19:46] josephdviviano commented on #750
A simple alternative is [mhddfs](https://romanrm.net/mhddfs)

[2016-11-09 02:06] navonacalarco opened #845 "DTI3T checklist.csv is lit"
![screen shot 2016-11-08 at 8 56 07 pm](https://cloud.githubusercontent.com/assets/13733654/20124751/cbc620e6-a5f6-11e6-9988-1ac9ea16636d.png)
![imgres](https://cloud.githubusercontent.com/assets/13733654/20124793/12a45eec-a5f7-11e6-8693-cbd18880efa9.jpg)

[2016-11-09 02:08] DESm1th commented on #845
Yeaaaah. There's a lot of duplication in most of the checklist.csv files right now because there was a second (hidden) bug in dm-qc-report.py that meant my previous fix didn't completely solve the problem! I've fixed it in my copy (for realsies this time)... I should really hurry up and merge it and clean that up.. sorry D:

[2016-11-09 02:42] josephdviviano commented on #845
Protip: you can delete duplicate lines from text files via

`cat filename.txt | uniq > newfilename.txt`

[2016-11-09 03:57] navonacalarco commented on #845
Thanks both!

[2016-11-09 03:57] #845 closed

[2016-11-09 19:38] #836 closed

[2016-11-09 19:41] josephdviviano opened #846 "make the xnat upload tool available to our users"
software here:

`/projects/admin/software/xnat_upload_tool`

I think this will be easier for our less capable users to upload data without mistakes using this tool.

We need:

+ brief documentation on how to download, install, and use
+ to send out a message to all sites about this new option (might be best to use the XNAT built in email system).

[2016-11-09 19:42] josephdviviano commented on #807
@djoverton can you please figure out how to buy this software, and buy it.

[2016-11-10 15:55] djoverton commented on #752
Just checking in; this is not relevant anymore, correct? Or do you still want these plots on individual pages?

[2016-11-10 15:59] josephdviviano commented on #752
Hey Dawson, I think this is still relevant -- @edickie finds them useful when trying to blacklist participants. Would you like to take this on?

[2016-11-10 18:30] djoverton commented on #752
Sure.

[2016-11-10 18:47] josephdviviano commented on #698
We can't extend these warranties beyond what they have already be covered under (unsuprisingly). We can't spend that line item from the CFI.

[2016-11-10 18:47] #698 closed

[2016-11-10 18:50] josephdviviano commented on #825
/external/dbgap/GenADA/44718/ is I think a copy of (or a more complete version of) /external/dbgap/GenADA/44717/ and can be deleted

/scratch/tina_r/ROSMAP/RNA-seq/ can be moved inside /external/RADC_PR960/

/scratch/tina_r/ROSMAP/2015/imaging/ can be moved inside /external/RADC_PR960/metadata/

/scratch/tina_r/ROSMAP/2015/inflam_biomk/ can be moved inside /external/RADC_PR960/metadata/

/external

[2016-11-10 18:51] djoverton commented on #541
Can I close this?

[2016-11-10 18:53] josephdviviano commented on #541
@edickie you are still leaving issues open ...

[2016-11-10 19:05] djoverton commented on #841
Just to clarify, this seems to only be the case with some pages (e.g., PASD_CMH_PASD4_01 looks fine). I will re-run dm-qc-report.py.

[2016-11-10 19:11] DESm1th commented on #826
Ok, it's a bit late but I've gotten everything running correctly. It's still not being run automatically but it's ready to be whenever we want to start running it regularly.

[2016-11-10 19:26] djoverton commented on #841
Dawn is fixing a couple of bugs with dm-qc-report.py before this can be done, but looking at the pages a bit more closely it doesn't look like a page generation error, we're missing the data for those scans.

[2016-11-10 19:32] djoverton commented on #807
Hey Saba, any particular reason you need to use Office 2016, or will the older versions of Office on the CAMH machines suffice?

[2016-11-10 19:34] navonacalarco commented on #807
I think I was the one that requested Powerpoint 2016 because it can do cool things more easily - but if it's not possible, that's ok.

[2016-11-10 20:17] DESm1th commented on #841
I've rewritten all the QC pages so if anything is still missing as Dawson said it's missing data.

[2016-11-10 20:36] DESm1th commented on #840
The page seems fine now.

[2016-11-10 20:36] #840 closed

[2016-11-10 20:52] sabashahab commented on #807
I'm fine with older versions. I just need MS Word for writing papers.

[2016-11-10 22:04] tomwright01 opened #847 "PACTMD uploads to xnat failing"
zip archives for:
PACTMD_CMH_3070047_01_01.zip
PACTMD_CMH_0100029_02_01.zip

fail to upload with error: Upload included files for multiple imaging sessions.

[2016-11-10 22:06] josephdviviano commented on #847
If these came from the MRI FTP server directly it mean's they have done some surgery downstairs. Is that so?

[2016-11-10 22:48] josephdviviano opened #848 "blacklist one of the spirals for DTI_CMH_S157_01"

[2016-11-10 23:46] edickie commented on #541
another email sent 3 days ago...this is not yet resolved

On Thu, Nov 10, 2016 at 1:53 PM, Joseph Viviano <notifications@github.com>
wrote:

[2016-11-11 20:51] #807 closed

[2016-11-11 21:10] josephdviviano opened #849 "SPN01_CMH_0017_01_01 all data is not being exported"

[2016-11-11 21:13] josephdviviano opened #850 "SPN01_ZHH_0055_01 NO data exported"

[2016-11-11 21:26] josephdviviano opened #851 "SPN01_ZHH_0023_01 check IMI/OBS in XNAT"

[2016-11-11 21:55] josephdviviano opened #852 "DTI_CMH_H149_01_01 missing data"

[2016-11-11 21:55] josephdviviano opened #853 "DTI_CMH_H152_01 missing data"

[2016-11-11 21:56] josephdviviano opened #854 "DTI_CMH_H146_01 missing data"

[2016-11-11 22:21] navonacalarco opened #855 "Burn SPN01_CMH_0101 MR CD"
Not yet upload to XNAT.

[2016-11-11 22:41] navonacalarco commented on #828
Emailed MPRC about SPN01_MRC_0002_01_01 and SPN01_MRC_0018_01_01 : scans that exist in XNAT, but do not have a corresponding clinical ID indicated by 'mri_subject_id' REDCap variable.

[2016-11-11 22:42] navonacalarco commented on #841
Thanks Dawn and Dawson.

@avidehg, things should be good to go. Can you take a look?

[2016-11-11 22:42] #841 closed

[2016-11-14 15:14] navonacalarco commented on #821
This is done.

[2016-11-14 15:14] #821 closed

[2016-11-14 15:17] navonacalarco commented on #826
@DESm1th Not sure if this should be a separate issue or not, but the PNS QC pages (i) don't have images, and (ii) indicate every scan is repeated.

Not urgent, but when you have time, could you please take a look?

e.g.
/archive/data-2.0/PNSC/qc/PNS_CMH_0027_01/qc_PNS_CMH_0027_01.html

[2016-11-14 15:47] colinhawco opened #856 "can't remote in to tesla"
I can't remote into tesla (172.26.216.79) but was able to remote into golgio (172.26.216.80)

tesla refuses my password.

[2016-11-14 15:50] DESm1th commented on #856
Hey Colin,

I just Tesla. It's up and running (you're still logged in with everything open). I switched over to my account and was able to log in as well. Maybe try again? If that doesn't work I can restart it if you're ok with everything you had open being closed.

[2016-11-14 15:53] colinhawco commented on #856
Still refuses me.

Maybe check it still has port 22 open?

I think I will be over tomorrow, and this issue only affects me. I am on
golgi so everything is fine. So don't restart, if I still can't remote in I
can restart it tomorrow.

On 14 November 2016 at 10:50, DESm1th <notifications@github.com> wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www

[2016-11-14 15:54] DESm1th commented on #856
Ok! Just please switch to bulbasaur (172.26.216.83) if you have to do anything super computationally intensive since I'm on Golgi and bulbasaur is completely unused, haha.

[2016-11-14 16:12] josephdviviano commented on #826
@navonacalarco can you just check the NIFTI data on the filesystem? Do we have 2 of every scan?

The image generation would be unrelated to the repeat scan issue.

[2016-11-14 16:14] DESm1th commented on #826
It was a bug in dm-link-project-scans.py that was causing the file extension in the links to be reversed and then slicer was crashing. I've fixed that bug and I'm running the link script now to double check that everything is working, and that the slicer crash wasnt a separate issue.

[2016-11-14 16:37] #855 closed

[2016-11-14 16:39] navonacalarco opened #857 "SCC runall_pipelines_scc.sh requires a password for each study"
Not sure if this is an issue or not, because I'm not entirely familiar with how the process worked before.

However, I seem to remember that once the run_pipelines_scc.sh pipeline script was initiated, it would run through each study in sequence.

Now, it stops and asks for a password after each study is completed. For e.g., after running the script, I'm asked for a password for ANDT, and then ASD

[2016-11-14 16:40] josephdviviano commented on #857
Are you running this script on the SCC?

[2016-11-14 16:47] navonacalarco commented on #857
Yes

[2016-11-14 16:51] josephdviviano commented on #857
Which line in the script is prompting you for a password? There should be no SSHing involved.

Unless @edickie added in a feature that copies logs between machines. This will only work if you have ssh-keys between the login node and all of the dev nodes.

[2016-11-14 16:51] edickie commented on #857
oh this makes sense, Tom changed runall_pipelines_scc.sh so that it is
intended to be run from tigrsrv...It now does an ssh to the scc for each
project

On Mon, Nov 14, 2016 at 11:47 AM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-11-14 16:51] colinhawco commented on #856
I forgot golgi was you! I started a data transfer, should be done in a few
minutes. Hopefully didn't affect you much. I'll switch after.

[2016-11-14 16:52] edickie commented on #857
we added this so that runall_pipelines_scc.sh could be added to the crontab
on tigrsrv

On Mon, Nov 14, 2016 at 11:51 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-11-14 16:54] josephdviviano commented on #856
Hey colin,

I can ssh in from outside CAMH to tesla and switch user to you, so there's nothing wrong. There are also no firewall rules blocking you (I'm pretty sure we don't have fail2ban running on the workstations but I wanted to be sure). I suspect you are typing your password wrong.

[2016-11-14 16:59] colinhawco commented on #856
I've tried like 10 times with no luck (refuses password), meanwhile I have
no issues getting into Golgi and Milner first attempt. It's not my fat
fingers. Something else is going on.

I can restart tomorrow and see if that fixes it.

On 14 November 2016 at 11:54, Joseph Viviano <notifications@github.com>
wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consult

[2016-11-14 17:12] navonacalarco commented on #857
OK great. Just in case this is relevant to anyone else (and for a record for myself):

1. It will soon be the case that the overnight pipelines are run automatically - won't be a need to push off manually
2. If we need to run for a particular study before the automatic overnight pipelines, do so from the given study's **bin** folder, from the SCC

Thanks all!

[2016-11-14 17:12] #857 closed

[2016-11-14 17:14] josephdviviano commented on #856
Can you please post the error you get? We can't help you at all without an error (as usual)

[2016-11-14 17:15] djoverton commented on #752
After speaking with @edickie about this, she felt that simply displaying Scanlength on the QC pages would allow easy spotting of truncated scans and would be about as useful as an FD plot. I added this to the individual QC pages and am closing this issue for now.

[2016-11-14 17:15] #752 closed

[2016-11-14 17:20] colinhawco commented on #856
Too many authentication failures for colin

After allowing me the standard 3 paswrod atempts under windows SSH.

if I try putty it is a bit different:

Using username "colin".
Server refused our key
colin@172.26.216.79's password:
Access denied

On 14 November 2016 at 12:14, Joseph Viviano <notifications@github.com>
wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis

[2016-11-14 17:24] colinhawco commented on #856
I just want to reiterate I can log into to other machines, and this isn't a
critical issue,. so kindly don't restart tesla today.

If we want to restart i can do it tomorrow.

On 14 November 2016 at 12:20, Colin Hawco <colin.hawco@gmail.com> wrote:

--
Colin Hawco, PhD
Neuranalysis Consulting
Neuroimaging Research Analysis and Consulting
www.neuranalysis.com

[2016-11-14 17:41] josephdviviano commented on #856
restarting the machine won't help. authentication is handled by an outside machine. You must have 'fat fingered' 3 times successively, which is why you are locked out. If they have things set up properly upstairs this should get reset after a certain number of hours, you might be OK tomorrow.

the putty error is unrelated. Do you have SSH keys configured on it?

[2016-11-14 17:42] colinhawco commented on #856
At some point I had a key on putty as this was needed to log in.

I'll try Tesla again tomorrow and we will see what happens.

On Nov 14, 2016 12:41 PM, "Joseph Viviano" <notifications@github.com> wrote:

[2016-11-14 17:50] josephdviviano commented on #752
Nice, I agree that this is the better solution. I think looking at the FD plots on a single-subject basis can be misleading, and has led to problems in the past.

[2016-11-14 18:06] navonacalarco opened #858 "write standard README for all burned MR CDs (for radiologists/ physicians)"
@josephdviviano I can do this! Just wondering if anything is in existence/ if there's anything you think needs to be included

[2016-11-14 18:31] DESm1th commented on #826
Just as an update: this specific bug with the broken extensions is now fixed, but Tom's change to the config files has temporarily broken qc-report and nearly everything else so I can't regenerate the page to confirm the issue is closed. I'll check the page tomorrow (if qc-report is working again) and see if things are resolved.

[2016-11-14 21:51] navonacalarco opened #859 "SPINS phantom IDs"
At all sites:
1. AV
2. Miklos
3. Bob

Does this need to go anywhere other than metadata/human-phantom-IDs.csv?

[2016-11-15 02:36] josephdviviano commented on #859
No that should be enough

[2016-11-15 17:09] josephdviviano commented on #858
Hi @navonacalarco what might be useful would be to include a folder with DICOM viewer tools for windows and mac on the CDs as well as a basic readme on how to install them. Most radiologists should know how to do this but we've had one or two questionable back-and-forths with radiologists who don't know how to open dicom files (actually).

[2016-11-15 17:11] josephdviviano commented on #784
Why would someone blacklist an entire subject?

[2016-11-15 18:20] djoverton opened #860 "Possible exclusion of PACTMD_CMH_0110043_01"

[2016-11-15 21:15] #856 closed

[2016-11-16 00:10] navonacalarco commented on #859
OK great. Going to leave this open until we actually have the scans.

At the moment, XNAT has

CAMH
SPN01_CMH_P001_03_01  AV
SPN01_CMH_P002_03_01  Miklos
SPN01_CMH_P003_03_01  Bob

MRC
SPN01_MRP_P001_03_01     AV
SPN01_MRP_P003_03_01     Bob
SPN01_MRP_P003_03_02     Bob
SPN01_MRP_P005_01_01    Miklos??

ZHH
upload not yet present

[2016-11-16 00:11] navonacalarco commented on #858
Ok will do. Thanks!

[2016-11-16 00:19] navonacalarco opened #861 "burn CD PNS_CMH_0006"
P also wants printed images

[2016-11-16 01:13] navonacalarco commented on #828
Got a response from MPRC RA today, but question was misunderstood - should hear back soon.

[2016-11-16 15:15] avidehg commented on #841
Hi all, thank you so much for working on this. Would appreciate it if you would please look into the following issues regarding "PASD_CMH_PASD9_01_01":

- DTI 1000 not brought in to QC page
- DTI 3000 not brought in to QC page
- ASL not brought in to QC page
- Amygdala images missing
- DTI 60+5 (2.0) images missing
- PDT2_08_OblAxT2-DEfseXL.nii.gz, will you please clarify whether this is a PD or T

[2016-11-16 15:45] navonacalarco commented on #861
Done

[2016-11-16 15:45] #861 closed

[2016-11-16 15:54] navonacalarco commented on #860
Hey @djoverton

What you did looks right to me!

Two things that I would add: (i) in addition to indicating the scan name of problematic scans, indicate the associated series number (to eliminate any confusion about which acquisition you're talking about), and (ii) indicate that the artifacts are the result of motion (and possibly the type of motion as indicate on Tech Notes; hand, legs, and cough

[2016-11-16 16:28] djoverton commented on #860
Thanks; added these details to the checklist, and will not be excluding this scan.

[2016-11-16 16:28] #860 closed

[2016-11-16 17:40] josephdviviano commented on #859
@navonacalarco what do I need to do?

[2016-11-16 18:23] navonacalarco commented on #859
Nothing - just assigned to you and me so we don't let this one slip. AV asked on the call to let us know when the uploads are done / clarify the naming, and I bet that the Techs will email you.

[2016-11-16 18:27] josephdviviano commented on #859
Great! After we get everything in I can take care of the analysis with you

JDV

On Wed, Nov 16, 2016 at 1:23 PM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-11-16 19:35] djoverton opened #862 "Create GitHub issue from Dashboard session page"

[2016-11-16 22:07] DESm1th commented on #841
Hey Avi,

The missing DTI33-1000, DTI33-3000, ASL, and PD were all due to issues in the export info which has now been corrected. I made sure all the data has downloaded correctly so this shouldn't be a problem again (but let me know if there are further problems!)

The missing Amygdala image was due to a missing handler for the tag 'TRG' in dm-qc-report, this is fixed now.

The DTI60+5 (2.0) does

[2016-11-16 22:46] navonacalarco commented on #841
Awesome! Thanks Dawn. :)

[2016-11-17 16:21] clevisboxx opened #863 "Test issue"
This is a test issue

[2016-11-17 16:27] navonacalarco opened #864 "PNS not bring in T2 - look at regex"

[2016-11-17 16:32] #864 closed

[2016-11-17 16:37] #863 closed

[2016-11-17 16:37] navonacalarco opened #865 "T1 header differences on new PNS scans"
![screen shot 2016-11-17 at 11 36 10 am](https://cloud.githubusercontent.com/assets/13733654/20398120/1173581a-acba-11e6-83cb-b6e68d960a7b.png)

investigate importance, effects Ps 23 and 25.

[2016-11-17 16:44] josephdviviano commented on #865
Hey @navonacalarco -- these look meaningful, good catch. I wouldn't blacklist these scans (they aren't different enough to really impact the data), but the MRI techs should fix these issues.

[2016-11-17 16:44] navonacalarco opened #866 "MPR/ZHP causing problems for SPINS checklist.csv?"
Hey guys,

I'm not exactly sure what leads to "no checklist entry" (other than deleted qc pages before re-run), but I noticed that there's 3 such entries on dm-qc-todo.py for SPINS, and all are for the new SPINS site codes MRP or ZHP:

No checklist entry for /archive/data-2.0/SPINS/data/nii/SPN01_MRP_P001_03
No checklist entry for /archive/data-2.0/SPINS/data/nii/SPN01_MRP_P005_01
No checklist ent

[2016-11-17 16:46] DESm1th commented on #866
I've been keeping an eye on this, because there's quite a few scans that just occasionally get ignored by qc-report and I'm not sure why. I'll manually generate them all today and let you know if I figure this one out..

[2016-11-17 17:24] DESm1th commented on #866
I've finished manually generating the pages. There weren't any errors or crashes when run manually so there appears to be no issue here.

I suspect that all the missed subjects are just being missed because the pipeline is crashing for other reasons before it gets to them, since there have been so many changes to datman lately, but all the same I'll keep an eye on things.

[2016-11-17 17:24] #866 closed

[2016-11-17 20:18] edickie opened #867 "STOPPD acute phase scan tags not being recongized"
STOPPD_NKI_110034_00_01 apparently has no series descriptions in the DICOM headers??

For this reason it has not been pulled into our system.

We might need to manually do it?

[2016-11-17 22:00] DESm1th commented on #826
Ok I finally had a chance to regenerate the page. The images are all there now and the 'repeated scan' messages are because this person was one of the ones who had to come back for a second session.

[2016-11-17 22:00] #826 closed

[2016-11-18 13:47] avidehg commented on #841
Dear Dawn,

Thank you so much for your help. Will you please also look into why:

-  DTI 1000 not brought in to QC page?
- DTI 3000 not brought in to QC page?

And also, only the image for DTI60+5 (2.0) is missing.....

Thanks so much!

[2016-11-18 15:58] edickie opened #868 "discuss final voxel size for fMRI outputs"
@josephdviviano I noticed that the voxel sizes of the fMRI pipeline outputs are different for RST and SPRL outputs from STOPPD.

For the current pilot analysis, Nick's pooling the acute phase scans across the 4 sites, so we need the same voxel sizes for both.

For now, I think I will rerun the last steps of the pipeline (after filtered..for only the STOPPD SPRL, with eh RST voxel size, into a sepa

[2016-11-18 16:01] DESm1th commented on #841
Hi Avi,

Ah! I see what you mean about the DTI60+5 (2.0) missing now. I was looking at the table, so I didn't notice the image itself was gone. This was another missing handler in dm-qc-report which I've added in, so this should be fixed now.

I can't figure out what you mean about the DTI 1000 and 3000 though. When I open the page they're both on the table at the top of the page, and they both ha

[2016-11-18 16:02] josephdviviano commented on #868
Hi Edickie, you could just resampling the data post analysis. Look at
'3dResample'

We could reslice everything to the same resolution as well, it just
increases our multiple comparisons problem in cases where we don't care
about combining data. Typically you want to keep your data as close to
native resolution as possible to mitigate multiple comparisons problems and
reduce the autocorrelation of

[2016-11-18 17:36] edickie commented on #867
So as a (maybe hack?) fix.. I download and converted this subject manually

I also updated the "type" feild in xnat, but Series Description is still blank

Here's the commands I used for manually conversion and renaming
[code]

[2016-11-18 17:36] #867 closed

[2016-11-18 19:23] clevisboxx opened #869 "test2"
test2

[2016-11-18 19:26] #869 closed

[2016-11-18 19:27] clevisboxx opened #870 "SPN01_ZHH_PHA_FBN0037"
test3

[2016-11-18 19:28] clevisboxx opened #871 "SPN01_ZHH_PHA_FBN0037 with spaces"
test4 test4 test4

[2016-11-18 19:28] #871 closed

[2016-11-18 19:28] #870 closed

[2016-11-18 20:37] djoverton opened #872 "SPN01_MRC_0036_01"
test2

[2016-11-18 20:38] #872 closed

[2016-11-18 20:47] tomwright01 opened #873 "COGBDO_CMH_216921_01"
testing

[2016-11-18 20:47] #873 closed

[2016-11-18 20:49] tomwright01 opened #874 "ANDT_CMH_110_01_01"
testing

[2016-11-18 20:50] tomwright01 opened #875 "ANDT_CMH_110_01_01"
testing2

[2016-11-18 20:54] tomwright01 opened #876 "ANDT_CMH_110_01_01"
testing2

[2016-11-18 20:54] tomwright01 opened #877 "ANDT_CMH_110_01_01"
testing2

[2016-11-18 20:54] tomwright01 opened #878 "ANDT_CMH_110_01"
testing3

[2016-11-18 20:56] tomwright01 opened #879 "ANDT_CMH_406_01"
testing4

[2016-11-18 21:13] tomwright01 opened #880 "ANDT_CMH_406_01"
testing4

[2016-11-18 21:13] tomwright01 opened #881 "ANDT_CMH_406_01"
testing4

[2016-11-18 21:14] tomwright01 opened #882 "ANDT_CMH_406_01"
testing4

[2016-11-18 21:15] tomwright01 opened #883 "ANDT_CMH_406_01"
testing4

[2016-11-18 21:16] tomwright01 opened #884 "ANDT_CMH_406_01"
testing4

[2016-11-18 21:19] #862 closed

[2016-11-18 21:22] #874 closed

[2016-11-18 21:22] #875 closed

[2016-11-18 21:22] #876 closed

[2016-11-18 21:22] #877 closed

[2016-11-18 21:22] #878 closed

[2016-11-18 21:22] #879 closed

[2016-11-18 21:22] #880 closed

[2016-11-18 21:22] #881 closed

[2016-11-18 21:22] #882 closed

[2016-11-18 21:22] #883 closed

[2016-11-18 21:22] #884 closed

[2016-11-18 21:27] navonacalarco opened #885 "take the keyboard away from robo-Tom :p"
![screen shot 2016-11-18 at 4 26 12 pm](https://cloud.githubusercontent.com/assets/13733654/20447253/de771684-adab-11e6-849f-2b59c7dee679.png)

[2016-11-18 21:30] djoverton commented on #885
#wontfix

[2016-11-18 21:32] tomwright01 commented on #885
ur no fun!!!

[2016-11-18 21:45] tomwright01 opened #886 "ANDT_CMH_406_01"
test

[2016-11-18 21:45] #886 closed

[2016-11-18 21:45] josephdviviano commented on #885
but what will I read?

[2016-11-18 21:56] navonacalarco commented on #885
hahahahah

[2016-11-18 21:56] #885 closed

[2016-11-18 22:00] djoverton opened #887 "SPN01_CMH_0030_01"
test

[2016-11-18 22:00] #887 closed

[2016-11-19 03:51] josephdviviano opened #888 "blacklist fMRI scand (and delete outputs)"
The following scans are the wrong length:

[code]

[2016-11-19 04:02] josephdviviano commented on #888
done.

[2016-11-19 04:02] #888 closed

[2016-11-21 03:03] navonacalarco commented on #828
Ok, we have some updates. In short, one of our questions is resolved, the other still outstanding:

(1)
CAMH Q: Clinical ID SPN01_MRC_0019 is indicated as MRI ID SPN01_MRC_0018_01_01. But, we don't have a record for SPN01_MRC_0018_01_01 in the XNAT database. So, we need to track down the SPN01_MRC_0018_01_01 scan. Is it possible it wasn't uploaded?

**MPRC A: SPN01_MRC_0018_01_01 is legitimately m

[2016-11-21 03:13] navonacalarco opened #889 "Followup midweek with Miklos' SPINS scans"
- Peter to upload early in week.

- Ensure we have 1 SPINS scan on the old GE scanner (2/12/2015), and 2 on the new Siemens Prisma (9/30 and 10/31). So, there should be 1 '_ZHH_' and '2 _ZHP_'.

- Ensure incorrect scans deleted.

[2016-11-21 15:30] navonacalarco opened #890 "rename SPINS ZHH EA tasks from 1-3 (instead of n +1 +1)?"
Right now, the number in the file name reflects series. It would be much better if, like CMH and MRC, the number in the file name was 1-3. It's a bit of a nuisance.

Do you guys agree this is worth doing?

If so, perhaps we can use API after JDV figures it out for the SPINS MPRC renaming - should be a similar process, I think.

[2016-11-21 15:52] josephdviviano commented on #890
@navonacalarco no this isn't worth doing. None of the scripts that analyse these data rely on those numbers.

[2016-11-21 16:10] navonacalarco commented on #890
Ok!

[2016-11-21 16:10] #890 closed

[2016-11-21 19:03] djoverton opened #891 "+encodeURIComponent(issTitle)+"
+encodeURIComponent(issBody)+

[2016-11-21 19:04] #891 closed

[2016-11-21 19:08] clevisboxx opened #892 "PASD_CMH_PASD5_01"
test

[2016-11-21 19:21] #892 closed

[2016-11-21 22:28] josephdviviano opened #893 "fmri pipelines should be export func_scaled as well as func_filtered and func_mni-nonlin"

[2016-11-22 16:44] #893 closed

[2016-11-23 16:38] josephdviviano opened #894 "SPIN01_CMH_PHA_FBN005"
blahblah

[2016-11-23 16:39] #894 closed

[2016-11-23 19:25] josephdviviano commented on #868
OK -- ED convinced me and all scans are being re-run to be output at 3mm^3.

[2016-11-23 19:25] #868 closed

[2016-11-23 19:52] josephdviviano commented on #540
Moved to private repo.

[2016-11-23 19:52] #540 closed

[2016-11-23 19:52] josephdviviano commented on #552
Moved to private repo.

[2016-11-23 19:52] #552 closed

[2016-11-23 19:53] josephdviviano commented on #675
+ NB: might be easiest to use MDMR as the feature vectors for these analysis will be massive.

[2016-11-23 22:10] josephdviviano commented on #825
This is done.

[2016-11-23 22:10] #825 closed

[2016-11-24 15:38] josephdviviano commented on #786
I did this a while back.

[2016-11-24 15:38] #786 closed

[2016-11-24 15:40] josephdviviano commented on #755
OK to make this concrete, I'm going to go through all of the modules and add a docstring if they don't exist, and then group similar functions within each module (I doubt we will have similar functions across modules since they are all logically separated). This will give me a hit list of all the modules that have likely duplicates.

[2016-11-24 16:17] navonacalarco commented on #858
Alright, we've had a second imaging centre/ group of doctors say they can't open our dicoms. I'm going to find a DICOM view tool today.

Where in the file system makes sense to keep such a thing?

[2016-11-24 16:22] josephdviviano opened #895 "add tank/archive/data to backups from srv-web (so no one can blame me)"

[2016-11-24 16:27] josephdviviano opened #896 "megasas resets downstairs: look into"
[code]

[2016-11-24 16:44] josephdviviano commented on #858
We typically keep stuff like that in `/projects/admin/software`

[2016-11-24 17:11] josephdviviano opened #897 "make list of folders in external that should be backed up and give them to Tina R"

[2016-11-24 19:05] josephdviviano commented on #897
From Tina:

Below you can find a list of folders and files that can be moved, replaced, etc.

/projects/tina_r/HCP_WB_Tutorial_1.0/
can be moved to
/external/HCP/
(downloaded from the human connectome database)

/projects/tina_r/HCP_S900_GroupAvg_v1/
can be moved to
/external/HCP/
(downloaded from the human connectome database)

/projects/tina_r/RESTRICTED_arisvoin_12_8_2015_17_59_36.csv
can be mo

[2016-11-24 19:10] josephdviviano commented on #822
This subject does not exist in XNAT.

[2016-11-24 19:10] #822 closed

[2016-11-24 19:23] josephdviviano commented on #850
This subject was blacklisted completely due to an incidental finding.

[2016-11-24 19:23] #850 closed

[2016-11-24 20:43] josephdviviano commented on #848
subject originally has two spirals in the upload from the MR server, `sprl_old.nii` and `sprl.nii`.  They appeared to be idential, but since I can't be sure, I've removed all references to `sprl_old.nii` (since they cause problems for our pipelines), but kept a single left-right flipped file here with the unique tag `_SPRLOLD_`, just in case someone needs it.

see `/archive/data/DTI3T/data/nii/DTI

[2016-11-24 20:43] #848 closed

[2016-11-24 20:46] josephdviviano commented on #851
Email sent.

[2016-11-24 20:53] josephdviviano commented on #849
Files are in tech notes that are missing from `.zip`. Attempting re-upload from MR server.

[2016-11-24 20:57] josephdviviano commented on #849
Data missing on MR server as well. Emailing Nancy. Due to the age of the data we may have lost it.

[2016-11-24 21:05] josephdviviano commented on #852
Missing multi-shell DTI exports, adding them now in `archive/code/config/DTI3T_settings.yml`:

[code]

[2016-11-24 22:06] josephdviviano opened #898 "datman should assert valid subject IDs, and fail gracefully if required, before trying to do anything else with a subject"
[code]

[2016-11-24 22:06] josephdviviano commented on #898
@tomwright01 any insights?

[2016-11-25 16:37] tomwright01 opened #899 "ANDT_CMH_101_01"
test

[2016-11-25 16:38] #899 closed

[2016-11-25 16:56] tomwright01 opened #900 "ANDT_CMH_101_01"
test

[2016-11-25 18:22] #900 closed

[2016-11-25 18:22] josephdviviano opened #901 "Remaining CFI line items"
**NB: FOR ALL ITEMS, MUST RECIEVE AT LEAST 20% IN KIND DISCOUNT**
- [ ] 5: KVM for tigrsrv: budget=$2441 + $1289 IN KIND DISCOUNT
- [ ] 17: drawing tablets: budget=$6101.6 + $1906.75 IN KIND DISCOUNT

[2016-11-25 19:13] edickie commented on #562
pretty sure this is done

[2016-11-25 19:13] #562 closed

[2016-11-25 19:14] edickie opened #902 "scc pipeline fail with syntax error"
/bin/sh: 1: Syntax error: EOF in backquote substitution

[2016-11-25 20:00] josephdviviano commented on #854
All multi shell data blacklisted for wrong protocol.

[2016-11-25 20:00] #854 closed

[2016-11-25 20:03] josephdviviano commented on #853
Multi-shell data blacklisted for incorrect protocol

[2016-11-25 20:03] #853 closed

[2016-11-25 20:04] josephdviviano commented on #852
Done. These files were also blacklisted due to an incorrect protocol.

[2016-11-25 20:04] #852 closed

[2016-11-25 20:09] josephdviviano commented on #898
We figured this out:

`dm2-xnat-extract.py DTI3T DTI_CMH_H149_01` produces an error because `DTI_CMH_H149_01` is not a subject, but `DTI_CMH_H149_01_01` is.

A better organisation would assert that the session id submitted is valid before trying anything else, so that we don't get errors that distract from the submitted subject ID being incorrect.

[2016-11-25 20:29] josephdviviano commented on #901
email sent to jessica chow at softchoice.

[2016-11-25 20:46] navonacalarco commented on #858
Done! There's a reader for Mac, Windows, and Unix (Mango), as well as a pdf of instructions and a standard `README` in `/projects/admin/software`.

[2016-11-25 20:46] #858 closed

[2016-11-25 21:12] navonacalarco opened #903 "printer stopped working"
From MRSDTI. I'm using the `camh/` prefix. It did work before.
![screenshot - 11252016 - 04 10 26 pm](https://cloud.githubusercontent.com/assets/13733654/20635334/e89af65c-b329-11e6-98c5-4a35956f975d.png)

[2016-11-25 21:14] josephdviviano commented on #903
you should be using camh\ not camh/

JDV

On Fri, Nov 25, 2016 at 4:12 PM, ɐuoʌɐu <notifications@github.com> wrote:

[2016-11-28 14:55] navonacalarco commented on #903
![screen-shot-2013-03-15-at-6-55-34-pm](https://cloud.githubusercontent.com/assets/13733654/20672866/c4867998-b550-11e6-9aad-c65299298392.png)

[2016-11-28 14:55] #903 closed

[2016-11-28 15:03] navonacalarco commented on #889
Emailed again.

[2016-11-28 15:06] navonacalarco commented on #828
Emailed re: XNAT data labelled SPN01_MRC_0002_01_01 again.

[2016-11-28 15:13] navonacalarco commented on #859
Emailed ZHH and ZHP appear to be not yet uploaded.

[2016-11-28 15:17] tomwright01 opened #904 "ASDD_CMH_EF044_01_01"
Archive failed to upload to xnat:
`Upload did not include parseable files for session generation.`

Manually uploaded using XNAT Upload Assistant

[2016-11-28 15:17] #904 closed

[2016-11-28 15:21] tomwright01 opened #905 "PACTMD_CMH_0110036_01_01"
Incorrect technotes in zip file `20160816_Ex05877_PACT1MR_PACW168.zip`. Correct technotes uploaded in a separate zip `20160816_Ex05877_PACT1MR_PACW168_Technotes.zip`.
Replaced technotes in main zip file. Manually replaced technotes in XNAT.

This will keep re-occurring until the zipfile on camhpet ftp server is replaced. Can we work with imaging centre to fix this?

[2016-11-28 15:22] josephdviviano commented on #905
Hey tom I can do this but I'm going to cc you on the process... You will
eventually need to work with them so it would be good for you to develop a
relationship with them.

Joseph's Phone

On 28 Nov 2016 10:21, "Tom Wright" <notifications@github.com> wrote:

[2016-11-28 15:27] tomwright01 commented on #905
Perfect, thanks. Happy to take on primary contact, who should I email?

[2016-11-28 15:45] navonacalarco opened #906 "Set up tDCS study (PI: Dr. Foussias) in XNAT and file system"
Just found out that first scan was _last_ week:

ID: tdcs_cmh_001
DATE: Wednesday November 23
TIME: 1pm

I made a study folder `TDCS` and `docs` folder and dropped the protocol in there, as it contains the sFTP login and password. It looks similar to the ViPR protocol (one noticeable difference: switched from spiral to EPI+fieldmaps).

@edickie @josephdviviano I haven't set up a study before; what

[2016-11-28 15:48] josephdviviano commented on #905
Email send to nancy (cc'ed Tom and Navona).

[2016-11-28 15:49] josephdviviano commented on #906
Do we have a PDF from the MR lab with our SFTP login / password etc? If not, we need that to begin.

I can walk you through the process in person.

[2016-11-28 15:49] josephdviviano commented on #902
@edickie this isn't enough information to solve the problem. Which script has a syntax error?

[2016-11-28 15:51] tomwright01 opened #907 "PACTMD_CMH_3060075_01_01"
XNAT upload failed with:
Upload included files for multiple imaging sessions.

Manually cleared files from prearchive

[2016-11-28 15:51] #907 closed

[2016-11-28 15:51] navonacalarco commented on #906
Yep :

:+1:

[2016-11-28 15:53] tomwright01 opened #908 "PACTMD_CMH_0100029_02_01"
XNAT upload failed with message:
Upload included files for multiple imaging sessions.

Manually uploaded from prearchive

[2016-11-28 15:53] #908 closed

[2016-11-28 15:57] djoverton opened #909 "Investigate why there are no checklist entries for certain PACTMD, SPINS, and DTI1.5T scans"

[2016-11-28 16:20] navonacalarco opened #910 "SPN01_CMH_0103_01 this is a test"
Test test test

[2016-11-28 16:21] #910 closed

[2016-11-28 17:26] tomwright01 opened #911 "COGBDY_CMH_27B009_01_01 Zip archive doesn't match XNAT"
The dicoms in zip file COGBDY_CMH_27B009_01_01.zip do not match those on XNAT for the same session.

xnat session uid:  1.2.840.113619.2.25.4.1443961.1471014129.731
zip session uid:    1.2.840.113619.6.336.159596117309642899209725123842087134514

xnat acquisition date: 20160812
zip acquisition date:   20130814

[2016-11-28 17:29] josephdviviano commented on #911
Might have been a manual error. 2013 would be before the MRFTP thing was set up, everything was organised by hand.

Could confirm other relevant details in this spreadsheet: `/archive/data/COGBDY/metadata/raw/cogbdy-log.xls`

[2016-11-28 17:51] djoverton commented on #909
No checklist entry for /archive/data-2.0/PACTMD/data/nii/PACTMD_CMH_0100029_02
No checklist entry for /archive/data-2.0/PACTMD/data/nii/PACTMD_CMH_0100032_02
No checklist entry for /archive/data-2.0/PACTMD/data/nii/PACTMD_CMH_0110023_01
No checklist entry for /archive/data-2.0/PACTMD/data/nii/PACTMD_CMH_0950053_01
No checklist entry for /archive/data-2.0/PACTMD/data/nii/PACTMD_CMH_3060070_02
No ch

[2016-11-28 17:54] DESm1th commented on #909
Hey Dawson,

To add to this, the lack of checklist entries has popped up off and on the past couple months. Almost always (as far as I could tell) it was due to the pipeline failing somewhere along the line and the qc-report script just not getting a chance to be run. Not sure if that's the case this time though.

[2016-11-28 18:08] navonacalarco commented on #844
@tomwright01 Just ran into Rachael and we just wanted to make sure that this will not be an issue when we move to the dashboard - later this week?

[2016-11-28 19:44] navonacalarco commented on #828
Ok, and we have an update on that last point question

MPRC A: XNAT ID SPN01_MRC_0002_01_01 actually belongs to clinical ID SPN01_MRC_0002. However, SPN01_MRC_0002 dropped out of the study, and was later re-enrolled, and completed a second scan (labelled in XNAT as SPN01_MRC_0049_01_01). **So, the scan in XNAT labeled SPN01_MRC_0002_01_01 should be removed/deleted, as it has been replaced with SPN

[2016-11-28 20:48] djoverton commented on #909
It's definitely a case of generate_qc_report failing (from the logs it appears for many different reasons), which causes an exception and prevents the function that adds the session to the checklist from being run. I've moved the code that adds it to the checklist to before the report is created, to make debugging a bit less confusing.

[2016-11-28 22:47] navonacalarco commented on #865
Interestingly, 3/4 of the PNS participants with a variety of header differences are shared with SPINS (i.e., had a single scan session, but participated in both the PNS and SPINS study via datasharing). The acquisitions between SPINS and PNS are supposed to be identical, but the corresponding SPINS QC pages do _not_ have a header difference.

I looked at the gold standard for PNS (based on the PNS

[2016-11-29 00:49] navonacalarco opened #912 "documentation: how to set up new study in XNAT and file system"
Will get to this when I can; stub is [here.](https://github.com/TIGRLab/documentation/wiki/Study-Setup)

@josephdviviano and @tomwright01 and whoever else is free to fill in the gaps.

:)

[2016-11-29 15:48] navonacalarco opened #913 "write up documentation for Monday lauch of QC dashboard!"
Stub here: https://github.com/TIGRLab/documentation/wiki/QC---dashboard

Plus, whoever else wants to pitch in. :)

[2016-11-29 16:23] josephdviviano opened #914 "tomcat7 crashes on srv-web"
In the past few weeks we've had two xnat crashes that were resolved with a `service tomcat7 restart` on `srv-web`.

The logs (`/var/log/tomcat7`)  show a large number of `HTTP header parsing errors` leading up to the crash around 10:50.

`localhost_access_log.2016-11-29.txt` shows a very large number of GETs and POSTs, though I imagine this is just the new normal behaviour of the REST-only scripts

[2016-11-29 16:27] josephdviviano commented on #913
Hey @navonacalarco I can take care of this but I think it would be better for you to give it a shot, it should help you remember for the future.

[2016-11-29 16:57] josephdviviano commented on #865
This does not matter, do the images look to be of similar quality?

[2016-11-29 17:00] edickie commented on #902
email subject line: Cron <clevis@tigrsrv>
/archive/code/bin/runall_pipelines_scc.sh 2>&1 | tee
/archive/logs/`/bin/date +%Y-%m-

email contents:
/bin/sh: 1: Syntax error: EOF in backquote substitution

On Mon, Nov 28, 2016 at 10:49 AM, Joseph Viviano <notifications@github.com>
wrote:

[2016-11-29 17:10] navonacalarco commented on #906
Reopening as I still have some stuff to do here.

[2016-11-29 17:15] navonacalarco commented on #913
@josephdviviano Tom and I are taking care of this, just wanted to give you (and others) the opportunity to add anything you think might be useful.....

Do you think I need to "remember for the future" because you, in fact, are commenting from the future? :p
![screen shot 2016-11-29 at 1 13 15 am](https://cloud.githubusercontent.com/assets/13733654/20720525/764abf04-b62d-11e6-9170-07f01df6d4c7.png)

[2016-11-29 17:22] josephdviviano commented on #913
Sorry I meant this for another issue...

[2016-11-29 17:22] josephdviviano commented on #912
Hey @navonacalarco I can take care of this but I think it would be better for you to give it a shot, it should help you remember for the future.

[2016-11-29 19:33] djoverton opened #915 "PACTMD_CMH_0100001_01"
t

[2016-11-29 19:33] josephdviviano opened #916 "XNAT uploads fail with 'could not create directory'"
We had a nasty bug where XNAT failed to upload data and reported that it failed to create a directory.

Turned out that this would happen if multiple uploads were occurring simultaneously.

All uploads ended up in the `/tmp` directory of the XNAT vm, which only has a few GB of free space.

FIX:

in `/etc/default/tomcat7`, set `JVM_TMP` to a folder on the external storage block of disks, or:

[code

[2016-11-29 19:34] #916 closed

[2016-11-29 19:35] #915 closed

[2016-11-29 20:16] navonacalarco commented on #828
@josephdviviano confirmed that the last entry on our spreadsheet  (clinical ID SPN01_MRP_0083; XNAT ID SPN01_MRP_0075_01_01 is indeed the last _doublet_ to be rename; i.e., no other new, properly named scans exist in XNAT.

[2016-11-29 22:08] josephdviviano commented on #828
All of the subject names are correct,

all of the session names are **wrong**.

I don't have a good solution for this and Tom can't remember if this matters, so I'm just going to leave it as is. The export tool **should** just use the subject name.

[2016-11-29 22:10] josephdviviano commented on #914
I'm hoping these crashes were also due to running out of disk space. I'm going to close this issue and reopen if it happens again.

[2016-11-29 22:10] #914 closed

[2016-11-29 22:10] navonacalarco commented on #828
@josephdviviano Thanks. Can you please leave open until we complete all of the following:

- [x]  rename all files in XNAT
- [ ] delete files from our file system
- [ ] delete all QC pages
- [ ] rename all EA task files
- [ ] correct metadata/checklist.csv and blacklist.csv as required
- [ ] correct REDCap data

[2016-11-29 22:27] josephdviviano commented on #828
OK I did some of them.

[2016-11-29 22:50] josephdviviano commented on #750
Done, and working I think!

On tigrsrv:

`apt-get install mhddfs`

Then in `/etc/fstab`:

[code]

[2016-11-29 22:59] josephdviviano commented on #750
Backups should work tonight.

[2016-11-29 23:01] josephdviviano commented on #895
I'm actually going to leave this as is. It's nice to have a 'secret backup' of sorts, but I don't want anyone to have to go through the trouble of re-organising all of that data again, when it's already been done once!

[2016-11-29 23:01] #895 closed

[2016-11-29 23:02] #792 closed

[2016-11-30 15:48] josephdviviano commented on #784
I tried running `dm2-xnat-extract.py -q DTI15T` last night and I found this:

[code]

[2016-11-30 17:24] colinhawco opened #917 "missing IMOBs data in p[iplines"
The following cases do not have data in the /archive/data/SPINS/pipelines/fmri/imob/ directory even though my records seem to indicate they should have good usable IMOBs scans.

SPN01_CMH_0006_01
SPN01_CMH_0009_01
SPN01_CMH_0010_01
SPN01_CMH_0018_01
SPN01_CMH_0032_01
SPN01_CMH_0035_01
SPN01_CMH_0037_01
SPN01_CMH_0045_01
SPN01_CMH_0049_01
SPN01_CMH_0053_01
SPN01_CMH_0064_01
SPN01_CMH_0071_01
SPN01_

[2016-11-30 17:26] tomwright01 commented on #902
missing escape character in ansible copy of data.cron. Fixed

[2016-11-30 17:26] #902 closed

[2016-11-30 17:27] DESm1th opened #918 "Checklist entry duplication"
An old (now resolved bug) left duplicate checklist entries. Removing these now.

[2016-11-30 17:29] DESm1th opened #919 "Add redcap-xnat linking to run scripts"
The script has been ready to go for a while, but isn't being run automatically yet. It needs to be added to each project's run script.

[2016-11-30 18:46] #918 closed

[2016-11-30 18:46] DESm1th commented on #919
The change to the config files forces a bit of a rewrite to the xnat-linking script. Working on that now.

[2016-11-30 22:23] navonacalarco opened #920 "tigrlab@camh.ca is 308/350 MB. Need to clean up."

[2016-11-30 22:32] navonacalarco opened #921 "We have a shared lab CAMH REDCap account for API tokens"
Posting this as an issue just so everyone knows.

We have a shared REDCap account for the lab. We are going to use this account to generate **shared API tokens** (instead of having this tied to our individual accounts).

The account name is 'tigrlab', associated email is 'tigrlab@camh.ca', and password is in our password manager (entry: 'Kimel REDCap account (CAMH)')

[2016-11-30 22:32] #921 closed

[2016-12-01 16:59] josephdviviano commented on #917
Looks like the queue has been broken for the last few weeks.

[2016-12-01 22:28] colinhawco commented on #917
We can close this off. There was some sort of error in my matlab mapping between file names and lsit of excluded participants. I'll see if I can adjust it and confirm for those for whom I know we should have data we do have data, but so far I don't see any issues.

[2016-12-01 22:28] #917 closed

[2016-12-01 22:47] josephdviviano opened #922 "dm2-xnat-export.py SQL error"
[code]

[2016-12-02 14:26] tomwright01 commented on #922
Knew there would be something. Fixed in commit 345c81fcf4f1b3c116792e4fb701c9b9538fd28b

[2016-12-02 14:26] #922 closed

[2016-12-02 14:54] josephdviviano commented on #922
Thanks!

Joseph's Phone

On 2 Dec 2016 09:26, "Tom Wright" <notifications@github.com> wrote:

[2016-12-02 16:56] josephdviviano commented on #750
Looks like `mhddfs` is crashing regularly, and this is a [known bug with a fix](https://github.com/vdudouyt/mhddfs-nosegfault)

I need to

+ [update fuse](http://askubuntu.com/questions/667790/how-to-upgrade-libfuse-dev-from-2-9-2-to-2-9-4-ubuntu-server-14-04)
+ [install this](https://github.com/vdudouyt/mhddfs-nosegfault)

[2016-12-02 17:26] josephdviviano commented on #750
this seems to be working (using `unionfs`)

`mount -t aufs -o dirs=/mnt/vg0:/mnt/vg1 none /mnt/backup`

testing now...

[2016-12-02 17:54] josephdviviano commented on #901
I have a quote for both, good prices with CFI in kind matching. Sent along to Dielle for review.

[2016-12-02 18:14] josephdviviano commented on #846
OK, I've written the documentation and will send out a message to our mailing lists shortly.

[2016-12-02 18:14] #846 closed

[2016-12-02 18:19] josephdviviano commented on #784
OK those errors seem to be fixed. First two subjects are there, but we have suspiciously few outputs for the later subjects:

+ DTI_TGH_S144_01
+ DTI_TGH_S171_01

[2016-12-02 18:22] josephdviviano commented on #784
Looks like I'm wrong -- even the earliest data only has a T1 and a PD scan...

[2016-12-02 18:22] #784 closed

[2016-12-02 18:24] josephdviviano commented on #896
I can't find any evidence that this is bad, actually, so I'm going to close it.

[2016-12-02 18:24] #896 closed

[2016-12-02 18:33] tomwright01 opened #923 "SPN01_CMH_0001_01"
testing

[2016-12-02 20:01] #923 closed

[2016-12-02 21:49] djoverton commented on #889
Hey @navonacalarco, any updates on this?

[2016-12-02 21:49] navonacalarco commented on #889
Nope, other than I emailed another time.

[2016-12-02 22:27] navonacalarco commented on #919
@DESm1th just FYI, `tigrlab` now has a token for the 'Scan Completed' survey! Can be found in REDCap under Applications > API.

:)

[2016-12-02 22:28] DESm1th commented on #919
Thanks Navona!

[2016-12-02 22:30] navonacalarco commented on #865
The problem (I think) is that the SPINS gold standards for non-CAMH sites were included in the PNS (CAMH-only) metadata/standards folder.

[2016-12-02 22:30] #865 closed

[2016-12-02 22:37] navonacalarco commented on #859
Alright, we have ZHH's ZHP scans:
SPN01_ZHP_P001_03_01 AV
SPN01_ZHP_P002_03_01 Miklos
SPN01_ZHP_P003_03_01 Bob

[2016-12-02 22:37] #859 closed

[2016-12-05 14:53] tomwright01 opened #924 "PASD_CMH_PASD1_01_01"
Session PASD_CMH_PASD1_01_01 has two experiments in xnat. I think they are identical, will delete if no one has any objection.

[2016-12-05 14:56] tomwright01 opened #925 "SPN01_MRC_P001_02_01"
This session has some invalid scan names. These are caused by strange series id's e.g. `2-MR1`. Other sessions in from this scanner are not affected.

[2016-12-05 14:58] tomwright01 opened #926 "SPN01_MRC_PHA_ADN055"
Session has no experiments.

[2016-12-05 14:59] tomwright01 opened #927 "SPN01_MRP_0078_01_01"
No experiments in session

[2016-12-05 15:03] tomwright01 opened #928 "SPN01_MRC_P004, SPN01_MRC_P001, SPN01_MRC_P002"
This session exists in the SPN01 archive with an incorrect name. The correctly named session appears in archive SPN03.

The session in SPN01 seems to be shared.

[2016-12-05 15:04] tomwright01 opened #929 "SPN01_CMH_PHA_FBN0005"
Session has multiple (3) experiments in Xnat.

[2016-12-05 15:08] tomwright01 opened #930 "SPN01_ZHH_P003, SPN01_ZHH_P002, SPN01_ZHH_P001"
Session has wrong name in archive SPN01

Session also appears in archive SPN02 and SPN03 with the correct name.

I assume the session in archive SPN02 is correct and the others can be deleted?

Assigning Dawn as these sessions in SPN01 and SPN03 are shared. Should SPN02 be shared?

[2016-12-05 15:12] tomwright01 opened #931 "SPN01_CMH_PHA_FBN0053"
Session has multiple experiments in XNAT

[2016-12-05 15:25] tomwright01 opened #932 "COGBDY_CMH_27B016_01_01"
Zips files on mrftp server are empty.

2 zip files exist: `2014_0314_AM010.zip` and `2014_0314_AM010_DicomMissing.zip`

Data does exist in xnat. Suggest making a new archive and uploading to mrftp

[2016-12-05 15:31] tomwright01 commented on #911
Session has two experiments in xnat. Experiment BDJM040 contains secondary files. Deleting.

[2016-12-05 15:31] #911 closed

[2016-12-05 15:41] tomwright01 opened #933 "mriftp password files for STOPPD"
metadata has two password files. One is empty, one seems correct. Renaming correct one.

[2016-12-05 15:46] djoverton opened #934 "Checklist entries still being duplicated"
Noticed qc_PACTMD_CMH_0100001_01.html was duplicated again in PACTMD. Not sure yet if it's a dm-qc-report issue or a problem with the way Dashboard is adding to the checklist.

[2016-12-05 16:13] tomwright01 opened #935 "STOPPD_CMH_420005_01_01"
Zip file for session contains duplicate series numbers and duplicate scans.

Ex00470Se01 	 3Plane Loc SSFSE
Ex00470Se03 	 Ax DTI 60 + 5
Ex00470Se04 	 Obl Ax T2 DE FSE-XL
Ex00470Se06 	 Sag T1 BRAVO
Ex00470Se05 	 Obl Ax T2 FLAIR
Ex00470Se02 	 ASSET Calibration
Ex00469Se03 	 ASSET Calibration
Ex00469Se01 	 3Plane Loc SSFSE
Ex00469Se02 	 Sag T1 BRAVO

Archive gets stuck in prearchive on xnat upload. W

[2016-12-05 16:19] tomwright01 commented on #933
Stoppd has two mr users. Old code could handle this. New code can't. Need to update dm2-sftp.py to handle this situation.

[2016-12-05 17:13] djoverton opened #936 "Pre-set Dashboard study permissions for each RA"

[2016-12-05 17:14] djoverton opened #937 "Blacklisting from filesystem not reflected immediately on Dashboard"

[2016-12-05 17:17] djoverton opened #938 "Dashboard not recognizing issues with repeat number in session name"

[2016-12-05 17:21] djoverton opened #939 "Correct study names and determine why new study is not in Dashboard database"

[2016-12-05 17:21] tomwright01 opened #940 "STOPPD_PMC_310051_01_02"
No experiments in session. Session STOPPD_PMC_310051_01_01 seems complete.

Will delete unless there are other comments.

[2016-12-05 17:27] navonacalarco opened #941 "Change "Can't read" in html QC pages 'scan length'?"
Hi Dawson,

Not urgent, but would it be easy to change "can't read" for various 'scan length' entries on the html QC pages to something like "not applicable" (for T1, FMAPS, etc)?

I ask because I think that, with external people now involved with QC, "can't read" will be interpreted as a problem rather than intrinsic property.

Thanks!

[2016-12-05 17:30] DESm1th commented on #934
I just checked a few other files and it looks like the first line of several checklists (at least ANDT, COGBDO, and ASDD) has been duplicated.

Also, I just re-ran my tests and then manually checked the part of dm-qc-report that updates checklists and I'm very sure it's not causing the duplicate issue.

[2016-12-05 17:32] djoverton commented on #941
Good point; done.

[2016-12-05 17:32] #941 closed

[2016-12-05 17:37] navonacalarco opened #942 "Add new MRP and ZHP dicom header nomenclature to the ignore list"
@josephdviviano can you please remind me where this list lives?

[2016-12-05 17:42] navonacalarco commented on #889
Response from MPRC - will do this midweek, this week. Leaving open so don't forget.

[2016-12-05 17:50] tomwright01 opened #943 "DBDC_CMH_HDBD001_01"
Incorrectly named files in nii/DBDC_CMH_HDBD001_01

Will delete if no reason not too.

[2016-12-05 18:30] tomwright01 commented on #934
In all of these cases the inital entry is a .pdf while the duplicate entry
is .html

On Mon, 5 Dec 2016 at 12:30 Dawn E. Smith <notifications@github.com> wrote:

[2016-12-05 18:33] DESm1th commented on #934
Yeah. I wasn't able to reproduce any duplication with dm-qc-report though. If any of the dashboard scripts are modifying the checklists I think that's the source of the issue.

[2016-12-05 18:34] djoverton commented on #939
add_study_info.py was run and TDCS is now in database. Waiting on @navonacalarco for a correct list of project names; will update project_settings files and run again once I have it.

[2016-12-05 19:16] tomwright01 commented on #898
Problem with this is when it is called to process more than one subject. Don't want it to fail on a single bad name. Changed code to raise a more informative error.

[2016-12-05 19:16] #898 closed

[2016-12-05 19:17] josephdviviano commented on #943
deleted all dti* files.

[2016-12-05 19:17] #943 closed

[2016-12-05 19:18] josephdviviano commented on #940
not much we can do as the data is from an external site. .. deleting

[2016-12-05 19:18] #940 closed

[2016-12-05 19:23] josephdviviano commented on #932
Email sent to Nancy. Not much else we can do. I'll leave this open until she gets back to us.

[2016-12-05 19:29] josephdviviano commented on #930
Removed all of these shared subjects. They've been there a long time (years) and were just links to files in other projects.

[2016-12-05 19:29] #930 closed

[2016-12-05 19:29] tomwright01 commented on #847
The 'Upload included files for multiple imaging sessions' is a common error. Often occurs on 'secondary' type files which have a different session id. The uploads end up in prearchive, scans are grouped according to session UID. Archives can be manually pushed into Xnat, Xnat will label the session with the session UID from the last group of files imported.

Cant over-ride the upload, these files

[2016-12-05 19:29] #847 closed

[2016-12-05 19:35] josephdviviano commented on #929
funky upload / naming problems. these scans have been a PITA for a while. deleted everything and added both sessions to be ignored for future uploads.

[2016-12-05 19:35] #929 closed

[2016-12-05 19:35] josephdviviano commented on #928
Also removed.

[2016-12-05 19:35] #928 closed

[2016-12-05 19:47] josephdviviano commented on #927
Email sent to Jon Chowaleoalaala about this one

[2016-12-05 19:48] josephdviviano commented on #926
dellllllete

[2016-12-05 19:48] #926 closed

[2016-12-05 19:52] tomwright01 commented on #937
Checklist and Blacklist entries made through the dashboard will update dashboard and filesystem immediatly. Entries made on the file system (editing checklist.csv or blacklist.csv) will only update dashboard the next time dm2-xnat-export.py is run.

[2016-12-05 19:52] #937 closed

[2016-12-05 20:02] josephdviviano commented on #925
@tomwright01 This is an odd one.

Moved offending scans to SPN01_MRC_P001_02_02 and everything is good now.

[2016-12-05 20:02] #925 closed

[2016-12-05 20:03] josephdviviano commented on #924
Did it for you -- deleted.

[2016-12-05 20:03] #924 closed

[2016-12-05 20:14] DESm1th commented on #934
Ok, the duplication was coming from dashboard/utils.py in the update_checklist method. When the first entry was checked the index was set to 0, which was causing it to be written each time the script was run. I've fixed this on our archive copy, and I'll delete the new duplicates now.

[2016-12-05 20:14] #934 closed

[2016-12-05 20:16] tomwright01 commented on #931
Deleted experiment SPIN01_CMH_PHA_FBN0053

[2016-12-05 20:16] #931 closed

[2016-12-05 20:27] tomwright01 commented on #934
Perfect, great catch. Thank you.

On Mon, 5 Dec 2016 at 15:14 Dawn E. Smith <notifications@github.com> wrote:

[2016-12-05 20:39] tomwright01 commented on #932
added to scans.csv as <ignore>

[2016-12-05 20:44] tomwright01 commented on #935
Archive modified in scans.csv to <ignore>
Study readme updated

[2016-12-05 20:44] #935 closed

[2016-12-05 21:25] tomwright01 opened #944 "PRE01_IWA_PHA_ADN0019"
Session contains two experiments.
Moved later session to PRE01_IWA_PHA_ADN0020

[2016-12-05 21:26] #944 closed

[2016-12-05 21:41] josephdviviano commented on #755
This seems to be happening naturally, so I'm going to close the 'issue'.

[2016-12-05 21:41] #755 closed

[2016-12-05 21:44] josephdviviano commented on #849
.... sent from my phone ....
Ah, forgot (thought you were away last week), thanks!

JDV

Remember... I am away, and will get to it later this week...

BTW.. The techs did catch some of the missing data, which were uploaded with the new naming convention a few days later..  I will confirm on Friday

.... sent from my phone ....
Hi Nancy,

Just CC'ing Tom, who along with Navona will be in contact wi

[2016-12-05 21:44] josephdviviano commented on #849
Might have refreshed .zip files on server, check tomorrow.

[2016-12-05 22:28] djoverton commented on #939
Updated the study names according to a list provided by Navona, and then refreshed the database; all names showing up on srv-dashboard now.

[2016-12-05 22:28] #939 closed

[2016-12-06 04:10] navonacalarco opened #945 "note to self: follow up INC17804259"
- trying to get webmail.camh.net on StaffDevices
- trying to get updated internet explorer on remote.camh.ca (so will open GitHub, etc)

[2016-12-06 13:29] josephdviviano commented on #927
Err, this is a MRC issue. Email sent.

[2016-12-06 13:33] josephdviviano commented on #851
No data expected for these scans. Closing.

[2016-12-06 13:48] josephdviviano commented on #851
Wait -- it does look like we should have this data... from Peter Kingsley..

[2016-12-06 14:25] tomwright01 opened #946 "SPN01_CMH_PHA_FBN0006"
Session has two experiments: SPN01_CMH_PHA_FBN0006, SPN01_CHM_PHA_FBN0006
Deleted SPN01_CHM...

[2016-12-06 14:25] #946 closed

[2016-12-06 14:41] tomwright01 commented on #686
Multiple session UID's in archive. Data manually added from prearchive.

[2016-12-06 14:41] #686 closed

[2016-12-06 16:06] josephdviviano commented on #849
From Nancy...

Ready for upload.. Note that Series 10 also will have the new naming convention: Ex03816_Se00010_Ax-Observe-Task

On 12/6/2016 9:13 AM, Nancy J. Lobaugh, PhD wrote:
Most of the files are in the zip file, I just downloaded it. Series10 seems to be incomplete in the zip. Series 12,13,17 were pulled later and the zip remade (Sept 16,2015): they have the new naming convention. Series 11

[2016-12-06 16:16] josephdviviano commented on #932
Nancy found an old backup of `2014_0314_AM010.zip` with all of the data intact, so the zip on our filesystem should get refreshed. I'll update scans.csv to **not** ignore `2014_0314_AM010.zip`

[2016-12-06 16:17] #932 closed

[2016-12-06 17:42] navonacalarco opened #947 "fix 'par_id' in select TIGRLab Scan Completed"